

    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-primary"><h1>Staff Details</h1></h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample" style="">
          <div class="card-body">

    <div class="row">
            <div class="col-lg-12 col-sm-12">
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Id:<h5> <%= @staff.id %></h5></h3>
              </div>
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Code:<h5><%= @staff.code %></h5></h3>
              </div>
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Name:<h5 class="urdu-font"><%= @staff.name %></h5> </h3>
              </div>
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Father:<h5 class="urdu-font"><%= @staff.father %></h5></h3>
              </div>
            </div>
    </div>

    <div class="row">
            <div class="col-lg-12 col-sm-12">
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Staff type: <h5><%= @staff.staff_type %></h5></h3>
              </div>
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Education:<h5><%= @staff.education %></h5></h3>
              </div>
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Phone:<h5><%= @staff.phone %></h5> </h3>
              </div>
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>RawProduct making:<h5><%= @staff.staff_raw_products.present? ? @staff.staff_raw_products_titles : ""%></h5></h3>
              </div>
            </div>
    </div>

    <div class="row">
            <div class="col-lg-12 col-sm-12">
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Yearly increment:<h5><%= @staff.yearly_increment %></h5></h3>
              </div>
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Cnic:<h5><%= @staff.cnic %></h5></h3>
              </div>
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Monthly salary:<h5><%= @staff.monthly_salary %></h5></h3>
              </div>
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Department:<h5><%= @staff.department.title %></h5></h3>
              </div>
            </div>
    </div>
    <div class="row">
            <div class="col-lg-12 col-sm-12">
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Date of joining:<h5><%= @staff.date_of_joining%></h5></h3>
              </div>
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Wage rate:<h5><%= @staff.wage_rate rescue nil%></h5></h3>
              </div>
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Debit Balance:<h5><%= @staff.wage_debit rescue nil%></h5></h3>
              </div>
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Credit blance:<h5><%= @staff.balance rescue nil%></h5></h3>
              </div>
            </div>
    </div>

    <div class="row">
            <div class="col-lg-12 col-sm-12">
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Address:<h5 class="urdu-font"><%= @staff.address rescue nil%></h5></h3>
              </div>
            </div>
    </div>
<br>
            <div class="row">
              <div class="col-lg-1 float-left">
                <%= link_to products_path do %>
                <i class="fa fa-arrow-left " aria-hidden="true"></i>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
