

    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-primary"><h1>Staff Details</h1></h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample" style="">
          <div class="card-body">
          <div class="card shadow">
          <ul class="list-group list-group-flush">
            <li class="list-group-item mb-2"><span class="float-left h5">ID:</span><span class="float-right"><%= @staff.id %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Code:</span><span class="float-right"><%= @staff.code %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Name:</span><span class="float-right"><%= @staff.name %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Father Name:</span><span class="float-right"><%= @staff.father %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Staff Type:</span><span class="float-right"><%= @staff.staff_type %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Education:</span><span class="float-right"><%= @staff.education %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Phone:</span><span class="float-right"><%= @staff.phone %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Raw product making:</span><span class="float-right"><%= @staff.staff_raw_products.present? ? @staff.staff_raw_products_titles : ""%></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Yearly increment:</span><span class="float-right"><%= @staff.yearly_increment %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">CNIC:</span><span class="float-right"><%= @staff.cnic %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Monthly:</span><span class="float-right"><%= @staff.monthly_salary %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Department:</span><span class="float-right"><%= @staff.department.title rescue nil %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Date Of Joining:</span><span class="float-right"><%= @staff.date_of_joining%></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Wage Rate:</span><span class="float-right"><%= @staff.wage_rate rescue nil%></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Debit Balance:</span><span class="float-right"><%= @staff.wage_debit rescue nil%></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Credit Balance:</span><span class="float-right"><%= @staff.balance rescue nil%></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Address:</span><span class="float-right"><%= @staff.address rescue nil%></span></li>          
          </ul>
        </div>  
<br>
            <div class="row">
              <div class="col-lg-1 float-left">
                <%= link_to products_path do %>
                <i class="fa fa-arrow-left " aria-hidden="true"></i>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
