<%= hidden_field_tag "subTitle", @sub_title, { :id => "subTitle" } %>
<%= hidden_field_tag "subUnit", @sub_unit, { :id => "subUnit" } %>
<%= hidden_field_tag "subTitle1", @sub_date_keys, { :id => "subTitle1" } %>
<%= hidden_field_tag "subUnit1", @sub_date_values, { :id => "subUnit1" } %>

<%= search_form_for @q, url: analytics_product_sub_categories_path, class: "admin-controls col-12 row", remote: true, method: "get" do |f| %>
  <%= link_to 'Daily', analytics_product_sub_categories_path(type: 'daily'), class: 'btn btn-info ml-3 mb-2', remote: true %>
  <%= link_to 'Weekly', analytics_product_sub_categories_path(type: 'weekly'), class: 'btn btn-danger ml-2 mb-2', remote: true %>
  <%= link_to 'Monthly', analytics_product_sub_categories_path(type: 'monthly'), class: 'btn btn-success ml-2 mb-2', remote: true %>
  <%= link_to 'Yearly', analytics_product_sub_categories_path(type: 'yearly'), class: 'btn btn-warning ml-2 mb-2', remote: true %>

  <div class="col-lg-2">
    <%= f.search_field :created_at_gteq, class: 'form-control input-sm datepicker mb-2', datepicker: true, placeholder: "YYYY-MM-DD" %>
  </div>
  <div class="col-lg-2">
    <%= f.search_field :created_at_lteq, class: 'form-control button-sm datepicker mb-2', datepicker: true , placeholder: "YYYY-MM-DD" %>
  </div>
  <button class="btn btn-primary ml-3 mb-2" style="width: 100px;" name="search_submit" type="submit" value="Search"><i class="fa fa-search"></i></button>
<% end %>

<div class="col-lg-12 mb-3">
  <div class="my-chart-Container card border-radius-1 shadow p-2">
    <canvas id="myChart"></canvas>
  </div>
</div>
<div class="col-lg-12 mb-3">
  <div class="my-chart-Container card border-radius-1 shadow p-2">
    <canvas id="myChart1"></canvas>
  </div>
</div>
