<div id="custom-alert" class="alert alert-danger d-none">
  <span class="custom-alert-text"></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="hidden m-4" id="product_sub_category_list">
  <div class="float-left">
    <h2 class="ml-2 logo-back"><i class="fas fa-th-list mr-2"></i>Product Sub Categories</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="<%= product_sub_categories_path %>">Product Sub Categories</a>
      </li>
    </ol>
  </div>
  <% if check_can_create(@module_permission) %>
    <div id="new_product_sub_category" class="float-right mt-3">
      <%= link_to new_product_sub_category_path,remote: true , style:"width: 150px;",class: "btn btn-success" do %>
      <i class="fas fa-plus-circle" aria-hidden="true"></i>
      Create
      <% end %>
    </div>
  <% end %>
  <div class="clearfix"></div>
  <div class="float-right">
    <div class="dropdown ml-auto">
     <span class="btn btn-outline-info btn-sm mt-2" title= "About This page"><i class="fa fa-question-circle mr-1"></i>Help</span>
     <div class="dropdown-content">
       <% if @help.present? %>
       <% @help&.help_links.each do |link| %>
       <a type="button" class="" target="_blank" href="<%= link[1] %>" >Help in <%= link[0] %></a>
       <% end %>
       <% end %>
      </div>
    </div>
  </div>
  <div class="row">
		<ul class="nav nav-tabs " role="tablist">
      <li class="nav-item">
        <a class="nav-link tab-label active" data-toggle="tab" href="#search" role="tab"><i class="fa fa-search mr-2"></i>Search</a>
      </li>
			<%if (check_can_import_export(@module_permission))%>
				<li class="nav-item">
					<a class="nav-link tab-label" data-toggle="tab" href="#import-export" role="tab"><i class="fa fa-exchange-alt mr-2"></i>Import/Export</a>
				</li>
			<%end%>
	  </ul>
  </div>
  <div class="tab-content ">
    <div class="tab-pane active no-tab-border mt-2" id="search" role="tabpanel">
      <%= search_form_for @q, url: product_sub_categories_path, class: "admin-controls", method: "get" do |f| %>
        <div class="card shadow mb-3 p-4">
          <div class="row p-3">
            <div class='col-lg-2 float-left'>
              <%= f.select :id_eq, options_for_select(@options_for_select.map{ |p| [p.title.to_s + '--->' + p.code.to_s, p.id]}, f.object.id_eq),{:include_blank => "Select SubCategory"},:class=>"form-control chosen-select" %>
            </div>
            <div class='col-lg-2 float-left'>
              <%= f.select :id_eq, options_for_select(@options_for_select_cat.map{ |p| [p.title.to_s + '--->' + p.code.to_s, p.id]}, f.object.id_eq),{:include_blank => "Select Category"},:class=>"form-control chosen-select" %>
            </div>
            <div class='col-lg-3'>
              <%= f.search_field :title_or_code_or_comment_cont, placeholder: "Search in sub categories", title: "Enter title" ,:class=>"form-control" %>
            </div>
            <div class="col-lg-1">
              <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px;"><i class="fa fa-search"></i></button>
              <button type='submit' class='dynamic-submit-btn d-none' formtarget='_blank'></button>
            </div>
          </div>
        </div>
      <% end %>
      <%= render 'map_columns/map_column_partials' %>
      <div class='card  p-4'>
        <div class="row d-flex" style="position: absolute;">
          <div>
      	    <%if (check_can_delete(@module_permission))%>
      	    	<button class="btn delete-selected btn btn-danger file-btn-color mt-4 ml-3 " type='button' value='ProductSubCategory'>
      	    		<i class="fa fa-trash "></i>
      	    	</button>
      	    <%end%>
          </div>
          <div class="mt-4 ml-2">
            <%if (check_can_download_pdf(@module_permission))%>
            <button class="btn btn-danger file-btn-color files-download-btn " title= "download subcategories pdf" style="width:80px;" name="pdf" type="submit" value="pdf" formtarget="_blank" >PDF</button>
            <%end%>
            <%if (check_can_download_csv(@module_permission))%>
            <button class="btn btn-warning file-btn-color files-download-btn mr-2" title= "download sub categories csv" style="width:80px;" name="csv" type="submit" value="csv">CSV</button>
             <%end%>
          </div>
        </div>
        <div class="mt-3">
          <table data-toggle="table" data-search="true" id="product_sub_category_table" class=" overflow-hidden border-radius-1">
            <thead>
              <tr>
                <th><input type="checkbox" id="master" class='select-all-checkbox'>
                </th>
                 <th>ID<div class='float-right'><%= sort_link(@q, :id, '', {}, class: 'sorting-button') %></div></th>
                <th>Category<div class='float-right'><%= sort_link(@q, :product_category, '', {}, class: 'sorting-button') %></div></th>
                <th>Title<div class='float-right'><%= sort_link(@q, :tile, '', {}, class: 'sorting-button') %></div></th>
                <th>Products</th>
                <th>Code<div class='float-right'><%= sort_link(@q, :code, '', {}, class: 'sorting-button') %></div></th>
                <th>Comment<div class='float-right'><%= sort_link(@q, :comment, '', {}, class: 'sorting-button') %></div></th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'product_sub_category', collection: @product_sub_categories %>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <%= page_entries_info @product_sub_categories %>
          </div>
          <div class="col-lg-8 col-sm-8 pagination-left">
            <%= paginate @product_sub_categories %>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane mb-3 card shadow-sm mt-2 p-3" id="import-export" role="tabpanel">
      <p>
        <div class="d-flex">
        <button class="btn btn-info ml-2" name="export_data" type="submit" value="export_data">Export Data</button>
        <button class="btn btn-danger ml-2" type="button" data-toggle="modal" data-target="#importFile">Import Data</button>
        </div>
      </p>
    </div>
  </div>
<div class="show-data"></div>
<%= form_for :bulk_import, url: bulk_import_data_path, method: :post, html: {class: "bulk-import-form"} do |f| %>
  <div class="modal fade" id="importFile" tabindex="-1" role="dialog" aria-labelledby="importFileTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Import file</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= f.file_field :file, required: true, accept: '.csv' %>
          <%= f.hidden_field :table_name, value: 'ProductSubCategory' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit 'Import', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    var sortingButtons = $('.sorting-button')
      for(var i=0; i<sortingButtons.length; i++){
      $(sortingButtons[i]).html("<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='blue' enable-background='new 0 0 512 512' viewBox='0 0 512 512'><path d='M163.919,494.293c-2.83,0-5.496-1.33-7.196-3.593L45.97,343.348c-2.986-3.974-2.187-9.615,1.787-12.602 c3.974-2.986,9.616-2.187,12.602,1.787l103.557,137.777l103.493-137.775c2.986-3.975,8.627-4.775,12.602-1.791 c3.974,2.985,4.775,8.627,1.79,12.602L171.113,490.698C169.414,492.961,166.749,494.293,163.919,494.293z'/><path d='M163.917 494.293c-4.971 0-9-4.029-9-9V26.192c0-4.971 4.029-9 9-9s9 4.029 9 9v459.101C172.917 490.264 168.888 494.293 163.917 494.293zM459.507 182.622c-2.734 0-5.435-1.241-7.203-3.597L348.78 41.18 245.257 179.025c-2.985 3.975-8.626 4.777-12.601 1.792-3.974-2.984-4.777-8.626-1.792-12.601l110.72-147.43c1.699-2.263 4.365-3.595 7.196-3.595s5.497 1.332 7.196 3.595l110.72 147.43c2.985 3.975 2.183 9.616-1.792 12.601C463.285 182.034 461.388 182.621 459.507 182.622z'/><path d='M348.78,494.293c-4.971,0-9-4.029-9-9V26.192c0-4.971,4.029-9,9-9s9,4.029,9,9v459.101 C357.78,490.264,353.751,494.293,348.78,494.293z'/></svg>")
      }
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#product_sub_category_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
  });
  $('.files-download-btn').on('click', function(){
      var name_btn = $(this).attr('name')
      $('.dynamic-submit-btn').attr('name', name_btn)
      $('.dynamic-submit-btn').val($(this).val())
      $('.dynamic-submit-btn').click()
  })
</script>
