<tr>
  <td><%= check_box_tag 'object_ids[]', product_sub_category.id %></td>
  <td><%= product_sub_category.id %></td>
  <td><%= product_sub_category.product_category.title %></td>
  <td class= 'urdu-font'><%= product_sub_category.title %></td>
  <td><%= product_sub_category.code %></td>
  <td><span title="<%= product_sub_category.comment %>" class='truncate-text'><%= product_sub_category.comment %></span></td>
  <td>
    <% if can?(:update, :all) %>
      <%= link_to edit_product_sub_category_path(product_sub_category), remote: true do %>
        <i class="fa fa-edit ml-2 mr-2 " aria-hidden="true"></i>
      <%end %>
    <% end %> |
    <% if can?(:delete, :all) %>
      <%= link_to product_sub_category, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete' do %>
        <i class="fa fa-trash ml-2 mr-2" aria-hidden="true"></i>
      <%end %>
    <% end %> |
    <% if can?(:view, :all) %>
      <%= link_to product_sub_category_path(product_sub_category), remote: true do %>
        <i class="fa fa-eye ml-2 mr-2" aria-hidden="true"></i>
      <%end %>
    <%end%>|
		<%= link_to product_sub_categories_path('q[id_eq]':product_sub_category.id,'pdf':true), title: 'Download PDF', target: '_blank' do %>
			<i class="fa fa-file-pdf text-danger mr-2 ml-2 " aria-hidden="true"></i>
		<%end %>|
		<%= link_to product_sub_categories_path('q[id_eq]':product_sub_category.id,'csv':true), title: 'Download CSV' do%>
			<i class="fa fa-file-excel mr-2 ml-2 text-success" aria-hidden="true"></i>
		<%end %>
  </td>
</tr>
