<div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary"><h1>Product Sub-category Details</h1></h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardExample" style="">
      <div class="card-body">
        <table>
          <thead>
            <th>Id</th>
            <th>Title</th>
            <th>Category</th>
            <th>Comment</th>
         </thead>
          <tbody>
            <tr>
              <td>  <%= @product_sub_category.id %></td>
              <td><%= @product_sub_category.title %> </td>
              <td><%= @product_sub_category.product_category.title %></td>
              <td><%= @product_sub_category.comment %></td>

            </tr>
         </tbody>
        </table>
        <div class="row">
          <div class="col-lg-1 float-left">
            <%= link_to product_sub_categories_path do %>
            <i class="fa fa-arrow-left " aria-hidden="true"></i>
            <% end %>
          </div>
        

        </div>

      </div>
    </div>
  </div>
