<style>
.sticky-note{
  width: 20%;
  height: 150px;
  display: inline-block;
  border-radius: 8px;
	border: 1px solid gray;
  text-align: center;
  cursor: pointer;
}
.add-button {
  width: 150px;
  z-index: 2;
  cursor: pointer;

}
.add-button:active {
  transform: translate(0, -20px);
}
.titleInput{
  text-align: center;
  font-size: 20px;
  height: 46px;
  width: 100%;
  border: 0;
  background: transparent;
}
.contentInput{
  resize: none;
  border: 0;
  background: transparent;
}


</style>
<div class="col-lg-12 card border-radius-1 shadow d-flex p-3 mb-3"><h3 class="float-left testedit">Sticky Notes</h3>
  <button class="add-button btn btn-success mt-3 float-right"><i class="fa fa-plus mr-2"></i>Create</button>
</div>
<div style='position: relative;'>
  <% @sticky_notes.each do |sn| %>
    <div 
      style="left:<%= sn.x_pos %>px;
             top: <%= sn.y_pos %>px; 
             background-color: <%= sn.color_code %>; "
      class='sticky-note card shadow' 
      data-id=<%= sn.id %>
    >
      <input type='text' class='titleInput' value="<%= sn.title %>">
      <textarea rows='3' class='contentInput'><%= sn.content %></textarea>
    </div>
  <% end %>
</div>
<script>
  $(document).ready(function(){

    $(".sticky-note").draggable({
      stop: function(event, ui) {
        var noteId = $(this).data("id");
        var xPos = ui.position.left;
        var yPos = ui.position.top;
        var title = $(this).find('.titleInput').val()
        var content = $(this).find('.contentInput').val()
        debugger
        $.ajax({
          type: "PATCH",
          url: "/sticky_notes/" + noteId,
          data: { x_pos: xPos, 
                  y_pos: yPos,
                  title: title,
                  content: content
                }
        });
      }
    });
  })
</script>