<%@total_sale=0%>
<%@total_cash=0%>
<div class="hidden m-3" id="daily_list">
  <div class="float-left">
    <h2 class="ml-2 logo-back"><i class=" fa fa-money-bill-alt mr-2"></i>Daily Sales/Cash Out</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="<%= daily_sales_path %>">Daily Sales/Cash Out</a>
      </li>
    </ol>
  </div>
  <div class="row mb-3 mt-3 float-right ">
    <div class="col-lg-2" >
      <% if check_can_create(@module_permission) %>
        <%= link_to new_daily_sale_path,style:"width: 150px;", class: "btn btn-success" do %>
          <i class="fas fa-plus-circle" aria-hidden="true"></i>
          Create
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="float-right">
    <div class="dropdown ml-auto">
     <span class="btn btn-outline-info btn-sm mt-2" title= "About This page"><i class="fa fa-question-circle mr-1"></i>Help</span>
      <div class="dropdown-content">
        <% if @help.present? %>
        <% @help&.help_links.each do |link| %>
        <a type="button" class="" target="_blank" href="<%= link[1] %>" >Help in <%= link[0] %></a>
         <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <ul class="nav nav-tabs ml-1 mb-2" role="tablist">
      <li class="nav-item">
        <a class="nav-link tab-label active " data-toggle="tab" href="#search" role="tab"><i class="fa fa-search mr-2"></i>Search</a>
      </li>
	  	<%if (check_can_import_export(@module_permission))%>
	  		<li class="nav-item">
	  			<a class="nav-link tab-label" data-toggle="tab" href="#import-export" role="tab"><i class="fa fa-exchange-alt mr-2"></i>Import/Export</a>
	  		</li>
	  	<%end%>
	  </ul>
  </div>
  <div class="tab-content">
      <div class="tab-pane active mb-3" style="border: none;" id="search" role="tabpanel">
        <%= search_form_for @q, url: daily_sales_path, class: "admin-controls", method: "get" do |f| %>
          <div class="card shadow mb-3 p-4">
            <div class="col-lg-12 col-sm-12">
              <div class="col-lg-3 form-group float-left d-flex">
                <%= f.search_field :created_at, id: "reportrange", class: 'form-control' %>
              </div>
              <div class="d-none">
                <%= f.search_field :created_at_gteq, class: 'form-control input-sm datepicker',placeholder: "YYYY-MM-DD" %>
                <%= f.search_field :created_at_lteq, class: 'form-control input-sm datepicker' ,placeholder: "YYYY-MM-DD"%>
              </div>
              <div class="col-lg-2 form-group float-left">
                <button class="form-control btn btn-primary"   name="search_submit" type="submit" value="Search" style="width: 100px"><i class="fa fa-search"></i></button>
                <button type='submit' class='dynamic-submit-btn d-none' formtarget='_blank'></button>
              </div>
            </div>
          </div>
        <%end %>
        <div class="card shadow p-3 mb-2">
          <%= render 'map_columns/map_column_partials' %>
          <div class="row d-flex" style="position: absolute;">
            <div>
              <%if (check_can_delete(@module_permission))%>
	              <button class="btn btn-danger file-btn-color delete-selected mt-4 ml-3" type='button' value='DailySale'>
	              	<i class="fa fa-trash"></i>
	              </button>		
              <%end%>
              <button class="form-control btn btn-danger file-btn-color files-download-btn mt-4 ml-2" style="width: 80px;" title="Download Daily sales pdf" name="submit_pdf_staff_with" type="submit" value="Sale/Cash PDF A4" formtarget="_blank">PDF</button>
            </div>  
            <%= search_form_for @q, url: daily_sales_path, class: "admin-controls ml-3", method: "get" do |f| %>
              <div class="d-flex mt-4" style="width: 100%;">
                <%= select_tag :limit, options_for_select(['Show Entries',5, 10, 15, 20, 25], selected: :limit), id: 'pagination-limit', class:"file-btn-color" ,title:'Show Entries', style:'cursor: pointer;' %>
              </div>
            <% end %>
          </div>
          <div class="mt-3">  
            <table data-toggle="table" data-search="true">
              <thead>
                <tr>
                  <th class="p-2"><input type="checkbox" id="master" class='select-all-checkbox'>
                  </th>
                  <th><%= sort_link(@q, :sale, 'Sale') %></th>
                  <th><%= sort_link(@q, :cash_out, 'Cash out') %></th>
                  <th><%= sort_link(@q, :shift, 'Shift') %></th>
                  <th class="border_none">Created At</th>
                  <th><%= sort_link(@q, :comment, 'Comment') %></th>
                  <th class="border_none">Action</th>
                </tr>
              </thead>
              <tbody>
                <% @daily_sales.each do |daily_sale| %>
                  <tr>
                    <td><%= check_box_tag 'object_ids[]', daily_sale.id %></td>
                    <td><%= number_with_delimiter(daily_sale.sale.to_f.round(2)) %><% @total_sale+=daily_sale.sale.to_f.round(2)%></td>
                    <td><%= number_with_delimiter(daily_sale.cash_out.to_f.round(2)) %><% @total_cash+=daily_sale.cash_out.to_f.round(2)%></td>
                    <td><%= daily_sale.shift %></td>
                    <td><%= daily_sale.created_at.strftime("%d%b%y , %I:%M") %> || <%= daily_sale.comment %></td>
                    <td></td>
                    <td class="p-3">
                    <div class="icon-container-1">
                      <div class="my-icon-1 my-view-1">
                        <div class="my-tooltip-1">
                          <div class="icon-container">
                            <div class="my-icon my-view">
                              <div class="my-tooltip">
                                Edit
                              </div>
                              <%if (check_can_update(@module_permission))%>
                                <%= link_to edit_daily_sale_path(daily_sale), class:"icon-div" do %>
                                  <i class="fa fa-edit mt-2" aria-hidden="true"></i>
                                <%end %>
                              <% end %>
                            </div>
                            <div class="my-icon my-view">
                              <div class="my-tooltip">
                                Delete
                              </div>
                              <%if (check_can_delete(@module_permission))%>
                                <%= link_to daily_sale, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete icon-div' do %>
                                  <i class="fa fa-trash mt-2" aria-hidden="true"></i>
                                <%end %>
                              <% end %> 
                            </div>
                            <div class="my-icon my-view">
                              <div class="my-tooltip">
                                Show
                              </div>
                              <%if (check_can_read(@module_permission))%>
                                <%= link_to daily_sale_path(daily_sale), class:"icon-div" do %>
                                  <i class="fa fa-eye mt-2" aria-hidden="true"></i>
                                <%end %>
                              <%end%>    
                            </div>
                          </div>
                        </div>
                        <span class="icon-div-1">
                          <i class="fa fa-ellipsis-v mt-2" aria-hidden="true"></i>
                        </span>
                      </div>
                    </div>               
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <td><h5>Total</h5></td>
                  <td><h5><%=number_with_delimiter(@total_sale.to_f.round(2))%></h5></td>
                  <td><h5><%=number_with_delimiter(@total_cash.to_f.round(2))%></h5></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
             </tbody>
           </table>
         </div>  
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <%= page_entries_info @daily_sales %>
          </div>
          <div class="col-lg-8 col-sm-8 pagination-left">
            <%= paginate @daily_sales %>
          </div>
        </div>
      </div>  
    </div>
    <div class="tab-pane card shadow-sm mt-2 p-2 mb-3" id="import-export" role="tabpanel">
      <p>
        <div class="d-flex">
        <button class="btn btn-danger ml-4" name="export_data" type="submit" value="export_data">Export Data</button>
        <button class="btn btn-info ml-2" type="button" data-toggle="modal" data-target="#importFile">Import Data</button>
        </div>
      </p>
    </div>
  </div>    
  <div class="clearfix"></div>
</div>
<%= form_for :bulk_import, url: bulk_import_data_path, method: :post, html: {class: "bulk-import-form"} do |f| %>
  <div class="modal fade" id="importFile" tabindex="-1" role="dialog" aria-labelledby="importFileTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Import file</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= f.file_field :file, required: true, accept: '.csv' %>
          <%= f.hidden_field :table_name, value: 'Daily Sale' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit 'Import', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    var sortingButtons = $('.sorting-button')
    for(var i=0; i<sortingButtons.length; i++){
      $(sortingButtons[i]).html("<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='blue' enable-background='new 0 0 512 512' viewBox='0 0 512 512'><path d='M163.919,494.293c-2.83,0-5.496-1.33-7.196-3.593L45.97,343.348c-2.986-3.974-2.187-9.615,1.787-12.602 c3.974-2.986,9.616-2.187,12.602,1.787l103.557,137.777l103.493-137.775c2.986-3.975,8.627-4.775,12.602-1.791 c3.974,2.985,4.775,8.627,1.79,12.602L171.113,490.698C169.414,492.961,166.749,494.293,163.919,494.293z'/><path d='M163.917 494.293c-4.971 0-9-4.029-9-9V26.192c0-4.971 4.029-9 9-9s9 4.029 9 9v459.101C172.917 490.264 168.888 494.293 163.917 494.293zM459.507 182.622c-2.734 0-5.435-1.241-7.203-3.597L348.78 41.18 245.257 179.025c-2.985 3.975-8.626 4.777-12.601 1.792-3.974-2.984-4.777-8.626-1.792-12.601l110.72-147.43c1.699-2.263 4.365-3.595 7.196-3.595s5.497 1.332 7.196 3.595l110.72 147.43c2.985 3.975 2.183 9.616-1.792 12.601C463.285 182.034 461.388 182.621 459.507 182.622z'/><path d='M348.78,494.293c-4.971,0-9-4.029-9-9V26.192c0-4.971,4.029-9,9-9s9,4.029,9,9v459.101 C357.78,490.264,353.751,494.293,348.78,494.293z'/></svg>")
    }

    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#daily_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
  });

  $('.files-download-btn').on('click', function(){
      var name_btn = $(this).attr('name')
      $('.dynamic-submit-btn').attr('name', name_btn)
      $('.dynamic-submit-btn').val($(this).val())
      $('.dynamic-submit-btn').click()
  })

  $(document).ready(function() {
    setTimeout(function(){
      $(".chosen-select").chosen({
  allow_single_deselect: true,
  width: '100%'
});
    }, 50);
  });

    $('#pagination-limit').on('change', function(){
    $(this).closest('form').submit();
  })

  $(function() {

    var start = moment();
    var end = moment();

    function cb(start, end) {
        $('#reportrange span').html(start.format('YYYY/MM/DD') + ' - ' + end.format('YYYY/MM/DD'));
    }

    var gteq = $('#q_created_at_gteq').val()
    var lteq = $('#q_created_at_lteq').val()
    if (gteq !== ''){
      start = moment(new Date(gteq))
    }
    if(lteq !== ''){
      end = moment(new Date(lteq))
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
      ranges: {
          'Select Date Range':[],
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           '1 Year': [moment().subtract(1, 'years')],
           '5 Year': [moment().subtract(5, 'years')],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
           'This Month Last Year': [moment().subtract(1, 'years').startOf('month'), moment().subtract(1, 'years').endOf('month')],
           'This Year': [moment().startOf('year'), moment().endOf('year')],
           'Last Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
        },
        locale: {
          format: 'YYYY/MM/DD'
        }
    }, cb);

    cb(start, end);

    $('#reportrange').on('change', function(){
      var value = $(this).val()
      var greater_eq = value.split(' - ')[0]
      var less_eq = value.split(' - ')[1]
      $('#q_created_at_gteq').val(greater_eq)
      $('#q_created_at_lteq').val(less_eq)
    })

  });
</script>
