



<div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary"><h1>Details</h1></h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardExample" style="">
      <div class="card-body">
        <table>
          <thead style="background-color:lightgray;">
            <th>ID</th>
            <th>Sale</th>
            <th>Cash Out</th>
            <th>Shift</th>
            <th>Comment</th>

         </thead>
          <tbody>
            <tr>
              <td>  <%= @daily_sale.id %></td>
              <td><%= @daily_sale.sale %> </td>
              <td><%= @daily_sale.cash_out %></td>
              <td><%= @daily_sale.shift %></td>
              <td><%= @daily_sale.comment %></td>
            </tr>
         </tbody>
        </table>
        <div class="row">
          <div class="col-lg-1 float-left">
            <%= link_to daily_sales_path do %>
            <i class="fa fa-arrow-left " aria-hidden="true"></i>
            <% end %>
          </div>
      

        </div>

      </div>
    </div>
  </div>
