<% service_charges=(@pos_setting&.extra_settings.present? && params[:service_charges].blank?) ? @pos_setting&.extra_settings["order_invoice_extra_setting"].to_f : 0%>
<input class="form-control" type="hidden" value=<%=service_charges%> name="order_extra_charges" id="order_extra_charges">
<%if pos_setting_sys_type!="FastFood"%>
  <div class="col-xl-12 col-md-12 mb-12">
    <div class="row d-flex justify-content-center"> 
      <%= link_to new_order_sale_path(transaction_type: :sale, with_gst: true,product: true),class: "btn btn-info mr-3 pt-3", style:"width: 140px;" do %>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        with GST
      <% end %>
      <h2>
        <%if pos_setting_sys_type=="HousingScheme"%>
          <h1><%= params[:transaction_type].present? ? "Booking Detail" : "Purchase Booking Detail"%></h1>
        <% else%>
          <h1><%= params[:transaction_type].present? ? "Sale Order Detail" : "Purchase Order Detail"%></h1>
        <% end%>
      </h2>
    </div>
    <div class="row d-flex justify-content-center mt-4 mb-3">
      <div class="float-left font-weight-bold card border-radius-1 align-items-center shadow mr-2" style="width: 200px;">Total Bill <h2 class="purchase_sale_detail_total_bill">0.00</h2></div>
      <div class="float-left font-weight-bold card border-radius-1 align-items-center shadow mr-2" style="width: 200px;">Total <h2 class="purchase_sale_discount_amount">0.00</h2></div>
      <div class="float-left font-weight-bold card border-radius-1 align-items-center shadow mr-2" style="width: 200px;">Remaning <h2 class="purchase_sale_detail_amount">0.00</h2></div>
    </div>
  </div>
<%end%>

<% if pos_setting_sys_type == "HousingScheme" %>
  <%= render '/order_sales/hscheme/form', order: @order %>
<% elsif pos_setting_sys_type == "CustomClear" %>
  <%= render '/order_sales/custom/form_custom', order: @order %>
<% elsif params[:with_gst].present? %>
  <%= render '/order_sales/default_partial/form_with_gst', order: @order %>
<% elsif pos_setting_sys_type == "FastFood" %>
  <%= render '/order_sales/fast_food/form', order: @order %>
<% else%>
  <%= render 'form', order: @order %>
<% end%>

<script>
  document.addEventListener("turbolinks:load", function() {
    costUpdateReturnOrder();
    $('#return_links').on("cocoon:after-remove", function() {
      costUpdateReturnOrder();
    });
    $('#new_links').on("cocoon:after-remove", function() {
      costUpdateReturnOrder();
    });
    $('#data_list').on("cocoon:after-remove", function() {
      costUpdateReturnOrder();
    });
  });
</script>
