<div class="hidden m-4" id="investment_list">
  <div class="main-content-header">
    <h1 class="ml-2">Investment</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="<%= investments_path %>">Investment</a>
      </li>
    </ol>
  </div>
  <%if (check_can_create(@module_permission))%>
    <div class="row mb-5 ml-1 mr-1" id="new_investment" style="font-family: arial">
      <div class="col stats-cards border-radius-1 shadow p-4 mr-3" style="background:linear-gradient(176deg, #0f1d59 26.5%, lightgray 28%, white 10%,  white 30%, white);">
          <%= link_to new_investment_path(credit: true), remote: true, class: "card shadow p-3 ml-5 float-right", style:"width: 80px; height: 80px; border-radius: 100%;" do %>
            <i class="fa fa-plus text-dark mt-3 ml-3" aria-hidden="true"></i>
          <% end %> 
        <div class="mt-5">
          <span class="mt-4"><i>Rs.</i><i class="h1 mb-0 font-weight-bold text-gray-800 mr-1"><%= number_with_delimiter(@today_credit_investment) %></i></span>
          <% if @today_credit_investment > @yesterday_credit_investment%>
            <span class="bg-success border-radius-1 px-1 text-light font-weight-bold">+ <%= @percentage_credit_investment %> %</span>
          <% else %>
            <span class="bg-danger border-radius-1 px-2 text-light font-weight-bold"> <%= @percentage_credit_investment %> %</span>
          <% end %>
          <p class="mt-1">Today's Credit<i class="fas fa-user text-dark ml-3 mr-2"></i><%= @investment_credit_count%> </p>
          <h4 class="font-weight-bold">Credit/Jama</h4>
        </div>
      </div>
      <div class="col stats-cards border-radius-1 shadow p-4 ml-2 mr-4" style="background:linear-gradient(176deg, darkred 26.5%, lightgray 28%, white 10%,  white 30%, white); ">
          <%= link_to new_investment_path, remote: true, class: "card shadow p-3 ml-5 float-right", style:"width: 80px; height: 80px; border-radius: 100%;" do %>
            <i class="fa fa-plus text-dark mt-3 ml-3" aria-hidden="true"></i>
          <% end %> 
        <div class="mt-5">
          <span class="mt-4"><i>Rs.</i><i class="h1 mb-0 font-weight-bold text-gray-800 mr-1"><%= number_with_delimiter(@today_debit_investment) %></i></span>
          <% if @today_debit_investment > @yesterday_debit_investment%>
            <span class="bg-success border-radius-1 px-1 text-light font-weight-bold">+ <%= @percentage_debit_investment %> %</span>
          <% else %>
            <span class="bg-danger border-radius-1 px-2 text-light font-weight-bold"> <%= @percentage_debit_investment %> %</span>
          <% end %>
          <p class="mt-1">Today's Debit<i class="fas fa-user text-dark ml-3 mr-2"></i><%= @investment_debit_count%> </p>
          <h4 class="font-weight-bold">Debit/Benam</h4>
        </div>
      </div>
    </div>
  <% end %>
  
  <div class="float-right">
    <div class="dropdown ml-auto mr-4">
     <span class="btn btn-info" title= "About This page"><i class="fa fa-question-circle mr-1"></i>Help</span>
      <div class="dropdown-content">
        <% if @help.present? %>
        <% @help&.help_links.each do |link| %>
        <a type="button" class="" target="_blank" href="<%= link[1] %>" >Help in <%= link[0] %></a>
         <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <ul class="nav nav-pills ml-1" role="tablist">
      <li class="nav-item">
        <a class="nav-link tab-label active investment-search-exp-tab" data-toggle="tab" href="#search" role="tab">Search</a>
      </li>

      <li class="nav-item">
        <a class="nav-link tab-label" data-remote="true" data-toggle="tab" href="#analytics" role="tab">Analytics</a>
      </li>
			
			<%if (check_can_import_export(@module_permission))%>
				<li class="nav-item">
					<a class="nav-link tab-label investment-search-exp-tab" data-toggle="tab" href="#import-export" role="tab">Import/Export</a>
				</li>
			<%end%>
      <li class="nav-item">
        <a class="nav-link tab-label investment-logs-tab" data-toggle="tab" href="#logs" role="tab">Logs</a>
      </li>
	</ul>
  <%= hidden_field_tag "dcSum", @dc_sum, { :id => "dcSum" } %>
  <%= hidden_field_tag "dcCount", @dc_count, { :id => "dcCount" } %>
  <%= hidden_field_tag "dbKeys", @db_keys, { :id => "dbKeys" } %>
  <%= hidden_field_tag "dbValues", @db_total, { :id => "dbValues" } %>
  <%= hidden_field_tag "crValues", @cr_total, { :id => "crValues" } %>
  
  <div class="tab-content">
    <div class="tab-pane active mb-3 card card-border-left-side shadow border-radius-1 mt-2 p-5" id="search" role="tabpanel">
      <%= search_form_for @q, url: investments_path, class: "admin-controls", method: "get" do |f| %>
        <div class="row d-flex">
          <div class="col-lg-3 form-group float-left">
            <%= f.select :account_id_in, options_from_collection_for_select(@accounts, "id", ->(st){"#{st.title} \u{27F6} #{st.bank_name}"},f.object.account_id_in),{:include_blank => "Select the Account Title"},{:multiple => true,:class=>"form-control chosen-select", :data => {:placeholder => "Select the Account Title"} }%>
          </div>
          <div class="col-lg-3 form-group float-left d-flex">
            <%= f.search_field :created_at, id: "reportrange", class: 'form-control' %>
          </div>
          <div class="d-none">
            <%= f.search_field :created_at_gteq, class: 'form-control input-sm datepicker',placeholder: "YYYY-MM-DD" %>
            <%= f.search_field :created_at_lteq, class: 'form-control input-sm datepicker' ,placeholder: "YYYY-MM-DD"%>
          </div>
          <div class="col-lg-4 form-group float-left">
            <%= f.search_field :comment_cont, placeholder: "search by comment", title: "search by comment" ,:class=>"form-control" %>
            
          </div>
          <div class="col-lg-1 form-group float-left">
            <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
          </div>
            
        </div>
        <div class="row ml-1 mt-2">
            <%if (check_can_download_pdf(@module_permission))%>
              <button class="d-flex justify-content-center form-control btn btn-danger mr-2 float-right" style="width:100px" name="submit_pdf_staff_with" type="submit" value="Investment PDF A4" formtarget="_blank"><i class="fa fa-file-pdf mt-1 ml-1 mr-2"></i>PDF &nbsp;</button>
            <% end %>
            <%if (check_can_download_csv(@module_permission))%>
              <button class="d-flex justify-content-center form-control btn btn-warning ml-2 mr-3 float-right" style="width:100px" title= "download investments csv" name="csv" type="submit" value="csv" style="width:100px"><i class="fa fa-file-excel mr-2 mt-1 ml-1"></i>CSV &nbsp;</button>
            <% end %>
            <%if (check_can_send_email(@module_permission))%>
              <button class="form-control btn btn-info d-flex justify-content-center float-right" type="button" data-toggle="modal" data-target="#exampleModalCenter" style="width:100px"><i class="fa fa-envelope mr-1 mt-1"></i>&nbsp;Mail</button>
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Enter your email to recieve files.</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                      <div class="modal-body">
                        <% @pos_setting = PosSetting.first %>
                        <label>Email:</label>
                        <%= text_field_tag 'email_value',{}, value: current_user.email, class: 'form-control email-fields', type: 'email'%>
                        <br />
                        <label>Subject:</label>
                        <%= text_field_tag 'subject', "#{@pos_setting.display_name} - Investments Detail report from MunshiOnClick", class: 'form-control email-fields'%>
                        <br />
                        <label>Body:</label><br />
                        <%= text_area_tag 'body', nil, class: 'form-control'%>
                        <br />
                        <label>Please select one of them.</label>
                        <div>
                          <label style="cursor: pointer"><%= radio_button_tag :email_choice, 'CSV', required: 'required' %> CSV</label><br />
                          <label style="cursor: pointer"><%= radio_button_tag :email_choice, 'PDF', required: 'required' %> PDF</label><br />
                          <label style="cursor: pointer"><%= radio_button_tag :email_choice, 'Both', required: 'required' %> Both(CSV + PDF)</label><br />
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button name="email" type="submit" value="email" class="btn btn-primary email-send-btn">Send</button>
                      </div>
                    </div>
                  </div>
              </div>
            <% end %>
          </div>
      <% end %>
    </div>
    <div class="tab-pane card card-border-left-side shadow mt-2 border-radius-1 p-5" id="analytics" role="tabpanel">
      <p>
        <div class="row d-flex">
          <div class="col-lg-6">
            <div class="my-chart-Container">
              <div class="mychartBox card border-radius-1 shadow mt-2">
                <canvas id="myChart4"></canvas>
              </div> 
            </div>
          </div>
          <div class="col-lg-6">
            <div class="my-chart-Container">
              <div class="mychartBox card border-radius-1 shadow mt-2">
                <canvas id="myChart5"></canvas>
              </div> 
            </div>
          </div>
         </div>  
        <div class="row d-flex"> 
          <div class="col-lg-6">
            <div class="my-chart-Container">
              <div class="mychartBox card border-radius-1 shadow mt-2">
                <canvas id="myChart7"></canvas>
              </div> 
            </div>
          </div> 
          <div class="col-lg-6">
            <div class="my-chart-Container">
              <div class="mychartBox card border-radius-1 shadow mt-2">
                <canvas id="myChart8"></canvas>
              </div> 
            </div>
          </div>  
        </div>  
        
      </p>
    </div>
    <div class="tab-pane card card-border-left-side shadow mt-2 border-radius-1 p-3 mb-3" id="import-export" role="tabpanel">
      <p>
        <%= search_form_for @q, url: investments_path, class: "admin-controls", method: "get" do |f| %>
          <div class="d-flex">
            <button class="btn btn-info ml-2" name="export_data" type="submit" value="export_data">Export Data</button>
            <button class="btn btn-danger ml-2" type="button" data-toggle="modal" data-target="#importFile">Import Data</button>
          </div>
        <% end %>
      </p>
    </div>
    <div class="tab-pane card card-border-left-side shadow p-3 mt-2 border-radius-1" id="logs" role="tabpanel">
      <p>
        <div class="d-flex">
          <%= link_to view_history_investments_path, class: "btn btn-success d-none", id: "investment-logs", remote:true do %>
            show logs
          <% end %>
          <div id = "show-logs"></div>
        </div>
        <div class="my-loader mx-auto"></div>
      </p>
    </div>
  </div>
  <div class="card card-border-left-side border-radius-1 shadow p-4">
    <div class="investment-book-index-card">
      <%= render 'map_columns/map_column_partials' %>
      <div class="row d-flex" style="position: absolute;">
      <div>
        <%if (check_can_delete(@module_permission))%>
	        <button class="btn btn-outline-danger delete-selected mt-4 ml-3" type='button' value='Investment'>
	        	Delete Selected
	        </button>		
        <%end%>
      </div>  
      <%= search_form_for @q, url: investments_path, class: "admin-controls ml-4", method: "get" do |f| %>
        <div class="d-flex mt-4" style="width: 120%;">
          <%= select_tag :limit, options_for_select(['Show Entries',5, 10, 15, 20, 25], selected: :limit), id: 'pagination-limit', title:'Show Entries', style:'cursor: pointer;' %>
        </div>
      <% end %>
    </div>
    <div class="mt-3">
      <table data-toggle="table" data-search="true" id="investment_table" class="content-table">
        <thead>
          <tr>
            <th><input type="checkbox" id="master" class='select-all-checkbox' style="cursor: pointer;">
              
            </th>
            <th><%= sort_link(@q, :id, 'ID') %></th>
            <th><%= sort_link(@q, :debit, 'Debit') %></th>
            <th><%= sort_link(@q, :credit, 'Credit') %></th>
            <th><%= sort_link(@q, :account_id, 'Paid By') %></th>
            <th class="urdu-font">Comment</th>
            <th><%= sort_link(@q, :created_at, 'Date') %></th>
            <th class="border_none">Action</th>
          </tr>
        </thead>

        <tbody>
          <%= render partial: 'investment', collection: @investments %>
          <tr>
            <td></td>
            <td><h5>Total</h5></td>
            <td><h5><%=number_with_delimiter(@total_investment&.first&.first) %></h5></td>
            <td><h5><%= number_with_delimiter(@total_investment&.first&.last) %></h5></td>
          </tr>
        </tbody>
      </table>
    </div>  
    <div class="col-lg-12 digg_pagination">
      <div class="float-left page_info">
        <%= page_entries_info @investments %>
      </div>
      <div class="float-right">
      <%= paginate @investments, :container => false %>
      </div>
    </div>
  </div>  
</div>
  

  <%= form_for :bulk_import, url: bulk_import_data_path, method: :post, html: {class: "bulk-import-form"} do |f| %>
    <div class="modal fade" id="importFile" tabindex="-1" role="dialog" aria-labelledby="importFileTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Import file</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= f.file_field :file, required: true, accept: '.csv' %>
            <%= f.hidden_field :table_name, value: 'Investment' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit 'Import', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="show-data"></div>
<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#investment_list").removeClass('hidden');
    FontAwesome.dom.i2svg();

    $('.investment-logs-tab').on('click', function(){
      $('#investment-logs').click();
      $('.investment-book-index-card').addClass('d-none')
    })


    $('.investment-search-exp-tab').on('click', function(){
      $('.investment-book-index-card').removeClass('d-none')
    })
  });
  $(document).ready(function() {
    setTimeout(function(){
      $(".chosen-select").chosen({
  allow_single_deselect: true,
  width: '100%'
});
    }, 50);
  });

  $(function() {
    setTimeout(function() { $(".my-loader").fadeOut(1500); }, 5000)
  })

   $('#pagination-limit').on('change', function(){
    $(this).closest('form').submit();
  })

  $(function() {

    var start = moment();
    var end = moment();

    function cb(start, end) {
        $('#reportrange span').html(start.format('YYYY/MM/DD') + ' - ' + end.format('YYYY/MM/DD'));
    }

    var gteq = $('#q_created_at_gteq').val()
    var lteq = $('#q_created_at_lteq').val()
    if (gteq !== ''){
      start = moment(new Date(gteq))
    }
    if(lteq !== ''){
      end = moment(new Date(lteq))
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
      ranges: {
          'Select Date Range':[],
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           '1 Year': [moment().subtract(1, 'years')],
           '5 Year': [moment().subtract(5, 'years')],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
           'This Month Last Year': [moment().subtract(1, 'years').startOf('month'), moment().subtract(1, 'years').endOf('month')],
           'This Year': [moment().startOf('year'), moment().endOf('year')],
           'Last Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
        },
        locale: {
          format: 'YYYY/MM/DD'
        }
    }, cb);

    cb(start, end);

    $('#reportrange').on('change', function(){
      var value = $(this).val()
      var greater_eq = value.split(' - ')[0]
      var less_eq = value.split(' - ')[1]
      $('#q_created_at_gteq').val(greater_eq)
      $('#q_created_at_lteq').val(less_eq)
    })

  });
</script>
