
<div class="hidden" id="investment_list">
  <div class="main-content-header">
    <h1 class="ml-2">Investment</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="<%= investments_path %>">Investment</a>
      </li>
    </ol>
  </div>
  <div id="new_investment">
    <div class="row d-flex mt-4 ml-2 mb-4">
      <%if (check_can_create(@module_permission))%>
	    		<%= link_to new_investment_path, class: "btn btn-success mr-2" do %>
	    						<i class="fa fa-plus" aria-hidden="true"></i>
	    						Debit
	    		<% end %>
      <% end %>
       <%if (check_can_create(@module_permission))%>  
	    	  <%= link_to new_investment_path(credit:true), class: "btn btn-success" do %>
	    	  				<i class="fa fa-plus" aria-hidden="true"></i>
	    	  				Credit
	    	  <% end %>
      <% end %>
    </div>  
  </div>
  <div class="float-right">
    <div class="dropdown ml-auto mr-4">
     <span class="btn btn-info" title= "About This page"><i class="fa fa-question-circle mr-1"></i>Help</span>
      <div class="dropdown-content">
        <% if @help.present? %>
        <% @help&.help_links.each do |link| %>
        <a type="button" class="" target="_blank" href="<%= link[1] %>" >Help in <%= link[0] %></a>
         <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <ul class="nav nav-pills ml-1" role="tablist">
      <li class="nav-item">
        <a class="nav-link tab-label active investment-search-exp-tab" data-toggle="tab" href="#search" role="tab">Search</a>
      </li>

      <li class="nav-item">
        <a class="nav-link tab-label" data-remote="true" data-toggle="tab" href="#analytics" role="tab">Analytics</a>
      </li>
			
			<%if (check_can_import_export(@module_permission))%>
				<li class="nav-item">
					<a class="nav-link tab-label investment-search-exp-tab" data-toggle="tab" href="#import-export" role="tab">Import/Export</a>
				</li>
			<%end%>
      <li class="nav-item">
        <a class="nav-link tab-label investment-logs-tab" data-toggle="tab" href="#logs" role="tab">Logs</a>
      </li>
	</ul>
  <%= hidden_field_tag "dcSum", @dc_sum, { :id => "dcSum" } %>
  <%= hidden_field_tag "dcCount", @dc_count, { :id => "dcCount" } %>
  <%= hidden_field_tag "dbKeys", @db_keys, { :id => "dbKeys" } %>
  <%= hidden_field_tag "dbValues", @db_total, { :id => "dbValues" } %>
  <%= hidden_field_tag "crValues", @cr_total, { :id => "crValues" } %>
  
  <div class="tab-content">
    <div class="tab-pane active mb-3 card shadow-sm mt-2 p-3" style="border-radius: 20px" id="search" role="tabpanel">
      <%= search_form_for @q, url: investments_path, class: "admin-controls", method: "get" do |f| %>
        <div class="row d-flex">
          <div class="col">
            <div class="col-lg-4 form-group float-left">
              <%= f.select :account_id_in, options_from_collection_for_select(@accounts, "id", ->(st){"#{st.title} \u{27F6} #{st.bank_name}"},f.object.account_id_in),{:include_blank => "Select the Account Title"},{:multiple => true,:class=>"form-control chosen-select", :data => {:placeholder => "Select the Account Title"} }%>
            </div>
            <div class="col-lg-4 form-group float-left">
              <%= f.search_field :created_at_gteq, class: 'form-control input-sm datepicker',placeholder: "YYYY-MM-DD" %>
            </div>
            <div class="col-lg-4 form-group float-left">
              <%= f.search_field :created_at_lteq,class: 'form-control input-sm datepicker' ,placeholder: "YYYY-MM-DD"%>
            </div>
            <div class="col-lg-4 form-group float-left">
              <%= f.search_field :comment_cont, placeholder: "search by comment", title: "search by comment" ,:class=>"form-control" %>
            </div>
            <div class="col-lg-3 form-group float-left">
              <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
            </div>
          </div>
          <div class="col">
            <%if (check_can_download_pdf(@module_permission))%>
              <button class="d-flex justify-content-center form-control btn btn-danger mr-2 float-right" style="width:100px" name="submit_pdf_staff_with" type="submit" value="Investment PDF A4" formtarget="_blank">PDF &nbsp;<i class="fa fa-file-pdf mt-1 ml-1"></i></button>
            <% end %>
            <%if (check_can_download_csv(@module_permission))%>
              <button class="d-flex justify-content-center form-control btn btn-warning ml-2 mr-3 float-right" style="width:100px" title= "download investments csv" name="csv" type="submit" value="csv" style="width:100px">CSV &nbsp;<i class="fa fa-file-excel text-light bg-dark mt-1 ml-1"></i></button>
            <% end %>
            <%if (check_can_send_email(@module_permission))%>
              <button class="form-control btn btn-info d-flex justify-content-center float-right" type="button" data-toggle="modal" data-target="#exampleModalCenter" style="width:100px"><i class="fa fa-envelope mr-1 mt-1"></i>&nbsp;Mail</button>
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Enter your email to recieve files.</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                      <div class="modal-body">
                        <% @pos_setting = PosSetting.first %>
                        <label>Email:</label>
                        <%= text_field_tag 'email_value',{}, value: current_user.email, class: 'form-control email-fields', type: 'email'%>
                        <br />
                        <label>Subject:</label>
                        <%= text_field_tag 'subject', "#{@pos_setting.display_name} - Investments Detail report from MunshiOnClick", class: 'form-control email-fields'%>
                        <br />
                        <label>Body:</label><br />
                        <%= text_area_tag 'body', nil, class: 'form-control'%>
                        <br />
                        <label>Please select one of them.</label>
                        <div>
                          <label style="cursor: pointer"><%= radio_button_tag :email_choice, 'CSV', required: 'required' %> CSV</label><br />
                          <label style="cursor: pointer"><%= radio_button_tag :email_choice, 'PDF', required: 'required' %> PDF</label><br />
                          <label style="cursor: pointer"><%= radio_button_tag :email_choice, 'Both', required: 'required' %> Both(CSV + PDF)</label><br />
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button name="email" type="submit" value="email" class="btn btn-primary email-send-btn">Send</button>
                      </div>
                    </div>
                  </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="tab-pane card shadow-sm mt-2 border-radius-1 p-4" id="analytics" role="tabpanel">
      <p>
        <div class="row d-flex">
          <div class="col-lg-6">
            <div class="my-chart-Container">
              <div class="mychartBox card border-radius-1 shadow mt-2">
                <canvas id="myChart4"></canvas>
              </div> 
            </div>
          </div>
          <div class="col-lg-6">
            <div class="my-chart-Container">
              <div class="mychartBox card border-radius-1 shadow mt-2">
                <canvas id="myChart5"></canvas>
              </div> 
            </div>
          </div>
         </div>  
        <div class="row d-flex"> 
          <div class="col-lg-6">
            <div class="my-chart-Container">
              <div class="mychartBox card border-radius-1 shadow mt-2">
                <canvas id="myChart7"></canvas>
              </div> 
            </div>
          </div> 
          <div class="col-lg-6">
            <div class="my-chart-Container">
              <div class="mychartBox card border-radius-1 shadow mt-2">
                <canvas id="myChart8"></canvas>
              </div> 
            </div>
          </div>  
        </div>  
        
      </p>
    </div>
    <div class="tab-pane card shadow-sm mt-2 border-radius-1" id="import-export" role="tabpanel">
      <p>
        <%= search_form_for @q, url: investments_path, class: "admin-controls", method: "get" do |f| %>
          <div class="d-flex">
            <button class="btn btn-info ml-2" name="export_data" type="submit" value="export_data">Export Data</button>
            <button class="btn btn-danger ml-2" type="button" data-toggle="modal" data-target="#importFile">Import Data</button>
          </div>
        <% end %>
      </p>
    </div>
    <div class="tab-pane card shadow-sm mt-2 border-radius-1" id="logs" role="tabpanel">
      <p>
        <div class="d-flex">
          <%= link_to view_history_investments_path, class: "btn btn-success d-none", id: "investment-logs", remote:true do %>
            show logs
          <% end %>
          <div id = "show-logs"></div>
        </div>
      </p>
    </div>
  </div>

  <div class="investment-book-index-card">
    <%= render 'map_columns/map_column_partials' %>
    <table data-toggle="table" data-search="true" id="investment_table">
      <thead>
        <tr>
          <th><input type="checkbox" id="master" class='select-all-checkbox' style="cursor: pointer;">
            <%if (check_can_delete(@module_permission))%>
              <div class="icon-container float-center">
                <span class="ml-2 mt-2">
                  <div class="my-icon my-view">
                    <button class="icon-div btn delete-selected p-2 " type='button' value='Investment'>
                      <i class="fa fa-trash mb-2" title="Deleted Selected" aria-hidden="true"></i>
                    </button>
                  </div>
                </span>
              </div>
            <%end%>
          </th>
          <th><%= sort_link(@q, :id, 'ID') %></th>
          <th><%= sort_link(@q, :debit, 'Debit') %></th>
          <th><%= sort_link(@q, :credit, 'Credit') %></th>
          <th><%= sort_link(@q, :account_id, 'Paid By') %></th>
          <th class="urdu-font">Comment</th>
          <th><%= sort_link(@q, :created_at, 'Date') %></th>
          <th class="border_none">Action</th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: 'investment', collection: @investments %>
        <tr>
          <td></td>
          <td><h5>Total</h5></td>
          <td><h5><%=number_with_delimiter(@total_investment&.first&.first) %></h5></td>
          <td><h5><%= number_with_delimiter(@total_investment&.first&.last) %></h5></td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-lg-4 col-sm-4 investment-book-index-card">
      <%= page_entries_info @investments %>
    </div>
    <div class="col-lg-8 col-sm-8 pagination-left investment-book-index-card">
      <%= paginate @investments %>
    </div>
  </div>

  <%= form_for :bulk_import, url: bulk_import_data_path, method: :post, html: {class: "bulk-import-form"} do |f| %>
    <div class="modal fade" id="importFile" tabindex="-1" role="dialog" aria-labelledby="importFileTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Import file</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= f.file_field :file, required: true, accept: '.csv' %>
            <%= f.hidden_field :table_name, value: 'Investment' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit 'Import', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="show-data"></div>
<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#investment_list").removeClass('hidden');
    FontAwesome.dom.i2svg();

    $('.investment-logs-tab').on('click', function(){
      $('#investment-logs').click();
      $('.investment-book-index-card').addClass('d-none')
    })


    $('.investment-search-exp-tab').on('click', function(){
      $('.investment-book-index-card').removeClass('d-none')
    })
  });
  $(document).ready(function() {
    setTimeout(function(){
      $(".chosen-select").chosen({
  allow_single_deselect: true,
  width: '100%'
});
    }, 50);
  });
</script>
