
<% @time = Time.zone.now %>
<p style="border-bottom: double 4px;  margin: 0;"></p>
<h1 style="text-align: center; margin: 0;">Order Detail # <%= @order.voucher_id.to_s+'/'+@order.id.to_s %></h1>
<p style="border-bottom: double 4px;  margin: 0;"></p>
<p style="text-align: center;margin: 0;">Report by: <%=current_user.name%></p>
<div style="width:90vw;">
 <table >
   <th></th>
   <th></th>
   <tr>
     <td  colspan="2" style="text-align: center; margin: 0;"><span> Customer: <b><%=@order.sys_user.name%></b></span></td>
   </tr>
   <tr>
     <td>Print: <b><span><%= @time.strftime("%d")%>/<%=@time.strftime("%b")%>/<%= @time.strftime("%y")%></span>  Time: <span><%=@time.strftime("at %I:%M%p")%></span></b> </td>
     <td>Created: <b><span><%= @order.created_at.strftime("%d")%>/<%=@order.created_at.strftime("%b")%>/<%= @order.created_at.strftime("%y")%></span></b> </td>
   </tr>
</table>
</div>
<p style="border-bottom: dotted 3px;  margin: 0;"></p>
<div>
  <table data-toggle="table" data-search="true">
    <thead>
      <tr class="lite-gray">
        <th>SR #</th>
        <th>Items</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Total</th>
        <th style="width:8vw;">GST</th>
        <th style="width:8vw;">Total GST</th>
      </tr>
    </thead>

    <tbody>
      <%if @order.order_items_names_and_quantity!=0%>
        <%@order.order_items.each_with_index do |name_quantity,i|%>
          <tr style="text-align:center">
            <td style="border-bottom: 1px solid #000; font-weight: bold;"><%=i+1%></td>
            <td style="border-bottom: 1px solid #000; font-weight: bold; text-align:left;"><%=name_quantity.product.title%></td>
            <td style="border-bottom: 1px solid #000; font-weight: bold;"><%=name_quantity.quantity%></td>
            <td style="border-bottom: 1px solid #000; font-weight: bold;"><%= number_with_delimiter(name_quantity.sale_price) %></td>
            <td style="border-bottom: 1px solid #000; font-weight: bold;"><%= number_with_delimiter(name_quantity.total_sale_price) %></td>
            <td style="border-bottom: 1px solid #000; font-weight: bold;"><%= name_quantity.gst %> %</td>
            <td style="border-bottom: 1px solid #000; font-weight: bold;"><%= number_with_delimiter(name_quantity.gst_amount) %></td>
          </tr>
        <%end%>
      <%end%>
      <tr style="text-align:center" class="lite-gray">

        <td></td>
        <td><b>Total Qty</b></td>
        <td style="font-weight: bold;"><%=@order.order_items.sum(:quantity)%></td>
        <td></td>
        <td></td>
        <td><b>Discount</b></td>
        <td style="font-weight: bold;"><%= number_with_delimiter(@order.discount_price.to_f.round(2)) rescue 0%></td>
      </tr>
      <tr style="text-align:center" class="lite-gray">

        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Total Bill</b></td>
        <td style="font-weight: bold;"><%= number_with_delimiter(@order.total_bill.to_f.round(2)) rescue 0 %></td>
      </tr>
      <tr style="text-align:center" class="lite-gray">

        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Total Bill GST</b></td>
        <td style="font-weight: bold;"><%= number_with_delimiter((@order.order_items.sum(:gst_amount).to_f + @order.total_bill.to_f).round(2)) rescue 0 %></td>
      </tr>
      <tr style="text-align:center" class="lite-gray">

        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Total Amount</b></td>
        <td style="font-weight: bold;"><%= number_with_delimiter(@order.amount.to_f.round(2)) rescue 0 %></td>
      </tr>
      <tr style="text-align:center" class="lite-gray">

        <td colspan="5"> <%= "Comment:"+@order.comment.to_s if  @order.comment.present?%></td>
      </tr>
      </tbody>
    </table>

<table data-toggle="table" data-search="true">
<tbody>

        <%if @order.purchase_sale_details.present?%>
        <% @order.purchase_sale_details.each do |purchase_sale_detail| %>
          <tr>
            <td colspan="5">
            <p style="border-bottom: double 4px;  margin: 0;"></p>
            <h2 style="text-align: center; margin: 0;">Delivery Detail # <%= purchase_sale_detail.voucher_id.to_s+'/'+purchase_sale_detail.id.to_s %></h2>
            <p style="border-bottom: double 4px;  margin: 0;"></p>
            </td>
          </tr>
          <tr>
            <td colspan="5">
              Date:
              <%if purchase_sale_detail.created_at.strftime("%d%b%y")!=purchase_sale_detail.updated_at.strftime("%d%b%y")%>
                <%= purchase_sale_detail.created_at.present? ? purchase_sale_detail.created_at.strftime("%d%b%y at %I:%M%p") : '' %> | <%= purchase_sale_detail.updated_at.present? ? purchase_sale_detail.updated_at.strftime("%d%b%y at %H:%M%p") : '' %>
              <%else%>
                <%= purchase_sale_detail.created_at.present? ? purchase_sale_detail.created_at.strftime("%d%b%y at %I:%M%p") : '' %>
              <%end%>
            </td>
          </tr>
          <tr class="lite-gray">
            <th>SR #</th>
            <th>Items</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
          </tr>
          <%if purchase_sale_detail.purchase_sale_items_names_and_quantity!=0%>
            <%purchase_sale_detail.purchase_sale_items_names_and_quantity.each_with_index do |name_quantity,i|%>
              <tr style="text-align:center">
                <td  style="font-weight: bold;"><%=i+1%></td>
                <td  style="font-weight: bold;"><%= name_quantity.first %></td>
                <td  style="font-weight: bold;"><%= name_quantity.second %></td>
                <td  style="font-weight: bold;"><%= number_with_delimiter(name_quantity.third) %></td>
                <td  style="font-weight: bold;"><%= number_with_delimiter(name_quantity.fourth) %></td>
              </tr>
            <%end%>
            <tr style="text-align:center">
              <td></td>
              <td><b>Total Qty</b></td>
              <td  style="font-weight: bold;"><%=purchase_sale_detail.purchase_sale_items.count%></td>
              <td><b>Discount</b></td>
              <td  style="font-weight: bold;"><%= number_with_delimiter(purchase_sale_detail.discount_price.to_f.round(2)) rescue 0%></td>
            </tr>
            <tr style="text-align:center">
              <td></td>
              <td><b>Loader</b></td>
              <td style="font-weight: bold;"><%=purchase_sale_detail.staff.name if purchase_sale_detail.staff.present? %></td>
              <td><b>Carriage/Loading</b></td>
              <td style="font-weight: bold;"><%=purchase_sale_detail.carriage%> / <%=purchase_sale_detail.loading%></td>
            </tr>
            <tr style="text-align:center">
              <td></td>
              <td></td>
              <td></td>
              <td><b>Total Bill</b></td>
              <td style="font-weight: bold;"><%= number_with_delimiter(purchase_sale_detail.total_bill.to_f.round(2)) rescue 0 %></td>
            </tr>
            <tr style="text-align:center">
              <td></td>
              <td></td>
              <td></td>
              <td><b>Paid Amount</b></td>
              <td style="font-weight: bold;"><%= number_with_delimiter(purchase_sale_detail.amount.to_f.round(2)) rescue 0%></td>
            </tr>
            <tr style="text-align:center">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td colspan="5"> <%= "Comment:"+purchase_sale_detail.comment.to_s if  purchase_sale_detail.comment.present?%></td>
            </tr>
          <%end%>
        <% end %>
        <tr class="lite-gray" style="text-align:center">
          <td><h4>O-Total</h4></td>
          <td><h4><%= number_with_delimiter(@order.total_bill) %></h4></td>
          <td><h4>D-Total</h4></td>
          <td><h4><%= number_with_delimiter(@order.purchase_sale_details.sum(:total_bill)) %></h4></td>
          <td><h4>Remaing: <%= number_with_delimiter(@order.total_bill.to_i-@order.purchase_sale_details.sum(:total_bill).to_i) %></h4></td>

        </tr>
      <% end %>
      <tr>

      </tr>
      <tr>

      </tr>
      <tr>
        <th style="text-align:left" colspan="4">Admin Sign#</th>
        <th style="text-align:center" colspan="4">Customer Sign#</th>
      </tr>
    </tbody>
  </table>

</div>
