<%if params[:transaction_type].present? or @purchase_sale_detail.transaction_type=='Sale'%>
  <table>
  <tbody>
    <%= f.hidden_field :purchase_sale_detail_id %>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :transaction_type, value: "Sale"%>
    <tr class="nested-fields">
      <td><%= f.select :product_id, options_from_collection_for_select(@products, 'id', ->(st){"#{st.title} \u{27F6} #{st.code}"}), {hide_label: true,prompt: "Select the Product"}, onchange: 'set_atom_sale(this.value,this.id); return false;', class: "chosen-select",required: true%></td>
      <td><%= f.select :status, options_for_select([0.9,1,3,3.1,3.5,4,4.4]), {hide_label: true,prompt: "Pack"}, onchange:"costAtomUpdateReturn()",onkeyup:"costAtomUpdateReturn()", class: "pack-price",required: true%></td>
      <td><%= f.number_field :quantity,step: :any,class:'quantity-price', hide_label: true,placeholder: :quantity,onchange:"costAtomUpdateReturn()",onkeyup:"costAtomUpdateReturn()"%>    </td>
      <td><%= f.number_field :sale_price,step: :any,class:'cost-price',hide_label: true, placeholder: :sale_price,readonly: true,onchange:"costAtomUpdateReturn()",onkeyup:"costAtomUpdateReturn()"%></td>
      <td><%= f.number_field :total_sale_price,step: :any,class:'total-cost-price', hide_label: true,placeholder: :cost_price,onchange:"costAtomUpdateReturn()",onkeyup:"costAtomUpdateReturn()"%></td>
      <td><%= f.number_field :discount_price,step: :any,class:'discount-price', hide_label: true,placeholder: :discount,onchange:"costAtomUpdateReturn()",onkeyup:"costAtomUpdateReturn()"%></td>
      <td><%#= f.text_area :comment, hide_label: true,placeholder: :comment,title: :comment%></td>
      <td class="links"><%= link_to_remove_association "Remove", f , class: "btn btn-info return",onclick:"costAtomUpdateReturn()" %></td>
    </tr>
  </tbody>
  </table>
<%else%>
  <table>
  <tbody>
    <%= f.hidden_field :purchase_sale_detail_id %>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :transaction_type, value: PurchaseSaleItem.transaction_types.first.first%>
    <tr class="nested-fields">
      <%if params[:product].present? %>
        <td><%= f.select :product_id, options_from_collection_for_select(@products, 'id', ->(st){"#{st.title} \u{27F6} #{st.code}"},f.object.product_id), {hide_label: true,prompt: "Select the Product"},onchange: 'set_cost(this.value,this.id); return false;',class: "chosen-select",required: true%></td>
      <%else%>
        <td><%= f.select :item_id, options_from_collection_for_select(@items, 'id', ->(st){"#{st.title} \u{27F6} #{st.code}"}, f.object.item_id), {hide_label: true,prompt: "Select the Items"},onchange: 'set_raw_cost(this.value,this.id); return false;', class: "chosen-select",required: true %></td>
      <%end%>
      <td><%= f.number_field :quantity,step: :any,class:'quantity-price', hide_label: true,placeholder: :quantity,onchange:"costAtomUpdateReturn()",onkeyup:"costAtomUpdateReturn()"%>    </td>
      <td><%= f.number_field :cost_price,step: :any,class:'cost-price',hide_label: true, placeholder: :cost_price,onchange:"costAtomUpdateReturn()",onkeyup:"costAtomUpdateReturn()"%></td>
      <td><%= f.number_field :total_cost_price,step: :any,class:'total-cost-price', hide_label: true,placeholder: :total_cost_price,onchange:"costAtomUpdateReturn()",onkeyup:"costAtomUpdateReturn()"%></td>
      <td><%= f.number_field :sale_price,step: :any,hide_label: true, placeholder: :sale_price,onchange:"costAtomUpdateReturn()",onkeyup:"costAtomUpdateReturn()"%></td>
      <td><%= f.number_field :discount_price,step: :any,class:'discount-price', hide_label: true,placeholder: :discount,onchange:"costAtomUpdateReturn()",onkeyup:"costAtomUpdateReturn()"%></td>
      <td><%= f.text_area :comment, hide_label: true,placeholder: :comment,title: :comment%></td>
      <td class="links"><%= link_to_remove_association "Remove", f , class: "btn btn-info return",onclick:"costAtomUpdateReturn()" %></td>
    </tr>
  </tbody>
  </table>
<%end%>
<script>
  $(document).ready(function() {
    setTimeout(function(){
      $(".chosen-select").chosen({
  allow_single_deselect: true,
  width: '100%'
});
    }, 50);
  });
</script>
