<%= bootstrap_form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="row col-xl-12 col-md-12 mb-12">
      <div class="col-xl-3 col-md-3 mb-3">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="">
                <h5>Line Items</h5>
                <%= render '/orders/fast_food/order_items_type'%>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-4 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="">
                <h5>Product</h5>
                <div id='item_type_products' class="row no-gutters align-items-center item_type_products"></div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-xl-5 col-md-5 mb-5">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="row">
                  <%if @order.transaction_type=='Sale' || params[:transaction_type]=='sale'%>
                    <div class="col-lg-4 form-group float-left">
                      <%if params[:product].present? %>
                      <h5>Product</h5>
                      <%else%>
                      <h5>Item</h5>
                      <%end%>
                    </div>
                    <div class="col-lg-1 form-group float-left hidden">
                      <h5>Stock</h5>
                    </div>
                    <div class="col-lg-2 form-group float-left">
                      <h5>Qty</h5>
                    </div>
                    <div class="col-lg-2 form-group float-left">
                      <h5>Rate</h5>
                    </div>
                    <div class="col-lg-2 form-group float-left">
                      <h5>Total</h5>
                    </div>
                    <div class="col-lg-1 form-group float-left hidden">
                      <h5>%</h5>
                    </div>
                <%else%>
                  <div class="col-lg-4 form-group float-left">
                    <%if params[:product].present? %>
                    <h5>Product</h5>
                    <%else%>
                    <h5>Item</h5>
                    <%end%>
                  </div>
                  <div class="col-lg-1 form-group float-left">
                    <h5>Qty</h5>
                  </div>
                  <div class="col-lg-2 form-group float-left">
                    <h5>Cost</h5>
                  </div>
                  <div class="col-lg-2 form-group float-left">
                    <h5>Total</h5>
                  </div>
                  <div class="col-lg-2 form-group float-left">
                    <h5>Sale</h5>
                  </div>
                  <div class="col-lg-1 form-group float-left hidden">
                    <h5></h5>
                  </div>
                <%end%>
                </div>

                <%if @order.order_items.present?%>
                  <%= f.fields_for :order_items do |order_item| %>
                  <%= render '/orders/fast_food/order_items_fields_new', f: order_item%>
                  <% end %>
                <%end%>

                <div class="links font-weight-bold text-success text-uppercase"">
                  <%= link_to_add_association f, :order_items, partial: '/orders/fast_food/order_items_fields_new'  do %>
                    <i class="fa fa-plus"></i> Add More Items (<span id="total_product_quantity"></span>)
                  <% end %>
                </div>

                <div class="col-lg-4 form-group float-left font-weight-bold ">Total Bill  <h1 class="purchase_sale_detail_total_bill">0.00</h1></div>
                <div class="col-lg-4 form-group float-left font-weight-bold ">Total       <h1 class="purchase_sale_discount_amount">0.00</h1></div>
                <div class="col-lg-4 form-group float-left font-weight-bold ">Remaning    <h1 class="purchase_sale_detail_amount">0.00</h1></div>
                <div class="actions col-lg-6 form-group float-left font-weight-bold">
                  <%= f.submit class: "btn btn-success col-lg-12", style: "float: right",value: "Save with Print", onclick:"save_sale_order()" %>
                </div>
                <div class="col-lg-6 float-left">
                  <%= f.submit class: "btn btn-success col-lg-12", style: "float: right",value: "Save", onclick:"save_sale_order()" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12 col-md-12 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="row">

                  <div class='hidden'>Status</div>
                  <div class="col-lg-4 form-group float-left font-weight-bold ">Customer/Supplier</div>
                  <div class="col-lg-4 form-group float-left font-weight-bold ">Account</div>
                  <div class="col-lg-2 form-group float-left font-weight-bold ">Paid</div>
                  <div class="col-lg-2 form-group float-left font-weight-bold ">Discount</div>
                </div>
                <div class="row">

                    <div class='hidden'>
                      <%if params[:transaction_type].present? or @order.transaction_type=='Sale'%>
                      <%= f.hidden_field :transaction_type, value: "Sale" %>
                      <%else%>
                      <%= f.hidden_field :transaction_type, value: Order.transaction_types.first.first%>
                      <%end%>
                      <%= f.select :status, Order.statuses.map { |key, value| [key.humanize, key] },{hide_label:true, selected: "UnPrint",class: "form-control", required: true} %>
                    </div>
                    <%if params[:transaction_type].present? or @order.transaction_type=='Sale'%>
                    <div class="col-lg-4 form-group float-left"><%= f.select :sys_user_id, options_from_collection_for_select(@customers, 'id', 'name', f.object.sys_user_id), {hide_label:true,prompt: "Select the Customer"},class:"form-control chosen-select", required: true %></div>
                    <%else%>
                    <div class="col-lg-4 form-group float-left"><%= f.select :sys_user_id, options_from_collection_for_select(@suppliers, 'id', 'name', f.object.sys_user_id), {hide_label:true,prompt: "Select the Supplier"},class:"form-control chosen-select", required: true %></div>
                    <%end%>
                    <div class="col-lg-4 form-group float-left">
                      <%= f.select :account_id , options_from_collection_for_select(@accounts, 'id', 'title', (f.object.account_id.present? ? f.object.account_id : @account)), {hide_label:true}%>
                    </div>
                    <div class="col-lg-2 form-group float-left"> <%= f.hidden_field :total_bill%><%= f.number_field :amount,value:0,step: :any,hide_label:true,onchange:"remaingUpdateAmountOrder()",onkeyup:"remaingUpdateAmountOrder()", required: true %></div>
                    <div class="col-lg-2 form-group float-left">
                      <%= f.number_field :discount_price,step: :any,hide_label:true,onchange:"remaingUpdateAmountOrder()",onkeyup:"remaingUpdateAmountOrder()"%>
                      <label class="form-label" for="order_detail_discount_price_per">Discount in %</label>
                      <input step="any" onchange="discountCalOder()" onkeyup="discountCalOder()" value=<%=params[:discount_price].to_f%> class="form-control" type="number" name="order_detail_discount_price_per" id="order_detail_discount_price_per">
                    </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

  <div class="col-xl-12 col-md-12 mb-12">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col">
              <div class="row">
                <% if f.object.persisted? && f.object.order_images.present? %>
                  <% f.object.order_images.each do |image| %>
                    <%= image_tag image, width: 200, style: 'margin-right:20px;' %>
                  <% end %>
                <% end %>
                <div class="col-lg-12 form-group float-left font-weight-bold ">
                <%= f.file_field :order_images, multiple: true,'Filelimit' => 10, accept: 'image/*,.png', placeholder: '100 MB', class: "cursor-pointer upload_field" %>
                </div>
                <div class="col-lg-6 form-group float-left font-weight-bold "><%= f.datetime_select :created_at%></div><hr>
                <div class="col-lg-6 form-group float-left font-weight-bold ">Comment<%= f.text_area :comment, placeholder:"Enter Comment",hide_label:true%></div>
                <div class="col-lg-2 form-group float-left">Service Changes<%= f.number_field :carriage,value:0.0,hide_label:true,onchange:"costUpdateReturnOrder()()",onkeyup:"costUpdateReturnOrder()()", required: true, readonly: true%></div>
                <div class="col-lg-2 form-group float-left hidden"><%= f.number_field :loading,value:0.0,hide_label:true,onchange:"costUpdateReturnOrder()()",onkeyup:"costUpdateReturnOrder()()", required: true, readonly: true%></div>

              </div>

              <div class="actions">
                <%if params[:transaction_type].present? or @order.transaction_type=='Sale'%>
                  <%if current_user.super_admin?%>
                    <div class="col-lg-6" style="float:left">
                      <%= link_to 'Daily Sale', orders_path(sale: :true), class: "btn btn-info  col-lg-12" %>
                    </div>
                    <div class="actions col-lg-3 form-group float-left font-weight-bold">
                      <%= f.submit class: "btn btn-success  col-lg-12", style: "float: right",value: "Save with Print", onclick:"save_sale_order()", formtarget:"_blank" %>
                    </div>
                    <div class="col-lg-3" style="float:left">
                      <%= f.submit class: "btn btn-success col-lg-12", style: "float: right",value: "Save", onclick:"save_sale_order()" %>
                    </div>
                  <%else%>
                    <div class="actions col-lg-6 form-group float-left font-weight-bold">
                      <%= f.submit class: "btn btn-success col-lg-12", style: "float: right",value: "Save with Print", onclick:"save_sale_order()", formtarget:"_blank" %>
                    </div>
                    <div class="col-lg-6 float-left">
                      <%= f.submit class: "btn btn-success col-lg-12", style: "float: right",value: "Save", onclick:"save_sale_order()" %>
                    </div>
                  <%end%>
                <%else%>
                  <div class="col-lg-6" style="float:left">
                    <%= link_to 'Purchase', orders_path, class: "btn btn-info  col-lg-12" %>
                  </div>
                  <div class="col-lg-6" style="float:left">
                    <%= f.submit class: "btn btn-success col-lg-12", style: "float: right",value: "Save", onclick:"save_sale_order()" %>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

<% end %>
<%= javascript_include_tag 'hover', 'data-turbolinks-track': 'reload' %>
