<table data-toggle="table" data-search="true">
  <tr class='bg-info text-light'>
    <th>User</th>
    <th>Plot</th>
    <th>Size</th>
    <th>Last Payment</th>
    <th>Last Payment Date</th>
    <th>Installment</th>
    <th>Due</th>
    <th>Dealer</th>
  </tr>
  <tbody>
    <% @property_installments.each_with_index do |property_plan, index| %>
        <% property_plan&.property_installments.each do |pi| %>
          <tr style='text-align: center'>
            <td><%= pi.property_plan&.order&.sys_user&.name %></td>
            <% order_items = pi.property_plan.order&.order_items_names_and_quantity %>
            <% if order_items != 0 %>
              <td><%= order_items&.first&.first %></td>
              <td><%= order_items&.first.try(:[], 8) %>-M <%= order_items&.first.try(:[], 9) %>-sqr</td>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
            <td><%= number_with_delimiter pi.property_plan.order&.sys_user&.ledger_books&.where('credit>0')&.last&.credit %></td>
            <td><%= pi.property_plan.order&.sys_user&.ledger_books&.where('credit>0')&.last&.created_at&.strftime("%d%b%y at %I:%M%p")%></td>
            <td><%= number_with_delimiter pi.installment_price %></td>
            <td><%= pi.due_date.present? ? pi.due_date.strftime("%d%b%y") : '' %></td>
            <td><%= pi&.property_plan&.order&.order_plot_dealer&.first&.staff&.name if pi&.property_plan&.order&.order_plot_dealer != 0 %></td>
          </tr>
        <% end %>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td style='text-align: center;'><h4>Total:</h4></td>
      <td style='text-align: center;'><h4><%= number_with_delimiter @short_pay_total%></h4></td>
    </tr>
  </tbody>
  </table>