<style>
  table, th, td {
    border: 1px solid lightgray;
  }
</style>

<div class="modal fade" id="showdData" tabindex="-1" role="dialog" aria-labelledby="showdDataLabel">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
          <div class="modal-body">
             <div class="modal-header">
          <h2 class="modal-title" id="myModalLabel">Property Plan Details</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
             <!-- Card Content - Collapse -->
              <div class="collapse show" id="collapseCardExample" style="">
                <div class="card-body">
                  <table>
                    <thead>
                      <th>Type</th>
                      <th>Area in Marla</th>
                      <th>Total Price</th>
                      <th>Price Per Marla</th>
                      <th>Payment Type</th>
                      <th>Payment Plan</th>
                      <th>Number of Installments</th>
                      <th>Advance</th>
                      <th>High Amount Installments</th>
                      <th>Total High Amount</th>
                   </thead>
                    <tbody class="p-3">
                      <tr>
                        <td><%= @property_plan.property_type %></td>
                        <td><%= @property_plan.area_in_marla  %></td>
                        <td>Rs.<%= @property_plan.total_price %></td>
                        <td><%= @property_plan.price_per_marla %></td>
                        <td><%= @property_plan.payment_type %></td>
                        <td><%= @property_plan.payment_plan&.titleize %></td>
                        <td><%= @property_plan.no_of_installments %></td>
                        <td><%= @property_plan.advance %></td>
                        <td><%= @property_plan.high_amount_installments %></td>
                        <td>Rs.<%= @property_plan.total_high_amount  %></td>
                      </tr>
                   </tbody>
                  </table>

                  <table class="mt-3">
                    <thead>
                      <th class="text-center">Installment Details</th>
                   </thead>
                   <tbody>
                       <td class="text-center">
                           <%= @property_plan.property_installments.in_batches(of: 2) do |property_installment| %>
                             <div class="row form-group">
                               <div class="col-lg-6 col-sm-6">
                                 <strong>#<%= property_installment.first.installment_no%>: </strong>
                                 Rs.<%= property_installment.first.installment_price %>
                               </div>
                               <% if property_installment.count == 2 %>
                                 <div class="col-lg-6 col-sm-6">
                                   <strong>#<%= property_installment.second.installment_no%>: </strong>
                                   Rs.<%= property_installment.second.installment_price %>
                                 </div>
                               <% end %>
                             </div>
                           <% end %><td>
                    </tbody>
                     
                     </table>
                </div>
              </div>
              
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger float-right" data-dismiss="modal" aria-label="Close">
              <span class="text-light p-2">Close</span>
            </button>
          </div>
     </div>
    </div>
    </div>
  </div>
</div>