<div style="text-align: center">
  <h4>TERMS & CONDITIONS DEPOSIT VOUCHER OF</h4>
  <h3><%=@pos_setting.extra_settings['terms_name'] if @pos_setting.extra_settings.present?%> MANAGEMENT</h3>
</div>
<div style="text-align: justify; text-justify: inter-word; margin-top: 5px; font-size: 10px;">
  <%=@pos_setting.extra_settings['term_1'] if @pos_setting.extra_settings.present?%>
</div>
<div style="text-align: justify; text-justify: inter-word; margin-top: 5px; font-size: 10px;">
  <%=@pos_setting.extra_settings['term_2'] if @pos_setting.extra_settings.present?%>
</div>
<div style="text-align: justify; text-justify: inter-word; margin-top: 5px; font-size: 10px;">
  <%=@pos_setting.extra_settings['term_3'] if @pos_setting.extra_settings.present?%>
</div>
<div style="text-align: justify; text-justify: inter-word; margin-top: 5px; font-size: 10px;">
  <%=@pos_setting.extra_settings['term_4'] if @pos_setting.extra_settings.present?%>
</div>
<div style="text-align: justify; text-justify: inter-word; margin-top: 5px; font-size: 10px;">
  <%=@pos_setting.extra_settings['term_5'] if @pos_setting.extra_settings.present?%>
</div>
<div style="text-align: justify; text-justify: inter-word; margin-top: 5px; font-size: 10px;">
  <%=@pos_setting.extra_settings['term_6'] if @pos_setting.extra_settings.present?%>
</div>
<div style="text-align: justify; text-justify: inter-word; margin-top: 5px; font-size: 10px;">
  <%=@pos_setting.extra_settings['term_7'] if @pos_setting.extra_settings.present?%>
</div>
<div style="text-align: justify; text-justify: inter-word; margin-top: 5px; font-size: 10px;">
  <%=@pos_setting.extra_settings['term_8'] if @pos_setting.extra_settings.present?%>
</div>
