<div class="card">
  <div class="card-header">
    <h3>Edit Installment</h3>
  </div>
  <div class="card-body">
    <%= bootstrap_form_for(@property_installment,url:property_installment_update_property_plans_path, remote: true) do |f| %>
      <input class="form-control hidden" type="text" value="<%=@property_installment&.id%>" name="id" id="id">
      <% if @property_installment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@property_installment.errors.count, "error") %> prohibited this property_plan from being saved:</h2>

          <ul>
          <% @property_installment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <div class="col-lg-12 row">
      <div class="installments_div installments_div_cash col-lg-6 col-md-3 col-sm-6 form-group float-left ">
        <%= f.date_select :due_date,class:"form-control" %>
      </div>
      <div class="installments_div installments_div_cash col-lg-6 col-md-3 col-sm-6 form-group float-left">
        <%= f.select :due_status, options_for_select(PropertyInstallment.due_statuses.map { |key, value| [key.humanize, key] }, f.object.due_status), { class: "form-control", prompt: 'Select Paid Status' },class:"form-control"%>
      </div>
      <div class="col-lg-6 col-md-3 col-sm-6 form-group float-left">
        <%= f.select :payment_method, options_for_select(PropertyInstallment.payment_methods.map { |key, value| [key, key] }, f.object.payment_method), { class: "form-control", prompt: 'Select Payment method' },class:"form-control"%>
      </div>
      <div class="col-lg-6 col-md-3 col-sm-6 form-group float-left">
        <%= f.text_field :bank_detail %>
      </div>
    </div>

      <div class="col-lg-12 row ">
        <div class="col-lg-6 form-group float-left text-black">
          <%= link_to order_path(sale:true) do %>
          <i class="fa fa-arrow-left " aria-hidden="true"></i>
          Cancel
          <% end %>
        </div>
        <div class="col-lg-6 form-group float-left">
          <div class="col-lg-6 form-group float-left">
            <%=f.object.id.nil? ? (f.submit class: "btn btn-success", style: "float: left")  :  (f.submit class: "btn btn-warning", style: "float: left")%>
          </div>
        </div>
      </div>
    <% end %>
    </div>
</div>
