<html>
  <head>
    <style>
      .border-bottom{
        border-bottom: double 4px;
      }
      .text-center{
        text-align: center;
      }
    </style>
  </head>
  <body>
    <% @date = Date.today  %>
    <% @time = DateTime.now %>
    <% @time = Time.zone.now %>
    <div>
      <p class="border-bottom"></p>
      <h1 class="text-center">Property Plans List</h1>
      <h1 class="text-center">
        Date: <b><span><%= @time.strftime("%d")%>/<%=@time.strftime("%b")%>/<%= @time.strftime("%y")%></span>
        Time: <span><%=@time.strftime("at %I:%M%p")%></span></b>
      </h1>
      <p class="border-bottom"></p>
      <p class="text-center">Report by: <%=current_user.name%></p>
    </div>
    <div>
      <table>
        <thead class="lite-gray">
          <th class="text-center">User</th>
          <th class="text-center">Phone</th>
          <th class="text-center">Unit</th>
          <th class="text-center">Size</th>
          <th class="text-center">Last Payment</th>
          <th class="text-center">Last Date</th>
          <th class="text-center">Down Payment</th>
          <th class="text-center">Due Date</th>
          <th class="text-center">Dealer</th>
          <th class="text-center">Comment</th>
        </thead>
        <tbody>
          <% total_advance = 0 %>
          <% data.each do |property_plan| %>
            <tr>
              <td class="text-center"><%= property_plan['Id']%></td>
              <td class="text-center"><%= property_plan['User']%></td>
              <td class="text-center"><%= property_plan['Phone']%></td>
              <td class="text-center"><%= property_plan['Plot']%></td>
              <td class="text-center"><%= property_plan['Last_Payment']%></td>
              <td class="text-center"><%= property_plan['Last_Payment_Date']%></td>
              <td class="text-center"><%= property_plan['Advance']%></td>
              <td class="text-center"><%= property_plan['Size']%></td>
              <td class="text-center"><%= property_plan['Due_Date']%></td>
              <td class="text-center"><%= property_plan['Dealer']%></td>
              <% total_advance += property_plan['Advance'].to_i %>
            </tr>
          <% end %>
          <tr class="lite-gray">
            <td ><h4>Total</h4></td>
            <td><h5><%= data.count%></h5></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center"><h5><%= number_with_delimiter total_advance%></h5></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
