<div class="hidden" id="city_list">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <h1>Short Installment Payments</h1>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="col-lg-12 form-group float-left">
        <textarea name="sms_msg" class="form-control" ><%=@phone%></textarea>
      </div>
    </div>
  </div>
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
      <a class="nav-link tab-label cms-search-exp-tab active" data-toggle="tab" href="#search" role="tab">Search</a>
    </li>
  </ul>

  <%= search_form_for @q, url: property_installment_property_plans_path, class: "admin-controls", method: "get" do |f| %>
    <div class="tab-content">
      <div class="tab-pane active mb-3 card shadow-sm mt-2 border-radius-1" id="search" role="tabpanel">
        <p>
          <div class="row p-3">
            <div class="col-lg-3 form-group float-left">
              <%= f.select :property_plan_order_sys_user_id_eq, options_from_collection_for_select(@customers, 'id', 'name', f.object.property_plan_order_sys_user_id_eq),{:include_blank => "Select Customer"},class: 'form-control chosen-select'%>
            </div>
            <div class="col-lg-3 form-group float-left">
              <%= f.search_field :due_date_gteq,class: 'form-control input-sm datepicker' ,placeholder: "YYYY-MM-DD"%>
            </div>
            <div class="col-lg-3 form-group float-left">
              <%= f.search_field :due_date_lteq,class: 'form-control input-sm datepicker' ,placeholder: "YYYY-MM-DD"%>
            </div>
            <div class="col-lg-1 form-group float-left">
              <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
            </div>

            <div class="dropdown my-dropdown float-right mr-2">
              <button type="button" class="form-control bg-danger text-light">PDF List</button>
              <div class="dropdown-content my-dropdown-content p-2">
                <button class="btn btn-danger d-flex justify-content-center ml-2 mt-2" style="width: 100px" title="Download pdf " name="pdf" type="submit" value="submit_pdf" formtarget="_blank"><i class="fa fa-file-pdf mt-1 ml-1 mr-1"></i>PDF </button>
                <button class="btn btn-danger d-flex justify-content-center ml-2 mt-2" style="width: 100px" title="Download pdf with user data" name="pdf" type="submit" value="submit_pdf_search" formtarget="_blank"><i class="fa fa-file-pdf mt-1 ml-1 mr-1"></i>1-User</button>
                <button class="btn btn-danger d-flex justify-content-center ml-2 mt-2" style="width: 100px" title= "Download pdf bulk" name="pdf" type="submit" value="submit_pdf_bulk" formtarget="_blank"><i class="fa fa-file-pdf mt-1 ml-1"></i>Bulk</button>
              </div>
            </div>
            <div>
              <button class="btn btn-warning" title= "download short installment csv" name="csv" type="submit" value="csv">CSV &nbsp;<i class="fa fa-file-excel mt-1 ml-1 mr-1"></i></button>
            </div>
          </div>
        </p>
      </div>
    </div>
  <% end %>
  <table data-toggle="table" data-search="true">
    <thead>
      <tr>
        <th><%= sort_link(@q, :property_type, 'User') %></th>
        <th><%= sort_link(@q, :property_type, 'Phone') %></th>
        <th><%= sort_link(@q, :area_in_marla, 'Plot') %></th>
        <th><%= sort_link(@q, :area_in_marla, 'Size') %></th>
        <th><%= sort_link(@q, :area_in_marla, 'Last Payment') %></th>
        <th><%= sort_link(@q, :area_in_marla, 'Last Payment Date') %></th>
        <th><%= sort_link(@q, :price_per_marla, 'Installment') %></th>
        <th><%= sort_link(@q, :price_per_marla, 'Due') %></th>
        <th>Dealer</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @property_installments.each do |property_installment| %>
        <tr>
          <td><%= link_to property_installment.property_plan.order&.sys_user&.name, orders_path('q[sys_user_id_eq]': property_installment.property_plan.order&.sys_user.id.to_s,"sale":true) if property_installment.property_plan.order&.sys_user&.id.present?%></td>
          <td><%= property_installment.property_plan.order&.sys_user&.contact&.phone %></td>
          <td><%= property_installment.property_plan.order&.order_items_names_and_quantity&.first&.first %></td>
          <td><%= property_installment.property_plan.order&.order_items_names_and_quantity&.first.try(:[], 8) %>-M <%= property_installment.property_plan.order&.order_items_names_and_quantity&.first.try(:[], 9) %>-sqr</td>
          <td><%= number_with_delimiter property_installment.property_plan.order&.sys_user&.ledger_books&.where('credit>0')&.last&.credit %></td>
          <td><%= property_installment.property_plan.order&.sys_user&.ledger_books&.where('credit>0')&.last&.created_at&.strftime("%d%b%y at %I:%M%p")%></td>
          <td><%= number_with_delimiter property_installment.installment_price %></td>
          <td><%= property_installment.due_date.present? ? property_installment.due_date.strftime("%d%b%y") : '' %></td>
          <td><%= property_installment&.property_plan&.order&.order_plot_dealer&.first&.staff&.name%></td>
          <td>
            <%= link_to order_path(property_installment.property_plan&.order) do %>
              <i class="fa fa-eye " aria-hidden="true"></i> |
            <%end %>
            <%= link_to property_plan_path(property_installment.property_plan,property_installment: property_installment), target: "_blank" do %>
              <i class="fa fa-file " aria-hidden="true"></i> |
            <%end %>
            <% if can?(:update, Product) %>
              <%= link_to edit_order_path(property_installment.property_plan&.order) do %>
                <i class="fa fa-edit " aria-hidden="true"></i>
              <%end %>
            <% end %>
            <%= link_to order_path(property_installment.property_plan&.order) do %>
              <i class="fas fa-comment-alt" aria-hidden="true"></i>
            <%end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><h4><%= number_with_delimiter @short_pay_total%></h4></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="clearfix"></div>
<div class="row">
  <div class="col-lg-4 col-sm-4">
    <%= page_entries_info @property_installments %>
  </div>
  <div class="col-lg-8 col-sm-8 pagination-left">
    <%= paginate @property_installments %>
  </div>
</div>

<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#city_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
  });
</script>
