<div class="hidden" id="city_list">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <h1>Short Installment Payments</h1>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="col-lg-12 form-group float-left">
        <textarea name="sms_msg" class="form-control" ><%=@phone%></textarea>
      </div>
    </div>
  </div>
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
      <a class="nav-link tab-label cms-search-exp-tab active" data-toggle="tab" href="#search" role="tab">Search</a>
    </li>
  </ul>

  <%= search_form_for @q, url: property_installment_property_plans_path, class: "admin-controls", method: "get" do |f| %>
    <div class="tab-content">
      <div class="tab-pane active mb-3 card shadow-sm mt-2 border-radius-1" id="search" role="tabpanel">
        <p>
          <div class="row p-3">
            <div class="col-lg-3 form-group float-left">
              <%= f.select :order_sys_user_id_eq, options_from_collection_for_select(@customers, 'id', 'name', f.object.order_sys_user_id_eq),{:include_blank => "Select Customer"},class: 'form-control chosen-select'%>
            </div>
            <div class="col-lg-3 form-group float-left">
              <%= f.select :order_order_items_product_id_eq, options_from_collection_for_select(@products, 'id', ->(st){"#{st.title} \u{27F6} #{st.code}"}, f.object.order_order_items_product_id_eq),{:include_blank => "Select Plot"},class: 'form-control chosen-select'%>
            </div>
            <div class="col-lg-3 form-group float-left">
              <%= f.select :order_purchase_sale_details_staff_id_eq, options_from_collection_for_select(@dealers, 'id', 'name', f.object.order_purchase_sale_details_staff_id_eq),{:include_blank => "Select Dealer"},class: 'form-control chosen-select'%>
            </div>
            <div class="col-lg-3 form-group float-left">
              <%= f.search_field :order_order_items_marla_eq,class: 'form-control' ,placeholder: "Enter Marla"%>
            </div>
            <div class="col-lg-3 form-group float-left">
              <%= f.search_field :property_installments_due_date_gteq,class: 'form-control input-sm datepicker' ,placeholder: "From -> YYYY-MM-DD"%>
            </div>
            <div class="col-lg-3 form-group float-left">
              <%= f.search_field :property_installments_due_date_lteq,class: 'form-control input-sm datepicker' ,placeholder: "To -> YYYY-MM-DD"%>
            </div>
            <div class="col-lg-3 form-group float-left">
              <%= number_field_tag 'installment_count_from', params[:installment_count_from] || {}, class: 'form-control', placeholder: 'No. of installments from' %>
            </div>
            <div class="col-lg-3 form-group float-left">
              <%= number_field_tag 'installment_count_to', params[:installment_count_to] || {}, class: 'form-control', placeholder: 'No. of installments to' %>
            </div>
            <div class="col-lg-3 form-group float-left">
              <%= number_field_tag 'installment_amount_from', params[:installment_amount_from] || {}, class: 'form-control', placeholder: 'Installments amount from' %>
            </div>
            <div class="col-lg-3 form-group float-left">
              <%= number_field_tag 'installment_amount_to', params[:installment_amount_to] || {}, class: 'form-control', placeholder: 'Installments amount to' %>
            </div>
            <div class="col-lg-1 form-group float-left">
              <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
            </div>

            <div class="dropdown my-dropdown float-right mr-2">
              <button type="button" class="form-control bg-danger text-light">PDF List</button>
              <div class="dropdown-content my-dropdown-content p-2">
                <button class="btn btn-danger mt-2" name="pdf" type="submit" value="pdf_without_group" formtarget="_blank">PDF</button>
                <button class="btn btn-danger mt-2" name="pdf" type="submit" value="pdf_with_group" formtarget="_blank">PDF with group</button>
              </div>
            </div>
            <div>
              <button class="btn btn-warning" title= "download short installment csv" name="csv" type="submit" value="csv">CSV &nbsp;<i class="fa fa-file-excel mt-1 ml-1 mr-1"></i></button>
            </div>
          </div>
        </p>
      </div>
    </div>
  <% end %>
  <table data-toggle="table" data-search="true">
    <thead>
      <tr>
        <th></th>
        <th>User</th>
        <th>Phone</th>
        <th>Plot</th>
        <th>Size</th>
        <th>No. of Installments</th>
        <th>Total Installments</th>
        <th>Total Due Dates</th>
      </tr>
    </thead>

    <tbody>
      <% @property_installments.each_with_index do |property_plan, index| %>
        <% collapse_id = "collapse_id#{index}"%>
        <% sys_user = property_plan&.order&.sys_user %>
        <tr>
          <td class="p-4 accordion-toggle acc-pointer" data-toggle="collapse" data-target="#<%= collapse_id %>"><i class="fa fa-plus-circle"></i></td>
          <td><%= link_to sys_user&.name, orders_path('q[sys_user_id_eq]': sys_user.id.to_s,"sale":true) %></td>
          <td><%= sys_user&.contact&.phone %></td>
          <% order_items = property_plan&.order&.order_items_names_and_quantity %>
          <% if order_items != 0 %>
            <td><%= order_items&.first&.first %></td>
            <td><%= order_items&.first.try(:[], 8) %>-M <%= order_items&.first.try(:[], 9) %>-sqr</td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
          <td><%= @installments_count[property_plan.id] %></td>
          <td><%= number_with_delimiter(property_plan&.property_installments.pluck(:installment_price)&.sum) %></td>
          <td><%= property_plan&.property_installments.pluck(:due_date).map { |date| date&.strftime("%d%b%y") } %></td>
        </tr>
        <tr>
          <td colspan='8' class="hiddenRow">
            <div class="accordian-body collapse card shadow-lg m-4" style="border-radius: 18px;" id="<%= collapse_id %>">
              <table>
                <tr class='bg-info text-light'>
                  <th>Plot</th>
                  <th>Size</th>
                  <th>Last Payment</th>
                  <th>Last Payment Date</th>
                  <th>Installment</th>
                  <th>Due</th>
                  <th>Dealer</th>
                  <th>Action</th>
                </tr>
                <% property_plan&.property_installments.each do |pi| %>
                  <tr>
                    <% order_items = pi.property_plan.order&.order_items_names_and_quantity %>
                    <% if order_items != 0 %>
                      <td><%= order_items&.first&.first %></td>
                      <td><%= order_items&.first.try(:[], 8) %>-M <%= order_items&.first.try(:[], 9) %>-sqr</td>
                    <% else %>
                      <td></td>
                      <td></td>
                    <% end %>
                    <td><%= number_with_delimiter pi.property_plan.order&.sys_user&.ledger_books&.where('credit>0')&.last&.credit %></td>
                    <td><%= pi.property_plan.order&.sys_user&.ledger_books&.where('credit>0')&.last&.created_at&.strftime("%d%b%y at %I:%M%p")%></td>
                    <td><%= number_with_delimiter pi.installment_price %></td>
                    <td><%= pi.due_date.present? ? pi.due_date.strftime("%d%b%y") : '' %></td>
                    <td><%= pi&.property_plan&.order&.order_plot_dealer&.first&.staff&.name if pi&.property_plan&.order&.order_plot_dealer != 0 %></td>
                    <td>
                      <%= link_to order_path(pi.property_plan&.order) do %>
                        <i class="fa fa-eye " aria-hidden="true"></i> |
                      <%end %>
                      <%= link_to property_plan_path(pi.property_plan,property_installment: pi), target: "_blank" do %>
                        <i class="fa fa-file " aria-hidden="true"></i> |
                      <%end %>
                      <% if can?(:update, Product) %>
                        <%= link_to edit_order_path(pi.property_plan&.order) do %>
                          <i class="fa fa-edit " aria-hidden="true"></i>
                        <%end %>
                      <% end %>
                      <%= link_to order_path(pi.property_plan&.order) do %>
                        <i class="fas fa-comment-alt" aria-hidden="true"></i>
                      <%end %>
                    </td>
                  </tr>
                <% end %>
              </table>
            </div>
          </td>
        </tr>

      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><h4><%= number_with_delimiter @short_pay_total%></h4></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="clearfix"></div>
<div class="row">
  <div class="col-lg-4 col-sm-4">
    <%= page_entries_info @property_installments %>
  </div>
  <div class="col-lg-8 col-sm-8 pagination-left">
    <%= paginate @property_installments %>
  </div>
</div>

<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#city_list").removeClass('hidden');
    FontAwesome.dom.i2svg();

    $('.accordian-body').on('show.bs.collapse', function () {
      $(this).closest("table")
          .find(".collapse.in")
          .not(this)
          .collapse('toggle')
    })

    $('.datepicker').datetimepicker({
      format: "YYYY-MM-DD"
    });
  });

</script>
