<% @date = Date.today  %>
<% @time = DateTime.now %>
<% @time = Time.zone.now %>
<p style="border-bottom: double 4px;  margin: 0;"></p>
<h1 style="text-align: center; margin: 0;">Pending Installment Customer List</h1>
<h1 style="text-align: center; margin: 0;"> Date: <b><span><%= @time.strftime("%d")%>/<%=@time.strftime("%b")%>/<%= @time.strftime("%y")%></span>  Time: <span><%=@time.strftime("at %I:%M%p")%></span></b></h1>
<p style="border-bottom: double 4px;  margin: 0;"></p>
<p style="text-align: center;margin: 0;">Report by: <%=current_user.name%></p>
<div >
  <% if params[:pdf].eql?('pdf_with_group')%>
    <%= render 'index_with_group'%>
  <% elsif params[:pdf].eql?('pdf_just_number') %>
    <%= render 'index_without_group_number'%>
  <% else%>
    <%= render 'index_without_group'%>
  <% end%>
</div>