<%= bootstrap_form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="col-xl-12 col-md-12 mb-12">
      <div class="card border-left-primary border-radius-1 mb-3 shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="row">

                  <div class='hidden'>
                    <%if params[:transaction_type].present? or @order.transaction_type=='Sale'%>
                    <%= f.hidden_field :transaction_type, value: "Sale" %>
                    <%else%>
                    <%= f.hidden_field :transaction_type, value: Order.transaction_types.first.first%>
                    <%end%>
                    <%= f.select :status, Order.statuses.map { |key, value| [key.humanize, key] },{hide_label:true,class: "form-control", required: true} %>
                  </div>
                  <%if params[:transaction_type].present? or @order.transaction_type=='Sale'%>
                  <div class="col-lg-4 form-group float-left"><%= f.select :sys_user_id, options_from_collection_for_select(@customers, 'id', 'name', f.object.sys_user_id), { prompt: "Select the Customer"},class:"form-control chosen-select", required: true %></div>
                  <%else%>
                  <div class="col-lg-4 form-group float-left"><%= f.select :sys_user_id, options_from_collection_for_select(@suppliers, 'id', 'name', f.object.sys_user_id), { prompt: "Select the Supplier"},class:"form-control chosen-select", required: true %></div>
                  <%end%>
                  <div class="col-lg-4 form-group float-left">
                    <%= f.select :account_id , options_from_collection_for_select(@accounts, 'id', 'title', (f.object.account_id.present? ? f.object.account_id : @account)),class:"form-control"%>
                  </div>
                  <div class="col-lg-2 form-group float-left"> <%= f.hidden_field :total_bill%><%= f.number_field :amount,step: :any,onchange:"remaingUpdateAmountOrder()",onkeyup:"remaingUpdateAmountOrder()", required: true %></div>
                  <div class="col-lg-2 form-group float-left">
                    <%= f.number_field :discount_price,step: :any,onchange:"remaingUpdateAmountOrder()",onkeyup:"remaingUpdateAmountOrder()"%>
                    <label class="form-label" for="order_detail_discount_price_per">Discount in %</label>
                    <input step="any" onchange="discountCalOder()" onkeyup="discountCalOder()" value=<%=params[:discount_price].to_f%> class="form-control" type="number" name="order_detail_discount_price_per" id="order_detail_discount_price_per">
                  </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="col-xl-12 col-md-12 mb-12">
    <div class="card border-left-primary border-radius-1 mb-3 shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <%if @order.order_items.present?%>
              <%= f.fields_for :order_items do |order_item| %>
              <%= render '/orders/hscheme/order_items_fields', f: order_item%>
              <% end %>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-12 col-md-12 mb-12">
    <div class="card border-left-primary border-radius-1 mb-3 shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="row">
                <div class="col-lg-4 form-group float-left">
                  <h5>Installment Plan Detail</h5>
                </div>
            </div>

            <%= f.fields_for :property_plans do |property_plan| %>
            <%= render 'property_plan', form: property_plan%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-12 col-md-12 mb-12">
    <div class="card border-left-primary border-radius-1 mb-3 shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="row">
                <div class="col-lg-4 form-group float-left">
                  <h5>Transfer history</h5>
                </div>
            </div>

            <%= f.fields_for :remarks do |remark| %>
              <div class="col-lg-12 col-md-12 col-sm-12 form-group float-left">
                <b>Transfer From</b>
                <b style="font-size:20px;color:blue;"><%=remark.object.comment%></b>
                <b>To</b>
                <b style="font-size:20px;color: #c30059 ;"><%=remark.object.body%></b>
                <b>By</b>
                <b style="font-size:20px;color: #7386d5 ;"><%=remark.object.message%></b>
                <b>At</b>
                <b style="font-size:20px;color: #7286d5 ;"><%= remark.object.created_at.strftime("%d%b%y at %I:%M %p") %></b>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- PurchaseSaleItem -->

  <div class="col-xl-12 col-md-12 mb-12">
      <div class="card border-left-primary border-radius-1 mb-3 shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col">
              <div class="row col-xl-12 col-md-12 mb-12">
                <%= render partial: "/links/qrcode_link", locals: {f: f} %>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- PurchaseSaleItem -->


  <div class="card border-left-primary border-radius-1 shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col">
          <div class="row">
            <% if f.object.persisted? && f.object.order_images.present? %>
              <% f.object.order_images.each do |image| %>
                <%= image_tag image, width: 200, style: 'margin-right:20px;' %>
              <% end %>
            <% end %>
            <div class="col-lg-12 form-group float-left font-weight-bold ">
            <%= f.file_field :order_images, multiple: true,'Filelimit' => 10, accept: 'image/*,.png', placeholder: '100 MB', class: "cursor-pointer upload_field" %>
            </div>
            <div class="col-lg-6 form-group float-left font-weight-bold "><%= f.datetime_select :created_at%></div><hr>
            <div class="col-lg-6 form-group float-left font-weight-bold ">Comment<%= f.text_area :comment, placeholder:"Enter Comment",hide_label:true%></div>
            <div class="col-lg-2 form-group float-left hidden"><%= f.number_field :carriage,value:0.0,hide_label:true,onchange:"costUpdateReturnOrder()",onkeyup:"costUpdateReturnOrder()", required: true, readonly: true%></div>
            <div class="col-lg-2 form-group float-left hidden"><%= f.number_field :loading,value:0.0,hide_label:true,onchange:"costUpdateReturnOrder()",onkeyup:"costUpdateReturnOrder()", required: true, readonly: true%></div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
  <div class= 'row'>
    <div  class="col-lg-12 mt-4 row">
      <h4 class="card-header col-lg-12 mb-4">
          Follow Up
      </h4>
    </div>
    <div  class="col-lg-12 row">
      <%= f.fields_for :follow_ups do |follow_up| %>
        <%= render 'crms/follow_ups_new', f: follow_up %>
      <% end %>
    </div>
    <div id="new_links">
      <div class="links">
        <%= link_to_add_association 'Add More', f, :follow_ups, partial: 'crms/follow_ups_new', class: "btn btn-info float-right mr-4 mt-2" %>
      </div>
    </div>
  </div>
  <hr>
  <div class="actions">
    <%if params[:transaction_type].present? or @order.transaction_type=='Sale'%>
      <%if current_user.super_admin?%>
        <div style="float:right">
          <%= f.submit class: "btn btn-success", style: "float: right",value: "Create Order", onclick:"save_sale_order()" %>
        </div>
        <div style="float:right">
          <%= link_to 'Daily Sale', orders_path(sale: :true), style: "float: right", class: "btn btn-info mr-3" %>
        </div>
      <%else%>
        <div class="col-lg-12" style="float:left">
          <%= f.submit class: "btn btn-success", style: "float: right",value: "Create Order", onclick:"save_sale_order()" %>
        </div>
      <%end%>
    <%else%>
      
      <div style="float:right">
        <%= f.submit class: "btn btn-success", style: "float: right",value: "Save", onclick:"save_sale_order()" %>
      </div>
      <div style="float:right">
        <%= link_to 'Purchase', orders_path, class: "btn btn-info mr-2", style: "float: right" %>
      </div>
    <%end%>
  </div>


<% end %>
<%= javascript_include_tag 'hover', 'data-turbolinks-track': 'reload' %>
