<style>
.profile-btn {
border: none;
outline: none;
background: none;
}

</style>
<nav class="navbar navbar-top py-3 justify-content-center" style="background-color: #f2f2f7">
  <h4 class="ml-3"><%= admin_name_on_nav %></h4>
  <svg version="1.1" id="Layer_1" class="cursor-pointer sidebar-toggle-icon d-none d-lg-block mx-5" style="margin-top: -10px;" height="50px" width="40px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 455 455" style="enable-background:new 0 0 455 455;" xml:space="preserve"><g><rect y="312.5" width="455" height="50"/><rect y="212.5" width="455" height="50"/><rect y="112.5" width="455" height="50"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
  </svg>
  <svg version="1.1" id="Layer_1" class="cursor-pointer sidebar-toggle-icon-mobile d-block d-lg-none mx-3" style="margin-top: -10px;" height="50px" width="40px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 455 455" style="enable-background:new 0 0 455 455;" xml:space="preserve"><g><rect y="312.5" width="455" height="50"/><rect y="212.5" width="455" height="50"/><rect y="112.5" width="455" height="50"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
  </svg>   

  <div class="d-flex">
    <div class="d-none d-lg-block mr-auto mb-2" style="cursor: pointer;">
      <span>
        <div class="dropdown my-nav-dropdown">
          <span class="mt-2 px-3 py-2 mr-3" style="border: 1px solid #e5e4e2; background: #f5f5f5; border-radius: 18px; color: dark;">Cash in Hand: <span><%= @account_amount_total.to_i %></span>
          <div class="dropdown-content my-nav-dropdown-content p-3 border-radius-1 mt-3">
            <%@account_balance.each do |account|%>
              <i class="fas fa-check" aria-hidden="true"></i>
              <%=account&.first%> <%=account&.last%><br>
            <%end%>
          </div>
        </div>
      </span>
    </div>
  </div>
  <div class="d-flex">
    <div class="d-none d-lg-block mb-2">
      <span>
        <div class="dropdown my-nav-dropdown">
          <span class="mt-2 px-3 py-2 mr-3" style="border: 1px solid #e5e4e2; background: #f5f5f5; border-radius: 18px; color: dark;">Account Balance: <span><%= @total_cash %></span>
        </div>
      </span>
    </div>
  </div>
  <div class="d-flex mx-auto">
    <div class="d-none d-block d-lg-none col mr-auto mb-2 mt-2">
      <span>
        <div class="dropdown my-nav-dropdown">
          <button type="button" class="p-3 card d-flex" style="width: 350px; background-color: #f2f2f7; color: black;"><span class="d-flex mx-auto"><span class="mr-2"><i class="fas fa-hand-holding-usd fa-1x mr-2" aria-hidden="true"></i>Cash in Hand:</span><b><%=@account_amount_total.to_i%></b></span></button>
          <div class="dropdown-content my-nav-dropdown-content p-3 border-radius-1">
              <% if ((check_expiry_date(@pos_setting).to_date -  DateTime.now.to_date).to_i) <= 30 %>
                <span class="text-danger">Hosting Expiry Date<%= check_expiry_date(@pos_setting) %></span>
              <% end %>
              <span>Account Balance:<%= @total_cash %></span><br>
              <%@account_balance.each do |account|%>
                  <i class="fas fa-check" aria-hidden="true"></i>
                    <%=account&.first%> <%=account&.last%><br>
              <%end%>
          </div>
        </div>
      </span>
    </div>
  </div>
  <div class="d-flex ml-auto mt-1">
    <% if ((check_expiry_date(@pos_setting).to_date -  DateTime.now.to_date).to_i) <= 30 %>
      <div class="d-none d-lg-block ml-auto mb-2 mr-2" style="cursor: pointer;">
        <span class="text-danger mt-2 px-3 py-2 mr-3" style="border: 1px solid #e5e4e2; background: #f5f5f5; border-radius: 18px; color: dark;"><i class="fa fa-hourglass-end mr-2"></i>Hosting Expiry Date <span><%= check_expiry_date(@pos_setting) %></span>
      </div>
    <% end %>
    <span class="mt-3 mr-4">
      <%= link_to edit_pos_setting_path(@pos_setting) do %>
        <i class="fa fa-cog text-secondary mr-2" style="width: 23px; height: 24px; margin-top: 1px;"></i>
      <% end %>
    </span>  
    <% if check_is_hidden_by_module('crms')%>
      <div onclick="openNav()" style="cursor: pointer;" class="">
        <% if @follow_up_unread_count&.positive? %>
          <span class = "notification-dot my_blinker mt-2 ml-3" ></span>
        <% end %>
        <span class="mt-3 mr-3"> 
        <%= image_tag("bell_icon.png", height: '25', width: '20', title:'Follow Up', class:'')%>
        </span>
      </div>
    <% end %>
    <div class="ml-auto mb-2 mt-1 mr-2">
      <span>
        <div class="profile-dropdown">
          <button type="button" class="profile-btn p-2 d-flex" style="width: 80px; background-color: #f2f2f7; color: black;"> 
            <span class="d-flex mx-auto">
              <%= image_tag("profile_icon.png", height: '35', width: '35')%>
            </span>
          </button>
          <div class="profile-dropdown-content border-radius-1 p-3 1 mr-5">
              <div class="row">
                <div class="col-sm-1 mr-4">
                  <div class="mx-auto"><%= image_tag("profile_icon.png", height: '50', width: '50')%></div>
                </div>
                <div class="col">
                  <span style="font-size: 1.25em; font-family: sans-serif; color: rgb(54, 54, 54);"><b><%= current_user.name %></b></span>
                  <span class="text-muted"><%= current_user.email %></span>
                </div>
              </div>
              <hr>
              <% if check_is_hidden_by_module('pos_settings') %>
                <%= link_to user_path(current_user.id), class:'p-2' do %>
                  <div class="profile-section-hover p-1">
                    <i class="fa fa-eye profile-section-links mr-2"></i>
                    <span class="link-text profile-section-links">View Profile</span>
                  </div> 
                <% end %>
              <% end %>
              <% if check_is_hidden_by_module('pos_settings') %>
                <%= link_to edit_user_path(current_user.id), class:'p-2' do %>
                  <div class="profile-section-hover p-1">
                    <i class="fa fa-edit profile-section-links mr-2"></i>
                    <span class="link-text profile-section-links">Edit Profile</span>
                  </div>
                <% end %>
              <% end %>
              <%= link_to helps_path, class:'p-2' do %>
                <div class="profile-section-hover p-1">
                  <i class="fa fa-question-circle profile-section-links mr-2"></i>
                  <span class="link-text profile-section-links">Help</span>
                </div> 
              <% end %>
              <hr>
              <%= link_to destroy_user_session_path, method: :delete, class:'p-2' do %>
                <div class="profile-section-hover p-1">
                  <i class="fas fa-sign-out-alt profile-section-logout mr-2"></i>
                  <span class="link-text profile-section-logout">Log out</span>
                </div>
              <% end %>
          </div>
        </div>
      </span>
    </div>
  </div>
</nav>

<div id="mySidenav_sc" class="sidenav shadow-lg border-radius-1">
  <div class="row m-3">
    <div class="col">
      <h3 class="float-left mt-2">Follow Up</h3>
    </div>
    <div class="col">
      <button class="form-control border-radius-1 bg-danger text-light closebtn sideclose float-right mt-2" style="width: 100px;" onclick="closeNav()">Close</button>
    </div>
  </div>  
  <div class="clearfix"></div>
  <ul class="nav navbar nav-pills follow-nav text-decoration-none bg-info" role="tablist">
   <li class="nav-item">
      <a class="nav-link tab-label active" data-toggle="tab" href="#all" data-remote="true" role="tab">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tab-label" data-toggle="tab" href="#unread" role="tab">Unread</a>
    </li>
    <button class='follow_ups_unread_ids d-none', value="<%= @follow_up_unread&.pluck(:id) %>"></button>
    <div class="icon-container-1 ml-auto">
      <div class="my-icon-1 my-view-1">
        <div class="my-tooltip-1">
          <div class="icon-container">
            <div class="my-icon my-view">
              <div class="my-tooltip">
                Read All
              </div>
              <div class= "icon-div text-info read-all-button">
                <i class="fa fa-envelope-open mt-2" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <span class="icon-div-1 text-dark">
          <i class="fa fa-ellipsis-v mt-2" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </ul>
  <div class="tab-content mb-3" >
    <div class="tab-pane active" style="outline: none !important; border: none;" id="all" role="tabpanel">
      <% @follow_up_all&.each do |follow_up|%>
        <%= link_to read_follow_up_path(follow_up_id: follow_up.id) do %>
          <div class="text-decoration-none text-left pl-2 py-3 d-flex border-bottom <%= follow_up.is_read? ? '' : 'bg-unread-color'%>">
            <div class='col-3 mt-2'>
              <span class="badge badge-info p-2 mb-2"><%= follow_up&.reminder_type %></span><br>
              <span class="badge badge-danger p-2 mb-2"><%= follow_up.priority %></span><br>
              <span class="badge badge-primary p-2"><%= follow_up.task_type %></span>
            </div>
            <div class='col-5'>
              <span class="h6"><%= follow_up&.followable.name if follow_up.followable_type == 'SysUser' %></span><br>
              <%= follow_up.comment %><br>
              <span><%= follow_up.date.strftime('%d/%m/%Y %H:%M %p')%></span>
        <% end %>
              
            </div>
            <div class= 'col-4'>
                <%= check_box_tag 'object_id', follow_up.id, false, class: 'testclass mx-2 follow-check-input ml-auto', checked: follow_up.is_complete %>
                <br>
                <%= label_tag nil, 'Is Completed ', class:"font-bold ml-auto" %>
              </div>
          </div>
      <% end %>
    </div>
    <div class="tab-pane" style="outline: none !important; border: none;" id="unread" role="tabpanel">
      <% @follow_up_unread&.each do |follow_up|%>
        <%= link_to read_follow_up_path(follow_up_id: follow_up.id) do %>
          <div class="text-decoration-none text-left pl-2 py-3 d-flex border-bottom bg-unread-color unread-data-container">
            <div class='col-3 mt-2'>
              <span class="badge badge-info p-2 mb-2"><%= follow_up.reminder_type %></span><br>
              <span class="badge badge-danger p-2 mb-2"><%= follow_up.priority %></span><br>
              <span class="badge badge-primary p-2"><%= follow_up.task_type %></span>
            </div>
            <div class='col-5'>
              <span class="h6"><%= follow_up&.followable&.name if follow_up.followable_type == 'SysUser' %></span><br>
              <%= follow_up.comment %><br>
              <span><%= follow_up.date.strftime('%d/%m/%Y %H:%M %p')%></span>
        <% end %>
            
            </div>
              <div class= 'col-4 float-right'>
                <%= check_box_tag 'object_id', follow_up.id, false, class: 'testclass mx-2 follow-check-input float-right', checked: follow_up.is_complete %>
                <br>
                <%= label_tag nil, 'Is Completed ', class:"font-bold float-right" %>
              </div>
          </div>
      <% end %>
      <% unless @follow_up_unread.present? %>
        <h4 class='text-danger mt-3 ml-2'><i class="fa fa-exclamation-circle mr-1" aria-hidden="true"></i>No unread follow ups exists.</h4>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(".read-all-button").click(function(){
    var ids = $('.follow_ups_unread_ids').val();
    var elements = $('.bg-unread-color')
    var unread_elems = $('.unread-data-container')
    $.ajax({
      type: "post",
      url: `/read_all`,
      data: {'ids': ids },
      success: function (result) {
        elements.removeClass('bg-unread-color')
        unread_elems.removeClass('d-flex').addClass('d-none')
        $('.my_blinker').addClass('d-none')
      },
      error: function (error){
        console.error(error)
      }
    });
  })
  function openNav() {
      document.getElementById("mySidenav_sc").style.width = "500px";
    }
  function closeNav() {
    document.getElementById("mySidenav_sc").style.width = "0";
  }

  $(document).ready(function(){
    $('.testclass').on('change', function(){
      var id = $(this).val();
      $.ajax({
        type: "post",
        url: `/is_completed`,
        data: {'id': id },
        success: function (result) {
        },
        error: function (error){
          console.error(error)
        }
      });
    })
  })

</script>

