<nav id="sidebar" class="col-2 p-0">
  <% if can?(:view, :sys_user) %>
  <input type="text" id="search-bar" class="form-control mt-2 bg-dark text-light" style="border-radius: 20px" placeholder="Search">
    <ul class="list-unstyled components" id="mylist">
        <li class="active activ-link">
          <%= link_to dashboard_path do %>
            <i class="fa fa-desktop" aria-hidden="true"></i>
            <span class="link-text">Dashboard</span>
          <% end %>
        </li>
        <% if check_is_hidden_by_module('crms') %>
          <li class="activ-link">
            <a href="<%=crms_path%>", class="activ-link">
              <i class="fas fa-user-plus"></i>
              <span class="link-text">CRM</span>
            </a>
          </li>
        <% end %>  
        <% if check_is_hidden_by_module('orders') %>
          <li class="activ-link">
            <a href="<%=orders_path(sale: true)%>", class="activ-link">
              <i class="fas fa fa-cart-arrow-down"></i>
              <span class="link-text">Order</span>
            </a>
          </li>
        <% end %>  
        <li>
          <a href="#SaleSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fas fa fa-percent"></i>
            <span class="link-text">Sale</span>
          </a>
          <ul class="collapse list-unstyled" id="SaleSubmenu">
            <% if check_is_hidden_by_module('purchase_sale_details') %>
              <li>
                <%= link_to new_purchase_sale_detail_path(transaction_type: :sale,product: true) do %>
                  <i class="fas fa-plus"></i>
                  <span class="link-text">Add Invoice</span>
                <% end %>
              </li>
              <li>
                <%= link_to purchase_sale_details_path(sale: true) do %>
                  <i class="fas fa-th-list"></i>
                  <span class="link-text">List of Sale</span>
                <% end %>
              </li>
            <% end %>
            <% if check_is_hidden_by_module('purchase_sale_details') %>
              <li>
                <%= link_to daily_sales_path do %>
                  <i class="fas fa-plus"></i>
                  <i class="fas fa-th-list"></i>
                  <span class="link-text">Daily Day Out</span>
                <% end %>
              </li>
            <% end %>  
            <% if check_is_hidden_by_module('purchase_sale_details') %>
              <li>
                <%= link_to purchase_sale_details_return_purchase_sale_details_path(return: true) do %>
                  <i class="fas fa-plus"></i>
                  <i class="fas fa-th-list"></i>
                  <span class="link-text">SaleReturn</span>
                <% end %>
              </li>
            <% end %>  
          </ul>
        </li>
        <% if check_is_hidden_by_module('purchase_sale_details') %>
          <li class="activ-link">
            <%= link_to purchase_sale_details_path, class:"activ-link" do %>
              <i class="fas fa-plus"></i>
              <i class="fas fa-shopping-cart"></i>
              <span class="link-text">Purchase</span>
            <% end %>
          </li>
        <% end %>
        <li>
          <a href="#OrderSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fas fa-money-bill"></i>
            <span class="link-text">Expense</span>
          </a>
          <ul class="collapse list-unstyled" id="OrderSubmenu">
            <% if check_is_hidden_by_module('expense_vouchers') %>
              <li class="activ-link">
                <%= link_to expense_vouchers_path, class:"activ-link" do %>
                  <i class="fas fa-money-bill"></i>
                  <span class="link-text">Expense Voucher</span>
                <% end %>
              </li>
            <% end %>
            <% if check_is_hidden_by_module('expenses') %>
              <li class="activ-link">
                <%= link_to expenses_path, class:"activ-link" do %>
                  <i class="fas fa-money-bill"></i>
                  <span class="link-text">Expense Bill</span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
        <% if check_is_hidden_by_module('ledger_books') %>
          <li class="activ-link">
            <%= link_to ledger_books_path, class:"activ-link" do %>
              <i class="fas fa-book"></i>
              <span class="link-text">Ledger Book</span>
            <% end %>
          </li>
        <% end %>
        <% if check_is_hidden_by_module('payments') %>  
          <li class="activ-link">
            <%= link_to payments_path, class:"activ-link" do %>
              <i class="fas fa-th-list"></i>
              <span class="link-text">Day Book</span>
            <% end %>
          </li>
        <% end %>
        <% if check_is_hidden_by_module('accounts') %>  
          <li class="activ-link">
            <%= link_to accounts_path, class:"activ-link" do %>
              <i class="fas fa-book"></i>
              <span class="link-text">Account</span>
            <% end %>
          </li>
        <% end %>  
        <% if can?(:view, :sys_user) %>
          <li>
            <a  href="#UserSubMenu"  data-toggle="collapse", aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-user-plus"></i>
              <span class="link-text">User</span>
            </a>
            <ul class="collapse list-unstyled" id="UserSubMenu">
              <% if check_is_hidden_by_module('ledger_books') %>
                <li>
                  <%= link_to ledger_books_path do %>
                    <i class="fas fa-book"></i>
                    <span class="link-text">Ledger Book</span>
                  <% end %>
                </li>
              <% end %>
              <% if check_is_hidden_by_module('sys_users') %>  
                <li>
                  <%= link_to sys_users_path do %>
                    <i class="fas fa-plus"></i>
                    <span class="link-text">All Users</span>
                  <% end %>
                </li>
                <li>
                  <% SysUser.user_groups.each do |value, index|%>
                    <%= link_to sys_users_path('q[user_group_eq]': index) do %>
                      <i class="fas fa-plus"></i>
                      <span class="link-text"><%= value%></span>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
        <li>
          <a href="#labourSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fas fa fa-user-circle"></i>
            <span class="link-text">Staff</span>
          </a>
          <ul class="collapse list-unstyled" id="labourSubmenu">
            <% if check_is_hidden_by_module('staff_ledger_books') %>
              <li>
                <a href="<%=staff_ledger_books_path%>">
                  <i class="fa fa-address-book"></i>
                  <span class="link-text">Staff Ledger Book</span>
                </a>
              </li>
            <% end %>
            <% if check_is_hidden_by_module('staffs') %>  
              <li>
                <a href="<%=staffs_path%>">
                  <i class="fa fa-address-book"></i>
                  <span class="link-text">Labour list</span>
                </a>
              </li>
            <% end %>
            <% if check_is_hidden_by_module('salaries') %>  
              <li>
                <a href="<%=salaries_path%>">
                  <i class="fa fa-envelope-open"></i>
                  <span class="link-text">Salary Debit detail</span>
                </a>
              </li>
            <% end %>
            <% if check_is_hidden_by_module('salary_details') %>  
              <li>
                <a href="<%=salary_details_path%>">
                  <i class="fa fa-envelope-open"></i>
                  <span class="link-text">Salary Credit detail</span>
                </a>
              </li>
            <% end %>  
          </ul>
        </li>
        <% if check_is_hidden_by_module('reports') %>
          <li>
            <a href="#ReportsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa fa-print"></i>
              <span class="link-text">Reports</span>
            </a>
            <ul class="collapse list-unstyled" id="ReportsSubmenu">
              <li>
                <%= link_to reports_path do %>
                  <i class="fas fa-plus"></i>
                  <span class="link-text">Total Staff/Customer/Supplier</span>
                <% end %>
              </li>
              <li>
                <%= link_to reports_chart_path do %>
                  <i class="fas fa-th-list"></i>
                  <span class="link-text">Chart/Graph</span>
                <% end %>
              </li>
              <li>
                <%= link_to reports_trial_balance_path do %>
                  <i class="fas fa-th-list"></i>
                  <span class="link-text">Trial Balance</span>
                <% end %>
              </li>
              <li>
                <%= link_to reports_chart_of_account_path do %>
                  <i class="fas fa-th-list"></i>
                  <span class="link-text">Chart of Account</span>
                <% end %>
              </li>
              <li>
                <%= link_to reports_sale_report_path do %>
                  <i class="fas fa-th-list"></i>
                  <span class="link-text">Sale Report</span>
                <% end %>
              </li>
              <li>
                <%= link_to reports_product_report_path do %>
                  <i class="fas fa-th-list"></i>
                  <span class="link-text">Profit Report</span>
                <% end %>
              </li>
              <li>
                <%= link_to reports_stock_report_path do %>
                  <i class="fas fa-th-list"></i>
                  <span class="link-text">Sale/Purchase/Stock</span>
                <% end %>
              </li>
              <li>
                <%= link_to dashboard_path do %>
                  <i class="fas fa-th-list"></i>
                  <span class="link-text">Stock Statment</span>
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>  
        <% if check_is_hidden_by_module('products') %>
          <% if can?(:view, :product) %>
            <li class="activ-link">
              <%= link_to products_path, class:"activ-link" do %>
                <i class="fa fa-cart-arrow-down"></i>
                <span class="link-text">Products</span>
              <% end %>
            </li>
          <% end %>
        <% end %>  
        <% if check_is_hidden_by_module('product_warranties') %>
          <% if can?(:view, :warranty) %>
            <li class="activ-link">
              <%= link_to product_warranties_path, class:"activ-link" do %>
                <i class="fa fa-cart-arrow-down"></i>
                <span class="link-text">warranties</span>
              <% end %>
            </li>
          <% end %>
        <% end %>  
        <% if check_is_hidden_by_module('product_stocks') %>
          <li class="activ-link">
            <a href="<%=product_stocks_path%>", class="activ-link">
              <i class="fa fa-shopping-cart"></i>
              <span class="link-text">Stock Detail</span>
            </a>
          </li>
        <% end %>
        <% if check_is_hidden_by_module('investments') %>  
          <li class="activ-link">
            <%= link_to investments_path, class:"activ-link" do %>
              <i class="fas fa-tasks"></i>
              <span class="link-text">Investment</span>
            <% end %>
          </li>
        <% end %>
        <% if check_is_hidden_by_module('loans') %>  
          <li class="activ-link">
            <%= link_to loans_path, class:"activ-link" do %>
              <i class="fas fa-tasks"></i>
              <span class="link-text">Loan</span>
            <% end %>
          </li>
        <% end %>
        <% if check_is_hidden_by_module('items') %>  
          <li class="activ-link">
            <%= link_to items_path, class:"activ-link" do %>
              <i class="fa fa-cart-arrow-down"></i>
              <span class="link-text">  Raw Material</span>
            <% end %>
          </li>
        <% end %>  
        <% if check_is_hidden_by_module('productions') %>  
          <li class="activ-link">
            <%= link_to productions_path, class:"activ-link" do %>
              <i class="fa fa-cart-arrow-down"></i>
              <span class="link-text">  Production</span>
            <% end %>
          </li>
        <% end %>  

        <% if can?(:view, :all) %>
          <li>
              <a href="#SystemSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fas fa-tasks"></i>
                  <span class="link-text">System Settings</span>
              </a>
              <ul class="collapse list-unstyled" id="SystemSubmenu">
                <% if check_is_hidden_by_module('pos_settings') %>
                  <li>
                    <%= link_to edit_pos_setting_path(@pos_setting) do %>
                      <i class="fas fa-tasks" aria-hidden="true"></i>
                      <span class="link-text">  General Setting</span>
                    <% end %>
                  </li>
                <% end %> 
                <% if check_is_hidden_by_module('product_categories') %> 
                  <li>
                      <%= link_to product_categories_path do %>
                          <i class="fas fa-plus"></i>
                          <i class="fas fa-th-list"></i>
                          <span class="link-text">Product Category</span>
                      <% end %>
                  </li>
                <% end %>
                <% if check_is_hidden_by_module('product_sub_categories') %>   
                  <li>
                      <%= link_to product_sub_categories_path do %>
                          <i class="fas fa-plus"></i>
                          <i class="fas fa-th-list"></i>
                          <span class="link-text">Product Sub Category</span>
                      <% end %>
                  </li>
                <% end %>  
                <% if check_is_hidden_by_module('countries') %> 
                  <li>
                      <%= link_to countries_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">  Country</span>
                      <% end %>
                  </li>
                <% end %>
                <% if check_is_hidden_by_module('departments') %>   
                  <li>
                      <%= link_to departments_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">  Department</span>
                      <% end %>
                  </li>
                <% end %>  
                <% if check_is_hidden_by_module('cities') %> 
                  <li>
                      <%= link_to cities_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">  City</span>
                      <% end %>
                  </li>
                <% end %>  
                <% if check_is_hidden_by_module('item_types') %> 
                  <li>
                    <%= link_to item_types_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Line Item Type</span>
                    <% end %>
                  </li>
                <% end %>  
                <% if check_is_hidden_by_module('user_types') %> 
                  <li>
                      <%= link_to user_types_path do %>
                          <i class="fas fa-plus"></i>
                          <i class="fas fa-th-list"></i>
                          <span class="link-text">User Types</span>
                      <% end %>
                  </li>
                <% end %>  
                <% if check_is_hidden_by_module('expense_types') %> 
                  <li>
                      <%= link_to expense_types_path do %>
                          <i class="fas fa-plus"></i>
                          <i class="fas fa-th-list"></i>
                          <span class="link-text">Expense Type</span>
                      <% end %>
                  </li>
                <% end %> 
                <% if check_is_hidden_by_module('production_block_types') %>  
                  <li>
                      <%= link_to production_block_types_path do %>
                          <i class="fas fa-plus"></i>
                          <i class="fas fa-th-list"></i>
                          <span class="link-text">Production Block Types</span>
                      <% end %>
                  </li>
                <% end %>
                <% if check_is_hidden_by_module('users') %>  
                  <% if can?(:delete, :all) %>
                    <li>
                      <%= link_to users_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">  System Operators</span>
                      <% end %>
                    </li>
                  <%else%>
                    <li>
                      <%= link_to edit_user_path(current_user) do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">  Profile</span>
                      <% end %>
                    </li>
                  <% end %>
                <% end %>  
                <% if check_is_hidden_by_module('user_groups') %>
                  <li>
                    <%= link_to user_groups_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">User Groups</span>
                    <% end %>
                  </li>
                <% end %>  
              </ul>
          </li>
        <%end%>
        <% if can?(:delete, :all) %>
          <li class="activ-link">
            <%= link_to bd_backups_path, class:"activ-link" do %>
                <i class="fas fa-question"></i>
                <span class="link-text">Import/Export</span>
            <% end %>
          </li>
        <%end%>
        <% if check_is_hidden_by_module('helps') %>  
          <li class="activ-link">
            <%= link_to helps_path, class:"activ-link" do %>
              <i class="fas fa-question"></i>
              <span class="link-text">Help</span>
            <% end %>
          </li>
        <% end %>
        <% if check_is_hidden_by_module('contacts') %>    
          <li class="activ-link">
            <a href="#">
              <i class="fas fa-paper-plane"></i>
              <span class="link-text">Contact</span>
            </a>
          </li>
        <% end %>  
    </ul>
  <%else%>
    <ul class="list-unstyled components">
      <li class="active activ-link">
        <%= link_to dashboard_path do %>
          <i class="fas fa-tasks" aria-hidden="true"></i>
          <span class="link-text">Dashboard</span>
        <% end %>
      </li>
      <li>
        <a  href="#UserSubMenu"  data-toggle="collapse", aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-user-plus"></i>
          <span class="link-text">User</span>
        </a>
        <ul class="collapse list-unstyled" id="UserSubMenu">
        <% if check_is_hidden_by_module('sys_users/customer') %>
          <li>
            <%= link_to customer_sys_users_path do %>
              <i class="fas fa-plus"></i>
              <span class="link-text">Customer</span>
            <% end %>
          </li>
        <% end %>  
        </ul>
      </li>
      <% if check_is_hidden_by_module('users') %>
        <li>
          <%= link_to edit_user_path(current_user) do %>
            <i class="fas fa-plus"></i>
            <i class="fas fa-th-list"></i>
            <span class="link-text">  Profile</span>
          <% end %>
        </li>
      <% end %>  
    </ul>
  <%end%>
</nav>
<script>
    $('#search-bar').keyup(function(){
        var value = $(this).val().toLowerCase();
        $('#mylist li').each(function(){
            var search = $(this).text().toLowerCase();
            if(search.indexOf(value)>-1){
                $(this).show();
            }
            else{
                $(this).hide();
            }
        });
    });
</script>
<script>
    $(document).ready(function(){
        $('#mylist .activ-link ').filter(function(){return this.href==location.href}).parent().addClass('active').siblings().removeClass('active')
        $('#mylist .activ-link ').click(function(){
            $(this).parent().addClass('active').siblings().removeClass('active')    
        })
    });
</script>