<nav id="sidebar" class="col-2 p-0">
    <ul class="list-unstyled components">
        <li class="active">
          <%= link_to dashboard_path do %>
              <i class="fas fa-tasks" aria-hidden="true"></i>
              <span class="link-text">Dashboard</span>
          <% end %>
        </li>
        <li>
          <a href="<%=crms_path%>">
            <i class="fas fa-user-plus"></i>
            <span class="link-text">CRM</span>
          </a>
        </li>

        <!-- only Developer can start-->
        <li>
            <a href="#SaleSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa fa-barcode"></i>
                <span class="link-text">Sale</span>
            </a>
            <ul class="collapse list-unstyled" id="SaleSubmenu">
                <li>
                    <%= link_to new_purchase_sale_detail_path(transaction_type: :sale,product: true) do %>
                        <i class="fas fa-plus"></i>
                        <span class="link-text">Add Invoice</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to purchase_sale_details_path(sale: true) do %>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">List of Sale</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to daily_sales_path do %>
                        <i class="fas fa-plus"></i>
                        <span class="link-text"><i class="fas fa-th-list"></i>
                        <span class="link-text">Daily Day Out</span>
                    <% end %>
                </li>
            </ul>
        </li>

        <% if can?(:view, :purchase_sale_detail) %>
          <li>
              <a href="#InventorySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fa fa-cart-arrow-down"></i>
                  <span class="link-text">
                    <%if current_user.superAdmin.company_type=="batamega"%>
                        Receiving/Stock
                    <%else%>
                        Purchase/Stock
                    <%end%>
                  </span>
              </a>
              <ul class="collapse list-unstyled" id="InventorySubmenu">
                <li>
                    <%= link_to purchase_sale_details_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">
                          <%if current_user.superAdmin.company_type=="batamega"%>
                            Receiving
                          <%else%>
                            Purchase
                          <%end%>
                        </span>
                    <% end %>
                </li>
                <li>
                    <%= link_to dashboard_path do %>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Stock Statment</span>
                    <% end %>
                </li>
              </ul>
          </li>
        <% end %>
        <li>
            <a href="#ExpenseSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-tasks"></i>
                <span class="link-text">Expense</span>
            </a>
            <ul class="collapse list-unstyled" id="ExpenseSubmenu">
                <li>
                  <a href="#ExpenseTypeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                      <i class="fas fa-tasks"></i>
                      <span class="link-text">Expense Types</span>
                  </a>
                  <ul class="collapse list-unstyled" id="ExpenseTypeSubmenu">
                      <li>
                          <%= link_to expense_types_path do %>
                              ---> <i class="fas fa-plus"></i>
                                   <i class="fas fa-th-list"></i>
                                   <span class="link-text">Add/List EXPTYPE</span>
                          <% end %>
                      </li>
                  </ul>
                </li>
                <li>
                    <%= link_to expenses_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Add/List EXP</span>
                    <% end %>
                </li>
            </ul>
        </li>
        <li>
            <a href="#SalariesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fa fa-user-circle"></i>
              <i class="fa fa-id-card"></i>
              <span class="link-text">Staff Salaries</span>
            </a>
            <ul class="collapse list-unstyled" id="SalariesSubmenu">
                <li>
                    <%= link_to salaries_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Add/List</span>
                    <% end %>
                </li>
            </ul>
        </li>
        <li>
            <a href="#SalariesBookSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fa fa-user-circle"></i>
              <i class="fa fa-id-card"></i>
              <span class="link-text">Salary Book</span>
            </a>
            <ul class="collapse list-unstyled" id="SalariesBookSubmenu">
                <li>
                    <%= link_to salary_details_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Add/List</span>
                    <% end %>
                </li>
            </ul>
        </li>
        <li>
            <a href="#LedgerSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-book"></i>
                <span class="link-text">Ledger Book</span>
            </a>
            <ul class="collapse list-unstyled" id="LedgerSubmenu">
                <li>
                    <%= link_to ledger_books_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Add/List</span>
                    <% end %>
                </li>
                <li>
                    <% SysUser.user_groups.each do |value, index|%>
                        <%= link_to sys_users_path('q[user_group_eq]': index) do %>
                            <i class="fas fa-plus"></i>
                            <span class="link-text"><%= value%></span>
                        <% end %>
                    <% end %>
                </li>
            </ul>
        </li>
        <li>
            <a href="#ReportsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa fa-print"></i>
                <span class="link-text">Reports</span>
            </a>
            <ul class="collapse list-unstyled" id="ReportsSubmenu">
                <li>
                    <%= link_to reports_path do %>
                        <i class="fas fa-plus"></i>
                        <span class="link-text">Total Staff/Customer/Supplier</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to reports_chart_path do %>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Chart/Graph</span>
                    <% end %>
                </li>
            </ul>
        </li>
        <%if current_user.superAdmin.company_type!="batamega"%>
          <li>
              <a href="#RawMaterialSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fa fa-cart-arrow-down"></i>
                  <span class="link-text">Raw Material</span>
              </a>
              <ul class="collapse list-unstyled" id="RawMaterialSubmenu">
                  <li>
                      <%= link_to item_types_path do %>
                          <i class="fas fa-plus"></i>
                          <i class="fas fa-th-list"></i>
                          <span class="link-text">Line Item Type</span>
                      <% end %>
                  </li>
                  <li>
                      <%= link_to items_path do %>
                          <i class="fas fa-plus"></i>
                          <i class="fas fa-th-list"></i>
                          <span class="link-text">Line Item</span>
                      <% end %>
                  </li>
              </ul>
          </li>
        <%end%>
        <% if can?(:view, :product) %>
          <li>
              <a href="#ProductSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fa fa-cart-arrow-down"></i>
                  <span class="link-text">Product</span>
              </a>
              <ul class="collapse list-unstyled" id="ProductSubmenu">
                <li>
                    <%= link_to product_categories_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Product Category</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to product_sub_categories_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Product Sub Category</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to products_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Products</span>
                    <% end %>
                </li>
              </ul>
          </li>
        <% end %>
        <%if current_user.superAdmin.company_type!="batamega"%>
        <li>
            <a href="#ProductionSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-cart-arrow-down"></i>
                <span class="link-text">Production</span>
            </a>
            <ul class="collapse list-unstyled" id="ProductionSubmenu">
              <li>
                  <%= link_to productions_path do %>
                      <i class="fas fa-plus"></i>
                      <i class="fas fa-th-list"></i>
                      <span class="link-text">Add/List</span>
                  <% end %>
              </li>
            </ul>
        </li>
        <%end%>


        <% if can?(:add, User) %>
          <li>
              <a href="#UsersSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fas fa-user-plus"></i>
                  <span class="link-text">User's</span>
              </a>
              <ul class="collapse list-unstyled" id="UsersSubmenu">
                  <li>
                      <%= link_to user_types_path do %>
                          <i class="fas fa-plus"></i>
                          <i class="fas fa-th-list"></i>
                          <span class="link-text">User Types</span>
                      <% end %>
                  </li>
                  <li>
                      <%= link_to sys_users_path do %>
                          <i class="fas fa-plus"></i>
                          <i class="fas fa-th-list"></i>
                          <span class="link-text">User Add/List
                      <% end %>
                  </li>
              </ul>
          </li>
        <% end %>
        <li>
            <a href="#adminSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-user-circle"></i>
                <span class="link-text"><%= "Staff" %></span>
            </a>
            <ul class="collapse list-unstyled" id="adminSubmenu">
                <li>
                    <%= link_to staffs_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Add/List</span>
                    <% end %>
                </li>
            </ul>
        </li>
        <li>
            <a href="#SystemSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-tasks"></i>
                <span class="link-text">System Settings</span>
            </a>
            <ul class="collapse list-unstyled" id="SystemSubmenu">
                <li>
                  <%= link_to pos_settings_path do %>
                    <i class="fas fa-tasks" aria-hidden="true"></i>
                    <span class="link-text">General Setting</span>
                  <% end %>
                </li>
                <li>
                    <%= link_to countries_path do %>
                      <i class="fas fa-plus"></i>
                      <i class="fas fa-th-list"></i>
                      <span class="link-text">Country</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to cities_path do %>
                      <i class="fas fa-plus"></i>
                      <i class="fas fa-th-list"></i>
                      <span class="link-text">City</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to user_groups_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">User Groups</span>
                    <% end %>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-paper-plane"></i>
                <span class="link-text">Contact</span>
            </a>
        </li>
    </ul>

</nav>
