<nav id="sidebar">
    <div class="sidebar-header">
        <h3><%= admin_name_on_nav %></h3>
        <strong><%= admin_name_on_nav %></strong>
    </div>
    <% if can?(:view, :sys_user) %>
    <ul class="list-unstyled components">
        <li class="active">
          <%= link_to dashboard_path do %>
              <i class="fas fa-tasks" aria-hidden="true"></i>
              Dashboard
          <% end %>
        </li>
        <li>
            <a href="#SaleSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa fa-barcode"></i>
                Sale Deals
            </a>
            <ul class="collapse list-unstyled" id="SaleSubmenu">
              <li>
                <a href="<%=orders_path(sale: true)%>" aria-expanded="false" class="dropdown-toggle">
                  <i class="fa fa-shopping-cart"></i>
                  Booking
                </a>
              </li>
                <li>
                    <%= link_to purchase_sale_details_path(sale: true) do %>
                        <i class="fas fa-th-list"></i>
                        Depost List
                    <% end %>
                </li>
                <li>
                    <%= link_to daily_sales_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        Daily Day Out
                    <% end %>
                </li>
            </ul>
        </li>
        <li>
            <%= link_to expenses_path do %>
                <i class="fas fa-tasks"></i>
                Expense
            <% end %>
        </li>
        <li>
            <%= link_to payments_path do %>
                <i class="fas fa-plus"></i>
                <i class="fas fa-th-list"></i>
                Cash Book
            <% end %>
        </li>
        <li>
          <a  href="#UserSubMenu"  data-toggle="collapse", aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-user-plus"></i>
              User
          </a>
          <ul class="collapse list-unstyled" id="UserSubMenu">
            <li>
                <%= link_to ledger_books_path do %>
                    <i class="fas fa-book"></i>
                    Ledger Book
                <% end %>
            </li>
              <li>
                  <%= link_to sys_users_path do %>
                      <i class="fas fa-plus"></i>
                      All Users
                  <% end %>
              </li>
              <li>
                  <%= link_to customer_sys_users_path do %>
                      <i class="fas fa-plus"></i>
                      Customer
                  <% end %>
              </li>
              <li>
                  <%= link_to supplier_sys_users_path do %>
                      <i class="fas fa-plus"></i>
                      Supplier
                  <% end %>
              </li>
              <li>
                  <%= link_to own_sys_users_path do %>
                      <i class="fas fa-plus"></i>
                      own
                  <% end %>
              </li>
          </ul>
        </li>
        <li>
            <a href="<%= accounts_path%>" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-book"></i>
                Account
            </a>
        </li>

        <li>
            <a href="#ReportsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa fa-print"></i>
                Reports
            </a>
            <ul class="collapse list-unstyled" id="ReportsSubmenu">
                <li>
                    <%= link_to reports_path do %>
                        <i class="fas fa-plus"></i>
                        Total Staff/Customer/Supplier
                    <% end %>
                </li>
                <li>
                    <%= link_to reports_chart_path do %>
                        <i class="fas fa-th-list"></i>
                        Chart/Graph
                    <% end %>
                </li>
                <li>
                    <%= link_to reports_trial_balance_path do %>
                        <i class="fas fa-th-list"></i>
                        Trial Balance
                    <% end %>
                </li>
                <li>
                    <%= link_to reports_chart_of_account_path do %>
                        <i class="fas fa-th-list"></i>
                        Chart of Account
                    <% end %>
                </li>
                <li>
                    <%= link_to reports_sale_report_path do %>
                        <i class="fas fa-th-list"></i>
                        Sale Report
                    <% end %>
                </li>
                <li>
                    <%= link_to reports_product_report_path do %>
                        <i class="fas fa-th-list"></i>
                        Profit Report
                    <% end %>
                </li>
                <li>
                    <%= link_to reports_stock_report_path do %>
                        <i class="fas fa-th-list"></i>
                        Sale/Purchase/Stock
                    <% end %>
                </li>
                <li>
                    <%= link_to dashboard_path do %>
                        <i class="fas fa-th-list"></i>
                        Stock Statment
                    <% end %>
                </li>
            </ul>
        </li>

        <% if can?(:view, :product) %>
          <li>
              <%= link_to products_path do %>
                  <i class="fas fa-plus"></i>
                  <i class="fas fa-th-list"></i>
                  Unit
              <% end %>
          </li>
        <% end %>

        <li>
            <a href="#labourSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa fa-user-circle"></i>
                Staff/Dealer
            </a>
            <ul class="collapse list-unstyled" id="labourSubmenu">
              <li>
                <a href="<%=staff_ledger_books_path%>" aria-expanded="false" class="dropdown-toggle">
                  <i class="fa fa-address-book"></i>
                  Ledger Book
                </a>
              </li>
              <li>
                <a href="<%=staffs_path%>" aria-expanded="false" class="dropdown-toggle">
                  <i class="fa fa-address-book"></i>
                  List
                </a>
              </li>
              <li>
                  <a href="<%=salaries_path%>" aria-expanded="false" class="dropdown-toggle">
                    <i class="fa fa-envelope-open"></i>
                      Salary Debit detail
                  </a>
              </li>
              <li>
                  <a href="<%=salary_details_path%>" aria-expanded="false" class="dropdown-toggle">
                    <i class="fa fa-envelope-open"></i>
                      Salary Credit detail
                  </a>
              </li>
            </ul>
        </li>
        <li>
            <a href="<%=staff_deals_path%>" >
                <i class="fas fa fa-user-circle"></i>
                Dealer Deals
            </a>
        </li>
        <li>
          <%= link_to investments_path do %>
              <i class="fas fa-tasks"></i>
              Investment
          <%end%>
        </li>
        <% if can?(:view, :purchase_sale_detail) %>
          <li>
              <a href="#InventorySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fa fa-cart-arrow-down"></i>
                    Purchase Deals
              </a>
              <ul class="collapse list-unstyled" id="InventorySubmenu">
                <li>
                    <%= link_to purchase_sale_details_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                          Purchase
                    <% end %>
                </li>
                <li>
                    <%= link_to items_path do %>
                        <i class="fas fa-th-list"></i>
                        Purchase Items/Land
                    <% end %>
                </li>
              </ul>
          </li>
        <% end %>

        <% if can?(:view, :all) %>
        <li>

            <a href="#SystemSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-tasks"></i>
                System Settings
            </a>
            <ul class="collapse list-unstyled" id="SystemSubmenu">
              <% if can?(:delete, :all) %>
                <li>
                  <%= link_to pos_settings_path do %>
                    <i class="fas fa-tasks" aria-hidden="true"></i>
                      General Setting
                  <% end %>
                </li>
              <% end %>

                <li>
                    <%= link_to product_categories_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        Unit Category
                    <% end %>
                </li>
                <li>
                    <%= link_to product_sub_categories_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        Unit Sub Category
                    <% end %>
                </li>
                <li>
                    <%= link_to departments_path do %>
                      <i class="fas fa-plus"></i>
                      <i class="fas fa-th-list"></i>
                        Department
                    <% end %>
                </li>

                <li>
                    <%= link_to countries_path do %>
                      <i class="fas fa-plus"></i>
                      <i class="fas fa-th-list"></i>
                        Country
                    <% end %>
                </li>
                <li>
                    <%= link_to cities_path do %>
                      <i class="fas fa-plus"></i>
                      <i class="fas fa-th-list"></i>
                        City
                    <% end %>
                </li>
                <li>
                  <%= link_to item_types_path do %>
                      <i class="fas fa-plus"></i>
                      <i class="fas fa-th-list"></i>
                      Line Item Type
                  <% end %>
                </li>
                <li>
                    <%= link_to user_types_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        User Types
                    <% end %>
                </li>
                <li>
                    <%= link_to expense_types_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        Expense Type
                    <% end %>
                </li>
                <li>
                    <%= link_to property_plans_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        Property Plan
                    <% end %>
                </li>
                <% if can?(:delete, :all) %>
                  <li>
                    <%= link_to users_path do %>
                      <i class="fas fa-plus"></i>
                      <i class="fas fa-th-list"></i>
                        Users
                    <% end %>
                  </li>
                <%else%>
                  <li>
                    <%= link_to edit_user_path(current_user) do %>
                      <i class="fas fa-plus"></i>
                      <i class="fas fa-th-list"></i>
                        Profile
                    <% end %>
                  </li>
                <% end %>
            </ul>
        </li>
        <%end%>
        <li>
          <%= link_to helps_path do %>
              <i class="fas fa-question"></i>
              Help
          <% end %>
        </li>
        <% if can?(:delete, :all) %>
        <li>
          <%= link_to bd_backups_path do %>
              <i class="fas fa-question"></i>
              Import/Export
          <% end %>
        </li>
        <%end%>
        <li>
            <a href="#">
                <i class="fas fa-paper-plane"></i>
                Contact
            </a>
        </li>
    </ul>
    <%else%>
    <ul class="list-unstyled components">
        <li class="active">
          <%= link_to dashboard_path do %>
              <i class="fas fa-tasks" aria-hidden="true"></i>
              Booking
          <% end %>
        </li>
        <li>
          <a  href="#UserSubMenu"  data-toggle="collapse", aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-user-plus"></i>
              User
          </a>
          <ul class="collapse list-unstyled" id="UserSubMenu">
            <li>
                <%= link_to ledger_books_path do %>
                    <i class="fas fa-book"></i>
                    Ledger Book
                <% end %>
            </li>
              <li>
                  <%= link_to sys_users_path do %>
                      <i class="fas fa-plus"></i>
                      All Users
                  <% end %>
              </li>
              <li>
                  <%= link_to customer_sys_users_path do %>
                      <i class="fas fa-plus"></i>
                      Customer
                  <% end %>
              </li>
              <li>
                  <%= link_to supplier_sys_users_path do %>
                      <i class="fas fa-plus"></i>
                      Supplier
                  <% end %>
              </li>
              <li>
                  <%= link_to own_sys_users_path do %>
                      <i class="fas fa-plus"></i>
                      own
                  <% end %>
              </li>
          </ul>
        </li>
        <li>
            <a href="<%=staff_deals_path%>" >
                <i class="fas fa fa-user-circle"></i>
                Dealer Deals
            </a>
        </li>
        <li>
            <a href="<%=compaigns_path%>" >
                <i class="fas fa fa-user-circle"></i>
                Compaign
            </a>
        </li>
        <li>
          <%= link_to edit_user_path(current_user) do %>
            <i class="fas fa-plus"></i>
            <i class="fas fa-th-list"></i>
              Profile
          <% end %>
        </li>
      </ul>
    <% end %>
</nav>
