<nav id="sidebar" class="col-2 p-0">
    <% if can?(:view, :sys_user) %>
    <ul class="list-unstyled components">
        <li class="active">
          <%= link_to dashboard_path do %>
              <i class="fas fa-tasks" aria-hidden="true"></i>
              <span class="link-text">Dashboard</span>
          <% end %>
        </li>
        <li>
            <a href="#SaleSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa fa-barcode"></i>
                <span class="link-text">Sale Deals</span>
            </a>
            <ul class="collapse list-unstyled" id="SaleSubmenu">
              <li>
                <a href="<%=orders_path(sale: true)%>">
                  <i class="fa fa-shopping-cart"></i>
                  <span class="link-text">Booking</span>
                </a>
              </li>
                <li>
                    <%= link_to purchase_sale_details_path(sale: true) do %>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Depost List</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to daily_sales_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Daily Day Out</span>
                    <% end %>
                </li>
            </ul>
        </li>
        <li>
            <%= link_to expenses_path do %>
                <i class="fas fa-tasks"></i>
                <span class="link-text">Expense</span>
            <% end %>
        </li>
        <li>
            <%= link_to payments_path do %>
                <i class="fas fa-th-list"></i>
                <span class="link-text">Cash Book</span>
            <% end %>
        </li>
        <li>
          <a  href="#UserSubMenu"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-user-plus"></i>
              <span class="link-text">User</span>
          </a>
          <ul class="collapse list-unstyled" id="UserSubMenu">
            <li>
                <%= link_to ledger_books_path do %>
                    <i class="fas fa-book"></i>
                    <span class="link-text">Ledger Book</span>
                <% end %>
            </li>
              <li>
                  <%= link_to sys_users_path do %>
                      <i class="fas fa-plus"></i>
                      <span class="link-text">All Users</span>
                  <% end %>
              </li>
              <li>
                  <%= link_to customer_sys_users_path do %>
                      <i class="fas fa-plus"></i>
                      <span class="link-text">Customer</span>
                  <% end %>
              </li>
              <li>
                  <%= link_to supplier_sys_users_path do %>
                      <i class="fas fa-plus"></i>
                      <span class="link-text">Supplier</span>
                  <% end %>
              </li>
              <li>
                  <%= link_to own_sys_users_path do %>
                      <i class="fas fa-plus"></i>
                      <span class="link-text">own</span>
                  <% end %>
              </li>
          </ul>
        </li>
        <li>
            <a href="<%= accounts_path%>">
                <i class="fas fa-book"></i>
                <span class="link-text">Account</span>
            </a>
        </li>

        <li>
            <a href="#ReportsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa fa-print"></i>
                <span class="link-text">Reports</span>
            </a>
            <ul class="collapse list-unstyled" id="ReportsSubmenu">
                <li>
                    <%= link_to reports_path do %>
                        <i class="fas fa-plus"></i>
                        <span class="link-text">Total Staff/Customer/Supplier</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to reports_chart_path do %>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Chart/Graph</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to reports_trial_balance_path do %>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Trial Balance</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to reports_chart_of_account_path do %>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Chart of Account</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to reports_sale_report_path do %>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Sale Report</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to reports_product_report_path do %>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Profit Report</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to reports_stock_report_path do %>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Sale/Purchase/Stock</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to dashboard_path do %>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Stock Statment</span>
                    <% end %>
                </li>
            </ul>
        </li>

        <% if can?(:view, :product) %>
          <li>
              <%= link_to products_path do %>
                  <i class="fas fa-th-list"></i>
                  <span class="link-text">Unit</span>
              <% end %>
          </li>
        <% end %>

        <li>
            <a href="#labourSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa fa-user-circle"></i>
                <span class="link-text">Staff/Dealer</span>
            </a>
            <ul class="collapse list-unstyled" id="labourSubmenu">
              <li>
                <a href="<%=staff_ledger_books_path%>">
                  <i class="fa fa-address-book"></i>
                  <span class="link-text">Ledger Book</span>
                </a>
              </li>
              <li>
                <a href="<%=staffs_path%>">
                  <i class="fa fa-address-book"></i>
                  <span class="link-text">List</span>
                </a>
              </li>
              <li>
                  <a href="<%=salaries_path%>">
                    <i class="fa fa-envelope-open"></i>
                      <span class="link-text">Salary Debit detail</span>
                  </a>
              </li>
              <li>
                  <a href="<%=salary_details_path%>">
                    <i class="fa fa-envelope-open"></i>
                      <span class="link-text">Salary Credit detail</span>
                  </a>
              </li>
            </ul>
        </li>
        <li>
            <a href="<%=staff_deals_path%>" >
                <i class="fas fa fa-user-circle"></i>
                <span class="link-text">Dealer Deals</span>
            </a>
        </li>
        <li>
          <%= link_to investments_path do %>
              <i class="fas fa-tasks"></i>
              <span class="link-text">Investment</span>
          <%end%>
        </li>
        <% if can?(:view, :purchase_sale_detail) %>
          <li>
              <a href="#InventorySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fa fa-cart-arrow-down"></i>
                  <span class="link-text">Purchase Deals</span>
              </a>
              <ul class="collapse list-unstyled" id="InventorySubmenu">
                <li>
                    <%= link_to purchase_sale_details_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                          <span class="link-text">Purchase</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to items_path do %>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Purchase Items/Land</span>
                    <% end %>
                </li>
              </ul>
          </li>
        <% end %>

        <% if can?(:view, :all) %>
        <li>

            <a href="#SystemSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-tasks"></i>
                <span class="link-text">System Settings</span>
            </a>
            <ul class="collapse list-unstyled" id="SystemSubmenu">
              <% if can?(:delete, :all) %>
                <li>
                  <%= link_to pos_settings_path do %>
                    <i class="fas fa-tasks" aria-hidden="true"></i>
                      <span class="link-text">General Setting</span>
                  <% end %>
                </li>
              <% end %>

                <li>
                    <%= link_to product_categories_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Unit Category</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to product_sub_categories_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Unit Sub Category</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to departments_path do %>
                      <i class="fas fa-plus"></i>
                      <i class="fas fa-th-list"></i>
                        <span class="link-text">Department</span>
                    <% end %>
                </li>

                <li>
                    <%= link_to countries_path do %>
                      <i class="fas fa-plus"></i>
                      <i class="fas fa-th-list"></i>
                        <span class="link-text">Country</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to cities_path do %>
                      <i class="fas fa-plus"></i>
                      <i class="fas fa-th-list"></i>
                        <span class="link-text">City</span>
                    <% end %>
                </li>
                <li>
                  <%= link_to item_types_path do %>
                      <i class="fas fa-plus"></i>
                      <i class="fas fa-th-list"></i>
                      <span class="link-text">Line Item Type</span>
                  <% end %>
                </li>
                <li>
                    <%= link_to user_types_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">User Types</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to expense_types_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Expense Type</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to property_plans_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Property Plan</span>
                    <% end %>
                </li>
                <% if can?(:delete, :all) %>
                  <li>
                    <%= link_to users_path do %>
                      <i class="fas fa-plus"></i>
                      <i class="fas fa-th-list"></i>
                        <span class="link-text">Users</span>
                    <% end %>
                  </li>
                <%else%>
                  <li>
                    <%= link_to edit_user_path(current_user) do %>
                      <i class="fas fa-plus"></i>
                      <i class="fas fa-th-list"></i>
                        <span class="link-text">Profile</span>
                    <% end %>
                  </li>
                <% end %>
            </ul>
        </li>
        <%end%>
        <li>
          <%= link_to helps_path do %>
              <i class="fas fa-question"></i>
              <span class="link-text">Help</span>
          <% end %>
        </li>
        <% if can?(:delete, :all) %>
        <li>
          <%= link_to bd_backups_path do %>
              <i class="fas fa-question"></i>
              <span class="link-text">Import/Export</span>
          <% end %>
        </li>
        <%end%>
        <li>
            <a href="#">
                <i class="fas fa-paper-plane"></i>
                <span class="link-text">Contact</span>
            </a>
        </li>
    </ul>
    <%else%>
    <ul class="list-unstyled components">
        <li class="active">
          <%= link_to dashboard_path do %>
              <i class="fas fa-tasks" aria-hidden="true"></i>
              <span class="link-text">Booking</span>
          <% end %>
        </li>
        <li>
          <a  href="#UserSubMenu"  data-toggle="collapse", aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-user-plus"></i>
              <span class="link-text">User</span>
          </a>
          <ul class="collapse list-unstyled" id="UserSubMenu">
            <li>
                <%= link_to ledger_books_path do %>
                    <i class="fas fa-book"></i>
                    <span class="link-text">Ledger Book</span>
                <% end %>
            </li>
              <li>
                  <%= link_to sys_users_path do %>
                      <i class="fas fa-plus"></i>
                      <span class="link-text">All Users</span>
                  <% end %>
              </li>
              <li>
                  <%= link_to customer_sys_users_path do %>
                      <i class="fas fa-plus"></i>
                      <span class="link-text">Customer</span>
                  <% end %>
              </li>
              <li>
                  <%= link_to supplier_sys_users_path do %>
                      <i class="fas fa-plus"></i>
                      <span class="link-text">Supplier</span>
                  <% end %>
              </li>
              <li>
                  <%= link_to own_sys_users_path do %>
                      <i class="fas fa-plus"></i>
                      <span class="link-text">own</span>
                  <% end %>
              </li>
          </ul>
        </li>
        <li>
            <a href="<%=staff_deals_path%>" >
                <i class="fas fa fa-user-circle"></i>
                <span class="link-text">Dealer Deals</span>
            </a>
        </li>
        <li>
            <a href="<%=compaigns_path%>" >
                <i class="fas fa fa-user-circle"></i>
                <span class="link-text">Compaign</span>
            </a>
        </li>
        <li>
          <%= link_to edit_user_path(current_user) do %>
            <i class="fas fa-plus"></i>
            <i class="fas fa-th-list"></i>
              <span class="link-text">Profile</span>
          <% end %>
        </li>
      </ul>
    <% end %>
</nav>
