<nav id="sidebar" class="side-scroll col-lg-2 col-4 p-0">
  <% if can?(:view, :sys_user) %>
    <input type="text" id="search-bar" class="form-control py-3 bg-dark text-light" style="border: 1px solid black" placeholder="Search">
    <ul class="list-unstyled components" id="mylist">
      <li class=" <%= 'active' if request.path.start_with?(dashboard_path) %>">
        <%= link_to dashboard_path do%>
            <i class="fa fa-home ml-2" aria-hidden="true"></i>
            <span class="link-text ml-1">Dashboard</span>
        <% end %>
      </li>
      <span class="mt-4 mb-3 text-secondary ml-2" style="font-size: 1.2em;">Menu</span>
      <% if check_is_hidden_by_module('crms') %>
        <li class="mb-2 <%= 'active' if request.path.start_with?(crms_path) %>">
          <a href="<%=crms_path%>" class="">
            <i class="fas fa-user ml-3"></i>
            <span class="link-text ml-1">CRM</span>
          </a>
        </li>
      <% end %>
      <li class="mb-2">
        <a href="#AccountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa fa-book ml-3"></i>
          <span class="link-text ml-1">Accounts</span>
        </a>
        <ul class="collapse list-unstyled border-radius-1 <%= 'show' if request.path.start_with?(accounts_path, payments_path, ledger_books_path, staff_ledger_books_path, expense_vouchers_path, expenses_path, expense_types_path, investments_path, loans_path) %>" id="AccountSubmenu">
          <% if check_is_hidden_by_module('accounts') %>
            <li class="<%= 'active' if request.path.start_with?(accounts_path) %>">
              <a href="<%= accounts_path%>" class="">
                <i class="fas fa-plus"></i>
                <span class="link-text">Account Details</span>
              </a>
            </li>
          <% end %>
          <% if check_is_hidden_by_module('payments') %>    
            <li class="<%= 'active' if request.path.start_with?(payments_path) %>">
              <%= link_to payments_path do %>
                <i class="fas fa-plus"></i>
                <span class="link-text">Cash Book</span>
              <% end %>
            </li>
          <% end %>
          <% if check_is_hidden_by_module('ledger_books') %>
            <li class="<%= 'active' if request.path.start_with?(ledger_books_path) %>">
              <%= link_to ledger_books_path do %>
                <i class="fas fa-plus"></i>
                <span class="link-text">User Ledger Book</span>
              <% end %>
            </li>
          <% end %>
          <% if check_is_hidden_by_module('ledger_books') %>
            <li class="<%= 'active' if request.path.start_with?(staff_ledger_books_path) %>">
              <a href="<%=staff_ledger_books_path%>" class="">
                <i class="fa fa-plus"></i>
                <span class="link-text">Staff Ledger Book</span>
              </a>
            </li>
          <% end %>
          <li>
            <a href="#OrderSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-plus"></i>
              <span class="link-text">Expense</span>
            </a>
            <ul class="collapse list-unstyled <%= 'show' if request.path.start_with?(expense_vouchers_path, expenses_path, expense_types_path) %>" id="OrderSubmenu">
              <% if check_is_hidden_by_module('expense_vouchers') %>
                <li class="<%= 'active' if request.path.start_with?(expense_vouchers_path) %>">
                  <%= link_to expense_vouchers_path do %>
                    <i class="fas fa-minus ml-3 mr-1"></i>
                    <span class="link-text">Expense Voucher</span>
                  <% end %>
                </li>
              <% end %>
              <% if check_is_hidden_by_module('expenses') %>
                <li class="<%= 'active' if request.path.start_with?(expenses_path) %>">
                  <%= link_to expenses_path do %>
                    <i class="fas fa-minus ml-3 mr-1"></i>
                    <span class="link-text">Expense Bill</span>
                  <% end %>
                </li>
              <% end %>
              <% if check_is_hidden_by_module('expense_types') %>
                <li class="<%= 'active' if request.path.start_with?(expense_types_path) %>">
                  <%= link_to expense_types_path do %>
                    <i class="fas fa-minus ml-3 mr-1"></i>
                    <span class="link-text">Expense Type</span>
                  <% end %>
                </li>
              <% end %> 
            </ul>
          </li>
          <% if check_is_hidden_by_module('investments')%>
            <li class="<%= 'active' if request.path.start_with?(investments_path) %>">
              <%= link_to investments_path do %>
                <i class="fas fa-plus"></i>
                <span class="link-text">Investment</span>
              <%end%>
            </li>
          <% end %>
          <% if check_is_hidden_by_module('loans') %>  
            <li class="<%= 'active' if request.path.start_with?(loans_path) %>">
              <%= link_to loans_path do %>
                <i class="fas fa-plus"></i>
                <span class="link-text">Loan</span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>        
      <li class="mb-2">
        <a href="#UnitSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-stream ml-3"></i>
          <span class="link-text ml-1">Units</span>
        </a>
        <ul class="collapse list-unstyled <%= 'show' if request.path.start_with?(products_path, product_categories_path, product_sub_categories_path, item_types_path) %>" id="UnitSubmenu">
          <% if check_is_hidden_by_module('products')%>
            <% if can?(:view, :product) %>
              <li class="<%= 'active' if request.path.start_with?(products_path) %>">
                <%= link_to products_path do %>
                  <i class="fas fa-plus"></i>
                  <span class="link-text">Unit Detail</span>
                <% end %>
              </li>
            <% end %>
          <% end %> 
          <% if check_is_hidden_by_module('product_categories') %>
            <li class="<%= 'active' if request.path.start_with?(product_categories_path) %>">
              <%= link_to product_categories_path do %>
                <i class="fas fa-plus"></i>
                <span class="link-text">Unit Category</span>
              <% end %>
            </li>
          <% end %>
          <% if check_is_hidden_by_module('product_sub_categories') %> 
            <li class="<%= 'active' if request.path.start_with?(product_sub_categories_path) %>">
              <%= link_to product_sub_categories_path do %>
                <i class="fas fa-plus"></i>
                <span class="link-text">Unit Sub Category</span>
              <% end %>
            </li>
          <% end %>
          <% if check_is_hidden_by_module('item_types') %>
            <li class="<%= 'active' if request.path.start_with?(item_types_path) %>">
              <%= link_to item_types_path do %>
                <i class="fas fa-plus"></i>
                <span class="link-text">Line Item Type</span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="mb-2">
        <a href="#AllUserSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa fa-users ml-3"></i>
          <span class="link-text ml-1">Users</span>
        </a>
        <ul class="collapse list-unstyled border-radius-1 <%= 'show' if request.path.start_with?(sys_users_path, user_types_path, user_groups_path, staffs_path, cities_path, countries_path, departments_path, property_plans_path) %>" id="AllUserSubmenu">
          <li>
            <a href="#theUserSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle <%= 'show' if request.path.start_with?(sys_users_path) %>">
              <i class="fas fa-plus ml-2"></i>
              <span class="link-text ml-1">All Users</span>
            </a>
            <ul class="collapse list-unstyled <%= 'show' if request.path.start_with?(sys_users_path, user_types_path, user_groups_path) %>" id="theUserSubmenu">
              <li class="<%= 'active' if request.path.start_with?(users_path) %>">
                <% if check_is_hidden_by_module('sys_users') %>
                  <li class="<%= 'active' if request.path.start_with?(sys_users_path) %>">
                    <%= link_to sys_users_path do %>
                      <i class="fas fa-minus ml-3 mr-1"></i>
                      <span class="link-text">Users List</span>
                    <% end %>
                  </li>
                <% end %> 
                <% if check_is_hidden_by_module('user_types') %>
                  <li class="<%= 'active' if request.path.start_with?(user_types_path) %>">
                    <%= link_to user_types_path do %>
                      <i class="fas fa-minus ml-3 mr-1"></i>
                      <span class="link-text">User Types</span>
                    <% end %>
                  </li>
                <% end %>
                <% if check_is_hidden_by_module('user_groups') %>
                  <li class="<%= 'active' if request.path.start_with?(user_groups_path) %>">
                    <%= link_to user_groups_path do %>
                      <i class="fas fa-minus ml-3 mr-1"></i>
                      <span class="link-text">User Groups</span>
                    <% end %>
                  </li>
                <% end %>
                <% if check_is_hidden_by_module('sys_users') %>
                    <% SysUser.user_groups.each do |value, index|%>
                      <% group_path = sys_users_path('q[user_group_eq]': index) %>
                        <li>
                        <%= link_to group_path do %>
                          <i class="fas fa-minus ml-3 mr-1"></i>
                          <span class="link-text"><%= value%></span>
                        <% end %>
                        </li>
                    <% end %>
                <% end %>  
              </li>
            </ul>
          </li>
          <li>
            <% if check_is_hidden_by_module('staffs') %>  
              <li class="<%= 'active' if request.path.start_with?(staffs_path) %>">
                <a href="<%=staffs_path%>" class="">
                  <i class="fa fa-plus ml-2"></i>
                  <span class="link-text">All Staffs</span>
                </a>
              </li>
            <% end %>
            <% if check_is_hidden_by_module('cities') %>
            <li class="<%= 'active' if request.path.start_with?(cities_path) %>">
              <%= link_to cities_path do %>
                <i class="fas fa-plus ml-2"></i>
                <span class="link-text">City</span>
              <% end %>
            </li>
            <% end %> 
            <% if check_is_hidden_by_module('countries') %>    
              <li class="<%= 'active' if request.path.start_with?(countries_path) %>">
                <%= link_to countries_path do %>
                  <i class="fas fa-plus ml-2"></i>
                  <span class="link-text">Country</span>
                <% end %>
              </li>
            <% end %>    
            <% if check_is_hidden_by_module('departments') %>
              <li class="<%= 'active' if request.path.start_with?(departments_path) %>">
                <%= link_to departments_path do %>
                  <i class="fas fa-plus ml-2"></i>
                  <span class="link-text">Department</span>
                <% end %>
              </li>
            <% end %> 
            <% if check_is_hidden_by_module('property_plans') %>
              <li class="<%= 'active' if request.path.start_with?(property_plans_path) %>">
                <%= link_to property_plans_path do %>
                  <i class="fas fa-plus ml-2"></i>
                  <span class="link-text">Property Plan</span>
                <% end %>
              </li>
            <% end %> 
          </li>
        </ul>
      </li>
      <li class="mb-2">
        <a href="#PayrollSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fa fa-money-bill-alt ml-3"></i>
          <span class="link-text ml-1">Payroll</span>
        </a>
        <ul class="collapse list-unstyled <%= 'show' if request.path.start_with?(salaries_path, salary_details_path) %>" id="PayrollSubmenu">
          <% if check_is_hidden_by_module('salaries') %>  
            <li class="<%= 'active' if request.path.start_with?(salaries_path) %>">
              <a href="<%=salaries_path%>" class="">
                <i class="fa fa-plus ml-3 mr-1"></i>
                <span class="link-text">Salary Debit detail</span>
              </a>
            </li>
          <% end %>
          <% if check_is_hidden_by_module('salary_details') %>  
            <li class="<%= 'active' if request.path.start_with?(salary_details_path) %>">
              <a href="<%=salary_details_path%>" class="">
                <i class="fa fa-plus ml-3 mr-1"></i>
                <span class="link-text">Salary Credit detail</span>
              </a>
            </li>
          <% end %>            
        </ul>
      </li>
      <li class="mb-2 <%= 'active' if request.path.start_with?(sale_deals_path) %>">
        <a href="#DealSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-handshake ml-3"></i>
          <span class="link-text ml-1">Deals</span>
        </a>
        <ul class="collapse list-unstyled <%= 'show' if request.path.start_with?(orders_path, purchase_sale_details_path, daily_sales_path, items_path, staff_deals_path) %>" id="DealSubmenu">
          <a href="#SaleSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fas fa fa-plus"></i>
            <span class="link-text">Sale Deals</span>
          </a>
          <ul class="collapse list-unstyled my-option border-radius-1 <%= 'show' if request.path.start_with?(orders_path, daily_sales_path) || current_page?(orders_path(sale: true)) || current_page?(purchase_sale_details_path(sale: true)) %>" id="SaleSubmenu">
            <% if check_is_hidden_by_module('orders') %>
              <li class="<%= 'active' if request.path.start_with?(orders_path) %>">
                <a href="<%=orders_path(sale: true)%>">
                  <i class="fa fa-minus ml-3 mr-1"></i>
                  <span class="link-text">Booking</span>
                </a>
              </li>
            <% end %>  
            <% if check_is_hidden_by_module('purchase_sale_details') %>
              <li class="<%= 'active' if current_page?(purchase_sale_details_path(sale: true)) %>">
                <%= link_to purchase_sale_details_path(sale: true) do %>
                  <i class="fas fa-minus ml-3 mr-1"></i>
                  <span class="link-text">Deposit List</span>
                <% end %>
              </li>
            <% end %>
            <% if check_is_hidden_by_module('daily_sales') %>    
              <li class="<%= 'active' if request.path.start_with?(daily_sales_path) %>">
                <%= link_to daily_sales_path do %>
                  <i class="fas fa-minus ml-3 mr-1"></i>
                  <span class="link-text">Daily Day Out</span>
                <% end %>
              </li>
            <% end %>    
          </ul>
          <% if can?(:view, :purchase_sale_detail) %>
            <li>
              <a href="#InventorySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-plus"></i>
                <span class="link-text">Purchase Deals</span>
              </a>
              <ul class="collapse list-unstyled <%= 'show' if request.path.start_with?(purchase_sale_details_path ,items_path) %>" id="InventorySubmenu">
                <% if check_is_hidden_by_module('purchase_sale_details') %>
                  <li class="<%= 'active' if request.path.start_with?(purchase_sale_details_path) %>">
                    <%= link_to purchase_sale_details_path do %>
                      <i class="fas fa-minus ml-3 mr-1"></i>
                      <span class="link-text">Purchase</span>
                    <% end %>
                  </li>
                <% end %> 
                <% if check_is_hidden_by_module('items') %>
                  <li class="<%= 'active' if request.path.start_with?(items_path) %>">
                    <%= link_to items_path do %>
                      <i class="fas fa-minus ml-3 mr-1"></i>
                      <span class="link-text">Purchase Items/Land</span>
                    <% end %>
                  </li>
                <% end %>    
              </ul>
            </li>
          <% end %>
          <% if check_is_hidden_by_module('staff_deals')%>
            <li class="<%= 'active' if request.path.start_with?(staff_deals_path) %>">
              <a href="<%=staff_deals_path%>" >
                <i class="fas fa fa-plus"></i>
                <span class="link-text">Dealer Deals</span>
              </a>
            </li>
          <% end %>
        </ul>
      </li>
      <% if check_is_hidden_by_module('reports') %>    
        <li class="mb-2">
          <a href="#ReportsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fas fa fa-print ml-3"></i>
            <span class="link-text">Reports</span>
          </a>
          <ul class="collapse list-unstyled <%= 'show' if request.path.start_with?(reports_path) %>" id="ReportsSubmenu">
            <% if check_is_hidden_by_module('reports') %>
              <li class=" <%= 'active' if request.path.start_with?(reports_chart_path) %>">
                <%= link_to reports_chart_path do %>
                  <i class="fa fa-plus"></i>
                  <span class="link-text">Chart/Graph</span>
                <% end %>
              </li>
              <li class=" <%= 'active' if request.path.start_with?(reports_trial_balance_path) %>">
                <%= link_to reports_trial_balance_path do %>
                  <i class="fas fa-plus"></i>
                  <span class="link-text">Trial Balance</span>
                <% end %>
              </li>
              <li class=" <%= 'active' if request.path.start_with?(reports_chart_of_account_path) %>">
                <%= link_to reports_chart_of_account_path do %>
                  <i class="fa fa-plus"></i>
                  <span class="link-text">Chart of Account</span>
                <% end %>
              </li>
              <li class=" <%= 'active' if request.path.start_with?(reports_sale_report_path) %>">
                <%= link_to reports_sale_report_path do %>
                  <i class="fas fa-plus"></i>
                  <span class="link-text">Sale Report</span>
                <% end %>
              </li>
              <li class=" <%= 'active' if request.path.start_with?(reports_product_report_path) %>">
                <%= link_to reports_product_report_path do %>
                  <i class="fas fa-plus"></i>
                  <span class="link-text">Profit Report</span>
                <% end %>
              </li>
              <% if check_is_hidden_by_module('profit_reports') %>
                <li class=" <%= 'active' if request.path.start_with?(profit_reports_path) %>">
                  <%= link_to profit_reports_path do %>
                    <i class="fas fa-plus"></i>
                    <span class="link-text">Profit Report 2</span>
                  <% end %>
                </li>
              <% end %>
              <li class=" <%= 'active' if request.path.start_with?(reports_stock_report_path) %>">
                <%= link_to reports_stock_report_path do %>
                  <i class="fas fa-plus"></i>
                  <span class="link-text">Sale/Purchase/Stock</span>
                <% end %>
              </li>
            <% end %>
            <li>
              <%= link_to dashboard_path do %>
                <i class="fas fa-plus"></i>
                <span class="link-text">Stock Statment</span>
              <% end %>
            </li>
          </ul>
        </li>
      <% end %>    
      <span class="mt-4 mb-3 text-secondary ml-2" style="font-size: 1.2em;">System Settings</span>
      <% if can?(:view, :all) %>  
        <% if check_is_hidden_by_module('pos_settings') %>
          <% if can?(:delete, :all) %>
            <li class="mb-3 <%= 'active' if request.path.start_with?(pos_settings_path) %>">
              <%= link_to edit_pos_setting_path(@pos_setting) do %>
                <i class="fas fa-cog ml-3" aria-hidden="true"></i>
                <span class="link-text">General Settings</span>
              <% end %>
            </li>
          <% end %>
        <% end %>
        <% if check_is_hidden_by_module('users') %> 
          <% if can?(:delete, :all) %>
            <li class="mb-2  <%= 'active' if request.path.start_with?(users_path) %>">
              <%= link_to users_path do %>
                <i class="fas fa-user ml-3"></i>
                <span class="link-text">System Opeartors</span>
              <% end %>
            </li>
          <%else%>
            <li class="mb-2  <%= 'active' if request.path.start_with?(users_path) %>">
              <%= link_to edit_user_path(current_user) do %>
                <i class="fas fa-user-circle ml-3"></i>
                <span class="link-text">Profile</span>
              <% end %>
            </li>
          <% end %>
        <% end %>         
      <%end%>
      <% if check_is_hidden_by_module('helps') %>
        <li class="mb-2  <%= 'active' if request.path.start_with?(helps_path) %>">
          <%= link_to helps_path do %>
            <i class="fas fa-question ml-3"></i>
            <span class="link-text">Help</span>
          <% end %>
        </li>
      <% end %>    
      <% if can?(:delete, :all) %>
        <li class="mb-2  <%= 'active' if request.path.start_with?(bd_backups_path) %>">
          <%= link_to bd_backups_path do %>
            <i class="fas fa-paste ml-3"></i>
            <span class="link-text">Import/Export</span>
          <% end %>
        </li>
      <%end%>
      <% if check_is_hidden_by_module('sms') %>
        <li class="mb-2  <%= 'active' if request.path.start_with?(sms_index_path) %>">
          <%= link_to sms_index_path do %>
            <i class="fas fa-paper-plane ml-3"></i>
            <span class="link-text">Contact</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <%else%>
    <ul class="list-unstyled components">
      <li class="active">
        <%= link_to dashboard_path do %>
          <i class="fas fa-tasks" aria-hidden="true"></i>
          <span class="link-text">Booking</span>
        <% end %>
      </li>
      <li>
        <a href="#UserSubMenu"  data-toggle="collapse", aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-user-plus"></i>
          <span class="link-text">User</span>
        </a>
        <ul class="collapse list-unstyled" id="UserSubMenu">
          <% if check_is_hidden_by_module('ledger_books') %>
            <li>
              <%= link_to ledger_books_path do %>
                <i class="fas fa-book"></i>
                <span class="link-text">Ledger Book</span>
              <% end %>
            </li>
          <% end %> 
          <% if check_is_hidden_by_module('sys_users') %>
            <li>
              <%= link_to sys_users_path do %>
                <i class="fas fa-plus"></i>
                <span class="link-text">All Users</span>
              <% end %>
            </li>
          <% end %>
          <% if check_is_hidden_by_module('sys_users/customer') %>  
            <li>
              <%= link_to customer_sys_users_path do %>
                <i class="fas fa-plus"></i>
                <span class="link-text">Customer</span>
              <% end %>
            </li>
          <% end %>  
          <% if check_is_hidden_by_module('sys_users/supplier') %>
            <li>
              <%= link_to supplier_sys_users_path do %>
                <i class="fas fa-plus"></i>
                <span class="link-text">Supplier</span>
              <% end %>
            </li>
          <% end %>
          <% if check_is_hidden_by_module('sys_users/own') %>  
            <li>
              <%= link_to own_sys_users_path do %>
                <i class="fas fa-plus"></i>
                <span class="link-text">Own</span>
              <% end %>
            </li>
          <% end %>  
        </ul>
      </li>
      <% if check_is_hidden_by_module('staff_deals') %>
        <li>
          <a href="<%=staff_deals_path%>">
            <i class="fas fa fa-user-circle"></i>
            <span class="link-text">Dealer Deals</span>
          </a>
        </li>
      <% end %>  
      <% if check_is_hidden_by_module('compaigns') %>  
        <li>
          <a href="<%=compaigns_path%>">
            <i class="fas fa fa-user-circle"></i>
            <span class="link-text">Compaign</span>
          </a>
        </li>
      <% end %>
      <li>
        <%= link_to edit_user_path(current_user) do %>
          <i class="fas fa-plus"></i>
          <i class="fas fa-th-list"></i>
          <span class="link-text">Profile</span>
        <% end %>
      </li>
    </ul>
  <% end %>
</nav>

<script>
  $('#search-bar').keyup(function(){
    var value = $(this).val().toLowerCase();
    $('#mylist li').each(function(){
      var search = $(this).text().toLowerCase();
      if(search.indexOf(value)>-1){
          $(this).show();
      }
      else{
          $(this).hide();
      }
    });
  });
</script>
