<nav id="sidebar" class="col-2 p-0">
    <ul class="list-unstyled components">
        <li class="active">
          <%= link_to dashboard_path do %>
              <i class="fas fa-tasks" aria-hidden="true"></i>
              <span class="link-text">Dashboard</span>
          <% end %>
        </li>
        <li>
          <a href="<%=customer_management_systems_path%>">
            <i class="fas fa-user-plus"></i>
            <span class="link-text">CMS</span>
          </a>
        </li>

        <li>
            <a href="#SaleSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa fa-barcode"></i>
                <span class="link-text">Sale</span>
            </a>
            <ul class="collapse list-unstyled" id="SaleSubmenu">
              <li>
                <a href="<%=orders_path(sale: true)%>">
                  <i class="fa fa-shopping-cart"></i>
                  <span class="link-text">Order Book</span>
                </a>
              </li>

                <li>
                    <%= link_to new_purchase_sale_detail_path(transaction_type: :sale,product: true) do %>
                        <i class="fas fa-plus"></i>
                        <span class="link-text">Add Invoice</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to purchase_sale_details_path(sale: true) do %>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">List of Sale</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to daily_sales_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Daily Day Out</span>
                    <% end %>
                </li>
            </ul>
        </li>
          <%if pos_setting_sys_type=="MobileShop"%>
          <li>
              <%= link_to return_purchase_sale_details_path do %>
                  <i class="fas fa-undo"></i>
                  <span class="link-text">Return S/P</span>
              <% end %>
          </li>
          <%end%>
        <li>
          <%= link_to expenses_path do %>
              <i class="fas fa-th-list"></i>
              <span class="link-text">Expense</span>
          <% end %>
        </li>
        <li>
          <%= link_to ledger_books_path do %>
            <i class="fas fa-book"></i>
            <span class="link-text">Ledger Book</span>
          <% end %>
        </li>
        <li>
            <%= link_to payments_path do %>
                <i class="fas fa-th-list"></i>
                <span class="link-text">Day Book</span>
            <% end %>
        </li>
        <li>
            <%= link_to accounts_path do %>
                <i class="fas fa-book"></i>
                <span class="link-text">Account</span>
            <% end %>
        </li>

                <% if can?(:view, :sys_user) %>
                <li>
                  <a  href="#UserSubMenu"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                      <i class="fas fa-user-plus"></i>
                      <span class="link-text">User</span>
                  </a>
                  <ul class="collapse list-unstyled" id="UserSubMenu">
                    <li>
                        <%= link_to ledger_books_path do %>
                            <i class="fas fa-book"></i>
                            <span class="link-text">Ledger Book</span>
                        <% end %>
                    </li>
                      <li>
                          <%= link_to sys_users_path do %>
                              <i class="fas fa-plus"></i>
                              <span class="link-text">All Users</span>
                          <% end %>
                      </li>
                      <li>
                          <%= link_to customer_sys_users_path do %>
                              <i class="fas fa-plus"></i>
                              <span class="link-text">Customer</span>
                          <% end %>
                      </li>
                      <li>
                          <%= link_to supplier_sys_users_path do %>
                              <i class="fas fa-plus"></i>
                              <span class="link-text">Supplier</span>
                          <% end %>
                      </li>
                      <li>
                          <%= link_to own_sys_users_path do %>
                              <i class="fas fa-plus"></i>
                              <span class="link-text">own</span>
                          <% end %>
                      </li>
                  </ul>
                </li>
                <% end %>
                <li>
                    <a href="#labourSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa fa-user-circle"></i>
                        <span class="link-text">Staff</span>
                    </a>
                    <ul class="collapse list-unstyled" id="labourSubmenu">
                      <li>
                        <a href="<%=staff_ledger_books_path%>">
                          <i class="fa fa-address-book"></i>
                          <span class="link-text">Staff Ledger Book</span>
                        </a>
                      </li>
                      <li>
                        <a href="<%=staffs_path%>">
                          <i class="fa fa-address-book"></i>
                          <span class="link-text">Labour list</span>
                        </a>
                      </li>
                      <li>
                          <a href="<%=salaries_path%>">
                            <i class="fa fa-envelope-open"></i>
                            <span class="link-text">  Salary Debit detail</span>
                          </a>
                      </li>
                      <li>
                          <a href="<%=salary_details_path%>">
                            <i class="fa fa-envelope-open"></i>
                            <span class="link-text">  Salary Credit detail</span>
                          </a>
                      </li>
                    </ul>
                </li>

        <li>
            <a href="#ReportsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa fa-print"></i>
                <span class="link-text">Reports</span>
            </a>
            <ul class="collapse list-unstyled" id="ReportsSubmenu">
                <li>
                    <%= link_to reports_path do %>
                        <i class="fas fa-plus"></i>
                        <span class="link-text">Total Staff/Customer/Supplier</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to reports_chart_path do %>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Chart/Graph</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to reports_trial_balance_path do %>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Trial Balance</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to reports_chart_of_account_path do %>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Chart of Account</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to reports_sale_report_path do %>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Sale Report</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to reports_product_report_path do %>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Profit Report</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to reports_stock_report_path do %>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Sale/Purchase/Stock</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to dashboard_path do %>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Stock Statment</span>
                    <% end %>
                </li>
            </ul>
        </li>
        <% if can?(:view, :product) %>
        <li>
            <%= link_to products_path do %>
            <i class="fa fa-cart-arrow-down"></i>
            <span class="link-text">Services</span>
            <% end %>
        </li>
        <% end %>

                <% if can?(:view, :warranty) %>
                  <li>
                      <%= link_to product_warranties_path do %>
                      <i class="fa fa-cart-arrow-down"></i>
                      <span class="link-text">warranties</span>
                      <% end %>
                  </li>
                <% end %>

                <li>
                    <a href="<%=product_stocks_path%>">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="link-text">  Stock Detail</span>
                    </a>
                </li>
        <li>
            <%= link_to investments_path do %>
                <i class="fas fa-tasks"></i>
                <span class="link-text">Investment</span>
            <% end %>
        </li>

        <li>
            <%= link_to items_path do %>
              <i class="fa fa-cart-arrow-down"></i>
              <span class="link-text">  Raw Material</span>
            <% end %>
        </li>
        <li>
            <%= link_to productions_path do %>
              <i class="fa fa-cart-arrow-down"></i>
              <span class="link-text">  Production</span>
            <% end %>
        </li>

        <% if can?(:update, :all) %>
        <li>

            <a href="#SystemSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-tasks"></i>
                <span class="link-text">System Settings</span>
            </a>
            <ul class="collapse list-unstyled" id="SystemSubmenu">
                <li>
                  <%= link_to pos_settings_path do %>
                    <i class="fas fa-tasks" aria-hidden="true"></i>
                    <span class="link-text">  General Setting</span>
                  <% end %>
                </li>
                <li>
                    <%= link_to product_categories_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Product Category</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to product_sub_categories_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Product Sub Category</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to countries_path do %>
                      <i class="fas fa-plus"></i>
                      <i class="fas fa-th-list"></i>
                      <span class="link-text">  Country</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to departments_path do %>
                      <i class="fas fa-plus"></i>
                      <i class="fas fa-th-list"></i>
                      <span class="link-text">  Department</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to cities_path do %>
                      <i class="fas fa-plus"></i>
                      <i class="fas fa-th-list"></i>
                      <span class="link-text">  City</span>
                    <% end %>
                </li>
                <li>
                  <%= link_to item_types_path do %>
                      <i class="fas fa-plus"></i>
                      <i class="fas fa-th-list"></i>
                      <span class="link-text">Line Item Type</span>
                  <% end %>
                </li>
                <li>
                    <%= link_to user_types_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">User Types</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to expense_types_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Expense Type</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to production_block_types_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">Production Block Types</span>
                    <% end %>
                </li>
                <% if can?(:delete, :all) %>
                <li>
                  <%= link_to users_path do %>
                    <i class="fas fa-plus"></i>
                    <span class="link-text"><i class="fas fa-th-list"></i>
                    <span class="link-text">  Users</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to bd_backups_path do %>
                      <i class="fas fa-question"></i>
                      <span class="link-text">Import/Export</span>
                  <% end %>
                </li>
                <%end%>
                <li>
                    <%= link_to user_groups_path do %>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-th-list"></i>
                        <span class="link-text">User Groups</span>
                    <% end %>
                </li>
            </ul>
        </li>
        <%end%>

        <li>
          <%= link_to helps_path do %>
              <i class="fas fa-question"></i>
              <span class="link-text">Help</span>
          <% end %>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-paper-plane"></i>
                <span class="link-text">Contact</span>
            </a>
        </li>
    </ul>

</nav>
