<%= bootstrap_form_for(compaign) do |f| %>
  <% if compaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(compaign.errors.count, "error") %> prohibited this compaign from being saved:</h2>
      <ul>
      <% compaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="card border-radius-1 shadow p-2 col-lg-12">  
  <div class="col-lg-12">
    <%= f.text_area :title, placeholder:"Enter Title"  ,class: 'urdu-font' %>
  </div>
  <div class="col-lg-12">
    <%= f.text_area :comment, placeholder:"Enter Comment" ,class: 'urdu-font' %>
  </div>
  <div class="col-lg-12">
    <%= f.date_select :created_at,{},class: "form-control" %>
  </div>
</div>

<%= f.fields_for :compaign_entries do |compaign_entry| %>
  <%= render 'compaign_entries_fields_new', f: compaign_entry %>
<% end %>

<div id="new_links">
  <div class="links mt-3">
    <%= link_to_add_association 'Add More', f, :compaign_entries, partial: 'compaign_entries_fields_new', class: "btn btn-primary" %>
  </div>
</div>
<br>
<hr>
<div class="row d-flex actions">
  <div class="col form-group float-left">
    <%= link_to compaigns_path, class:"btn btn-info" do %>
    <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back to Compaigns
    <% end %>
  </div>
   
  <div class="col" style="float:right">
    <%=f.object.id.nil? ? (f.submit class: "btn btn-success", style: "float: right")  :  (f.submit class: "btn btn-warning", style: "float: right")%>
  </div>
</div>
  
<% end %>

<%= javascript_include_tag 'hover', 'data-turbolinks-track': 'reload' %>
