<div id="custom-alert" class="alert alert-danger d-none">
  <span class="custom-alert-text"></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="row-lg-12 m-4">
  <div class="float-left">
    <h3 class="ml-2 logo-back"><i class="fas fa-chart-line mr-2"></i>Profit Reports</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="<%= profit_reports_path %>">Profit Reports</a>
      </li>
    </ol>
  </div>
  <% if check_can_create(@module_permission) %>
    <div class="float-right mt-3">
      <%= link_to new_profit_report_path, style:"width: 150px;", class: "btn btn-success mt-3" do %>
          <i class="fa fa-plus-circle"></i>
          Create
      <% end %>
    </div>
  <% end %>  
</div>
<div class="clearfix"></div>
<div class="hidden m-4" id="city_list">
  <div class="float-right">
    <div class="dropdown ml-auto">
     <span class="btn btn-outline-info btn-sm" title= "About This page"><i class="fa fa-question-circle mr-1"></i>Help</span>
      <div class="dropdown-content">
        <% if @help.present? %>
        <% @help&.help_links.each do |link| %>
        <a type="button" class="" target="_blank" href="<%= link[1] %>" >Help in <%= link[0] %></a>
         <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link tab-label active " data-toggle="tab" href="#search" role="tab"><i class="fa fa-search mr-2"></i>Search</a>
      </li>
    </ul>
  </div>
</div>

<%= search_form_for @q, url: profit_reports_path, class: "admin-controls", method: "get" do |f| %>
  <div class="row card shadow px-3 pt-5 pb-3 ml-3 mr-3 ">
    <div class="col-lg-12 col-sm-12">
      <div class="col-lg-6 form-group float-left">
        <%= f.search_field :sale_from_gteq,class: 'form-control input-sm datepicker' ,placeholder: "Sale YYYY-MM-DD"%>
      </div>
      <div class="col-lg-6 form-group float-left">
        <%= f.search_field :sale_to_lteq,class: 'form-control input-sm datepicker' ,placeholder: "Sale YYYY-MM-DD"%>
      </div>
      <div class="col-lg-6 form-group float-left">
        <%= f.search_field :purchase_from_gteq,class: 'form-control input-sm datepicker' ,placeholder: "Purchase YYYY-MM-DD"%>
      </div>
      <div class="col-lg-6 form-group float-left">
        <%= f.search_field :purchase_to_lteq,class: 'form-control input-sm datepicker' ,placeholder: "Purchase YYYY-MM-DD"%>
      </div>
      <div class="col-lg-6 form-group float-left">
        <%= f.search_field :expense_from_gteq,class: 'form-control input-sm datepicker' ,placeholder: "Expense YYYY-MM-DD"%>
      </div>
      <div class="col-lg-6 form-group float-left">
        <%= f.search_field :expense_to_lteq,class: 'form-control input-sm datepicker' ,placeholder: "Expense YYYY-MM-DD"%>
      </div>
      <div class="col-lg-6 form-group float-left">
        <%= f.search_field :investment_from_gteq, class: 'form-control input-sm datepicker',placeholder: "Investment YYYY-MM-DD" %>
      </div>
      <div class="col-lg-6 form-group float-left">
        <%= f.search_field :investment_to_lteq, class: 'form-control input-sm datepicker',placeholder: "Investment YYYY-MM-DD" %>
      </div>
      <div class="col-lg-6 form-group float-left">
        <%= f.search_field :loan_from_gteq,class: 'form-control input-sm datepicker' ,placeholder: "Loan YYYY-MM-DD"%>
      </div>
      <div class="col-lg-6 form-group float-left">
        <%= f.search_field :loan_to_lteq,class: 'form-control input-sm datepicker' ,placeholder: "Loan YYYY-MM-DD"%>
      </div>
      <div class="col-lg-2 form-group float-left">
        <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search "></i></button>
      </div>
      <%# <div class="col-lg-1 form-group float-right">
        <button class="form-control btn-danger" name="submit_pdf_a4" type="submit" value="Investment PDF A4" formtarget="_blank"><i class="fa fa-file-pdf mr-2"></i>PDF</button>
      </div> %>
    </div>
  </div>
<% end %>

<div class="card shadow p-3 m-3 mt-3">
  <table class="content-table">
    <thead>
      <tr>
        <th>Sale</th>
        <th>Purchase</th>
        <th>Expense</th>
        <th>Investment</th>
        <th>Loan</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @data.each_with_index do |data, index|%>
        <tr>
          <td>
            <div><strong>From:</strong> <%= @profit_reports.try(:[], index)&.sale_from.strftime('%d-%b-%Y') %></div>
            <div><strong>To:</strong> <%= @profit_reports.try(:[], index)&.sale_to.strftime('%d-%b-%Y') %></div>
            <div><strong>Amount:</strong> <%= data.try(:[], :total_sale)%> </div>
            <div class="<%= @profit_reports.try(:[], index)&.total_sale == data.try(:[], :total_sale) ? 'd-none' : ''%>" ><strong>Amount:</strong> <%= @profit_reports.try(:[], index)&.total_sale.to_i %> </div>
          </td>
          <td>
            <div><strong>From:</strong> <%= @profit_reports.try(:[], index)&.purchase_from&.strftime('%d-%b-%Y') %></div>
            <div><strong>To:</strong> <%= @profit_reports.try(:[], index)&.purchase_to&.strftime('%d-%b-%Y') %></div>
            <div><strong>Amount:</strong> <%= data.try(:[], :total_purchase) %></div>
            <div class="<%= @profit_reports.try(:[], index)&.total_purchase == data.try(:[], :total_purchase) ? 'd-none' : ''%>" ><strong>Amount:</strong> <%= @profit_reports.try(:[], index)&.total_purchase.to_i %> </div>
          </td>
          <td>
            <div><strong>From: </strong><%= @profit_reports.try(:[], index)&.expense_from.strftime('%d-%b-%Y') %></div>
            <div><strong>To:</strong> <%= @profit_reports.try(:[], index)&.expense_to.strftime('%d-%b-%Y') %></div>
            <div><strong>Expense: </strong><%= data.try(:[], :total_expense)%></div>
            <div class="<%= @profit_reports.try(:[], index)&.total_expense == data.try(:[], :total_expense) ? 'd-none' : ''%>" ><strong>Amount:</strong> <%= @profit_reports.try(:[], index)&.total_expense.to_i %> </div>
          </td>
          <td>
            <div><strong>From:</strong> <%= @profit_reports.try(:[], index)&.investment_from.strftime('%d-%b-%Y') %></div>
            <div><strong>To: </strong><%= @profit_reports.try(:[], index)&.investment_to.strftime('%d-%b-%Y') %></div>
            <div><strong>Debit: </strong><%= data.try(:[], :invest_debit)%> </div>
            <div class="<%= @profit_reports.try(:[], index)&.total_investment_debit == data.try(:[], :invest_debit) ? 'd-none' : ''%>" ><strong>Debit:</strong> <%= @profit_reports.try(:[], index)&.total_investment_debit.to_i %> </div>
            <div><strong>Credit: </strong> <%= data.try(:[], :invest_credit) %></div>
            <div class="<%= @profit_reports.try(:[], index)&.total_investment_credit == data.try(:[], :invest_credit) ? 'd-none' : ''%>" ><strong>Credit:</strong> <%= @profit_reports.try(:[], index)&.total_investment_credit.to_i %> </div>
          </td>
          <td>
            <div><strong>From: </strong><%= @profit_reports.try(:[], index)&.loan_from.strftime('%d-%b-%Y') %></div>
            <div><strong>To:</strong> <%= @profit_reports.try(:[], index)&.loan_to.strftime('%d-%b-%Y') %></div>
            <div><strong>Debit: </strong><%= data.try(:[], :loan_debit) %></div>
            <div class="<%= @profit_reports.try(:[], index)&.total_loan_debit == data.try(:[], :loan_debit) ? 'd-none' : ''%>" ><strong>Debit:</strong> <%= @profit_reports.try(:[], index)&.total_loan_debit.to_i %> </div>
            </div><strong>Credit:</strong> <%= data.try(:[], :loan_credit) %></div>
            <div class="<%= @profit_reports.try(:[], index)&.total_loan_credit == data.try(:[], :loan_credit) ? 'd-none' : ''%>" ><strong>Credit:</strong> <%= @profit_reports.try(:[], index)&.total_loan_credit.to_i %> </div>
          </td>
          <td>
            <div class="icon-container-1">
              <div class="my-icon-1 my-view-1">
                <div class="my-tooltip-1">
                  <div class="icon-container">
                    <div class="my-icon my-view">
                      <div class="my-tooltip">
                        Edit
                      </div>
                      <% if (check_can_update(@module_permission))%>
                        <%= link_to edit_profit_report_path(@profit_reports.try(:[], index)), class:"icon-div" do %>
                          <i class="fa fa-edit mt-2" aria-hidden="true"></i>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="my-icon my-view">
                      <div class="my-tooltip">
                        Delete
                      </div>
                      <% if (check_can_delete(@module_permission))%>
                        <%= link_to profit_report_path(@profit_reports.try(:[], index)), method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete icon-div' do %>
                          <i class="fa fa-trash mt-2" aria-hidden="true"></i>
                        <%end %>
                      <% end %>
                    </div>
                    <div class="my-icon my-view">
                      <div class="my-tooltip">
                        Show
                      </div>
                      <% if (check_can_read(@module_permission))%>
                        <%= link_to profit_report_path(@profit_reports.try(:[], index)), remote: true, class:"icon-div" do %>
                          <i class="fa fa-eye mt-2" aria-hidden="true"></i>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <span class="icon-div-1">
                  <i class="fa fa-ellipsis-v mt-2" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="show-data"></div>

<script>
  $(document).ready(function() {
    $("#city_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
  });

</script>
