<div class="nested-fields">
      <%= f.hidden_field :purchase_sale_detail_id %>
      <%= f.hidden_field :id %>
      <% readonly_param = params[:order_id].present? || f.object.present? ? true : false %>
      <% stock_read_only = params[:action].eql?("edit") ? true : false %>
      <div class="row font-weight-bold challan-stock-container">
        <div class="col-lg-2 form-group float-left">
          <%= f.select :product_id, options_from_collection_for_select(@products, 'id', ->(st){"#{st.title} \u{27F6} #{st.code}"}, f.object.product_id), {hide_label: true,prompt: "Select the products"}, class: "chosen-select product-storage-outward", readonly: readonly_param, required: true %>
        </div>
        <div class="col-lg-2 form-group float-left">
          <%= f.text_field :size_13, hide_label: true, placeholder: "Marka", value: "#{(f.object.size_13 == '0' ? nil : f.object.size_13)}", class: "marka-storage-outward", readonly: readonly_param %>
        </div>
        <div class="col-lg-2 form-group float-left">
          <%= f.text_field :size_10, hide_label: true, placeholder: "Challan", label: "Challen", class: 'challan-no-value', value: "#{(f.object.size_10 == '0' ? nil : f.object.size_10)}", class: "challan-storage-outward", readonly: readonly_param %>
        </div>
        <div class="col-lg-1 form-group float-left">
          <%= f.text_field :size_9, hide_label: true, placeholder: "Stock", label: "Stock", class:'outward-stock-value', onkeyup:'set_remainimg_outward_quantity(event); return false;',required: true, readonly: stock_read_only %>
          <%= f.hidden_field :quantity, class: "outward-stock-value-quantity"%>
          <%= f.hidden_field :size_6, class: "outward-stock-value-rem-quantity"%>
        </div>
        <div class="col-lg-2 form-group float-left">
          <h5 class= "outward-storage-remaining-stock"></h5>
        </div>
        <div class="col-lg-1 form-group float-left">
          <%= f.select :size_8, options_for_select(['1','2','3','4','5'], f.object.size_8 == '0' ? nil : f.object.size_8), {hide_label:true, include_blank: true}, class:"form-control outward-room-num" %>
        </div>
        <div class="col-lg-1 form-group float-left">
          <%= f.text_field :size_7, hide_label: true, label: "Rack",  value: "#{(f.object.size_7 == '0' ? nil : f.object.size_7)}", class:'outward-rack-num'%>
        </div>
        <div class="col-lg-6 form-group float-left font-weight-bold">
          <%= f.datetime_select :inward_date,{},class: "form-control"%>
        </div>
        <div class="col-lg-6 form-group float-left font-weight-bold">
          <%= f.datetime_select :closed_date,{},class: "form-control"%>
        </div>
        <%= f.hidden_field :transaction_type, value: "Sale"%>
        <div class="col-lg-1 form-group float-left text-xs font-weight-bold text-danger text-uppercase">
          <%= link_to_remove_association f, class: "return" do %>
            <i class="fa fa-minus-circle"></i> Drop
          <% end %>
          <span class="span-line text-danger">1</span>
        </div>
      </div>
    </div>