<html>
  <head>
    <style>
      .border-bottom{
        border-bottom: double 4px;
      }
      .text-center{
        text-align: center;
      }
      .text-left{
        text-align: left;
      }
      .text-right{
        text-align: right;
        padding-right: 10px;
      }
    </style>
  </head>
  <body>
    <% @date = Date.today  %>
    <% @time = DateTime.now %>
    <% @time = Time.zone.now %>
    <div>
      <p class="border-bottom"></p>
      <h1 class="text-center">Phariya Report</h1>
      <h2 class="text-left">Outward Date</h1>
      <h3 class="text-left">
        <b><span>From: <%= @pdf_orders.first&.created_at&.strftime("%d-%b-%y at %I:%M %p") %></span>
         </b>
      </h3>
      <h3 class="text-left">
        <b> <span>To: <%= @pdf_orders.last&.created_at&.strftime("%d-%b-%y at %I:%M %p") %></span>
         </b>
      </h3>
      <p class="border-bottom"></p>
      <p class="text-center">Report by: <%=current_user.name%></p>
    </div>
    <div>
       <h3 class="text-center">With Panelty</h3>
      <table>
        <thead class="lite-gray">
          <th class="text-center">Gate Pass No</th>
          <th class="text-center">Party Name</th>
          <th class="text-center">Marka No</th>
          <th class="text-center">Challan No</th>
          <th class="text-center">Product Name</th>
          <th class="text-center">Out Qty</th>
          <th class="text-center">In Date</th>
          <th class="text-center">Close Date</th>
          <th class="text-center">Outward Date</th>
          <th class="text-center">Rent Pandri</th>
          <th class="text-center">Penalty Pandri</th>
          <th class="text-center">total bill</th>
        </thead>
        <tbody>
          <% with_panelty = 0 %>
          <% data.each_with_index do |order, index| %>
            <% order['items'].each_with_index do |item, index| %>
            <% if  item['total_pandri_bill'] > 0 %>
              <% with_panelty = with_panelty + item['quantity'].to_i %>
              <tr>
                <td class="text-center"><%= order['id'] %></td>
                <td class="text-center"><%= order['name'] %></td>
                <td class="text-center"><%= item['marka'] %></td>
                <td class="text-center"><%= item['challan_no'] %></td>
                <td class="text-center"><%= item['product'] %></td>
                <td class="text-center"><%= item['quantity'] %></td>
                <td class="text-center"><%= item['in_date'] %></td>
                <td class="text-center"><%= item['close_date'] %></td>
                <td class="text-center"><%= order['date'] %></td>
                <td class="text-center"><%= item['rent_pandri'] %></td>
                <td class="text-center"><%= item['panelty_pandri'] %></td>
                <td class="text-center"><%= item['total_pandri_bill'] %></td>
              </tr>
            <% end %>  
            <% end %>
          <% end %>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Total: </th>
            <th><%=  with_panelty  %></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tbody>
      </table>
      <h3 class="text-center">Without Panelty</h3>
      <table>
        <thead class="lite-gray">
          <th class="text-center">Gate Pass No</th>
          <th class="text-center">Party Name</th>
          <th class="text-center">Marka No</th>
          <th class="text-center">Challan No</th>
          <th class="text-center">Product Name</th>
          <th class="text-center">Out Qty</th>
          <th class="text-center">In Date</th>
          <th class="text-center">Close Date</th>
          <th class="text-center">Outward Date</th>
          <th class="text-center">Rent Pandri</th>
          <th class="text-center">Penalty Pandri</th>
          <th class="text-center">total bill</th>
        </thead>
        <tbody>
          <% without_panelty = 0 %>
          <% data.each_with_index do |order, index| %>
            <% order['items'].each_with_index do |item, index| %>
            <% if  item['total_pandri_bill'] == 0 %>
              <% without_panelty = without_panelty + item['quantity'].to_i %>
              <tr>
                <td class="text-center"><%= order['id'] %></td>
                <td class="text-center"><%= order['name'] %></td>
                <td class="text-center"><%= item['marka'] %></td>
                <td class="text-center"><%= item['challan_no'] %></td>
                <td class="text-center"><%= item['product'] %></td>
                <td class="text-center"><%= item['quantity'] %></td>
                <td class="text-center"><%= item['in_date'] %></td>
                <td class="text-center"><%= item['close_date'] %></td>
                <td class="text-center"><%= order['date'] %></td>
                <td class="text-center"><%= item['rent_pandri'] %></td>
                <td class="text-center"><%= item['panelty_pandri'] %></td>
                <td class="text-center"><%= item['total_pandri_bill'] %></td>
              </tr>
            <% end %>
            <% end %>
          <% end %>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Total: </th>
            <th><%=  without_panelty  %></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th style='color: white'>ok</th>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Sub Total: </th>
            <th><%=  @pdf_orders_total  %></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><%=  @pdf_orders_total_bill %></th>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Grand Total: </th>
            <th><%=  @pdf_orders_total %></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><%=  @pdf_orders_total_bill %></th>
          </tr>
        </tbody>
      </table>
      <table style='margin-top: 30px'>
        <thead class="lite-gray">
          <tr>
            <th class='text-left' style="padding-left: 20px;">Party Name</th>
            <th> Out Qty </th>
            <th class='text-right'> Total bill </th>
          </tr>
        </thead>
        <% if @pdf_outward_total.present? %>
          <% @pdf_outward_total.each do |order| %>
            <tr>
              <td class='text-left' style="padding-left: 20px;"><%= order.first %></td>
              <td class="text-center"><%= order.second&.first.to_f %></td>
              <td class="text-right"><%= order.second&.second.to_f %></td>
            </tr>
          <% end %>
        <% end %>
          <tr>
            <th class='text-left' style="padding-left: 20px;">Total</th>
            <th><%= @pdf_orders_total %></th>
            <th class='text-right'><%=  @pdf_orders_total_bill %></th>
          </tr>
      </table>
      <table style='margin-top: 30px'>
        <thead class="lite-gray">
          <tr>
            <th class='text-left' style="padding-left: 20px;">Product Name</th>
            <th class= 'text-right'> Out Qty </th>
          </tr>
        </thead>
        <% if @pdf_prod_total.present? %>
          <% @pdf_prod_total.each do |order| %>
            <tr>
              <td class='text-left' style="padding-left: 20px;"><%= order.first %></td>
              <td class="text-right"><%= order.second&.to_f %></td>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <th class='text-left' style="padding-left: 20px;">Total</th>
          <th class="text-right"><%= @pdf_orders_total %></th>
        </tr>
      </table>
    </div>
  </body>
</html>