<tr>
  <td><%= check_box_tag 'object_ids[]', item_type.id %></td>
  <td><%=item_type.id%></td>
  <td class='urdu-font'><%= item_type.title %></td>
  <td><%= item_type.code %></td>
  <td><span title="<%= item_type.comment %>" class='truncate-text'><%= item_type.comment %></span></td>
  <td>

		<div class="icon-container">
			<%if (ApplicationHelper.check_can_update(current_user,"item_types"))%>
				<div class="my-icon my-view">
					<div class="my-tooltip">
						Edit
					</div>
					<span class="icon-div">
						<%= link_to edit_item_type_path(item_type), remote: true do %>
							<i class="fa fa-edit mt-2" aria-hidden="true"></i>
						<%end %>
					</span>
				</div>
			<% end %>

			<%if (ApplicationHelper.check_can_delete(current_user,"item_types"))%>
				<div class="my-icon my-view">
					<div class="my-tooltip">
						Delete
					</div>
					<span class="icon-div">
						<%= link_to item_type, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete' do %>
							<i class="fa fa-trash mt-2" aria-hidden="true"></i>
						<%end %>
					</span>
				</div>
			<%end%>

			<%if (ApplicationHelper.check_can_read(current_user,"item_types"))%>
				<div class="my-icon my-view">
					<div class="my-tooltip">
						Show
					</div>
					<span class="icon-div">
						<%= link_to item_type_path(item_type), remote: true do %>
							<i class="fa fa-eye mt-2" aria-hidden="true"></i>
						<%end %>
					</span>
				</div>
			<%end%>

			<%if (ApplicationHelper.check_can_download_pdf(current_user,"item_types"))%>
				<div class="my-icon my-view">
					<div class="my-tooltip">
						PDF
					</div>
					<span class="icon-div">
						<%= link_to item_types_path('q[id_eq]':item_type.id,'pdf':true), title: 'Download PDF', target: '_blank' do %>
						<i class="fa fa-file-pdf text-danger mt-2 " aria-hidden="true"></i>
						<%end %>
					</span>
				</div>
			<%end%>

			<%if (ApplicationHelper.check_can_download_csv(current_user,"item_types"))%>	
				<div class="my-icon my-view">
					<div class="my-tooltip">
						CSV
					</div>
					<span class="icon-div">
						<%= link_to item_types_path('q[id_eq]':item_type.id,'csv':true), title: 'Download CSV' do%>
							<i class="fa fa-file-excel mt-2 text-success" aria-hidden="true"></i>
						<%end %>
					</span>
				</div>
			<%end%>
			<b class="ml-2 mt-1">Total changes: <%= item_type.versions.count%></b>
		</div>
	</td>
</tr>
