<div id="custom-alert" class="alert alert-danger d-none">
  <span class="custom-alert-text"></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>
  <div class="hidden" id="item_types_list">
          <div class="main-content-header">
            <h1 class="ml-2">Item Types</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="<%= root_path %>">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">
                <a href="<%= item_types_path %>">Item Types</a>
              </li>
            </ol>
          </div>
        <%if (check_can_create(@module_permission))%>
            <div id="new_item_type">
              <%= link_to new_item_type_path, remote: true,class: "btn btn-success mb-4" do %>
                <i class="fa fa-plus" aria-hidden="false"></i>
                    Create
              <% end %>
            </div>
        <% end %>
        <div class="float-right">
              <div class="dropdown ml-auto mr-4">
                <span class="btn btn-info" title= "About This page"><i class="fa fa-question-circle mr-1"></i>Help</span>
                  <div class="dropdown-content">
                      <% if @help.present? %>
                      <% @help&.help_links.each do |link| %>
                      <a type="button" class="" target="_blank" href="<%= link[1] %>" >Help in <%= link[0] %></a>
                      <% end %>
                      <% end %>
                  </div>
              </div>
         </div>
  </div>
  <%= search_form_for @q, url: item_types_path, class: "admin-controls", method: "get" do |f| %>
	<ul class="nav nav-pills" role="tablist">
		<li class="nav-item">
			<a class="nav-link tab-label active" data-toggle="tab" href="#search" role="tab">Search</a>
		</li>

		<%if (check_can_import_export(@module_permission))%>
			<li class="nav-item">
				<a class="nav-link tab-label" data-toggle="tab" href="#import-export" role="tab">Import/Export</a>
			</li>
		<%end%>
</ul>
  <div class="tab-content">
    <div class="tab-pane active mb-3 card shadow-sm mt-2 border-radius-1" id="search" role="tabpanel">
     <div class="row d-flex mt-3 mr-2">
      <div class="col">
      <div class='col-lg-4 form-group float-left'>
      <%= f.select :id_eq, options_for_select(@options_for_select.map{ |p| [p.title , p.id]}, f.object.id_eq),{:include_blank => "Select Title"},:class=>"form-control chosen-select" %>
      </div>
      <div class='col-lg-4 form-group float-left'>
      <%= f.search_field :title_or_comment_or_code_cont, placeholder: "Search in Item types", title: "Enter city name" ,:class=>"form-control" %>
      </div>
      <div class='col-lg-3 form-group float-left'>
      <button class="form-control btn btn-primary" title="search item types" name="search_submit"type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
      </div>
      </div>
      <div class="col">
      <%if (check_can_download_pdf(@module_permission))%>
        <button class="form-control d-flex ml-2 btn btn-danger float-right justify-content-center" style="width:100px" title= "download pdf" name="pdf" type="submit" value="pdf" formtarget="_blank" >PDF &nbsp;<i class="fa fa-file-pdf mt-1"></i></button>
      <% end %>

      <%if (check_can_download_csv(@module_permission))%>
        <button class="form-control d-flex ml-2 btn btn-warning float-right justify-content-center mr-2" style="width:100px" title= "download csv" name="csv" type="submit" value="csv">CSV &nbsp;<i class="fa fa-file-excel mt-1"></i></button>
      <% end %>

      <%if (check_can_send_email(@module_permission))%>
        <button class="form-control d-flex ml-2 btn btn-info float-right justify-content-center mr-2" style="width:100px" type="button" data-toggle="modal" data-target="#exampleModalCenter" ><i class="fa fa-envelope mr-1"></i>&nbsp;Mail</button>
         <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Enter your email to recieve files.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
              <% @pos_setting = PosSetting.first %>
              <label>Email:</label>
              <%= text_field_tag 'email_value',{}, value: current_user.email, class: 'form-control email-fields', type: 'email'%>
              <br />
              <label>Subject:</label>
              <%= text_field_tag 'subject', "#{@pos_setting.display_name} - Item Types Detail report from MunshiOnClick", class: 'form-control email-fields'%>
              <br />
              <label>Body:</label><br />
              <%= text_area_tag 'body', nil, class: 'form-control'%>
              <br />

              <label>Please select one of them.</label>
              <div>
                <label style="cursor: pointer"><%= radio_button_tag :email_choice, 'CSV', required: 'required' %> CSV</label><br />
                <label style="cursor: pointer"><%= radio_button_tag :email_choice, 'PDF', required: 'required' %> PDF</label><br />
                <label style="cursor: pointer"><%= radio_button_tag :email_choice, 'Both', required: 'required' %> Both(CSV + PDF)</label><br />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button name="email" type="submit" value="email" class="btn btn-primary email-send-btn">Send</button>
            </div>
            </div>
        </div>
        </div>
      <% end %>

      </div>
      </div>
    </div>
     
    <div class="tab-pane mb-3 card shadow-sm mt-2 border-radius-1" id="import-export" role="tabpanel">
      <p>
        <div class="d-flex ml-2">
        <button class="btn btn-danger ml-2" name="export_data" type="submit" value="export_data">Export Data</button>
        <button class="btn btn-info ml-2" type="button" data-toggle="modal" data-target="#importFile">Import Data</button>
        </div>
      </p>
    </div>
    </div>
  <% end %>


  <%= render 'map_columns/map_column_partials' %>
<div class='card p-3'>
  <div class="row d-flex" style="position: absolute;">
    <div>
      <%if (check_can_delete(@module_permission))%>
	      <button class="btn btn-outline-danger delete-selected mt-4 ml-3" type='button' value='ItemType'>
	      	Delete Selected
	      </button>		
      <%end%>
    </div>  
    <%= search_form_for @q, url: item_types_path, class: "admin-controls ml-4", method: "get" do |f| %>
      <div class="d-flex mt-4" style="width: 150%;">
        <i class="fa fa-filter fa-2x mt-1 mr-1 text-primary"></i>
        <%= select_tag :limit, options_for_select(['Show Entries',5, 10, 15, 20, 25], selected: @custom_pagination), id: 'pagination-limit', title:'Show Entries', style:'cursor: pointer;' %>
      </div>
    <% end %>
  </div>
  <div class="mt-3">
  <table data-toggle="table" data-search="true" id="item_type_table" class="overflow-hidden border-radius-1">

    <thead>
      <tr>
        <th><input type="checkbox" id="master" class='select-all-checkbox'>
        </th>
        <th>ID<div class='float-right'><%= sort_link(@q, :id, "", {}, class: 'sorting-button') %></div></th>
        <th>Title<div class='float-right'><%= sort_link(@q, :expense_type, "", {}, class: 'sorting-button') %></div></th>
        <th>Code<div class='float-right'><%= sort_link(@q, :expense, "", {}, class: 'sorting-button') %></div></th>
        <th>Comment<div class='float-right'><%= sort_link(@q, :comment, "", {}, class: 'sorting-button') %></div></th>
        <th class="border_none">Action</th>
      </tr>
    </thead>

    <tbody>
    <%= render partial: 'item_type', collection: @item_types %>
    </tbody>
  </table>
  </div>
<div class="row">
  <div class="col-lg-4 col-sm-4">
    <%= page_entries_info @item_types %>
  </div>
  <div class="col-lg-8 col-sm-8 pagination-left">
    <%= paginate @item_types %>
  </div>
</div>
</div>
<%= form_for :bulk_import, url: bulk_import_data_path, method: :post, html: {class: "bulk-import-form"} do |f| %>
  <div class="modal fade" id="importFile" tabindex="-1" role="dialog" aria-labelledby="importFileTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Import file</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= f.file_field :file, required: true, accept: '.csv' %>
          <%= f.hidden_field :table_name, value: 'ItemType' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit 'Import', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="show-data"></div>

<script>
  $(document).ready(function() {
    var sortingButtons = $('.sorting-button')
    for(var i=0; i<sortingButtons.length; i++){
      $(sortingButtons[i]).html("<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='blue' enable-background='new 0 0 512 512' viewBox='0 0 512 512'><path d='M163.919,494.293c-2.83,0-5.496-1.33-7.196-3.593L45.97,343.348c-2.986-3.974-2.187-9.615,1.787-12.602 c3.974-2.986,9.616-2.187,12.602,1.787l103.557,137.777l103.493-137.775c2.986-3.975,8.627-4.775,12.602-1.791 c3.974,2.985,4.775,8.627,1.79,12.602L171.113,490.698C169.414,492.961,166.749,494.293,163.919,494.293z'/><path d='M163.917 494.293c-4.971 0-9-4.029-9-9V26.192c0-4.971 4.029-9 9-9s9 4.029 9 9v459.101C172.917 490.264 168.888 494.293 163.917 494.293zM459.507 182.622c-2.734 0-5.435-1.241-7.203-3.597L348.78 41.18 245.257 179.025c-2.985 3.975-8.626 4.777-12.601 1.792-3.974-2.984-4.777-8.626-1.792-12.601l110.72-147.43c1.699-2.263 4.365-3.595 7.196-3.595s5.497 1.332 7.196 3.595l110.72 147.43c2.985 3.975 2.183 9.616-1.792 12.601C463.285 182.034 461.388 182.621 459.507 182.622z'/><path d='M348.78,494.293c-4.971,0-9-4.029-9-9V26.192c0-4.971,4.029-9,9-9s9,4.029,9,9v459.101 C357.78,490.264,353.751,494.293,348.78,494.293z'/></svg>")
    }
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#item_types_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
  });
  $(document).ready(function() {
    setTimeout(function(){
      $(".chosen-select").chosen({
  allow_single_deselect: true,
  width: '100%'
});
    }, 50);
  });

  $('#pagination-limit').on('change', function(){
    $(this).closest('form').submit();
  })
</script>
