
<div class="hidden" id="investment_list">
  <h1>Expense Entries</h1>
  <% if can?(:add, :all) %>
  <%= link_to new_expense_path, class: "btn btn-success" do %>
           <i class="fa fa-plus" aria-hidden="true"></i>
           New Expense
  <% end %>
  <% end %>
  <%= link_to expenses_path, class: "btn btn-primary" do %>
           <i class="fa fa-tasks" aria-hidden="true"></i>
           Expense
  <% end %>
  <div class="clearfix"></div>
  <div class="row">
    <%= search_form_for @q, url: expense_entries_path, class: "admin-controls", method: "get" do |f| %>
      <div class="col-lg-12 col-sm-12">
        <div class="col-lg-3 form-group float-left">
          <%= f.select :expense_type_id_eq, options_from_collection_for_select(@expense_types, "id", ->(st){"#{st.id} \u{27F6} #{st.title} "},@expense_type),{:include_blank => "Select type"},:class=>"form-control chosen-select" %>
        </div>
        <div class="col-lg-3 form-group float-left">
          <%= f.select :account_id_eq, options_from_collection_for_select(@accounts, "id", "title" ,@account),{:include_blank => "Select Account"},:class=>"form-control chosen-select" %>
        </div>
        <div class="col-lg-2 form-group float-left">
          <%= f.search_field :created_at_gteq,value:@start_date, class: 'form-control input-sm datepicker',placeholder: "YYYY-MM-DD" %>
        </div>
        <div class="col-lg-2 form-group float-left">
          <%= f.search_field :created_at_lteq,value:@end_date,class: 'form-control input-sm datepicker' ,placeholder: "YYYY-MM-DD"%>
        </div>
        <div class="col-lg-2 form-group float-left">
          <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="col-lg-3 form-group float-left">
          <button class="form-control btn btn-secondary" name="submit_pdf_a4" type="submit" value="Total Expense PDF A4" formtarget="_blank"><i class="fa fa-print"></i>PDF A4</button>
        </div>
        <div class="col-lg-3 form-group float-left">
          <button class="form-control btn btn-secondary" name="submit_pdf_a8" type="submit" value="Total Expense PDF A8" formtarget="_blank"><i class="fa fa-print"></i>PDF A8 </button>
        </div>
      </div>
    <% end %>
  </div>

  <table data-toggle="table" data-search="true" id="investment_table">
    <thead>
      <tr>
        <th><%= sort_link(@q, :expense_type_id, 'Type Wise') %></th>
        <th><%= sort_link(@q, :account_id, 'Account') %></th>
        <th><%= sort_link(@q, :amount) %></th>
        <th><%= sort_link(@q, :comment, 'Comment') %></th>
        <th><%= sort_link(@q, :created_at, 'Date') %></th>
        <th class="border_none">Action</th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: 'expense_entry', collection: @expense_entries%>
      <tr>
        <td><h5>Total</h5></td>
        <td><h5><%=number_with_delimiter(@expense_payment_total)%></h5></td>
        <td><h5><%=number_with_delimiter(@expense_total)%></h5></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="clearfix"></div>
<div class="row">
  <div class="col-lg-4 col-sm-4">
    <%= page_entries_info @expense_entries %>
  </div>
  <div class="col-lg-8 col-sm-8 pagination-left">
    <%= paginate @expense_entries %>
  </div>
</div>

<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#investment_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
  });
  $(document).ready(function() {
    setTimeout(function(){
      $(".chosen-select").chosen({
  allow_single_deselect: true,
  width: '100%'
});
    }, 50);
  });
</script>
