<% @date = Date.today  %>
<% @time = DateTime.now %>
<% @time = Time.zone.now %>
<%@total = 0%>
<%=advance_total = 0%>
<%=short_inst_total = 0%>
<br>
<p style="border-bottom: double 4px;  margin: 0;"></p>
<h1 style="text-align: center; marginy: 2px;">Deal Detail</h1>
<p style="border-bottom: double 4px;  margin: 0;"></p>
<p style="text-align: center;margintop: 2px;">Report by: <%=current_user&.name%></p>
<div >
  <table>
    <thead class="lite-gray">
      <th>Dealer</th>
      <th>Unit</th>
      <th>Pdt-ctgy</th>
      <th>Pdt-sub-ctgy</th>
      <th>Per Marla</th>
      <th>Total</th>
      <th>Area</th>
      <th>Booking</th>
      <th>Down Payment</th>
      <th>Short Inst</th>
      <th>Comment</th>
    </thead>

    <tbody>
      <% @staff_deals.each do |staff_deal| %>
      <tr>
        <td class='urdu-font'><%= staff_deal.staff&.name %></td>
        <td class='urdu-font'><%=staff_deal.product.present? ? staff_deal.product.title+" "+staff_deal.product.item_type.title : "" %></td>
        <td><%= staff_deal.product.product_category.title rescue 'nil'%></td>
        <td><%= staff_deal.product.product_sub_category.title rescue 'nil'%></td>
        <td><%=number_with_delimiter(staff_deal.product.sale.to_f.round(2)) %></td>
          <td><%=number_with_delimiter(total = (staff_deal.product.sale.to_f.round(2)*(staff_deal.product.marla.to_f+(staff_deal.product.square_feet.to_f/225))).to_f.round(2))%><%number_with_delimiter(@total =@total+ total) %></td>
        <td><%= staff_deal.product.marla.to_i %> Marla <%= staff_deal.product.square_feet.to_i%> Square Feet | <%= staff_deal.product.size_1.to_i %></td>
        <td>
          <% staff_deal_orders = staff_deal.product.orders%>
          <% staff_deal_orders = staff_deal.product.orders%>
          <%if staff_deal_orders.present?%>
            <%staff_deal_orders.each do |booking|%>
              <b>Unit Commission to: </b>
                <%token = booking.purchase_sale_details&.first%>
                <%=token&.staff&.name%>
              <br>
              <%if booking&.status!='Cancel'%>
                <%=booking.sys_user.name%>
                <b>Contact: </b>
                <%=booking.sys_user.contact.phone_with_comma%>
                <%=booking.sys_user.ledger_books.pluck('SUM(debit)','SUM(credit)').map { |sys| "<br> <b>Total:</b> "+ number_with_delimiter(sys.first.to_s)+" <b>Paid:</b> "+ number_with_delimiter(sys.second.to_s)+" <b>In %</b> "+((sys.second/sys.first)*100).round(2).to_s+" <b>Remaning:</b> "+ number_with_delimiter((sys.first.to_i-sys.second.to_i).to_s)+" <b>Commission:</b> "+ number_with_delimiter(token&.carriage.to_s)+"<b> In % </b>"+((token&.carriage.to_f/total.to_f)*100).round(2).to_s}.join(',').html_safe%>
                <%= ("<br><b>Last Payment Date: </b>"+booking&.sys_user&.ledger_books&.last&.created_at&.strftime("%d%b%y at %I:%M%p")).html_safe if booking.present?%>
              <%else%>
                <span>
                  <b>Booking-Canceled</b>
                  <br>
                  <%=booking.sys_user.name%>
                  <%=booking.sys_user.ledger_books.pluck('SUM(debit)','SUM(credit)').map { |sys| "<br> <b>Total:</b> "+sys.first.to_s+" <b>Paid:</b> "+sys.second.to_s+" <b>In %</b> "+((sys.second/sys.first)*100).round(2).to_s+" <b>Remaning:</b> "+(sys.first.to_i-sys.second.to_i).to_s+" <b>Commission:</b> "+token&.carriage.to_s+"<b> In % </b>"+((token&.carriage.to_f/total.to_f)*100).round(2).to_s}.join(',').html_safe%>
                  <b>Contact: </b>
                  <%=booking.sys_user.contact.phone_with_comma%>
                  <%= ("<br><b>Last Payment Date: </b>"+booking&.sys_user&.ledger_books&.last&.created_at&.strftime("%d%b%y , %I:%M")).html_safe if booking.present?%>
                  <br>
                  <b>Booking-Canceled</b>
                  <br>
                </span>
              <%end%>
              <br>
            <%end%>
          <%end%>
        </td>
        <td>
          <%=advance=staff_deal_orders.joins(:property_plans).where('property_plans.due_status':[nil, PropertyPlan.due_statuses["Unpaid"]],'property_plans.due_date': @created_at_gteq.to_date.beginning_of_day..@created_at_lteq.to_date.end_of_day).sum(:advance)%>
          <%advance_total+=advance%>
        </td>
        <td>
          <%= number_with_delimiter(short_inst=staff_deal_orders.joins(property_plans: :property_installments).where('property_installments.due_status':[nil, PropertyPlan.due_statuses["Unpaid"]],'property_installments.due_date': @created_at_gteq.to_date.beginning_of_day..@created_at_lteq.to_date.end_of_day).sum(:installment_price))%>
          <%short_inst_total+=short_inst%>
        </td>
        <td><%= staff_deal.comment %></td>
      </tr>
      <%end%>
      <tr class="lite-gray">
        <td ><h4>Total</h4></td>
        <td><h5><%=@staff_deals.count%></h5></td>
        <td><h5></h5></td>
        <td><h5></h5></td>
        <td><h5></h5></td>
        <td><h4><%= number_with_delimiter(@total.to_f.round(2))%></h4></td>
        <td><h5></h5></td>
        <td><h5></h5></td>
        <td><h5><%= number_with_delimiter(advance_total.to_f.round(2))%></h5></td>
        <td><h5><%= number_with_delimiter(short_inst_total.to_f.round(2))%></h5></td>
        <td><h5></h5></td>
      </tr>
    </tbody>

  </table>
</div>
