

<%@daily_book_salary_details_raw_quantity = 0 %>
<%@daily_book_salary_details_f99_raw_quantity = 0 %>
<%@daily_book_salary_details_tile_raw_quantity = 0 %>
<%@daily_book_salary_details_raw_quantity = 0 %>
<%@daily_book_salary_details_f99_quantity = 0 %>
<%@daily_book_salary_details_tile_quantity = 0 %>
<%@daily_book_salary_details_quantity = 0 %>
<%@daily_book_salary_details_wast = 0 %>
<%@daily_book_salary_details_raw_quantity_rate = 0 %>
<%@daily_book_salary_details_quantity_rate = 0 %>
<%@daily_book_salary_details_coverge_rate=0%>
<%@daily_book_salary_details_gift_rate=0%>
<%@daily_book_salary_details_pather_khakar_wast = 0 %>

<div class="hidden m-4" id="daily_books_list">
  <div class="float-left">
   <h2 class="ml-2 logo-back"><i class="fas fa-book-open mr-2"></i>Daily books By Pather</h2>
    <ol class="breadcrumb">
     <li class="breadcrumb-item">
       <a href="<%= root_path %>">Dashboard</a>
     </li>
     <li class="breadcrumb-item active">
       <a href="<%= daily_books_path %>">Daily books By Pather</a>
     </li>
    </ol>
  </div>
  <div class="clearfix"></div>
  <div class="row d-flex float-left mr-1">
    <% if can?(:add, :all) %>
     <%= link_to new_daily_book_path(department_id: @departments.first.id), style: "width:150px;" ,class: "btn btn-success ml-3" do %>
       <i class="fa fa-plus-circle" aria-hidden="true"></i>
       Create
     <% end %>
    <% end %>
    <div class="btn btn-outline-danger  mx-2">
      <%= link_to daily_books_path() do %>
        <%=@departments.first.title%> Daily
      <% end %>
    </div>
    <div class="btn btn-outline-primary  mr-2">
      <%= link_to khakar_daily_books_path(department_id: @departments.second.title) do %>
        <%=@departments.second.title%> Daily book
      <% end %>
    </div>
    <div class="btn btn-outline-warning  mr-2">
      <%= link_to production_cycles_path do %>
        Bhari Daily Book
      <% end %>
    </div>
    <div class="btn btn-outline-success  mr-2">
      <%= link_to jalai_production_cycles_path do %>
        Jalai Daily Book
      <% end %>
    </div>
    <div class="btn btn-outline-info mr-2 ">
      <%= link_to nakasi_production_cycles_path do %>
        <%=@departments.third.title%> Daily Book
      <% end %>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <ul class="nav nav-tabs ml-3 " role="tablist">
      <li class="nav-item">
        <a class="nav-link tab-label active " data-toggle="tab" href="#search" role="tab"><i class="fa fa-search mr-2"></i>Search</a>
      </li>		
    </ul>
  </div>
  <div class="clearfix"></div>
  <%= search_form_for @q, url: daily_books_path, class: "admin-controls", method: "get" do |f| %>
    <div class="tab-content">
      <div class="tab-pane active no-tab-border mt-2" id="search" role="tabpanel">
        <div class=" card shadow  mx-1 mb-3 p-4">
          <div class="row d-flex">
            <div class="col-lg-3 form-group float-left">
              <%= f.search_field :book_date_gteq, class: 'form-control input-sm datepicker',value: @book_date_gteq, 'datepicker' => true,placeholder: "YYYY-MM-DD" %>
            </div>
            <div class="col-lg-3 form-group float-left">
              <%= f.search_field :book_date_lteq, class: 'form-control input-sm datepicker',value: @book_date_lteq, 'datepicker' => true ,placeholder: "YYYY-MM-DD"%>
            </div>
            <div class="col-lg-2 form-group float-left">
              <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
            </div> 
          </div>    
        </div>
        <div class="  card shadow my-4 mx-2 p-4 table-responsive ">
          <div class="row d-flex ml-1" style="position: absolute;">
            <button style="width:80px;" class="form-control btn-danger file-btn-color float-right mr-1" name="submit_pdf" type="submit" value="Daily Production Details PDF A4" formtarget="_blank" >Daily</button>
            <button style="width:80px;"  class="form-control btn btn-info file-btn-color float-right" name="email" type="submit" value="Email">Mail</button>
          </div>     
          <table data-toggle="table" data-search="true">
            <thead>
              <tr>
                <th><%= sort_link(@q, :book_date, 'Date') %></th>
                <th><%= sort_link(@q, :department, 'Department') %></th>
                <th><%= sort_link(@q, :salary_details_raw_quantity, 'Kachi') %></th>
                <th><%= sort_link(@q, :salary_details_raw_quantity, 'K Bricks') %></th>
                <th><%= sort_link(@q, :salary_details_raw_quantity, 'K Tile') %></th>
                <th><%= sort_link(@q, :salary_details_quantity, 'Paaki') %></th>
                <th><%= sort_link(@q, :salary_details_raw_quantity, 'P Bricks') %></th>
                <th><%= sort_link(@q, :salary_details_raw_quantity, 'P Tile') %></th>
                <th><%= sort_link(@q, :salary_details_wast, 'Wast') %></th>
                <th><%= sort_link(@q, :salary_details_wast, 'P-K Wast') %></th>
                <th><%= sort_link(@q, :salary_details_raw_quantity_rate, 'Kachi Price') %></th>
                <th><%= sort_link(@q, :salary_details_quantity_rate, 'Paaki Price') %></th>
                <th><%= sort_link(@q, :salary_details_gift_rate, 'Gift') %></th>
                <th><%= sort_link(@q, :salary_details_coverge_rate, 'Coverge') %></th>
                <th><%= sort_link(@q, :comment, 'Comment') %></th>
                <th class="border_none">Action</th>
              </tr>
            </thead>
            <tbody>
              <% @daily_books.each do |daily_book| %>
                <tr>
                  <td><%= daily_book.book_date.strftime("%d%b%y") if daily_book.book_date%></td>
                  <td><%= daily_book.department.present? ? daily_book.department.title : "" %></td>
                  <td><%= daily_book.salary_details_raw_quantity.round(0) %><%@daily_book_salary_details_raw_quantity += daily_book.salary_details_raw_quantity %></td>
                  <td><%= daily_book.salary_details_f99_raw_quantity.round(0)%> <%@daily_book_salary_details_f99_raw_quantity += daily_book.salary_details_f99_raw_quantity %></td>
                  <td><%= daily_book.salary_details_tile_raw_quantity.round(0)%> <%@daily_book_salary_details_tile_raw_quantity += daily_book.salary_details_tile_raw_quantity %></td>
                  <td><%= daily_book.salary_details_quantity.round(0) %> <%@daily_book_salary_details_quantity += daily_book.salary_details_quantity %></td>
                  <td><%= daily_book.salary_details_f99_quantity.round(0)%> <%@daily_book_salary_details_f99_quantity += daily_book.salary_details_f99_quantity %></td>
                  <td><%= daily_book.salary_details_tile_quantity.round(0)%> <%@daily_book_salary_details_tile_quantity += daily_book.salary_details_tile_quantity %></td>
                  <td><%= daily_book.salary_details_wast.round(0) %> <%@daily_book_salary_details_wast += daily_book.salary_details_wast %></td>
                  <td><%= daily_book.salary_details_pather_khakar_wast.to_f.round(0) %> <%@daily_book_salary_details_pather_khakar_wast += daily_book.salary_details_pather_khakar_wast %></td>
                  <td><%= daily_book.salary_details_raw_quantity_rate.round(0) %> <%@daily_book_salary_details_raw_quantity_rate += daily_book.salary_details_raw_quantity_rate.round(0) %></td>
                  <td><%= daily_book.salary_details_quantity_rate.round(0) %> <%@daily_book_salary_details_quantity_rate += daily_book.salary_details_quantity_rate.round(0) %></td>
                  <td><%= daily_book.salary_details_gift_rate.round(0) %> <%@daily_book_salary_details_gift_rate += daily_book.salary_details_gift_rate.round(0) %></td>
                  <td><%= daily_book.salary_details_coverge_rate %> <%@daily_book_salary_details_coverge_rate += daily_book.salary_details_coverge_rate %></td>
                  <td><%= daily_book.comment %></td>
                  <% if can?(:update, Product) %>
                  <td>
                    <%= link_to edit_daily_book_path(daily_book) do %>
                    <i class="fas fa-edit" aria-hidden="true"></i> |
                    <% end %>
                  <% end %>
                  <% if can?(:delete, :all) %>
                    <%= link_to daily_book, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete' do %>
                    <i class="fas fa-trash" aria-hidden="true"></i> |
                    <% end %>
                  <% end %>
                    <%= link_to daily_book do %>
                    <i class="fas fa-eye" aria-hidden="true"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <tr>
                <td><h5>Total</h5></td>
                <td></td>
                <td><h5><%=@daily_book_salary_details_raw_quantity.round(0)%></h5></td>
                <td><h5><%=@daily_book_salary_details_f99_raw_quantity.round(0)%></h5></td>
                <td><h5><%=@daily_book_salary_details_tile_raw_quantity.round(0)%></h5></td>
                <td><h5><%=@daily_book_salary_details_quantity.round(0)%></h5></td>
                <td><h5><%=@daily_book_salary_details_f99_quantity.round(0)%></h5></td>
                <td><h5><%=@daily_book_salary_details_tile_quantity.round(0)%></h5></td>
                <td><h5><%=@daily_book_salary_details_wast.round(0)%></h5></td>
                <td><h5><%=@daily_book_salary_details_pather_khakar_wast.round(0)%></h5></td>
                <td><h5><%=@daily_book_salary_details_raw_quantity_rate.to_f.round(2)%></h5></td>
                <td><h5><%=@daily_book_salary_details_quantity_rate.to_f.round(2)%></h5></td>
                <td><h5><%=@daily_book_salary_details_gift_rate.to_f.round(2)%></h5></td>
                <td><h5><%=@daily_book_salary_details_coverge_rate.to_f.round(2)%></h5></td>
                <td><h5></h5></td>
                <td><h5></h5></td>
              </tr>
            </tbody>
          </table>
       </div>
      </div>
    </div>
  <% end %>  
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-lg-4 col-sm-4">
    <%= page_entries_info @daily_books %>
  </div>
  <div class="col-lg-8 col-sm-8 pagination-left">
    <%= paginate @daily_books %>
  </div>
</div>
<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#daily_books_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
  });
  $(document).ready(function() {
    setTimeout(function(){
      $(".chosen-select").chosen({
  allow_single_deselect: true,
  width: '100%'
});
    }, 50);
  });
</script>
