
<%@daily_book_salary_details_raw_quantity = 0 %>
<%@daily_book_salary_details_quantity = 0 %>
<%@daily_book_salary_details_wast = 0 %>
<%@daily_book_salary_details_raw_quantity_rate = 0 %>
<%@daily_book_salary_details_quantity_rate = 0 %>
<%@daily_book_salary_details_coverge_rate=0%>
<%@daily_book_salary_details_gift_rate=0%>
<%@total_kakhar=0%>
<%@salary_details_khakar_f99_raw_quantity=0%>
<%@salary_details_khakar_tile_raw_quantity=0%>
<%@daily_book_salary_details_pather_khakar_wast=0%>

<div class="hidden m-4" id="daily_books_list">
  <div class="float-left">
    <h2 class="ml-2 logo-back"><i class="fas fa-book mr-2"></i>Daily books By <%=@departments.second.title%></h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="<%=  %>">Daily books By <%=@departments.second.title%></a>
      </li>
    </ol>
  </div>
  <div class=" d-flex float-right ">
    <div class="mr-2 btn btn-outline-primary ">
      <%= link_to daily_books_path() do %>
        <%=@departments.first.title%> Daily
      <% end %>
    </div>
    <div class="mr-2 btn btn-outline-danger ">
      <%= link_to khakar_daily_books_path(department_id: @departments.second.title) do %>
        <%=@departments.second.title%> Daily book
      <% end %>
    </div>
    <div class="mr-2 btn btn-outline-success ">
      <%= link_to production_cycles_path do %>
        Bhari Daily Book
      <% end %>
    </div>
    <div class="mr-2 btn btn-outline-info ">
      <%= link_to jalai_production_cycles_path do %>
        Jalai Daily Book
      <% end %>
    </div>
    <div class="mr-2 btn btn-outline-warning ">
      <%= link_to nakasi_production_cycles_path do %>
        <%=@departments.third.title%> Daily Book
      <% end %>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <ul class="nav nav-tabs ml-4" role="tablist">
      <li class="nav-item">
        <a class="nav-link tab-label active " data-toggle="tab" href="#search" role="tab"><i class="fa fa-search mr-2"></i>Search</a>
      </li>		
    </ul>
  </div>
  <div class="clearfix"></div>
  <div class="tab-content">
    <div class="tab-pane active no-tab-border mt-2" id="search" role="tabpanel">
      <div class="row card  shadow mx-1 my-2 p-4">
        <div class="">
          <%= search_form_for @q, url: khakar_daily_books_path, class: "admin-controls", method: "get" do |f| %>
            <div class="col-lg-2 form-group float-left">
              <%= f.search_field :book_date_gteq, class: 'form-control input-sm datepicker',value: @book_date_gteq, 'datepicker' => true,placeholder: "YYYY-MM-DD" %>
            </div>
            <div class="col-lg-2 form-group float-left">
              <%= f.search_field :book_date_lteq, class: 'form-control input-sm datepicker',value: @book_date_lteq, 'datepicker' => true ,placeholder: "YYYY-MM-DD"%>
            </div>
            <div class="col-lg-2 form-group float-left">
              <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
            </div>
            <div class="float-right">
              <div class="dropdown my-dropdown  ml-auto">
                <button type="button" class="form-control btn btn-danger file-btn-color ">PDF List</button>
                <div class="dropdown-content my-dropdown-content p-1">
                  <button class="form-control btn-danger file-btn-color my-2" name="submit_pdf" type="submit" value="Khakar Daily Production Detail A4" formtarget="_blank"> Khakar Daily</button>
                  <button class="form-control btn-danger file-btn-color my-2" name="page_pdf" type="submit" value="Khakar Daily Production Detail A4" formtarget="_blank"> Daily page</button>
                </div>
              </div>       
              <button style="width:80px;" class="form-control btn btn-info file-btn-color" name="email" type="submit" value="Email">Mail</button> 
            </div>    
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
   <div class="row ">
                <div class="col-xl-4 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Bharai</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%=@raw_products&.first&.title%> = <%=@raw_products&.first&.first_stock%> </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%=@raw_products&.second&.title%> = <%=@raw_products&.second&.first_stock%> </div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-check fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                          <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                              <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                  <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Stock</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%=@raw_products&.first&.title%> = <%=@raw_products&.first&.second_stock%> </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%=@raw_products&.second&.title%> = <%=@raw_products&.second&.second_stock%> </div>
                                  </div>
                                  <div class="col-auto">
                                    <i class="fas fa-check fa-2x text-gray-300"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                                    <div class="col-xl-4 col-md-6 mb-4">
                                        <div class="card border-left-primary shadow h-100 py-2">
                                          <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                              <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Chapa</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800"><%=@raw_products&.first&.title%> = <%=@raw_products&.first&.third_stock%></div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800"><%=@raw_products&.second&.title%> = <%=@raw_products&.second&.third_stock%> </div>
                                              </div>
                                              <div class="col-auto">
                                                <i class="fas fa-check fa-2x text-gray-300"></i>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
   </div>

  <div class="card shadow mb-4">
      <!-- Card Header - Accordion -->
      <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
        <h6 class="m-0 font-weight-bold text-primary"><h5>Ready For Khakar</h5></h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample" style="">
        <div class="row p-2">
            <div class="col-lg-12 col-sm-12">
              <div class="col-lg-12 ">
                <table>
                  <thead>
                    <th>Date</th>
                    <th>For Khakar</th>
                    <th>Action</th>
                  </thead>
                  <tbody>
                    <% @pathera_daily.each do |pathera_daily| %>
                    <% if  pathera_daily.salary_details_pather_remaning_quanity > 0 %>
                    <tr>
                      <td><%= pathera_daily.book_date.strftime("%d%b%y , %I:%M") if pathera_daily.book_date%></td>
                      <td><%= pathera_daily.salary_details_pather_remaning_quanity %><% @total_kakhar += pathera_daily.salary_details_pather_remaning_quanity %></td>
                      <td><%= link_to "#{@departments.second.title} Booking", new_khakar_daily_books_path(department_id: @departments.second.id,id: pathera_daily.id, book_date: pathera_daily.book_date.strftime("%Y-%m-%d") ), class: "btn btn-success" %>
                        <% if current_user.super_admin? %>
                          |
                          <%= link_to "Waste", edit_pather_khakar_waste_daily_book_path(department_id: @departments.second.id,id: pathera_daily.id, book_date: pathera_daily.book_date.strftime("%Y-%m-%d") ), class: "btn btn-danger" %>
                        <%end%>
                      </td>
                    </tr>
                      <%end%>
                      <%end%>
                    <tr>
                      <td><h5>Total</h5></td>
                      <td><h5><%=@total_kakhar%><h5></td>
                      <td><%= link_to "#{@departments.second.title} Booking From Stock", stock_new_khakar_daily_books_path(department_id: @departments.second.id ), class: "btn btn-success" %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
  </div>

      <div>


    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardExample12" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-primary"><h5>Khakar Work Details</h5></h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample12" style="">

          <div class="row">
            <div class="col-lg-12 col-sm-12">
              <div class="col-lg-12 ">
  <ul class="nav nav-pills mb-3 mt-2" id="pills-tab" role="tablist">
    <li class="nav-item" onclick="updatetabs('pills-home')">
      <a class="<%=params[:from_tabe]=='pills-home' ? 'nav-link active' : 'nav-link'%> active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"><b>Khakar</b></a>
    </li>
    <li class="nav-item" onclick="updatetabs('pills-profile')">
      <a class="<%=params[:from_tabe]=='pills-profile' ? 'nav-link active' : 'nav-link'%>" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><b>khakar Merge</b></a>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">

    <div class= " p-2 <%=params[:from_tabe]=='pills-home' ? 'tab-pane fade show active' : 'tab-pane fade show active'%>" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <%= render partial: "khakar", locals: {} %>
    </div>
    <div class= " p-2 <%=params[:from_tabe]=='pills-profile' ? 'tab-pane fade show active' : 'tab-pane fade '%>" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <%= render partial: "khakar_merge", locals: {} %>
    </div>

  </div>

</div>
</div>
</div>
</div>
</div>


</div>
</div>

<div class="clearfix"></div>
<div class="row">
  <div class="col-lg-4 col-sm-4">
    <%= page_entries_info @daily_books %>
  </div>
  <div class="col-lg-8 col-sm-8 pagination-left">
    <%= paginate @daily_books %>
  </div>
</div>

<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#daily_books_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
  });
  $(document).ready(function() {
    setTimeout(function(){
      $(".chosen-select").chosen({
  allow_single_deselect: true,
  width: '100%'
});
    }, 50);
  });
</script>
