<%@total_pro=0%>
<%@total_discont=0%>
<div class="hidden" id="purchase_sale_detail_list">
  <% if params[:sale].present?%>
    <h1>Sale of the Day</h1>
    <div class="row">
      <div class="col-lg-12">
        <%if (check_can_create(@module_permission))%>
          <div class="col-lg-3 form-group float-left ">
            <%= link_to new_purchase_sale_detail_path(transaction_type: :sale,product: true), class: "btn btn-success col-lg-12" do %>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Make Voucher / Delivery
            <% end %>
          </div>
          <div class="col-lg-3 form-group float-left">
            <%= link_to new_purchase_sale_detail_path(transaction_type: :sale), class: "btn btn-info col-lg-12" do %>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Make Voucher For Raw Material
            <% end %>
          </div>
          <div class="col-lg-3 form-group float-left">
            <%= link_to follow_ups_path('q[followable_type_eq]': 'PurchaseSaleDetail'), class: "btn btn-info" do %>
              Follow Up
            <% end %>
          </div>
        <% end %>
        <div class="col-lg-3 form-group float-left">
          <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" id="sec">Search</a>
        </div>
      </div>
    </div>
  <% else %>
    <%if current_user.superAdmin.company_type=="batamega"%>
      <h1>Receiving</h1>
      <%= link_to 'Product Receiving', new_purchase_sale_detail_path(product: true), class: "btn btn-primary" %>
    <%else%>
      <h1>Purchases</h1>
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-3 form-group float-left ">
            <%= link_to new_purchase_sale_detail_path, class: "btn btn-success col-lg-12" do %>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Raw Material Purchase
            <% end %>
          </div>
          <div class="col-lg-3 form-group float-left">
            <%= link_to new_purchase_sale_detail_path(product: true), class: "btn btn-success col-lg-12" do %>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Product Purchase
            <% end %>
          </div>
          <div class="col-lg-3 form-group float-left">
            <%= link_to follow_ups_path('q[followable_type_eq]': 'PurchaseSaleDetail'), class: "btn btn-info" do %>
              Follow Up
            <% end %>
          </div>
        </div>
      </div>
    <%end%>
  <% end %>
  <ul class="nav nav-pills ml-3 mt-2" role="tablist">
		<li class="nav-item">
			<a class="nav-link tab-label active purchase-sale-search-exp-tab" data-toggle="tab" href="#search" role="tab">Search</a>
		</li>
    <li class="nav-item">
      <a class="nav-link tab-label purchase-sale-logs-tab" data-toggle="tab" href="#logs" role="tab">Logs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tab-label analytics-tab" data-toggle="tab" href="#analytics" role="tab">Analytics</a>
    </li>
	</ul>
  <% if params[:sale].present?%>
    <%= link_to '', analytics_purchase_sale_details_path(transaction_type: 'Sale'), id: 'analytics-path', class: 'd-none', remote: true %>
  <% else %>
    <%= link_to '', analytics_purchase_sale_details_path(transaction_type: 'Purchase'), id: 'analytics-path', class: 'd-none', remote: true %>
  <% end %>

  <div class="clearfix"></div>
  <div class="tab-content">
    <div class="tab-pane active mb-3 card shadow-sm mt-2 border-radius-1 mr-4" id="search" role="tabpanel">
      <%= search_form_for @q, url: purchase_sale_details_path, class: "admin-controls", method: "get" do |f| %>
        <div class="clearfix"></div>

        <div class="row">
          <div class="col-lg-12 p-3 collapse show" id="multiCollapseExample1">
            <div class="col-lg-3 form-group float-left">
              <%= f.select :purchase_sale_items_product_id_eq, options_from_collection_for_select(@products, 'id', 'title',@title),{:include_blank => "Select product"}, class: "chosen-select"%>
            </div>
            <div class="col-lg-3 form-group float-left">
              <%= f.select :purchase_sale_items_item_id_eq, options_from_collection_for_select(@items, 'id', 'title',@item_title),{:include_blank => "Select Item"}, class: "chosen-select"%>
            </div>
            <div class="col-lg-3 form-group float-left">
              <%= f.select :sys_user_id_eq, options_from_collection_for_select(@customers, 'id', 'name', @name),{:include_blank => "Select Customer"},class: 'form-control chosen-select'%>
            </div>
            <% if params[:sale].present?%>
              <%=hidden_field_tag 'sale', 'true'%>
            <%elsif params[:return].present?%>
              <%=hidden_field_tag 'return', 'true'%>
            <% end %>
            <%if @pos_type_batha.present?%>
              <div class="col-lg-3 form-group float-left">
                <%= f.select :staff_id_eq, options_from_collection_for_select(@staffs, 'id', 'name',f.object.staff_id_eq),{:include_blank => "Select Loader's"},class: 'form-control chosen-select'%>
              </div>
            <%end%>
            <div class="col-lg-3 form-group float-left">
              <%= f.select :user_name_eq, @users,{:include_blank => "Select Creater"},class: 'form-control chosen-select'%>
            </div>
            <div class="col-lg-3 form-group float-left">
              <%= f.select :account_id_eq, options_from_collection_for_select(@accounts, 'id', 'title',f.object.account_id_eq),{:include_blank => "Select Account's"},class: 'form-control chosen-select'%>
            </div>
            <div class="col-lg-2 form-group float-left">
              <%= f.search_field :created_at_gteq,class: 'form-control input-sm datepicker' ,placeholder: "YYYY-MM-DD"%>
            </div>
            <div class="col-lg-2 form-group float-left">
              <%= f.search_field :created_at_lteq,class: 'form-control input-sm datepicker' ,placeholder: "YYYY-MM-DD"%>
            </div>
            <div class="col-lg-2 form-group float-left">
              <%= f.text_field :id_eq, class: "form-control",placeholder: "Voucher Number"%>
            </div>
            <div class="col-lg-2 form-group float-left">
              <%= f.text_field :bill_no_eq, class: "form-control",placeholder: "Bill/PO Number"%>
            </div>
            <div class="col-lg-1 form-group float-left">
              <button class="form-control btn btn-primary" name="search_submit" type="submit" style="width:100px" value="Search"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
        
        <div class="row ml-1">
          <div class="col-lg-12">
            <div class="dropdown my-dropdown float-left mr-2">
              <button type="button" class="form-control bg-danger text-light">PDF List</button>
              <div class="dropdown-content my-dropdown-content p-2" style="width: 250px;">
                <% if params[:sale].present?%>
                  <button class="form-control btn btn-danger mt-2" name="sale_submit" type="submit" value="Total Sale PDF A8" formtarget="_blank"><i class="fa fa-file-pdf"></i> Quantity details A8</button>
                <% elsif params[:return].present?%>
                  <button class="form-control btn btn-danger mt-2" name="sale_submit" type="submit" value="Total Sale Return PDF A8" formtarget="_blank"><i class="fa fa-file-pdf"></i> Quantity details A8</button>
                <%else%>
                  <button class="form-control btn btn-danger mt-2" name="purchase_submit" type="submit" value="Total Purchase PDF A8" formtarget="_blank"><i class="fa fa-file-pdf"></i> Purchase A8</button>
                <%end%>

                <% if params[:sale].present?%>
                  <button class="form-control btn btn-danger mt-2" name="sale_submit" type="submit" value="Total Sale PDF A4" formtarget="_blank"><i class="fa fa-file-pdf"></i> Quantity details A4</button>
                <% elsif params[:return].present?%>
                  <button class="form-control btn btn-danger mt-2" name="sale_submit" type="submit" value="Total Sale Return PDF A4" formtarget="_blank"><i class="fa fa-file-pdf"></i> Quantity details A8</button>
                <%else%>
                  <button class="form-control btn btn-danger mt-2" name="purchase_submit" type="submit" value="Total Purchase PDF A4" formtarget="_blank"><i class="fa fa-file-pdf"></i> Purchase A4</button>
                <%end%>

                <% if params[:sale].present?%>
                  <button class="form-control btn btn-danger mt-2" name="submit_pdf_staff_without" type="submit" value="Total Sale PDF A8" formtarget="_blank"><i class="fa fa-file-pdf"></i> Sale list</button>
                  <button class="form-control btn btn-danger mt-2" name="submit_pdf_staff_without_bulk" type="submit" value="Total Sale PDF A8" formtarget="_blank"><i class="fa fa-file-pdf"></i>bulk invoices</button>
                <% elsif params[:return].present?%>
                  <button class="form-control btn btn-danger mt-2" name="submit_pdf_staff_without" type="submit" value="Total Sale PDF A8" formtarget="_blank"><i class="fa fa-file-pdf"></i> Sale Return list</button>
                  <button class="form-control btn btn-danger mt-2" name="submit_pdf_staff_without_bulk" type="submit" value="Total Sale PDF A8" formtarget="_blank"><i class="fa fa-file-pdf"></i>bulk Return invoices</button>
                <%end%>

              </div>
            </div>
            <div class="form-group float-left">
                <button class="form-control btn btn-info" name="email" type="submit" value="Email"><i class="fas fa-envelope"></i> email</button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="tab-pane card shadow-sm mt-2 border-radius-1" id="logs" role="tabpanel">
      <p>
        <div class="d-flex">
          <%= link_to view_history_purchase_sale_details_path(type: @transaction_type_logs), class: "btn btn-success d-none", id: "purchase-sale-logs", remote:true do %>
            show logs
          <% end %>
          <div id = "show-logs"></div>
        </div>
        <div class="my-loader mx-auto"></div>
      </p>
    </div>
    <div class="tab-pane mb-3 card shadow-sm mt-2 p-3 border-radius-1" id="analytics" role="tabpanel">
      <div id="show-analytics" class="row"></div>
    </div>
  </div>
  <div class= "purchase-sale-book-index-card card border-radius-1 shadow mt-3 mr-3 p-3">
    <table data-toggle="table" data-search="true">
      <thead>
        <tr>
          <th></th>
          <th>#</th>
          <th><%= sort_link(@q, :sys_user_name, 'Customers') %></th>
          <th><%= sort_link(@q, :purchase_sale_item_count, 'Items') %></th>
          <th><%= sort_link(@q, :total_bill, 'Total Bill') %></th>
          <th><%= sort_link(@q, :amount, 'Paid') %></th>
          <th><%= sort_link(@q, :discount_price, 'Discount') %></th>
          <th><%= sort_link(@q, :status, 'Status') %></th>
          <th><%= sort_link(@q, :created_at, 'Time') %></th>
          <th><%= sort_link(@q, :bill_no, 'EDate/Bill/PO') %></th>
          <th><%= sort_link(@q, :comment, 'Comment') %></th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% @purchase_sale_details.each_with_index do |purchase_sale_detail, index| %>
        <% demo_id = "demo#{index}"%>
          <tr>
            <td class="accordion-toggle acc-pointer" data-toggle="collapse" data-target="#<%= demo_id %>"><i class="fa fa-plus-circle ml-4"></i></td>
            <td><b><%= purchase_sale_detail.voucher_id.to_s+'#'+purchase_sale_detail.id.to_s %></b></td>
            <td class="urdu-font">
              <b>
              <%= link_to sys_users_path('q[id_eq]':purchase_sale_detail.sys_user) do %>
                <%= purchase_sale_detail.sys_user.name %>
              <%end %>
              </b>
            </td>
            <td><b><%= number_with_delimiter purchase_sale_detail.purchase_sale_items.count rescue 0 %></b></td>
            <td><b><%= number_with_delimiter purchase_sale_detail.total_bill.to_f.round(2) rescue 0 %></b></td>
            <td><b><%= number_with_delimiter purchase_sale_detail.amount.to_f.round(2) rescue 0%></b></td>
            <td><b><%= number_with_delimiter purchase_sale_detail.discount_price.to_f.round(2) rescue 0%></b></td>
            <td>
              <b>
                <% if (purchase_sale_detail.total_bill.to_i - (purchase_sale_detail.amount.to_f+purchase_sale_detail.discount_price.to_f)) > 0 %>
                  <p class="text-danger">
                  Pending
                  <br>
                  </p>
                  <h5 style="color:#FF0000"><%= number_with_delimiter(purchase_sale_detail.total_bill.to_i - (purchase_sale_detail.amount.to_f+purchase_sale_detail.discount_price.to_f))%></h5>
                <% else %>
                  <p class="text-success">
                    <b><%= purchase_sale_detail.status  %></b>
                  </p>
                <% end %>
              </b>
            </td>
            <td>
              <%if purchase_sale_detail.created_at.strftime("%d%b%y")!=purchase_sale_detail.updated_at.strftime("%d%b%y")%>
                <%= purchase_sale_detail.created_at.present? ? purchase_sale_detail.created_at.strftime("%d/%b/%y at %I:%M%p") : '' %> <hr> <%= purchase_sale_detail.updated_at.present? ? purchase_sale_detail.updated_at.strftime("%d/%b/%y at %H:%M%p") : '' %>
              <%else%>
                <%= purchase_sale_detail.created_at.present? ? purchase_sale_detail.created_at.strftime("%d/%b/%y at %I:%M%p") : '' %>
              <%end%>
            </td>
            <td><%= purchase_sale_detail.purchase_sale_items.expiry rescue '' %> <%= purchase_sale_detail.bill_no%></td>
            <td><%=purchase_sale_detail.staff_full_name%> | <%= purchase_sale_detail.comment %> <%=purchase_sale_detail.with_gst.present? ? "GST" : ""%></td>
            <td>
              <div class="icon-container-1">
                <div class="my-icon-1 my-view-1">
                  <div class="my-tooltip-1">
                    <div class="icon-container">
                      <div class="my-icon my-view">
                        <div class="my-tooltip">
                          Edit
                        </div>
                        <%if (check_can_update(@module_permission))%>
                          <%if purchase_sale_detail.purchase_sale_items.present?%>
                            <%if purchase_sale_detail.purchase_sale_items.first.product.present? %>
                              <%if purchase_sale_detail.with_gst=="true"%>
                                <%= link_to edit_purchase_sale_detail_path(purchase_sale_detail,product: true,with_gst:true), class:"icon-div" do %>
                                  <i class="fa fa-edit mt-2" aria-hidden="true"></i>
                                <% end %>
                              <%else%>
                                <%= link_to edit_purchase_sale_detail_path(purchase_sale_detail,product: true), class:"icon-div" do %>
                                  <i class="fa fa-edit mt-2" aria-hidden="true"></i>
                                <% end %>
                              <% end %>
                            <%else%>
                              <%= link_to edit_purchase_sale_detail_path(purchase_sale_detail), class:"icon-div" do %>
                                <i class="fa fa-edit mt-2" aria-hidden="true"></i>
                              <% end %>
                            <%end%>
                          <%end%>
                        <% end %>
                      </div>
                      <div class="my-icon my-view">
                        <div class="my-tooltip">
                          Delete
                        </div>
                        <%if (check_can_delete(@module_permission))%>
                          <%= link_to purchase_sale_detail, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete icon-div' do %>
                            <i class="fa fa-trash mt-2" aria-hidden="true"></i>
                          <% end %>
                        <% end %> 
                      </div>
                      <div class="my-icon my-view">
                        <div class="my-tooltip">
                          Undo
                        </div>
                        <%if (check_can_delete(@module_permission))%>
                          <%if ['Purchase','Sale'].include? purchase_sale_detail.transaction_type.to_s%>
                            <%= link_to new_purchase_sale_detail_path(purchase_sale_detail_id:purchase_sale_detail.id,product:true,transaction_type:'sale',purchase_sale_type: "SaleReturn"), class:"icon-div" do %>
                              <i class="fa fa-undo mt-2"></i>
                            <% end %>
                          <%end%>
                        <% end %> 
                      </div>
                      <div class="my-icon my-view">
                        <div class="my-tooltip">
                          Show
                        </div>
                        <%if (check_can_read(@module_permission))%>
                          <%if purchase_sale_detail.with_gst=="true"%>
                            <%= link_to purchase_sale_detail_path(purchase_sale_detail,pdf: true),target: "_blank", class:"icon-div"  do %>
                              <i class="fa fa-eye mt-2" aria-hidden="true"></i>
                            <% end %>
                          <%else%>
                            <%= link_to purchase_sale_detail_path(purchase_sale_detail,pdf: true),target: "_blank", class:"icon-div"  do %>
                              <i class="fa fa-eye mt-2" aria-hidden="true"></i>
                            <% end %>
                          <%end%>
                        <%end%>    
                      </div>
                      <div class="my-icon my-view">
                        <div class="my-tooltip">
                          PDF
                        </div>
                        <%if (check_can_download_pdf(@module_permission))%>
                          <%if purchase_sale_detail.with_gst=="true"%>
                            <%= link_to purchase_sale_detail_path(purchase_sale_detail,with_gst: true),target: "_blank", class:"icon-div" do %>
                              <i class="fa fa-print mt-2" aria-hidden="true"></i>
                            <% end %>
                          <%else%>
                            <%= link_to purchase_sale_detail,target: "_blank", class:"icon-div" do %>
                              <i class="fa fa-print mt-2" aria-hidden="true"></i>
                            <% end %>
                          <%end%> 
                        <% end %>    
                      </div>
                      
                    </div>
                  </div>
                  <span class="icon-div-1">
                        <i class="fa fa-ellipsis-v mt-2" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </td>

          </tr>
          <td colspan="12" class="hiddenRow">
            <div class="accordian-body collapse p-3 card border-radius-1 shadow m-4"  id="<%= demo_id %>">
              <%if purchase_sale_detail.purchase_sale_items_names_and_quantity!=0%>
                <div class="row p-3 mb-2" style="font-size: 1.4em;">
                  <div class="col"></div>
                  <div class="col" class="table-active"><b>Item type</b></div>
                  <div class="col" class="table-active"><b>Quantity</b></div>
                  <div class="col" class="table-active"><b>Rate</b></div>
                  <div class="col" class="table-active"><b>Amount</b></div>
                  <div class="col" class="table-active"><b>Date</b></div>
                  <div class="col" class="table-active"><b>Profit</b></div>
                  <div class="col" class="table-active"><b>GST</b></div>
                </div>
                <%if purchase_sale_detail.transaction_type=="Sale"%>
                  <%profit=0%>
                  <%gst=0%>
                  <%purchase_sale_detail.purchase_sale_items_names_and_quantity.each do |name_quantity|%>
                    <div class = <%=name_quantity[9]=='Return_type' ? 'row bg-danger text-white p-3 mb-2' : 'row p-3 mb-2'%> style="font-size: 1.2em;" >
                      <div class="col"><%=number_with_delimiter name_quantity[9].split('_type')[0]%></div>
                      <div class="col"><%=number_with_delimiter name_quantity.first%></div>
                      <div class="col"><%=number_with_delimiter name_quantity.second%><% @total_pro += name_quantity.second %></div>
                      <div class="col"><%=number_with_delimiter name_quantity.third%></div>
                      <div class="col"><%=number_with_delimiter name_quantity.fourth%><% @total_discont += name_quantity.fourth if name_quantity.fourth.present? %></div>
                      <div class="col"><%=name_quantity.fifth.strftime("%d%b%y") if name_quantity.fifth.present?%></div>
                      <div class="col">
                        <% name_quantity[9]=='Return_type' ? profit-=name_quantity[3].to_f-name_quantity[6].to_f : profit+=name_quantity[3].to_f-name_quantity[6].to_f %>
                        <%=name_quantity[9]=='Return_type' ? -(name_quantity[3].to_f-name_quantity[6].to_f).round(2) : (name_quantity[3].to_f-name_quantity[6].to_f).round(2)%>
                      </div>
                      <div class="col">
                        <% gst+=name_quantity[10].to_f%>
                        <%= name_quantity[10]%>
                      </div>
                      
                      
                    </div>
                  <%end%>
                  <div class="row bg-info text-light p-3 mt-4" style="font-size: 1.2em; font-weight: bold">
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"><%= number_with_delimiter profit.to_f.round(2)-purchase_sale_detail.discount_price.to_f%></div>
                    <div class="col"><%=gst.to_f.round(2)%></div>
                  </div>
                <%else%>
                  <%purchase_sale_detail.purchase_sale_items_names_and_quantity.each do |name_quantity|%>
                    <div class="row p-3 mb-2">
                      <div class="col"></div>
                      <div class="col"></div>
                      <div class="col"><%=name_quantity.first%></div>
                      <div class="col"><%=name_quantity.second%><% @total_pro += name_quantity.second %></div>
                      <div class="col"><%=name_quantity[5]%></div>
                      <div class="col"><%=name_quantity[6]%><% @total_discont += name_quantity[6] if name_quantity.fourth.present? %></div>
                      <div class="col"></div>
                      <div class="col"><%=name_quantity.fifth.strftime("%d%b%y") if name_quantity.fifth.present?%></div>
                      <div class="col"></div>
                      <div class="col"></div>
                      <div class="col"></div>
                    </div>
                  <%end%>
                <%end%>
              <%end%>
            </div>
          </td>  
          
        <% end %>
       <tr>
          <td><h5></h5></td>
          <td></td>
          <td></td>
          <td class="table-active"><h5>Total Bill</h5></td>
          <td class="table-active"><h5>Total Paid</h5></td>
          <td class="table-active"><h5>Total Discount</h5></td>
          <td class="table-active"><h5>Pending</h5></td>
          <td></td>
          <td  class="table-active"><h5>Profit</h5></td>
          <td></td>
          <td></td>


        </tr>
        <tr>
          <td class="table-active"><h5>Total</h5><td>
          <td></td>
          <td><h5><%=number_with_delimiter @total_bil.to_f.round(2)%></h5></td>
          <td><h5><%=number_with_delimiter @total_am.to_f.round(2)%></h5></td>
          <td><h5><%=number_with_delimiter @total_dis.to_f.round(2)%></h5></td>
          <td><h5><%=number_with_delimiter((@total_bil.to_f-(@total_am+@total_dis).to_f).round(2))%></h5></td>
          <td></td>
          <td><h5><%=number_with_delimiter@total_profit.to_f.round(2)%></h5></td>
          <td></td>
          <td></td>



        </tr>
        <tr>
          <td><h5></h5><td>
          <td></td>
          <td class="table-active"><h5>Total Quantity</h5></td>
          <td></td>
          <td><h4></h4></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>



        </tr>
        <tr>
          <td class="table-active"><h5>Product Sold</h5><td>
          <td></td>
          <td><h5><%=@total_pro%></h5></td>
          <td></td>
          <td><h4></h4></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>



        </tr>


      </tbody>
    </table>
  </div>
</div>

<div class="clearfix"></div>
<div class="row purchase-sale-book-index-card">
  <div class="col-lg-4 col-sm-4">
    <%= page_entries_info @purchase_sale_details %>
  </div>
  <div class="col-lg-8 col-sm-8 pagination-left">
    <%= paginate @purchase_sale_details %>
  </div>
</div>

<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#purchase_sale_detail_list").removeClass('hidden');
    FontAwesome.dom.i2svg();

    $('.purchase-sale-logs-tab').on('click', function(){
      $('#purchase-sale-logs').click();
      $('.purchase-sale-book-index-card').addClass('d-none')
    })


    $('.purchase-sale-search-exp-tab').on('click', function(){
      $('.purchase-sale-book-index-card').removeClass('d-none')
    })
  });
  $(document).ready(function() {
    setTimeout(function(){
      $(".chosen-select").chosen({
      allow_single_deselect: true,
      width: '100%'
    });
    }, 50);
    $('.analytics-tab').on('click', function(){
      $('#analytics-path').click();
    })
  });

  $(function() {
    setTimeout(function() { $(".my-loader").fadeOut(1500); }, 5000)
  })
</script>
<script>
$('.accordian-body').on('show.bs.collapse', function () {
    $(this).closest("table")
        .find(".collapse.in")
        .not(this)
        .collapse('toggle')
})
</script>