<tr>
  <td><%= check_box_tag 'object_ids[]', expense_type.id %></td>
  <td><%= expense_type.id %></td>
  <td class='urdu-font'><%= expense_type.title %></td>
  <td><span title="<%= expense_type.comment %>" class='truncate-text'><%= expense_type.comment %></span></td>
  <td>
		<div class="icon-container">
			<%if (ApplicationHelper.check_can_update(current_user,"expense_types"))%>
				<div class="my-icon my-view">
          <div class="my-tooltip">
            Edit
          </div>
          <span class="icon-div">
						<%= link_to edit_expense_type_path(expense_type), remote: true do %>
							<i class="fa fa-edit mt-2" aria-hidden="true"></i>
						<%end %>
          </span>
        </div>
			<% end %>

		<%if (ApplicationHelper.check_can_delete(current_user,"expense_types"))%>
			<div class="my-icon my-view">
				<div class="my-tooltip">
					Delete
				</div>
				<span class="icon-div">
					<%= link_to expense_type, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete' do %>
						<i class="fa fa-trash mt-2" aria-hidden="true"></i>
					<%end %>
				</span>
				</div>
		<% end %>

		<%if (ApplicationHelper.check_can_read(current_user,"expense_types"))%>
      <div class="my-icon my-view">
				<div class="my-tooltip">
					Show
				</div>
				<span class="icon-div">
					<%= link_to expense_type_path(expense_type), remote: true do %>
						<i class="fa fa-eye mt-2" aria-hidden="true"></i>
					<%end %>
				</span>
			</div>
		<%end%>
		
		<%if (ApplicationHelper.check_can_download_pdf(current_user,"expense_types"))%>
      <div class="my-icon my-view">
				<div class="my-tooltip">
						PDF
				</div>
				<span class="icon-div">
					<%= link_to expense_types_path('q[id_eq]':expense_type.id,'pdf':true), title: 'Download PDF', target: '_blank' do %>
						<i class="fa fa-file-pdf text-danger mt-2 " aria-hidden="true"></i>
					<%end %>
				</span>
      </div>
		<%end %>

		<%if (ApplicationHelper.check_can_download_csv(current_user,"expense_types"))%>
			<div class="my-icon my-view">
				<div class="my-tooltip">
					CSV
				</div>
				<span class="icon-div">
					<%= link_to expense_types_path('q[id_eq]':expense_type.id,'csv':true), title: 'Download CSV' do%>
						<i class="fa fa-file-excel mt-2 text-success" aria-hidden="true"></i>
					<%end %>
				</span>
			</div>
		<%end%>
			<b class="ml-2 mt-1">Total changes: <%= expense_type.versions.count%></b>
    </div>

  </td>
</tr>
