<tr>
  <td><%= check_box_tag 'object_ids[]', expense_type.id %></td>
  <td><%= expense_type.id %></td>
  <td class='urdu-font'><%= expense_type.title %></td>
  <td><%= expense_type.comment %></td>
  <td>
    <% if can?(:update, :all) %>
      <%= link_to edit_expense_type_path(expense_type), remote: true do %>
        <i class="fa fa-edit mr-2 ml-2" aria-hidden="true"></i>
      <%end %>
    <% end %> |
    <% if can?(:delete, :all) %>
      <%= link_to expense_type, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete' do %>
        <i class="fa fa-trash mr-2 ml-2" aria-hidden="true"></i>
      <%end %>
    <% end %> |
    <% if can?(:view, :all) %>
      <%= link_to expense_type_path(expense_type),remote: true do %>
        <i class="fa fa-eye mr-2 ml-2 " aria-hidden="true"></i>
      <%end %>
    <%end%> |
    <%= link_to expense_types_path('q[id_eq]':expense_type.id,'pdf':true), title: 'Download PDF', target: '_blank' do %>
			<i class="fa fa-file-pdf text-danger mr-2 ml-2 " aria-hidden="true"></i>
		<%end %>|
		<%= link_to expense_types_path('q[id_eq]':expense_type.id,'csv':true), title: 'Download CSV' do%>
			<i class="fa fa-file-excel mr-2 ml-2 text-success" aria-hidden="true"></i>
		<%end %>
  </td>
</tr>
