<% if @purchase_sale_detail.order%>
  <div class="d-flex justify-content-center">
    <h1 ><%= params[:transaction_type].present? ? "Booking Details" : "Purchase Details"%></h1>
  </div>
  <div class="row-lg-12  m-3">
    <div class="col p-1">
      <div class="card border-radius-1 shadow mb-3">
        <div class="row">
          <div class="col d-flex justify-content-center"><h4 class=" p-5 "> Total Bill<br><%=@purchase_sale_detail.order.total_bill.to_i%></h4></div>
          <div class="col d-flex justify-content-center"><h4 class=" p-5 ">Received<br> <%=(@purchase_sale_detail.order.amount.to_i.abs+@purchase_sale_detail.order.purchase_sale_details.sum(:amount))%></h4></div>
          <div class="col d-flex justify-content-center"><h4 class=" p-5 ">Customer Balance<br> <%=@purchase_sale_detail.order.sys_user.balance.to_i%></h4></div>
        </div>
      </div>
        
      <div class="row-lg-12 card border-radius-1 shadow pt-4 px-3">
        <%if @purchase_sale_detail.order.order_items_names_and_quantity!=0%>
            <%@purchase_sale_detail.order.order_items_names_and_quantity.each do |name_quantity|%>
            <table >
              <tr>
                <td><%=name_quantity.first%> <%=name_quantity[5]%></td>
                <td><%=name_quantity.second%></td>
                <td><%=name_quantity.third%></td>
                <td><%=name_quantity.fourth%></td>
              </tr>
            </table>
          <% end %>
        <% end %>
      </div>  
      
    </div>
  </div>
<%end%>

<%= bootstrap_form_for(purchase_sale_detail) do |f| %>
  <% if purchase_sale_detail.errors.any? %>
    <div class="col-xl-12 col-md-12 mb-12">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="row">
                <div id="error_explanation">
                  <h2><%= pluralize(purchase_sale_detail.errors.count, "error") %> prohibited this purchase_sale_detail from being saved:</h2>
                  <ul>
                  <% purchase_sale_detail.errors.full_messages.each do |message| %> <li><%= message %></li><% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row m-3">
    <div class="col card m-1 p-3 border-radius-1 shadow">
      <div class="row p-3">
        <div class='hidden'>
          <%if params[:transaction_type].present? or @purchase_sale_detail.transaction_type=='Sale'%>
          <%= f.hidden_field :transaction_type, value: "Sale" %>
          <%else%>
          <%= f.hidden_field :transaction_type, value: PurchaseSaleDetail.transaction_types.first.first%>
          <%end%>
          <%= f.select :status, PurchaseSaleDetail.statuses.map { |key, value| [key.humanize, key] },{hide_label:true,class: "form-control", required: true} %>
        </div>
        <%if params[:transaction_type].present? or @purchase_sale_detail.transaction_type=='Sale'%>
          <div class="font-weight-bold ">
            <h3><%=f.object.sys_user.name if f.object.sys_user%></h3>
            <div class="hidden">
            <%=f.select :sys_user_id, options_from_collection_for_select(@customers, 'id', 'name', f.object.sys_user_id), {label:'User',prompt: "Select the Customer"}, required: true,'data-rule-chosen-required':"true",:class=>"form-control",onchange:"set_sys_user_balance(this.value,'sys_user_balance')",onkeyup:"set_sys_user_balance(this.value,'sys_user_balance')"%>
            </div>
          </div>
          
        <%else%>
          <div class="font-weight-bold"><%= f.select :sys_user_id, options_from_collection_for_select(@suppliers, 'id', 'name', f.object.sys_user_id), {label:'User',prompt: "Select the Supplier"}, required: true,onchange:"set_sys_user_balance(this.value,'sys_user_balance')",onkeyup:"set_sys_user_balance(this.value,'sys_user_balance')" %></div>
        <%end%>
        <div class="font-weight-bold hidden">
          <%= f.select :order_id, options_from_collection_for_select(@orders, 'id', ->(st){"#{st.id} \u{27F6} #{st.total_bill} "}, f.object.order_id), {prompt: "Select the Order"}%>
        </div>
        <div class="font-weight-bold mt-3 mr-3">
          <%= f.select :account_id , options_from_collection_for_select(@accounts, 'id', 'title', (f.object.account_id.present? ? f.object.account_id : @account)), label: "Casher"%>
        </div>
        
        <div class="font-weight-bold mt-3"> <%= f.hidden_field :total_bill%>
          <%= f.number_field :amount,step: :any,label:'Received Amount',onchange:"remaingUpdateAmount()",onkeyup:"remaingUpdateAmount()", required: true %>
        </div>
        <div class="font-weight-bold">
          <%= f.number_field :discount_price,step: :any,label:'Discount',onchange:"remaingUpdateAmount()",onkeyup:"remaingUpdateAmount()"%>
        </div>
      </div>   
    </div>

    <div class="col card m-1 align-items-center p-3 border-radius-1 shadow">
      <h2 class="mb-4"><%= params[:transaction_type].present? ? "Depost Detail" : "Purchase Detail"%> /
        <span id="sys_user_balance">
          0.0
        </span>
      </h2>
      Total Bill <h2 class="purchase_sale_detail_total_bill">0.00</h2>
      Total <h2 class="purchase_sale_discount_amount">0.00</h2>
      Remaning <h2 class="purchase_sale_detail_amount">0.00</h2>

    </div>

  </div>


  <% if purchase_sale_detail.errors.any? %>
    <div class="col-xl-12 col-md-12 mb-12">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="row">
                <div id="error_explanation">
                  <h2><%= pluralize(purchase_sale_detail.errors.count, "error") %> prohibited this purchase_sale_detail from being saved:</h2>
                  <ul>
                  <% purchase_sale_detail.errors.full_messages.each do |message| %> <li><%= message %></li><% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row no-gutters align-items-center m-3">
    <div class="col mr-2">
     
      <%= f.fields_for :purchase_sale_items do |purchase_sale_item| %>
        <%= render '/purchase_sale_details/house_scheme/purchase_sale_items_fields', f: purchase_sale_item %>
      <% end %>
    </div>
  </div>  
  
  <%if @purchase_sale_detail.transaction_type!='Sale' || params[:transaction_type]!='sale'%>
    <div class="card border-radius-1 shadow p-2 m-3">
      <div class="row no-gutters align-items-center p-3">
        <div class="col mr-2">
          <div class="row col-lg-12">
            <%= f.fields_for :expense_entries do |expense_entry| %>
              <%= render 'expense_entries_fields', f: expense_entry %>
            <% end %>
          </div>
          <div class="row col-lg-12">
            <div class="links font-weight-bold text-light text-uppercase">
              <%= link_to_add_association f, :expense_entries, partial: 'expense_entries_fields', class:"btn btn-primary"  do %>
                <i class="fa fa-plus"></i> Add Expense
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>      
  <%end%>

  <div class="row">
    <div class="col card border-radius-1 shadow p-3 m-4">
      <div class="font-weight-bold"><%= f.text_field :bill_no%></div>
      <div class="font-weight-bold"><%= f.select :staff_id, options_from_collection_for_select(@staffs, 'id', 'name', f.object.staff_id), {label: "Dealer",prompt: "Select Dealer"}%></div>
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
          <a class="nav-link tab-label com-search-tab active" data-toggle="tab" href="#commission" role="tab">Commission</a>
        </li>
        <li class="nav-item">
            <a class="nav-link tab-label com-perc-search-tab" data-toggle="tab" href="#com_with_perc" data-remote="true" role="tab">Commission with %</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tab-label com-price-search-tab" data-toggle="tab" href="#com_by_price" role="tab">Commission by Price</a>
        </li>
      </ul>
      <div class="tab-content mb-3">
        <div class="tab-pane active card border-radius-1 mt-3" id="commission" role="tabpanel">
          <div class="font-weight-bold">
            <label class="required" for="purchase_sale_detail_carriage_value">Commission</label>
            <% commition = f.object.carriage.to_f %>
            <% total_area = (f.object&.purchase_sale_items&.first&.quantity&.to_f).present? ? f.object&.purchase_sale_items&.first&.quantity&.to_f : 1  %>
            <input onchange="saleCostUpdateReturn('commission')" onkeyup="saleCostUpdateReturn('commission')" class="form-control valid" type="number" value=<%=commition/(total_area) %> id="purchase_sale_detail_carriage_value" aria-invalid="false">
          </div>
          <div class="font-weight-bold">
            <label class="required" for="purchase_sale_detail_loading_value">Resale Payment/Own</label>
            <input onchange="saleCostUpdateReturn('commission')" onkeyup="saleCostUpdateReturn('commission')" class="form-control valid" type="number" value="0.0" id="purchase_sale_detail_loading_value" aria-invalid="false">
          </div>
        </div>
        <div class="tab-pane  card border-radius-1 mt-3" id="com_with_perc" role="tabpanel">
          <div class="font-weight-bold">
            <label class="required" for="purchase_sale_detail_carriage_value">Commission With Percentage</label>
            <% commition = f.object.carriage.to_f %>
            <% total_area = (f.object&.purchase_sale_items&.first&.quantity&.to_f).present? ? f.object&.purchase_sale_items&.first&.quantity&.to_f : 1  %>
            <input onchange="saleCostUpdateReturn('commission with perc')" onkeyup="saleCostUpdateReturn('commission with perc')" class="form-control valid" type="number" value=<%=commition/(total_area) %> id="purchase_sale_detail_carriage_perc_value" aria-invalid="false">
          </div>
          <div class="font-weight-bold">
            <label class="required" for="purchase_sale_detail_loading_value">Resale Payment/Own</label>
            <input onchange="saleCostUpdateReturn('commission with perc')" onkeyup="saleCostUpdateReturn('commission with perc')" class="form-control valid" type="number" value="0.0" id="purchase_sale_detail_loading_perc_value" aria-invalid="false">
          </div>
        </div>
        <div class="tab-pane card border-radius-1 mt-3" id="com_by_price" role="tabpanel">
          <div class="font-weight-bold">
            <label class="required" for="purchase_sale_detail_carriage_value">Commission by Price</label>
            <% commition = f.object.carriage.to_f %>
            <% total_area = (f.object&.purchase_sale_items&.first&.quantity&.to_f).present? ? f.object&.purchase_sale_items&.first&.quantity&.to_f : 1  %>
            <%= f.number_field :carriage,onchange:"saleCostUpdateReturn('commission with price')",hide_label:true,onkeyup:"saleCostUpdateReturn('commission with price')", value: commition/(total_area), id: "purchase_sale_detail_carriage_price_value", required: true %>
          </div>
          <div class="font-weight-bold">
            <label class="required" for="purchase_sale_detail_loading_value">Resale Payment/Own</label>
            <%= f.number_field :loading,onchange:"saleCostUpdateReturn('commission with price')",hide_label:true,onkeyup:"saleCostUpdateReturn('commission with price')", id: "purchase_sale_detail_loading_price_value", required: true %>
          </div>
        </div>
      </div>
      <div>
        <%= f.number_field :carriage,hide_label:true, required: true, readonly:true%>
        <%= f.number_field :loading,hide_label:true, required: true, readonly:true%>
      </div>
    </div>
    <div class="col card border-radius-1 shadow p-3 m-4">
      <div class="font-weight-bold"><%= f.datetime_select :created_at%></div>
      <% if f.object.persisted? && f.object.purchase_sale_images.present? %>
        <% f.object.purchase_sale_images.each do |image| %>
          <%= image_tag image, width: 200, style: 'margin-right:20px;' %>
        <% end %>
      <% end %>
      <div class="font-weight-bold ">
      <%= f.file_field :purchase_sale_images, multiple: true,'Filelimit' => 10, accept: 'image/*,.png', placeholder: '100 MB', class: "cursor-pointer upload_field" %>
      </div>
      <div class="font-weight-bold"><%= f.text_area :comment%></div>
    </div>
  </div>
  <hr>
  <div class="actions form-group float-right font-weight-bold">
    <%= f.submit class: "btn btn-success", style: "float: right",value: "Save", onclick:"save_sale()" %>
  </div>
  <div class="actions form-group float-right font-weight-bold">
    <%= f.submit class: "btn btn-primary mr-3", style: "float: right",value: "Save with Print", onclick:"save_sale()" %>
  </div>
<% end %>
<%= javascript_include_tag 'hover', 'data-turbolinks-track': 'reload' %>
</div>
<script>
  $(document).ready(function() {

    $('.com-search-tab').on('click', function(){
      $('#purchase_sale_detail_carriage_perc_value').val(0)
      $('#purchase_sale_detail_carriage_price_value').val(0)
      $('#purchase_sale_detail_loading_perc_value').val(0)
      $('#purchase_sale_detail_loading_price_value').val(0)
      saleCostUpdateReturn()

      $('#purchase_sale_detail_carriage_value').attr('disabled', false)
      $('#purchase_sale_detail_loading_value').attr('disabled', false)

      $('#purchase_sale_detail_carriage_perc_value').attr('disabled', true)
      $('#purchase_sale_detail_carriage_price_value').attr('disabled', true)
      $('#purchase_sale_detail_loading_perc_value').attr('disabled', true)
      $('#purchase_sale_detail_loading_price_value').attr('disabled', true)
    })

    $('.com-perc-search-tab').on('click', function(){
      $('#purchase_sale_detail_carriage_value').val(0)
      $('#purchase_sale_detail_carriage_price_value').val(0)
      $('#purchase_sale_detail_loading_value').val(0)
      $('#purchase_sale_detail_loading_price_value').val(0)
      saleCostUpdateReturn()
      $('#purchase_sale_detail_carriage_perc_value').attr('disabled', false)
      $('#purchase_sale_detail_loading_perc_value').attr('disabled', false)

      $('#purchase_sale_detail_carriage_value').attr('disabled', true)
      $('#purchase_sale_detail_carriage_price_value').attr('disabled', true)
      $('#purchase_sale_detail_loading_value').attr('disabled', true)
      $('#purchase_sale_detail_loading_price_value').attr('disabled', true)
    })


    $('.com-price-search-tab').on('click', function(){
      $('#purchase_sale_detail_carriage_value').val(0)
      $('#purchase_sale_detail_carriage_perc_value').val(0)
      $('#purchase_sale_detail_loading_value').val(0)
      $('#purchase_sale_detail_loading_perc_value').val(0)
       saleCostUpdateReturn()
      $('#purchase_sale_detail_loading_price_value').attr('disabled', false)
      $('#purchase_sale_detail_carriage_price_value').attr('disabled', false)

      $('#purchase_sale_detail_carriage_value').attr('disabled', true)
      $('#purchase_sale_detail_carriage_perc_value').attr('disabled', true)
      $('#purchase_sale_detail_loading_value').attr('disabled', true)
      $('#purchase_sale_detail_loading_perc_value').attr('disabled', true)
    })

  });
</script>