<div class="list_content_page">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="main-content-header">
        <h1><%= current_user.allowed_valid_roles.to_s.titleize+'s' %></h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="<%= root_path %>">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">
            <a href="<%= users_path %>">Admins</a>
          </li>
        </ol>
      </div>

      <div class="float-right">
          <div class="dropdown ml-auto mr-4">
           <span class="btn btn-info" title= "About This page">Help</span>
            <div class="dropdown-content">
              <% if @help.present? %>
              <% @help&.help_links.each do |link| %>
              <a type="button" class="" target="_blank" href="<%= link[1] %>" >Help in <%= link[0] %></a>
               <% end %>
              <% end %>
            </div>
          </div>
      </div>

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link tab-label active" data-toggle="tab" href="#search" role="tab">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tab-label" data-toggle="tab" href="#create" role="tab">Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tab-label" data-toggle="tab" href="#pdf" role="tab">Download pdf</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tab-label" data-toggle="tab" href="#csv" role="tab">Download Csv</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tab-label" data-toggle="tab" href="#emails" role="tab">Send Email</a>
        </li>
        <li class="nav-item">
         <a class="nav-link tab-label" data-toggle="tab" href="#import-export" role="tab">Import/Export</a>
        </li>
      </ul>

      <%= search_form_for @q, url: users_path, class: "admin-controls", method: "get" do |f| %>
        <div class="tab-content mb-5">
          <div class="tab-pane active" id="search" role="tabpanel">
            <p>
             <div class="row search_form ml-2">
               <div class="col-lg-12 col-sm-12">
                  <%= search_form_for @q, url: users_path, class: "admin-controls", method: "get" do |f| %>
                  <div class="col-lg-2 col-sm-2 form-group float-left padding_left_zero">
                    <%= f.search_field :name_cont, placeholder: "Name", title: "Name" ,class: "form-control" %>
                  </div>
                  <div class="col-lg-2 col-sm-2 form-group float-left">
                    <%= f.search_field :user_name_cont, placeholder: "User name", title: "User name" ,class: "form-control" %>
                  </div>
                  <div class="col-lg-2 col-sm-2 form-group float-left">
                    <%= f.search_field :email_cont, placeholder: "Email", title: "Email" ,class: "form-control" %>
                  </div>
                  <div class="col-lg-2 col-sm-2 form-group float-left">
                    <%= f.search_field :father_name_cont, placeholder: "Father name", title: "Father name" ,class: "form-control" %>
                  </div>
                  <div class="col-lg-2 form-group float-left padding_right_zero">
                    <input class="form-control btn btn-primary" name="search_submit" type="submit" value="Search"></input>
                  </div>
            <% end %>
              </div>
            </div>
          </p>
        </div>

         <div class="tab-pane" id="create" role="tabpanel">
            <p>
                <% if can?(:add, :all) %>
                    <%= link_to new_user_path, remote: true, class: "btn btn-primary ml-3 mt-3" do %>
                      <i class="fas fa-plus"></i>
                      <%= current_user.allowed_valid_roles.to_s.titleize %>
                <% end %>
              <% end %>
            </p>
          </div>

           <div class="tab-pane" id="pdf" role="tabpanel">
            <p>
              <div class="col-lg-2 d-flex">
              <button class="btn btn-danger" title= "download users pdf" name="pdf" type="submit" value="pdf" formtarget="_blank">Admins &nbsp;<i class="fa fa-file-pdf"></i></button>
              </div>
            </p>
          </div>
          <div class="tab-pane" id="csv" role="tabpanel">
            <p>
              <div class="col-lg-2 d-flex">
              <button class="btn btn-success" title= "download users csv" name="csv" type="submit" value="csv">Admins &nbsp;<i class="fa fa-file-excel"></i></button>
              </div>
            </p>
          </div>
          <div class="tab-pane" id="emails" role="tabpanel">
            <p>
              <div class="col-lg-2 d-flex">
              <button class="form-control btn btn-info" type="button" data-toggle="modal" data-target="#exampleModalCenter" style="width:100px"><i class="fa fa-envelope"></i>&nbsp;Mail</button>
              </div>
           </p>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Enter your email to recieve files.</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  </div>
                  <div class="modal-body">
                    <% @pos_setting = PosSetting.first %>
                    <label>Email:</label>
                    <%= text_field_tag 'email_value',{}, value: current_user.email, class: 'form-control', type: 'email'%>
                    <br />
                    <label>Subject:</label>
                    <%= text_field_tag 'subject', "#{@pos_setting.display_name} - Admins Detail report from MunshiOnClick", class: 'form-control'%>
                    <br />
                    <label>Body:</label><br />
                    <%= text_area_tag 'body', nil, class: 'form-control'%>
                    <br />

                    <label>Please select one of them.</label>
                    <div>
                      <label style="cursor: pointer"><%= radio_button_tag :email_choice, 'CSV', required: 'required' %> CSV</label><br />
                      <label style="cursor: pointer"><%= radio_button_tag :email_choice, 'PDF', required: 'required' %> PDF</label><br />
                      <label style="cursor: pointer"><%= radio_button_tag :email_choice, 'Both', required: 'required' %> Both(CSV + PDF)</label><br />
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button name="email" type="submit" value="email" class="btn btn-primary">Send</button>
                  </div>
                  </div>
              </div>
            </div>
          </div>
     
           <div class="tab-pane" id="import-export" role="tabpanel">
            <p>
              <div class="d-flex">
              <button class="btn btn-success ml-2" name="export_data" type="submit" value="export_data">Export Data</button>
              <button class="btn btn-primary ml-2" type="button" data-toggle="modal" data-target="#importFile">Import Data</button>
              </div>
            </p>
          </div>
      </div>
    <% end %>
        
  <div class="list_data_table">
    <table data-toggle="table" data-search="true" class="table table-striped">
      <thead>
        <tr>
          <td><%= sort_link(@q, :id, 'ID') %></td>
          <th><%= sort_link(@q, :roles_mask, 'Role') %></th>
          <th><%= sort_link(@q, :name, 'Name') %></th>
          <th><%= sort_link(@q, :user_name, 'User name') %></th>
          <th><%= sort_link(@q, :draw_date, 'System Email') %></th>
          <th><%= sort_link(@q, :draw_date, 'Email_on') %></th>
          <th><%= sort_link(@q, :father_name, 'Father name') %></th>
          <th><%= sort_link(@q, :phone, 'Phone') %></th>
          <th> Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td class='urdu-font'><%= user&.roles&.first %></td>
            <td class='urdu-font'><%= user.name %></td>
            <td><%= user.user_name %></td>
            <td><%= user.email %></td>
            <td><%= user.email_to %></td>
            <td class='urdu-font'><%= user.father_name %></td>
            <td><%= user.phone %></td>
            <td>
              <% if can?(:update, :all) %>
                <%= link_to edit_user_path(user), remote: true do %>
                  <i class="fa fa-edit" aria-hidden="true"></i> |
                <% end %>
              <% end %>
              <% if can?(:delete, :all) %>
                <%= link_to user, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete' do %>
                  <i class="fa fa-trash" aria-hidden="true"></i> |
                <% end %>
                <% end %>
              <% if can?(:delete, :all) %>
                <%= link_to user_path(user), remote: true do %>
                  <i class="fa fa-eye" aria-hidden="true"></i>
                  <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <%= page_entries_info @users %>
      </div>
      <div class="col-lg-8 col-sm-8 pagination-left">
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>
<div class="show-data"></div>
<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $(".list_data_table").removeClass('hidden');
    FontAwesome.dom.i2svg();
  });
  $(document).ready(function() {
    setTimeout(function(){
      $(".chosen-select").chosen({
  allow_single_deselect: true,
  width: '100%'
});
    }, 50);
  });
</script>
