<%= bootstrap_form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
  <div class="col-lg-6" style="float:left">
    <div id="new_product_category">
      <%= link_to new_product_category_path,remote: true, class: "btn btn-success" do %>
            <i class="fa fa-plus" aria-hidden="true"></i>
            New Unit/Inventory Category
      <% end %>
    </div>
  </div>
  <div class="col-lg-6" style="float:left">
    <div id="new_product_sub_category">
      <%= link_to new_product_sub_category_path,remote: true ,class: "btn btn-success" do %>
            <i class="fa fa-plus" aria-hidden="true"></i>
            New Unit/Inventory SubCategory
      <% end %>
    </div>
  </div>
  </div>
<div class="clearfix"></div>
<hr>

<div class="col-lg-6 form-group float-left">
    <%= f.select :item_type_id, options_from_collection_for_select(@item_types, 'id', 'title', f.object.item_type_id),{include_blank: "Please Select Type"},{class: "form-control", required: true} %>
  </div>

  <div class="col-lg-6 form-group float-left">
    <%= f.text_field :code, {placeholder: "Enter the code", required: true , value: (f.object.code.nil? ? ("AGC-"+"%.4i" % (Product.maximum(:id).present? ? Product.maximum(:id).next : 1)) : (f.object.code ))} %>
  </div>

  <div class="col-lg-6 form-group float-left">
    <%= f.text_field :title, {placeholder: "Enter the title", required: true}%>
  </div>

  <div class="col-lg-6 form-group float-left hidden">
    <%= f.text_field :stock %>
  </div>

<div class="col-lg-6 form-group float-left hidden">
    <%= f.check_box :with_serial%>
  </div>

  <div class="col-lg-6 form-group float-left">
    <%= f.select :product_category_id, options_from_collection_for_select(@product_categories, 'id', 'title', f.object.product_category_id), {prompt: "Select the Category", label: "Unit Category"},{class: "form-control", required: true} %>
  </div>

  <div class="col-lg-6 form-group float-left">
    <%= f.select :product_sub_category_id, options_from_collection_for_select(@product_sub_categories, 'id', 'title', f.object.product_sub_category_id), {prompt: "Select the Sub Category", label: "Unit Sub Category"},{class: "form-control"}%>
  </div>

  <div class="col-lg-6 form-group float-left hidden">
    <%= f.select :acquire_type, Product.acquire_types.map { |key, value| [key.humanize, key] },{},{class: "form-control"} %>
  </div>

  <div class="col-lg-6 form-group float-left hidden">
    <%= f.select :purchase_type, Product.purchase_types.map { |key, value| [key.humanize, key] },{},{class: "form-control"} %>
  </div>

  <div class="col-lg-6 form-group float-left hidden">
    <%= f.select :purchase_unit, Product.purchase_units.map { |key, value| [key.humanize, key] },{},{class: "form-control"} %>
  </div>

  <div class="col-lg-6 form-group float-left">
    <%= f.number_field :cost %>
  </div>

  <div class="col-lg-6 form-group float-left">
    <%= f.number_field :sale %>
  </div>
  <div class="col-lg-6 form-group float-left">
    <%= f.number_field :marla , label: "Marla", required:true%>
  </div>
  <div class="col-lg-6 form-group float-left">
    <%= f.number_field :square_feet , label: "Square Feet", required:true%>
  </div>
  <div class="col-lg-6 form-group float-left">
    <%= f.number_field :size_1 , label: "Area of Land", readonly: true%>
  </div>
  <div class="col-lg-6 form-group float-left">
    <%= f.text_field :stock %>
  </div>
  <div class="col-lg-4 form-group float-left">
    <%= f.select :product_type, [['OnCash','product'],['OnInstallment','raw_product']],{},{class: "form-control"} %>
  </div>
  <div class="col-lg-6 form-group float-left">
    <% f.select :currency, Product.currencies.map { |key, value| [key.humanize, key] },{},{class: "form-control"} %>
  </div>

  <%= render partial: "/links/qrcode_link", locals: {f: f} %>

  <div class="clearfix"></div>

    <div class="col-lg-12 row ">
              <div class="col-lg-6 form-group float-left">
                <%= link_to products_path do %>
                <i class="fa fa-arrow-left " aria-hidden="true"></i>
                <% end %>
              </div>
                <div class="col-lg-6 form-group float-left">
                  <div class="col-lg-6 form-group float-right">
                    <%=f.object.id.nil? ? (f.submit "Save" ,class: "btn btn-primary", style: "float: right")  :  (f.submit "Update", class: "btn btn-warning", style: "float: right")%>
                  </div>
                </div>
  </div>
  <% end %>

<%= javascript_include_tag 'hover', 'data-turbolinks-track': 'reload' %>
