<% @date = Date.today  %>
<% @time = DateTime.now %>
<% @time = Time.zone.now %>
<p style="border-bottom: double 4px;  margin: 0;"></p>
<h1 style="text-align: center; margin: 0;">Unit/Inventory Detail</h1>
<p style="border-bottom: double 4px;  margin: 0;"></p>
<p style="text-align: center;margin: 0;">Report by: <%=current_user&.name%></p>
<div >
  <table>
    <thead class="lite-gray">
      <th>Item Type</th>
      <th>Code</th>
      <th>Title</th>
      <th>Ctgy</th>
      <th>Sub-ctgy</th>
      <th>PerMarla</th>
      <th>PerSFT</th>
      <th>Total</th>
      <th>Area</th>
      <th>Status</th>
    </thead>

    <tbody>
      <% @products.each do |product| %>
      <tr>
        <td><%= product.item_type&.title%></td>
        <td><%= product.code%></td>
        <td><%= product.title%></td>
        <td><%= product.product_category&.title%></td>
        <td><%= product.product_sub_category&.title%></td>
        <td><%= product.sale.to_f.round(20) %></td>
        <td><%= (product.sale.to_f/225).round(2) %></td>
        <td><%= (product.sale.to_f.round(2)*(product.marla.to_f+(product.square_feet.to_f/225))).to_f.round(2) %></td>
        <td><%= product.marla.to_i %> Marla <%= product.square_feet.to_i%> Square Feet</td>
        <td>
          <% staff_deal_orders = product.orders%>
          <%if staff_deal_orders.present?%>
            <%staff_deal_orders.each do |booking|%>
              <b>Unit Commission to: </b>
                <%token = booking.purchase_sale_details&.first%>
                <%=token&.staff&.name%>
              <br>
              <%if booking&.status!='Cancel'%>
                <b>Name:</b> <%=booking.sys_user.name%>
                <%=booking.sys_user&.ledger_books&.pluck('SUM(debit)','SUM(credit)').map { |sys| "<br> <b>Total:</b> "+sys.first.to_s+" <b>Paid:</b> "+sys.second.to_s+" <b>In %</b> "+((sys.second.to_f/sys.first.to_f)*100).round(2).to_s+" <br><b>Remaning:</b> "+(sys.first.to_i-sys.second.to_i).to_s+" <b>Commission:</b> "+token&.carriage.to_s+"<b> In % </b>"+((token&.carriage.to_f/sys.first.to_f)*100).round(2).to_s}.join(',').html_safe%>
                <%=booking.sys_user.contact.phone_with_comma%>
                <%= ("<br><b>Last Payment Date: </b>"+booking&.sys_user&.ledger_books&.last&.created_at&.strftime("%d%b%y at %I:%M%p")).html_safe if booking.present?%>
              <%else%>
                <span>
                  <b>Booking-Canceled</b>
                  <b>Name:</b> <%=booking.sys_user.name%>
                  <%=booking.sys_user&.ledger_books&.pluck('SUM(debit)','SUM(credit)').map { |sys| "<br> <b>Total:</b> "+sys.first.to_s+" <b>Paid:</b> "+sys.second.to_s+" <b>In %</b> "+((sys.second.to_f/sys.first.to_f)*100).round(2).to_s+"<br><b>Remaning:</b> "+(sys.first.to_i-sys.second.to_i).to_s+" <b>Commission:</b> "+token&.carriage.to_s+"<b> In % </b>"+((token&.carriage.to_f/sys.first.to_f)*100).round(2).to_s}.join(',').html_safe%>
                  <%=booking.sys_user&.contact&.phone_with_comma%>
                  <%= ("<br><b>Last Payment Date: </b>"+booking&.sys_user&.ledger_books&.last&.created_at&.strftime("%d%b%y at %I:%M%p")).html_safe if booking.present?%>
                  <b>Booking-Canceled</b>
                </span>
              <%end%>
              <br><br>
            <%end%>
          <%end%>
        </td>
      </tr>
      <%end%>
      <tr class="lite-gray">
        <td ><h4>Total</h4></td>
        <td><h5><%=@products&.count%></h5></td>
        <td><h5></h5></td>
        <td><h5></h5></td>
        <td><h5></h5></td>
        <td><h5></h5></td>
        <td><h5></h5></td>
        <td><h5><%= number_with_delimiter @product_price.to_f.round(2)%></h5></td>
        <td><h5>Marla: <%=@total_marla%>Square Feet: <%=@total_square_feet%></h5></td>
        <td><h5></h5></td>

      </tr>
    </tbody>

  </table>
</div>
