<%@daily_book_salary_details_raw_quantity = 0 %>
<%@daily_book_salary_details_f99_raw_quantity = 0 %>
<%@daily_book_salary_details_tile_raw_quantity = 0 %>
<%@daily_book_salary_details_raw_quantity = 0 %>
<%@daily_book_salary_details_f99_quantity = 0 %>
<%@daily_book_salary_details_tile_quantity = 0 %>
<%@daily_book_salary_details_quantity = 0 %>
<%@daily_book_salary_details_wast = 0 %>
<%@daily_book_salary_details_raw_quantity_rate = 0 %>
<%@daily_book_salary_details_quantity_rate = 0 %>
<%@daily_book_salary_details_coverge_rate=0%>
<%@daily_book_salary_details_gift_rate=0%>

<% @time = Time.zone.now %>
<p style="border-bottom: double 4px;  margin: 0;"></p>
<h1 style="text-align: center; margin: 0;"> <%=@departments.first.title%> Daily Production Detail</h1>
<p style="border-bottom: double 4px;  margin: 0;"></p>
<div>
  <table>
    <th></th>
    <th></th>
    <tr>
      <td >Date Time: <span><%= @time.strftime("%d")%>/<%=@time.strftime("%b")%>/<%= @time.strftime("%y")%> <%=@time.strftime("at %I:%M%p")%></span> </td>
      <td >Current User: <span><%=@current_user.name%> </span></td>
    </tr>
  </table>
</div>
<p style="border-bottom: dotted 3px;  margin: 0;"></p>
<div>

  <table>
    <thead>
      <tr>
        <th class="short-column"><h3>Date</h3></th>
        <th class="short-column"><h3>Department</h3></th>
        <th class="short-column"><h3>QTY</h3></th>
        <th class="short-column"><h3>Wast</h3></th>
        <th class="short-column"><h3>Price</h3></th>
        <th class="short-column">Comment</th>
      </tr>
    </thead>

    <tbody>
      <% @daily_books.each do |daily_book| %>
        <tr>
          <td><%= daily_book.book_date.strftime("%A,  %d-%b-%y") if daily_book.book_date%></td>
          <td><%= daily_book.department.present? ? daily_book.department.title : "" %></td>
          <td><%= daily_book.salary_details_quantity.round(0) %> <%@daily_book_salary_details_quantity += daily_book.salary_details_quantity %></td>
          <td><%= daily_book.salary_details_wast.round(0) %> <%@daily_book_salary_details_wast += daily_book.salary_details_wast %></td>
          <td><%= daily_book.salary_details_quantity_rate.round(0) %> <%@daily_book_salary_details_quantity_rate += daily_book.salary_details_quantity_rate.round(0) %></td>
          <td><%= daily_book.comment %></td>

        </tr>
      <% end %>
      <tr class="lite-gray">
        <td><h5>Total</h5></td>
        <td></td>
        <td><h5><%=@daily_book_salary_details_quantity%></h5></td>
        <td><h5><%=@daily_book_salary_details_wast %></h5></td>
        <td><h5><%=@daily_book_salary_details_quantity_rate.to_f.round(2)%></h5></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<br>
