<%  staff = Staff.find(f.object.staff_pathera_id) %>
<tr <%="class=hidden" if ((f.object.raw_product_id ==1 && (f.object.pather_remaning_quanity==0 || f.object.pather_remaning_quanity.blank?)) || (f.object.raw_product_id ==2 && (f.object.pather_remaning_quanity==0 || f.object.pather_remaning_quanity.blank?))) %> >
  <td>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :staff_pathera_id %>
    <%= f.object.staff_pathera.full_name %>
  </td>
  <td>
    <%= f.hidden_field :raw_product_id %>
    <%= f.object.raw_product.title %>
    <%= f.hidden_field :pather_salary_detail_id %>
    <span class="remaning_quanity"><%= f.object.pather_remaning_quanity %></span>
    <span class="pather_remaning_quanity"><%= f.object.pather_remaning_quanity %></span>
    <%= f.hidden_field :pather_remaning_quanity, class: "pather_remaning_quanity" %>
  </td>
  <td>
    <%= f.select :staff_id, options_from_collection_for_select(@khakar_staffs, 'id', 'name'), {prompt: "Select the Khakar",hide_label:true}, { onchange: 'set_khakar_info(this.value,this.id);',onkeyup:"set_khakar_info(this.value,this.id); ",class: "chosen-select",required: true }%>
  </td>
  <td>
    <%= f.select :transaction_location, SalaryDetail.transaction_locations.map { |key, value| [key.humanize, key] },{ hide_label:true, class: "form-control", required: true} %>
  </td>
  <td>
    <%= f.number_field :khakar_quanity, {value: f.object.pather_remaning_quanity,hide_label:true, class: "raw-quantity",onchange:"daily_book_khakar_update()",onkeyup:"daily_book_khakar_update()"}%>
  </td>
  <td>
    <span class="kat_quantity">0.00</span>
  </td>
  <td>
    <%= f.number_field :khakar_wast, hide_label:true, class: "wast",onchange:"daily_book_khakar_update()",onkeyup:"daily_book_khakar_update()" %>
  </td>
  <td>
    <%= f.hidden_field :khakar_remaning,value:0.00, class: "quantity" %>
    <span class="quantity">0.00</span>
  </td>
  <td>
    <%= f.number_field :raw_wage_rate, hide_label:true, class: "raw-wage-rate",onchange:"daily_book_khakar_update()",onkeyup:"daily_book_khakar_update()" %>
  </td>
  <td>
    <%= f.number_field :wage_rate, hide_label:true, class: "wage-rate",onchange:"daily_book_khakar_update()",onkeyup:"daily_book_khakar_update()" %>
  </td>
  <td>
    <%= f.hidden_field :khakar_debit,value:0.00, class: "pay" %>
    <span class="pay">0.00</span>
  </td>
  <td>
    <%= f.hidden_field :khakar_credit,value:0.00, class: "total_pay" %>
    <span class="total_pay">0.00</span>
  </td>
</tr>
