<tr>
  <td>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :staff_id %>
    <%= f.object.staff&.coded_full_name %>
  </td>
  <td>
    <%= f.hidden_field :raw_product_id %>
    <%= f.object.raw_product.title %>
  </td>
  <td>
    <%if  can?(:update, :all)%>
      <%= f.number_field :raw_quantity, hide_label:true, class: "raw-quantity",onchange:"daily_book_update()",onkeyup:"daily_book_update()"%>
    <%elsif f.object.raw_quantity.present?%>
      <%= f.number_field :raw_quantity, hide_label:true, class: "raw-quantity",onchange:"daily_book_update()",onkeyup:"daily_book_update()", readonly: true%>
    <%else%>
      <%= f.number_field :raw_quantity, hide_label:true, class: "raw-quantity",onchange:"daily_book_update()",onkeyup:"daily_book_update()"%>
    <%end%>
  </td>
  <td>
    <%if  can?(:update, :all) %>
      <%= f.number_field :quantity, hide_label:true, class: "quantity",onchange:"daily_book_update()",onkeyup:"daily_book_update()" %>
    <%elsif f.object.quantity.present?%>
      <%= f.number_field :quantity, hide_label:true, class: "quantity",onchange:"daily_book_update()",onkeyup:"daily_book_update()", readonly: true%>
    <%else%>
      <%= f.number_field :quantity, hide_label:true, class: "quantity",onchange:"daily_book_update()",onkeyup:"daily_book_update()"%>
    <%end%>
    <%= f.hidden_field :pather_remaning_quanity, class: "remaning_quanity" %>
  </td>
  <td>
    <%= f.number_field :extra, hide_label:true, class: "wast",onchange:"daily_book_update()",onkeyup:"daily_book_update()" %>
  </td >
  <td class="hidden">
    <%= f.hidden_field :raw_wage_rate, hide_label:true, readonly: true, class: "raw-wage-rate",onchange:"daily_book_update()",onkeyup:"daily_book_update()" %>
  </td>
  <td class="hidden">
    <%= f.hidden_field :wage_rate,value: f.object.wage_rate.present? ? f.object.wage_rate : f.object.staff.wage_rate, hide_label:true, class: "wage-rate", readonly: true,onchange:"daily_book_update()",onkeyup:"daily_book_update()" %>
  </td>
  <td class="hidden">
    <%= f.hidden_field :gift_rate, hide_label:true, readonly: true, class: "gift-rate",onchange:"daily_book_update()",onkeyup:"daily_book_update()" %>
  </td>
  <td class="hidden">
    <%= f.hidden_field :coverge_rate, hide_label:true, readonly: true, class: "coverge-rate",onchange:"daily_book_update()",onkeyup:"daily_book_update()" %>
  </td>
  <td>
    <span class="row-difference">0.00</span>
  </td>
  <td>
    <span class="for-khakar">0.00</span>
  </td>
  <td>
    <%= f.hidden_field :wage_debit,value:0.00, class: "pay" %>
    <span class="pay">0.00</span>
  </td>
  <td>
    <%= f.hidden_field :amount,value:0.00, class: "total_pay" %>
    <span class="total_pay">0.00</span>
  </td>
  <td>
    <span class="total_gift">0.00</span>
    <%= f.hidden_field :gift_pay,value:0.00, class: "total_gift" %>
    <span class="total_coverge">0.00</span>
    <%= f.hidden_field :coverge_pay,value:0.00, class: "total_coverge" %>
  </td>
</tr>
