<%@daily_book_salary_details_raw_quantity = 0 %>
<%@daily_book_salary_details_f99_raw_quantity = 0 %>
<%@daily_book_salary_details_tile_raw_quantity = 0 %>
<%@daily_book_salary_details_raw_quantity = 0 %>
<%@daily_book_salary_details_f99_quantity = 0 %>
<%@daily_book_salary_details_tile_quantity = 0 %>
<%@daily_book_salary_details_quantity = 0 %>
<%@daily_book_salary_details_wast = 0 %>
<%@daily_book_salary_details_raw_quantity_rate = 0 %>
<%@daily_book_salary_details_quantity_rate = 0 %>
<%@daily_book_salary_details_coverge_rate=0%>
<%@daily_book_salary_details_gift_rate=0%>
<%@diff_total=0%>
<%@quantity_total=0%>
<%@raw_total=0%>

<%@diff=0%>

<% @time = Time.zone.now %>
<div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary"><h1>Details</h1></h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardExample" style="">

      <div>

        <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                    <h3>Date:<h5><%= @daily_book.book_date.strftime("%A,  %d-%b-%y")  if @daily_book.book_date  %></h5></h3>
                  </div>
                  <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                    <h3>Department:<h5><%= @daily_book.department.present? ? @daily_book.department.title : "" %></h5></h3>
                  </div>
                  <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                    <h3>Comment:<h5><%= @daily_book.comment %></h5></h3>
                  </div>
                  <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                  </div>
                </div>
        </div>
<br>
<h3>Daily details</h3>
<br>
        <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <div class="col-lg-12 ">
                    <table>
                      <thead>
                        <th>Name</th>
                        <th>Item</th>
                        <th>khakar info</th>
                        <th>Moved to</th>
                        <th>Quantity</th>
                        <th>Wast</th>


                      </thead>
                      <tbody>
                      <% @daily_book.salary_details.each do |salary_details| %>
                      <tr>

                        <td><%= salary_details.staff_pathera.full_name %></td>
                        <td><%= salary_details.raw_product.title %> <%=quantity=salary_details.pather_remaning_quanity.to_i+salary_details.khakar_quanity.to_i %></td>
                        <td><%= salary_details.staff.name%></td>
                        <td><%=salary_details.transaction_location %></td>
                        <td><%=salary_details.khakar_quanity %></td>
                        <td><%=salary_details.khakar_wast  %></td>



                      </tr>
                        <% end %>

                      </tbody>
                    </table>
                </div>
              </div>
        </div>

        <div class="row">
          <div class="col-lg-1 float-left">
            <%= link_to daily_books_path do %>
            <i class="fa fa-arrow-left " aria-hidden="true"></i>
            <% end %>
          </div>

<br><br>
        </div>

      </div>
    </div>
  </div>
