<%= bootstrap_form_for(production) do |f| %>
  <% if production.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(production.errors.count, "error") %> prohibited this production from being saved:</h2>

      <ul>
      <% production.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <thead>
      <th>Product</th>
      <th>Opration Cost</th>
      <th>Total Cost</th>
      <th>Sale Price</th>
      <th>Status</th>
      <th>Comment</th>
    </thead>
    <tbody>
      <tr>
        <td><%= f.select :product_id, options_from_collection_for_select(@products, 'id', ->(st){"#{st.title} \u{27F6} #{st.category_title}"}, f.object.product_id), {hide_label:true,prompt: "Select the Product"}, required: true %></td>
        <td><%= f.number_field :operation_cost,step: :any,hide_label:true,onchange:"remaingUpdate()",onkeyup:"remaingUpdate()"%></td>
        <td><%= f.hidden_field :cost_price%><h1 class="production_cost_price"><%=f.object.cost_price.present? ? f.object.cost_price : 0.00%></h1></td>
        <td><%= f.number_field :sale_price,step: :any,hide_label:true%></td>
        <td>
          <%= f.select :status, PurchaseSaleDetail.statuses.map { |key, value| [key.humanize, key] },{hide_label:true,class: "form-control", required: true} %>
        </td>
        <td><%= f.text_area :comment, placeholder:"Enter Comment",hide_label:true%></td>
      </tr>
    </tbody>
  </table>
  <%if @production.materials.present?%>
    <table>
      <thead>
        <th class="hidden"></th>
        <th class="hidden"></th>
        <th>Items</th>
        <th>Quantity</th>
        <th>Avg Cost</th>
        <th>Total Cost</th>
        <th>Avg Sale</th>
        <th>Total Sale</th>
        <th>Action</th>
      </thead>
      <tbody>
        <%= f.fields_for :materials do |material| %>
          <%= render 'materials_item_fields', f: material %>
        <% end %>
      </tbody>
    </table>
  <%end%>
  <div class="col-lg-12">
    <div class="col-lg-6" style="float:left">
      <div class="links">
          <%= link_to_add_association 'Add Items', f, :materials, partial: 'materials_fields_item_new', class: "btn btn-info" %>
      </div>
    </div>
    <div class="col-lg-6" style="float:right">
      <div class="links " style="float:right">
          <%= link_to_add_association 'Add products', f, :materials, partial: 'materials_fields_product_new', class: "btn btn-info" %>
      </div>
    </div>
  </div>
  <br>
  <div class="clearfix">
    <br>

  </div>
  <div class="actions">
    <div class="col-lg-6" style="float:left">
      <%= link_to 'Production', productions_path, class: "btn btn-info" %>
    </div>
    <div class="col-lg-6" style="float:left">
      <%= f.submit class: "btn btn-primary", style: "float: right" %>
    </div>
  </div>
<% end %>
