<div class="hidden m-4" id="production_list">
  <div class="float-left">
    <h2 class="ml-2 logo-back"><i class="fa fa-calculator  mr-2"></i>Product Production Formulas</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="<%= productions_path %>">Product Production Formulas</a>
      </li>
    </ol>
  </div>
  <% if check_can_create(@module_permission) %>
    <div class="float-right mt-3">
      <%= link_to new_production_path, style:"width: 150px;", class: "btn btn-success" do %>
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Create
      <% end %>
    </div>  
  <% end %>
  <div class="clearfix"></div>
  <div class="row">
    <ul class="nav nav-tabs ml-3" role="tablist">
      <li class="nav-item ">
        <a class="nav-link tab-label active " data-toggle="tab" href="#search" role="tab"><i class="fa fa-search mr-2"></i>Search</a>
      </li>
	  	<%if (check_can_import_export(@module_permission))%>
	  		<li class="nav-item">
	  			<a class="nav-link tab-label" data-toggle="tab" href="#import-export" role="tab"><i class="fa fa-exchange-alt mr-2"></i>Import/Export</a>
	  		</li>
	  	<%end%>
	  </ul>
  </div>
  <div class="clearfix"></div>
  <div class="tab-content">
    <div class="tab-pane active mb-3" style="border: none !important;" id="search" role="tabpanel">
      <div class="row card shadow mt-2 p-3 mb-3  m-1">
        <%= search_form_for @q, url: productions_path, class: "admin-controls mt-3", method: "get" do |f| %>
          <div class="col-lg-3 form-group float-left">
            <%= f.search_field :title_cont, value: @title, placeholder: "Title", title: "Title" ,:class=>"form-control" %>
          </div>
          <div class="col-lg-2 form-group float-left">
            <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
          </div>
        <% end %>
      </div>
      <div class="card border-radius-1 shadow p-3">
        <%= render 'map_columns/map_column_partials' %>
        <table data-toggle="table" data-search="true" style="overflow: hidden;">
          <%if (check_can_delete(@module_permission))%>
	          <button class="btn btn-danger file-btn-color delete-selected mt-2" style=" position: absolute;" type='button' value='Production'>
	          	<i class="fa fa-trash"></i>
	          </button>		
          <%end%>
          <thead>
            <tr>
              <th><input type="checkbox" id="master" class='select-all-checkbox' style="cursor: pointer;"></th>
              <th>Product</th>
              <th>Operation cost</th>
              <th>Cost price</th>
              <th>Sale price</th>
              <th>Comment</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @productions.each do |production| %>
              <tr>
                <td><%= check_box_tag 'object_ids[]', production.id %></td>
                <td><%= production.product.title %> - <%= production.product&.product_category&.title %> </td>
                <td><%= number_with_delimiter(production.operation_cost.to_f.round(2)) %></td>
                <td><%= number_with_delimiter(production.cost_price.to_f.round(2)) %></td>
                <td><%= number_with_delimiter(production.sale_price.to_f.round(2)) %></td>
                <td><%= production.comment %></td>
                <td><%= production.status %></td>
                <td>
                  <div class="icon-container-1">
                    <div class="my-icon-1 my-view-1">
                      <div class="my-tooltip-1">
                        <div class="icon-container">
                          <div class="my-icon my-view">
                            <div class="my-tooltip">
                              Edit
                            </div>
                            <%if (check_can_update(@module_permission))%>
                              <%= link_to edit_production_path(production), class:"icon-div" do %>
                                <i class="fa fa-edit mt-2" aria-hidden="true"></i>
                              <%end %>
                            <% end %>
                          </div>
                          <div class="my-icon my-view">
                            <div class="my-tooltip">
                              Delete
                            </div>
                            <%if (check_can_delete(@module_permission))%>
                              <%= link_to production, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete icon-div' do %>
                                <i class="fa fa-trash mt-2" aria-hidden="true"></i>
                              <%end %>
                            <% end %> 
                          </div>
                          <div class="my-icon my-view">
                            <div class="my-tooltip">
                              Show
                            </div>
                            <%if (check_can_read(@module_permission))%>
                              <%= link_to production_path(production), class:"icon-div" do %>
                                <i class="fa fa-eye mt-2" aria-hidden="true"></i>
                              <%end %>
                            <%end%>    
                          </div>
                        </div>
                      </div>
                      <span class="icon-div-1">
                            <i class="fa fa-ellipsis-v mt-2" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="col-lg-12 digg_pagination">
          <div class="float-left page_info">
            <%= page_entries_info @productions %>
          </div>
          <div class="float-right">
          <%= paginate @productions, :container => false %>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane card shadow mt-2 p-3 mb-3" id="import-export" role="tabpanel">
      <p>
        <div class="d-flex">
        <button class="btn btn-danger ml-4" name="export_data" type="submit" value="export_data">Export Data</button>
        <button class="btn btn-info ml-2" type="button" data-toggle="modal" data-target="#importFile">Import Data</button>
        </div>
      </p>
    </div>
  </div>
</div>
<%= form_for :bulk_import, url: bulk_import_data_path, method: :post, html: {class: "bulk-import-form"} do |f| %>
  <div class="modal fade" id="importFile" tabindex="-1" role="dialog" aria-labelledby="importFileTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Import file</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= f.file_field :file, required: true, accept: '.csv' %>
          <%= f.hidden_field :table_name, value: 'Production' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit 'Import', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#production_list").removeClass('hidden');
  });
</script>
