<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @production.product %>
</p>

<p>
  <strong>Operation cost:</strong>
  <%= @production.operation_cost %>
</p>

<p>
  <strong>Cost price:</strong>
  <%= @production.cost_price %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @production.sale_price %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @production.comment %>
</p>

<p>
  <strong>Status:</strong>
  <%= @production.status %>
</p>

<%= link_to 'Back', productions_path %>
