<tr>
  <td><%= check_box_tag 'object_ids[]', department.id %></td>
  <td><%= department.id %></td>
  <td><%= department.code %></td>
  <td class= 'urdu-font'><%= department.title %></td>
  <td><%= department.comment %></td>
  <td class="d-flex">
    <% if can?(:update, :all) %>
      <%= link_to edit_department_path(department), remote: true do %>
        <i class="fa fa-edit ml-2 mr-2 " aria-hidden="true"></i>
      <%end %>
    <% end %> |
    <% if can?(:delete, :all) %>
      <%= link_to department, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete' do %>
        <i class="fa fa-trash ml-2 mr-2 " aria-hidden="true"></i>
      <%end %>
    <% end %> |
    <% if can?(:view, :all) %>
      <%= link_to department_path(department), remote: true do %>
        <i class="fa fa-eye ml-2 mr-2 " aria-hidden="true"></i>
      <%end %>
    <%end%> |
    <%= link_to department_path(department), remote: true do %>
        <i class="fa fa-file-pdf text-danger ml-2 mr-2 " aria-hidden="true"></i>
      <%end %> |
    <%= link_to department_path(department), remote: true do %>
      <i class="fa fa-file-excel text-success ml-2 mr-2" aria-hidden="true"></i>
    <%end %>
  </td>
</tr>
