<tr>
  <td><%= check_box_tag 'object_ids[]', department.id %></td>
  <td><%= department.id %></td>
  <td><%= department.code %></td>
  <td class= 'urdu-font'><%= department.title %></td>
  <td><span title="<%= department.comment %>" class='truncate-text'><%= department.comment %></span></td>
  <td>
		<div class="icon-container">
			<%if (check_can_update(@module_permission.can_update))%>
				<div class="my-icon my-view">
          <div class="my-tooltip">
            Edit
          </div>
          <span class="icon-div">
						<%= link_to edit_department_path(department), remote: true do %>
                <i class="fa fa-edit mt-2" aria-hidden="true"></i>
              <%end %>
					</span>
				</div>
			<% end %>
			<%if (check_can_delete(@module_permission.can_delete))%>
          <div class="my-icon my-view">
              <div class="my-tooltip">
                Delete
              </div>

                  <% if can?(:delete, :all) %>
                    <%= link_to department, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete icon-div' do %>
                    <i class="fa fa-trash mt-2" aria-hidden="true"></i>
                  <%end %>
                <% end %>

          </div>
			<%end%>
			<%if (check_can_update(@module_permission.can_update))%>
				<div class="my-icon my-view">
					<div class="my-tooltip">
						Show
					</div>
					<span class="icon-div">
							<%= link_to department_path(department), remote: true do %>
							<i class="fa fa-eye mt-2" aria-hidden="true"></i>
						<%end %>
					</span>
				</div>
			<%end%>
			<%if (check_can_download_pdf(@module_permission.can_download_pdf))%>
      	<div class="my-icon my-view">
					<div class="my-tooltip">
              PDF
					</div>
					<span class="icon-div">
						<%= link_to departments_path('q[id_eq]':department.id,'pdf':true), title: 'Download PDF', target: '_blank' do %>
     			 <i class="fa fa-file-pdf text-danger mt-2 " aria-hidden="true"></i>
   				 <%end %>
					</span>
      	</div>
			<%end%>
			<%if (check_can_download_csv(@module_permission.can_download_csv))%>
       <div class="my-icon my-view">
					<div class="my-tooltip">
              CSV
					</div>
					<span class="icon-div">
						<%= link_to departments_path('q[id_eq]':department.id,'csv':true), title: 'Download CSV' do%>
      				<i class="fa fa-file-excel mt-2 text-success" aria-hidden="true"></i>
   				 <%end %>
					</span>
				</div>
			<%end%>
    	<b class="ml-2 mt-1">Total changes: <%= department.versions.count%></b>
    </div>
  </td>
</tr>
