<div class="col-xl-12 col-md-12 mb-4">
  <div class="row no-gutters align-items-center">
    <div class="col mr-2">
      <br>
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <%= search_form_for @q, url: reports_trial_balance_accounts_path, class: "admin-controls", remote: true, method: "get" do |f| %>
            <div class="col-lg-3 form-group float-left">
              <%#= f.select :id_eq, options_from_collection_for_select(@staff_names, "id", ->(st){"#{st.name} \u{27F6} #{st.father} \u{27F6} #{st.code}"},@name),{:include_blank => "Select Staff"},:class=>"form-control chosen-select" %>
              <%= f.select :id_eq, options_for_select(Account.all.map{ |p| [p.title , p.id]}, f.object.id_eq), include_blank: "Select title", class: "form-control chosen-select" %>
            </div>
            <div class="col-lg-2 form-group float-left">
              <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
            </div>
          <% end %>
        </div>
      </div>
      <table data-toggle="table" data-search="true">
        <thead>
          <tr>
            <th>Title</th>
            <th>Bank Name</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Balance</th>
            <th>Check</th>
          </tr>
        </thead>

        <tbody>
          <% @accounts.each do |account| %>
            <tr>
              <td>
                <%= link_to payments_path('q[account_id_eq]':account.id) do%>
                  <i class="fa fa-address-book"></i><%= account.title %>
                <%end %>
              </td>
              <td><%= account.bank_name %></td>
              <td><%= number_with_delimiter(debit_sum  = @account_debit[account.title].to_d) %></td>
              <td><%= number_with_delimiter(credit_sum = @account_credit[account.title].to_d) %></td>
              <td><%= number_with_delimiter(balance = account.amount.to_f.round(2)) %> <%credit_debit = credit_sum-debit_sum%></td>
              <td>
                <% if balance == credit_debit%>
                  <i class="fa fa-check"></i>
                <%else%>
                  <i class="fa fa-trash"></i><%= balance-credit_debit%>
                <%end%>
              </td>
            </tr>
          <% end %>
          <tr>
            <td><h4>Total<h4></td>
            <td><h4><%=@accounts.count%></h4></td>
            <td><h4><%= number_with_delimiter(@account_debit_total.to_f.round(2)) %></h4></td>
            <td><h4><%= number_with_delimiter(@account_credit_total.to_f.round(2)) %></h4></td>
            <td><h4><%= number_with_delimiter(@accounts.sum(:amount).abs.to_f.round(2)) %><h4></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>