<div class="col-xl-12 col-md-12 mb-4">
  <div class="row no-gutters align-items-center">
    <div class="col mr-2">
      <br>
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <%= search_form_for @q, url: reports_trial_balance_users_payable_path, class: "admin-controls", remote: true, method: "get" do |f| %>
            <div class="col-lg-2 form-group float-left">
              <%= f.select :user_group_eq, options_for_select(SysUser.user_groups, @user_group), {:include_blank => "Select User group"},:class=>"form-control chosen-select" %>
            </div>
            <div class="col-lg-2 form-group float-left">
              <%= f.select :status_eq, SysUser.statuses.map { |key, value| [key.humanize, value] },{hide_label:true,class: "form-control", required: true,:include_blank => "Select Status"},:class=>"form-control chosen-select" %>
            </div>
            <div class="col-lg-2 account_totalform-group float-left">
              <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
            </div>
          <% end %>
        </div>
      </div>
      <%@sys_user_balance = 0 %>
      <table data-toggle="table" data-search="true">
        <thead>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>User group</th>
            <th>Status</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>balance</th>
            <th>Check</th>
          </tr>
        </thead>
        <tbody>
          <% @sys_user_payable.each do |sys_user| %>
            <tr>
              <td><%= sys_user.code %></td>
              <td>
                <%= link_to ledger_books_path('q[sys_user_id_eq]':sys_user.id) do%>
                  <i class="fa fa-address-book"></i><%= sys_user.name %>
                <%end %>
              </td>
              <td><%= sys_user.user_group %></td>
              <td><%= sys_user.status %></td>
              <td><%= number_with_delimiter(debit_sum  = @sys_user_payable_ledger_book_debit[sys_user.id].to_d)%></td>
              <td><%= number_with_delimiter(credit_sum = @sys_user_payable_ledger_book_credit[sys_user.id].to_d)%></td>
              <td><%= number_with_delimiter(balance = sys_user.balance) %> <%credit_debit = credit_sum-debit_sum%></td>
              <td>
                <% if balance == credit_debit%>
                  <i class="fa fa-check"></i>
                <%else%>
                  <i class="fa fa-trash"></i><%=balance-credit_debit%>
                <%end%>
              </td>
            </tr>
          <% end %>
          <tr>
            <td><h5>Total</h5></td>
            <td><%= %></td>
            <td><%= %></td>
            <td><%= %></td>
            <td><%= number_with_delimiter(@sys_user_payable_ledger_book_debit_total)%></td>
            <td><%= number_with_delimiter(@sys_user_payable_ledger_book_credit_total)%></td>
            <td><%= number_with_delimiter(@sys_user_payable.pluck('balance').map(&:abs).sum) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>