  <div id="modal" class="popupContainer" style="display:none;">
    <div class="popupHeader">
        <span class="header_title">Login</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </div>

    <section class="popupBody">
        <!-- Social Login -->
        <div class="social_login">
            <div class="">
                <a href="#" class="social_box fb">
                    <span class="icon"><i class="fab fa-facebook"></i></span>
                    <span class="icon_title">with Facebook Commig soon</span>

                </a>

                <a href="#" class="social_box google">
                    <span class="icon"><i class="fab fa-google-plus"></i></span>
                    <span class="icon_title">with Google Commig soon</span>
                </a>
            </div>

            <div class="centeredText">
                <span>Or use your Email address</span>
            </div>

            <div class="action_btns">
                <div class="one_half"><a href="/users/sign_in" id="" class="btn">Login</a></div>
                <div class="one_half last"><a href="#" id="register_form" class="btn">Sign up</a></div>
            </div>
        </div>

        <!-- Username & Password Login form -->
        <div class="user_login">
            <form>
                <label>Email / Username</label>
                <input type="text" />
                <br />

                <label>Password</label>
                <input type="password" />
                <br />

                <div class="checkbox">
                    <input id="remember" type="checkbox" />
                    <label for="remember">Remember me on this computer</label>
                </div>

                <div class="action_btns">
                    <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                    <div class="one_half last"><a href="#" class="btn btn_red">Login</a></div>
                </div>
            </form>

            <a href="#" class="forgot_password">Forgot password?</a>
        </div>

        <!-- Register Form -->
        <div class="user_register">
            <form>
                <label>Full Name</label>
                <input type="text" />
                <br />

                <label>Email Address</label>
                <input type="email" />
                <br />

                <label>Password</label>
                <input type="password" />
                <br />

                <div class="checkbox">
                    <input id="send_updates" type="checkbox" />
                    <label for="send_updates">Send me occasional email updates</label>
                </div>

                <div class="action_btns">
                    <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                    <div class="one_half last"><a href="#" class="btn btn_red">Register</a></div>
                </div>
            </form>
        </div>
    </section>
  </div>

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h1>Meet the Most Successful ERP Software in the World</h1>
                    <p>Munshionclick , which focuses on the Manufacturing and Distribution industries, offers the tools, processes, and solutions to help you manage your data and get business insights.</p>
                  </div>
                  <div class="col-lg-12">
                    <div class="white-button first-button scroll-to-section">
                      <a href="#contact">Login <i class="fa fa-sign-in-alt"></i></a>
                    </div>
                    <div class="white-button scroll-to-section">
                      <a href="#contact">Request for Demo <i class="fa fa-sign-out-alt"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <%=image_tag("slider-dec.png")%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>Amazing <em>Services &amp; Features</em> for you</h4>
            <%=image_tag("heading-line-dec.png")%>
            <p>One of the advantages of the ERP software is its integrated design approach. Of course, it is not the only attraction. However, if you are serious about business finances, you should pay attention. Along with accounts, you will be able to manage resources and organize your business more effectively. It will be simpler to produce various reports and develop policies and strategies. It is your entrance to a fast developing company that will expand and keep you there forever. Simply make intelligent business tool selections to start growing your company.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>Simple and Smart</h4>
            <p>No more outdated, difficult accounting programs. No longer dependent on personal PC. Maintain your accounts. Operating our system doesn't require any accounting expertise. Munshionclick.com is without a doubt the greatest accounting software, offering straightforward reports and quick dashboard access to all of your daily reports.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>Online Application 24/7</h4>
            <p>Anywhere, anytime, #1 Online Accounting Software! utilizing cloud accounting. With the security and backups you require in any business application, you may check your reports when you're on the move, access from your tables and beyond, facilitate collaboration, and more. Data loss is not a problem.Easy to use. Intuitive interface. Cross-device. Get started or continue ...</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>Asset Control</h4>
            <p>It can be difficult to manage your company's hundreds of assets. As a result, asset management is crucial since it enables a business to systematically monitor and manage its assets. Everything that is direct or indirect, including buildings, plants, machines, and tools, may be efficiently managed from a single location.Maintain a diary of the movement, disposal of your asset.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item fourth-service">
            <div class="icon"></div>
            <h4>Effective &amp; Efficient</h4>
            <p>We provide you with a POS system that is cloud-based and allows you independence and control over your business. With a single click, you can access inventory records, reporting, and integrated payments to and from your business from anywhere in the world.You may customize reports using our cloud accounting software to assist you in making smart decisions for your company.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h4>About <em>What We Do</em> &amp; Who We Are</h4>
            <%=image_tag("heading-line-dec.png")%>
            <p>We are experts in ERP and aim to be the best in each category.</p>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Real Estate ERP</a></h4>
                <p>Booking Management to HR</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Factory ERP</a></h4>
                <p>Payroll to inventory Management</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Bricklin System</a></h4>
                <p>Stock to Sale</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Restaurant POS</a></h4>
                <p>POS with Store Management</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">WholeSale/Warehouse</a></h4>
                <p>Store Management</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Marketing Automation</a></h4>
                <p>SMS/Email on one Click</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Billing Software</a></h4>
                <p>VAT/GST/PST Billing</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Customer relationship management (CRM)</a></h4>
                <p>CUstomer Detail with LedgerBook</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Payroll System</a></h4>
                <p>Staff Detail with LedgerBook</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <%=image_tag("about-right-dec.png")%>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="clients" class="the-clients">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Check What <em>The Clients Say</em> About Our Portal</h4>
            <%=image_tag("heading-line-dec.png")%>
            <p>Optimize business knowledge and assist in creating linkages to boost productivity.</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="grid">
              <div class="row">
                <div class="col-lg-7 align-self-center">
                  <div class="menu">
                    <div class="first-thumb active">
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Wazir Ali Awan</h4>
                            <span class="date">CEO, F99 Bricklin</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Bricklin System</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.8</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Malik Bashir</h4>
                            <span class="date">Partner/Investor, Etimad City </span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Real Estate ERP</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.5</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Shafaqt Ali</h4>
                            <span class="date">CEO, Wagha Pipes </span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Factory ERP</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.5</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Malik Arslan</h4>
                            <span class="date">MD, LahoreModrenCity</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Real Estate ERP</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.7</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Ch M Tayyab Tariq</h4>
                            <span class="date">Investor, Mianji Restaurant</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Restaurant POS</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">3.8</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="last-thumb">
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Abdul Tawab</h4>
                            <span class="date">Accountant, Al-Hadi Accociates & Builders</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Real Estate ERP</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.3</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <%=image_tag("quote.png")%>
                                <p>“”</p>
                              </div>
                              <div class="down-content">
                                <%=image_tag("client-image.jpg")%>
                                <div class="right-content">
                                  <h4>Wazir Ali Awan</h4>
                                  <span>CEO, F99 Bricklin</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <%=image_tag("quote.png")%>
                                <p>“”</p>
                              </div>
                              <div class="down-content">
                                <%=image_tag("client-image.jpg")%>
                                <div class="right-content">
                                  <h4>Malik Bashir</h4>
                                  <span>Partner/Investor, Etimad City</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <%=image_tag("quote.png")%>
                                <p>“”</p>
                              </div>
                              <div class="down-content">
                                <%=image_tag("client-image.jpg")%>
                                <div class="right-content">
                                  <h4>Shafaqt Ali</h4>
                                  <span>CEO, Wagha Pipes</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <%=image_tag("quote.png")%>
                                <p>“”</p>
                              </div>
                              <div class="down-content">
                                <%=image_tag("client-image.jpg")%>
                                <div class="right-content">
                                  <h4>Malik Arslan</h4>
                                  <span>MD, LahoreModrenCity</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <%=image_tag("quote.png")%>
                                <p>“”</p>
                              </div>
                              <div class="down-content">
                                <%=image_tag("client-image.jpg" )%>
                                <div class="right-content">
                                  <h4>Ch M Tayyab Tariq</h4>
                                  <span>Investor, Mianji Restaurant</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <%=image_tag("quote.png")%>
                                <p>“”</p>
                              </div>
                              <div class="down-content">
                                <%=image_tag("client-image.jpg" )%>
                                <div class="right-content">
                                  <h4>Abdul Tawab</h4>
                                  <span>Accountant, Al-Hadi Accociates & Builders</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer id="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Join our mailing list to receive the news &amp; latest trends</h4>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3">
          <form id="search" action="#" method="GET">
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <input type="address" name="address" class="email" placeholder="Email Address..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <button type="submit" class="main-button">Subscribe Now <i class="fa fa-angle-right"></i></button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Contact Us</h4>
            <p>GT Road Frichick builing 1st Floor Batapur,Lahore</p>
            <p><a href="#">+92-324-9896978</a></p>
            <p><a href="#">info@munshionclick.com</a></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>About Us</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Pricing</a></li>
            </ul>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Pricing</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Contract management</a></li>
              <li><a href="#">Enterprise resource planning (ERP)</a></li>
              <li><a href="#">Point of Sale (POS)</a></li>
              <li><a href="#">Customer relationship management (CRM)</a></li>
              <li><a href="#">Material requirements planning (MRP)</a></li>
            </ul>
            <ul>
              <li><a href="#">Human resource management (HRM)</a></li>
              <li><a href="#">Financial management and accounting</a></li>
              <li><a href="#">Inventory management</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>About Our Company</h4>
            <div class="logo">
              <%=image_tag("favicon.png")%>
            </div>
            <p>The only system created especially for Pakistan is the ERP,POS category.</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright © 2022 MunshiOnClick Company. All Rights Reserved.
          <br>Design: <a href="https://2wayclick.com/" target="_blank" title="css templates">2wayclick</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
