<div class="nested-fields">
  <div class="row font-weight-bold challan-stock-container">
    <div class="col-lg-2 from-group float-left">
      <%= f.hidden_field :order_id %>
      <%= f.hidden_field :id %>
      <%= f.hidden_field :transaction_type, value: "Inward"%>
      <%= f.hidden_field :purchase_sale_type, value: "Inward_type"%>
      <%= f.select :product_id, options_from_collection_for_select(@products, 'id', ->(st){"#{st.title} \u{27F6} #{st.code}"},f.object.product_id), {hide_label: true,prompt: "Select the Product"},class: "product chosen-select",required: true%>
    </div>
        <div class="col-lg-1 from-group float-left hidden">
          <div class="hidden">
            <%=f.number_field :comment,step: :any,class:'stock', hide_label: true,placeholder: :Stock,readonly: true%>
          </div>
          <span><%=f.object.comment%></span>
          <br>
          <span class="span-cost-price text-danger"></span>

        </div>
        <div class="col-lg-2 from-group float-left">
          <%= f.text_field :marka,step: :any,class:'marla', hide_label: true,placeholder: :marka, required: true%>
        </div>
        <div class="col-lg-2 from-group float-left">
          <%= f.text_field :builty_no,step: :any, hide_label: true,placeholder: :builty_no, required: true%>
        </div>
        <div class="col-lg-2 from-group float-left">
          <%= f.text_field :vehicle_no, hide_label: true, placeholder: :vehicle_no,required: true%>
        </div>
        <div class="col-lg-2 form-group float-left">
          <%= f.text_field :challan_no, hide_label: true, placeholder: "Challan No", label: "Challan No", class: 'challan-no-value'%>
        </div>
        <div class="col-lg-2 form-group float-left">
          <%= f.text_field :quantity, hide_label: true, placeholder: "Stock", label: "Stock", class:'stock-value', readonly: true%>
        </div>
        <div class="col-lg-1 form-group float-left text-xs font-weight-bold text-danger text-uppercase">
          <%= link_to_remove_association f do %>
            <i class="fa fa-minus-circle"></i> Drop
          <% end %>
        </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    FontAwesome.dom.i2svg();
    var $mySelect= $("#"+$(".product.chosen-select")[$(".product.chosen-select").length-1].id);
    var $myquantity= $("#"+$(".quantity-price")[$(".quantity-price").length-1].id);
    var enableChosen = setTimeout(function() {
      $mySelect.chosen();
      $mySelect.trigger('chosen:activate');
    }, 50);
    setTimeout(function(){
      $(".chosen-select").chosen({
  allow_single_deselect: true,
  width: '100%'
});
    }, 60);
    $('.span-line:last').text($(".product.chosen-select").length);
    $("#total_product_quantity").text($(".product.chosen-select").length-1);
    $('html, body').animate({
        scrollTop: $myquantity.offset().top-200
    }, 100);
  });
</script>
