<div class="hidden" id="order_list">
  <h1>Inward orders</h1>
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="col-lg-2 form-group float-left mt-2">
        <%= link_to new_order_inward_path(), class: "btn btn-success" do %>
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          Product Inward
        <% end %>
      </div>
    </div>
  </div>
  <ul class="nav nav-pills ml-1 mt-2" role="tablist">
		<li class="nav-item">
			<a class="nav-link tab-label active order-search-exp-tab" data-toggle="tab" href="#search" role="tab">Search</a>
		</li>

    <li class="nav-item">
      <a class="nav-link tab-label order-logs-tab" data-toggle="tab" href="#logs" role="tab">Logs</a>
    </li>
	</ul>
  <div class="tab-content">
    <div class="tab-pane active mb-3 card shadow-sm mt-2 border-radius-1 mr-4" id="search" role="tabpanel">
      <div class="row mt-4">
        <div class="col-lg-12 col-sm-12">
          <%= search_form_for @q, url: order_inwards_path, class: "admin-controls", method: "get" do |f| %>
            <div class="col-lg-3 form-group float-left">
              <%= f.select :order_items_product_item_type_id_eq, options_from_collection_for_select(ItemType.all, 'id', "title",f.object.order_items_product_item_type_id_eq), {hide_label:true,title: "Select the Line Item" ,include_blank: "Select the Line Item"}, onchange:"set_order_inward_products(this.value)", class: 'form-control chosen-select'%>
            </div>

            <div class="col-lg-3 form-group float-left">
              <!--%= f.select :order_items_product_id_eq, options_from_collection_for_select(@products, 'id', ->(st){"#{st.title} \u{27F6} #{st.code}"},f.object.order_items_product_id_eq), {hide_label:true,title: "Select the Products" ,prompt: "Select the Pruducts"},class: 'form-control chosen-select order-inward-products'%-->
              <%= f.select :order_items_product_id_eq, options_for_select(@products.map{ |p| [p.title , p.id]}, f.object.order_items_product_id_eq), {hide_label:true, include_blank: "Select a product."}, onchange:"set_order_inward_suppliers(this.value)", class:"form-control order-inward-products" %>
            </div>

            <div class="col-lg-3 form-group float-left">
              <!--%= f.select :sys_user_id_eq, options_from_collection_for_select(@suppliers, 'id', 'name', f.object.sys_user_id_eq), {class: 'form-control',hide_label:true,title: "Select the Supplier" ,prompt: "Select the Supplier"},class: 'form-control chosen-select'%-->
              <%= f.select :sys_user_id_eq, options_for_select(@suppliers.map{ |s| [s.name , s.id]}, f.object.sys_user_id_eq), {hide_label:true, include_blank: "Select a Supplier."}, class:"form-control order-inward-suppliers" %>
            </div>

            <div class="col-lg-3 form-group float-left">
              <%= f.search_field :created_at_gteq, class: 'form-control input-sm datepicker',placeholder: "YYYY-MM-DD" %>
            </div>

            <div class="col-lg-3 form-group float-left">
              <%= f.search_field :created_at_lteq,class: 'form-control input-sm datepicker' ,placeholder: "YYYY-MM-DD"%>
            </div>

            <div class="col-lg-2 form-group float-left">
              <%= f.text_field :order_items_marka_eq, class: "form-control",placeholder: "Marka"%>
            </div>
            <div class="col-lg-3 form-group float-left">
              <%= f.text_field :id_in, class: "form-control",placeholder: "Search by id"%>
            </div>

            <div class="col-lg-2 form-group float-left">
              <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
            </div>
            <button class="form-control btn btn-danger float-left" style="width:100px" title= "download inwards pdf ASC " name="pdf" type="submit"  value="Total Purchase PDF A8" formtarget="_blank" style="width:160px">ASC &nbsp;<i class="fa fa-file-pdf"></i></button>
            <button class="form-control btn btn-danger float-left ml-2" style="width:100px" title= "download inwards pdf DESC " name="pdf" type="submit"  value="Total Purchase PDF A8 Desc" formtarget="_blank" style="width:160px">DESC&nbsp;<i class="fa fa-file-pdf"></i></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class = "order-book-index-card">
    <table data-toggle="table" data-search="true">
      <thead>
        <tr>
          <th></th>
          <th>#</th>
          <th class= "urdu-font"><%= sort_link(@q, :sys_user_name, 'Customers') %></th>
          <th><%= sort_link(@q, :amount, 'Paid') %></th>
          <th><%= sort_link(@q, :status, 'Status') %></th>
          <th><%= sort_link(@q, :created_at, 'Date/Time') %></th>
          <th><%= sort_link(@q, :comment, '') %></th>
          <th><%= sort_link(@q, :comment, 'Comment') %></th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each_with_index do |order, index| %>
          <% demo_id = "demo#{index}"%>
          <tr class="table-success">
            <td class="p-4 accordion-toggle acc-pointer" data-toggle="collapse" data-target="#<%= demo_id %>"><i class="fa fa-plus-circle"></i></td>
            <td><b style="font-size:20px;color:blue;"><%= order.voucher_id.to_s+'#'+order.id.to_s %></b></td>
            <td>
              <b style="font-size:20px;color:blue;">
                <%= link_to sys_users_path('q[id_eq]':order.sys_user) do %>
                  <%= order.sys_user.name %>
                <%end %>
              </b>
            </td>
            <td><%= order.amount.to_f.round(2) rescue 0%></td>
            <td><%= order.status %></td>
            <td>
              <%if order.created_at.strftime("%d-%b-%y")!=order.updated_at.strftime("%d-%b-%y")%>
                <%= order.created_at.present? ? order.created_at.strftime("%d-%b-%y at %I:%M %p") : '' %> | <%= order.updated_at.present? ? order.updated_at.strftime("%d%b%y at %H:%M%p") : '' %>
              <%else%>
                <%= order.created_at.present? ? order.created_at.strftime("%d-%b-%y at %I:%M %p") : '' %>
              <%end%>
            </td>

            <td><%= order.purchase_sale_items.expiry rescue '' %> </td>
            <td><%= order.comment %></td>
            <td>
              <div class="icon-container-1">
                <div class="my-icon-1 my-view-1">
                  <div class="my-tooltip-1">
                    <div class="icon-container">
                      <div class="my-icon my-view">
                        <div class="my-tooltip">
                          PDF
                        </div>
                        <%= link_to order_inward_path(order.id,'pdf':true), title: 'Download PDF', target: '_blank', class:"icon-div" do %>
                          <i class="fa fa-file-pdf text-danger mt-2 " aria-hidden="true"></i>
                        <%end %>
                      </div>
                      <div class="my-icon my-view">
                        <div class="my-tooltip">
                          Edit
                        </div>
                        <%if order.order_items.present?%>
                          <%if order.order_items.first.product.present? %>
                            <% if can?(:update, :all) %>
                              <%= link_to edit_order_inward_path(order) do %>
                                <i class="fa fa-edit" aria-hidden="true"></i>
                              <% end %>
                            <% end %>
                          <%end%>
                        <%end%>
                      </div>
                      <div class="my-icon my-view">
                        <div class="my-tooltip">
                          Delete
                        </div>
                        <% if can?(:delete, :all) %>
                        <%= link_to order, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete' do %>
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                        <% end %>
                        <% end %>
                      </div>
                      <div class="my-icon my-view">
                        <div class="my-tooltip">
                          Show
                        </div>
                        <%= link_to order_inward_path(order) do %>
                          <i class="fa fa-eye" aria-hidden="true"></i>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <span class="icon-div-1">
                        <i class="fa fa-ellipsis-v mt-2" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </td>
          </tr>
          <td colspan="11" class="hiddenRow">
            <div class="accordian-body collapse card shadow-lg m-4" style="border-radius: 18px;" id="<%= demo_id %>"> 
              <table>
                <tr class="table-warning p-4 h5">
                  <th >Order Detail</th>
                  <th >Product</th>
                  <th >Marka</th>
                  <th >Builty No</th>
                  <th >Vehicle</th>
                  <th >Challan No</th>
                  <th >Quantity</th>
                </tr>
                <tbody>
                  <% order.order_items.each do |order_item| %>
                    <tr>
                      <td></td>
                      <td class= "urdu-font"><%=order_item.product.title%></td>
                      <td><%=order_item.marka%></td>
                      <td><%=order_item.builty_no%></td>
                      <td><%=order_item.vehicle_no%></td>
                      <td><%=order_item.challan_no%></td>
                      <td><%=order_item.quantity%></td>
                    </tr>
                  <%end%>
                  <tr>
                    <td class="h5"><b>Total<b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="h6"><b><%= @order_inward_total[order.id].to_f.round(2)%></b></td>
                  </tr>
                </tbody>
              </table>
              <%= link_to new_cold_storage_inward_path(sys_user_id: order.sys_user_id, order_id: order.id, order_total: @order_inward_total[order.id]), class: "btn btn-success m-3", style:"width: 150px;" do %>
                <i class="fa fa-plus" aria-hidden="true"></i>
                Assign Rack
              <% end %>
              <table>
                <tr class="table-active p-4 h5">
                  <th>Rack Detail</th>
                  <th>Product</th>
                  <th>Marka</th>
                  <th>Builty No</th>
                  <th>Vehicle</th>
                  <th>Challan No</th>
                  <th>Quantity</th>
                  <th>Room No.</th>
                  <th>Rack No.</th>
                </tr>
                <tbody>
                  <% order.purchase_sale_details.each do |purchase_sale_detail| %>
                    <% purchase_sale_detail.purchase_sale_items.each do |purchase_sale_item| %>
                      <tr>
                        <td></td>
                        <td class= "urdu-font"> <%= purchase_sale_item.product&.title %> </td>
                        <td> <%= purchase_sale_item.size_13 %> </td>
                        <td> <%= purchase_sale_item.size_12 %> </td>
                        <td> <%= purchase_sale_item.size_11 %> </td>
                        <td> <%= purchase_sale_item.size_10 %> </td>
                        <td> <%= purchase_sale_item.size_9 %> </td>
                        <td> <%= purchase_sale_item.size_8 %> </td>
                        <td> <%= purchase_sale_item.size_7 %> </td>
                      </tr>
                    <% end %>
                    <tr>
                      <th class="h5"><b>Action</b></th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <div class="icon-container-1">
                          <div class="my-icon-1 my-view-1">
                            <div class="my-tooltip-1">
                              <div class="icon-container">
                                <% if purchase_sale_detail.purchase_sale_items.count == purchase_sale_detail.purchase_sale_items.pluck(:closed_date).compact.count %>
                                  <div class="my-icon my-view">
                                    <div class="my-tooltip">
                                      Aarti bill
                                    </div>
                                    <%= link_to bill_report_for_arti_cold_storage_inwards_path(id: purchase_sale_detail.id,'pdf':true), title: 'Download PDF', target: '_blank', class:"icon-div" do %>
                                      <i class="fa fa-file-pdf text-danger mt-2 " aria-hidden="true"></i>
                                    <%end %>
                                  </div>
                                <% end %>
                                <div class="my-icon my-view">
                                  <div class="my-tooltip">
                                    PDF
                                  </div>
                                  <%= link_to cold_storage_inward_path(purchase_sale_detail.id,'pdf':true), title: 'Download PDF', target: '_blank', class:"icon-div" do %>
                                    <i class="fa fa-file-pdf text-danger mt-2 " aria-hidden="true"></i>
                                  <%end %>
                                </div>
                                <div class="my-icon my-view">
                                  <div class="my-tooltip">
                                    Edit
                                  </div>
                                  <%if purchase_sale_detail.purchase_sale_items.present?%>
                                    <%if purchase_sale_detail.purchase_sale_items.first.product.present? %>
                                      <% if can?(:update, :all) %>
                                        <%= link_to edit_cold_storage_inward_path(id: purchase_sale_detail.id, order_total: @order_inward_purchase_item_total[order.id]) do %>
                                          <i class="fa fa-edit" aria-hidden="true"></i>
                                        <% end %>
                                      <% end %>
                                    <%end%>
                                  <%end%>
                                </div>
                                <div class="my-icon my-view">
                                  <div class="my-tooltip">
                                    Delete
                                  </div>
                                  <% if can?(:destory, :all) %>
                                    <%= link_to cold_storage_inward_path(purchase_sale_detail), method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete' do %>
                                      <i class="fa fa-trash" aria-hidden="true"></i>
                                    <% end %>
                                  <% end %>
                                </div>
                                <div class="my-icon my-view">
                                  <div class="my-tooltip">
                                    Show
                                  </div>
                                  <%= link_to cold_storage_inward_path(purchase_sale_detail) do %>
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                            <span class="icon-div-1">
                                  <i class="fa fa-ellipsis-v mt-2" aria-hidden="true"></i>
                            </span>
                          </div>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                  <tr>
                    <td class="h5"><b>Total</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="h6"><b><%= @order_inward_purchase_item_total[order.id].to_f.round(2) %></b></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="h5"><b>Remaining Total</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="h6"><b><%= @order_inward_total[order.id].to_f - @order_inward_purchase_item_total[order.id].to_f %></b></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="clearfix"></div>
<div class="row order-book-index-card">
  <div class="col-lg-4 col-sm-4">
    <%= page_entries_info @orders %>
  </div>
  <div class="col-lg-8 col-sm-8 pagination-left">
    <%= paginate @orders %>
  </div>
</div>

<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#order_list").removeClass('hidden');
    FontAwesome.dom.i2svg();

    $('.order-logs-tab').on('click', function(){
      $('#order-logs').click();
      $('.order-book-index-card').addClass('d-none')
    })


    $('.order-search-exp-tab').on('click', function(){
      $('.order-book-index-card').removeClass('d-none')
    })
  });
  $(document).ready(function() {
    setTimeout(function(){
      $(".chosen-select").chosen({
  allow_single_deselect: true,
  width: '100%'
});
    }, 50);
  });

  $(function() {
    setTimeout(function() { $(".my-loader").fadeOut(1500); }, 5000)
  })
</script>
<script>
$('.accordian-body').on('show.bs.collapse', function () {
    $(this).closest("table")
        .find(".collapse.in")
        .not(this)
        .collapse('toggle')
})
</script>