<!DOCTYPE html>
<html>
  <head>
    <title>Booking Reciept</title>
    <%= wicked_pdf_stylesheet_link_tag ("pdf") -%>
    <style>
      .text-center{
        text-align: center;
      }
      .text-right{
        text-align: right;
      }
      .text-left{
        text-align: left;
      }
      .d-flex{
        display: flex;
        display: -webkit-box;
      }
      .mb-30{
        margin-bottom: 30px;
      }
      .col-3{
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
        width: 25%;
      }
      .border-bottom{
        border-bottom: 1px solid black;
      }
      .px-20{
        padding: 0px 20px;
      }
      .box{
        height: 20px;
        width: 30px;
        border: 1px solid black;
        margin-left: 5px;
        margin-right: 5px;
      }
      .bold{
        font-weight: bold;
      }
      textarea {
        padding: 20px;
      }
    </style>
  </head>

  <body>
    <div style='padding-top: 300px;'>
      <div class='d-flex mb-30'>
        <div class='text-left' style='width: 50%;'>
          <b>Serial#</b>
          <span class='border-bottom px-20'><%= @order.voucher_id.to_s+'#'+@order.id.to_s %></span>
        </div>
        <div class='text-right' style='width: 50%;'>
          <b>Ref#</b>
          <span class='border-bottom px-20'><%= @order.order_items&.first&.product&.title %></span>
        </div>
      </div>
      <div class='text-right'>
        <b>Dated: </b>
        <span class='border-bottom px-20'><%= @order.created_at.strftime('%d-%m-%Y') %></span>
      </div>
      <div class='d-flex mb-30' style='margin-top: 30px;'>
        <div class='d-flex' style='margin-left: 10px; width: 15%;'>
          <p>PLOT No.</p> <p class='box' style='width: 60px;'></p>
        </div>
        <div class='d-flex' style='margin-left: 10px; width: 12%;'>
          <p>Area. Sqft:</p> <p class='box'></p>
        </div>
        <div class='d-flex' style='margin-left: 10px; width: 7%;'>
          <p>Res:</p> <p class='box'></p>
        </div>
        <div class='d-flex' style='margin-left: 10px; width: 8%;'>
          <p>Com:</p> <p class='box'></p>
        </div>
        <div class='d-flex' style='margin-left: 10px; width: 7%;'>
          <p>Cor:</p> <p class='box'></p>
        </div>
        <div class='d-flex' style='margin-left: 10px; width: 16%;'>
          <p>Cash Payment:</p> <p class='box'></p>
        </div>
        <div class='d-flex' style='margin-left: 10px; width: 13%;'>
          <p>36 Months <br> Ins. Plan:</p> <p class='box'></p>
        </div>
        <div class='d-flex' style='margin-left: 10px; width: 12%;'>
          <p>Other <br>Ins.Plan:</p> <p class='box'></p>
        </div>
      </div>
      <div class='d-flex mb-30'>
        <div class='d-flex' style='width: 57%;'>
          <div style='width: 10%; margin-right: 10px;' class='bold'>Name:</div>
          <div class='border-bottom' style='width: 90%;'><%= @order.sys_user&.name %></div>
        </div>
        <div class='d-flex' style='width: 40%; margin-left: 20px;'>
          <div style='width: 45%' class='bold'>Current Received:</div>
          <span class='bold' style='margin-right: 10px;'>RS.</span>
          <div class='border-bottom' style='width: 55%;'><%= number_with_delimiter(@order.amount) %></div>
        </div>
      </div>

      <div class='d-flex mb-30'>
        <div class='d-flex' style='width: 57%;'>
          <div style='width: 25%;' class='bold'>S/O, D/O, W/O:</div>
          <div class='border-bottom' style='width: 75%;'><%= @order.sys_user&.father %></div>
        </div>
        <div class='d-flex' style='width: 40%; margin-left: 20px;'>
          <div style='width: 45%' class='bold'>Previous Received:</div>
          <span class='bold' style='margin-right: 10px;'>RS.</span>
          <div class='border-bottom' style='width: 55%;'>
            0
          </div>
        </div>
      </div>
      <div class='d-flex mb-30'>
        <div class='d-flex' style='width: 57%;'>
          <div style='width: 25%;' class='bold'>Cash/Cheque:</div>
          <div class='border-bottom' style='width: 75%;'></div>
        </div>
        <div class='d-flex' style='width: 40%; margin-left: 20px;'>
          <div style='width: 45%' class='bold'>Total Received:</div>
          <span class='bold' style='margin-right: 10px;'>RS.</span>
          <div class='border-bottom' style='width: 55%;'><%= number_with_delimiter(@order.purchase_sale_details.sum(:amount).to_i + @order.amount.to_i) %></div>
        </div>
      </div>
      <div class='d-flex mb-30'>
        <div class='d-flex' style='width: 57%;'>
          <div style='width: 15%;' class='bold'>Amount:</div>
          <div class='border-bottom' style='width: 85%;'><%= number_with_delimiter(@order.amount) %></div>
        </div>
        <div class='d-flex' style='width: 40%; margin-left: 20px;'>
          <div style='width: 45%' class='bold'>Balance:</div>
          <span class='bold' style='margin-right: 10px;'>RS.</span>
          <div class='border-bottom' style='width: 55%;'><%= number_with_delimiter(@order&.sys_user&.balance.to_i.abs) %></div>
        </div>
      </div>

      <div class='d-flex mb-30'>
        <div style='width: 17%;' class='bold'>Amount In Words: </div>
        <div class='border-bottom' style='width: 83%;'><%= number_to_words(@order.amount) %></div>
      </div>

      <div class='d-flex mb-30'>
        <div class='d-flex' style='width: 57%;'>
          <div style='width: 22%;' class='bold'>Received By:</div>
          <div class='border-bottom' style='width: 78%;'></div>
        </div>
        <div class='d-flex' style='width: 40%; margin-left: 20px;'>
          <div style='width: 45%; margin-right: 10px;' class='bold text-right'>Date:</div>
          <div class='border-bottom' style='width: 55%;'></div>
        </div>
      </div>

      <div class='d-flex mb-30'>
        <div class='d-flex' style='width: 57%;'>
          <div style='width: 22%;' class='bold'>Recorded By:</div>
          <div class='border-bottom' style='width: 78%;'></div>
        </div>
        <div class='d-flex' style='width: 40%; margin-left: 20px;'>
          <div style='width: 45%; margin-right: 10px;' class='bold text-right'>Date:</div>
          <div class='border-bottom' style='width: 55%;'></div>
        </div>
      </div>

      <div class='d-flex'>
        <div style='width: 70%; margin-left: auto; margin-top: 20px;' class='text-center'>
          <span class='bold'>NOTE:</span>
          <textarea style='width: 100%;' rows='10'><%= @order.comment %></textarea>
        </div>
      </div>

    </div>
  </body>
</html>
