<%= bootstrap_form_for(salary) do |f| %>
  <% if salary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(salary.errors.count, "error") %> prohibited this salary from being saved:</h2>

      <ul>
      <% salary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class=" card border-radius-1 shadow p-3 bg-white nested-fields">
  <% if salary.persisted? %>
    <div class="form-group has-warning">
      <label for="student_section_id">Name</label>
      <%= text_field_tag "salary_paid_to_name",salary.staff.name, class: "form-control", readonly: true %>
    </div>

    <div class="form-group has-warning">
      <label for="student_section_id">Monthly Salary</label>
          <%= text_field_tag "staff_monthly_salary", salary.staff.monthly_salary, class: "form-control", readonly: true %>
    </div>

    <div class="form-group has-warning">
      <label for="student_section_id">Salary per Day</label>
      <%
      monthly_salary_amount = salary.staff.monthly_salary
      daily_salary_amount = (monthly_salary_amount.to_f / (Time.days_in_month Date.today.month)).round(2)
      %>
      <%= text_field_tag "staff_salary_per_day", daily_salary_amount, class: "form-control" %>
    </div>
    <%=  %>
  <% else %>
    <div id="staff_options_list">
      <%if params[:staff_id].present?%>
      <%= f.select :staff_id, options_from_collection_for_select(@staffs_list, 'id', ->(st){"#{st.name} \u{27F6} #{st.father} \u{27F6} #{st.code} "},params[:staff_id]), {prompt: "Select the Staff"}, {class: "chosen-select form-control", onchange: 'set_staff_salary_info(this.value); return false;', required: true } %>
      <%else%>
      <%= f.select :staff_id, options_from_collection_for_select(@staffs_list, 'id', ->(st){"#{st.name} \u{27F6} #{st.father} \u{27F6} #{st.code} "}), {prompt: "Select the Staff"}, {class: "chosen-select form-control", onchange: 'set_staff_salary_info(this.value); return false;', required: true } %>
      <%end%>
      <div id="staff_salary_info" class="hidden">
        <div class="form-group has-warning">
          <label for="student_section_id">Monthly Salary</label>
          <%= text_field_tag "staff_monthly_salary", '', class: "form-control" %>
        </div>
        <div class="form-group has-warning">
          <label for="student_section_id">Salary per Day</label>
          <%= text_field_tag "staff_salary_per_day", '', class: "form-control" %>
        </div>
      </div>
    </div>
  <% end %>

  <%= f.number_field :leaves_in_month, onfocusout: "calculate_teach_staff_salary(); return false;" %>

  <% if salary.persisted? %>
    <div class="hidden">
      <%= text_field_tag "salary_advance", salary.advance_due_till_this_transaction, class: "form-control" %>
    </div>
  <% else %>
    <div id="advance_salary_info" class= "hidden" >
      <%= f.number_field :advance%>
    </div>
  <% end %>

  <div id="calculate_teach_staff_salary_btn" class="calculate_teach_staff_salary_btn hidden mb-5">
    <button class="btn btn-warning" onclick="calculate_teach_staff_salary(); return false;">Re-Calculate Salary</button>
  </div>
  
  <%= f.number_field :paid_salary, label: "Paid Amount (after advance deducted)", required: true %>
  <%= f.hidden_field :payment_type %>
  <div class="row">
    <div class="col-lg-6" style="float:left">
      <%= f.select :account_id , options_from_collection_for_select(@accounts, 'id', 'title', (f.object.account_id.present? ? f.object.account_id : @account)), {prompt: "Select the Account"},class:"form-control", required: true%>
    </div>
    <div class="col-lg-6" style="float:right">
      <%= f.datetime_select :created_at %>
    </div>
  </div>
 
  
  <div class="row-lg-12" style="float:left">
    <%= f.text_area :comment, placeholder:"Enter Commnet"%>
  </div>
  <hr>
  <div class="actions">
    <%= link_to salaries_path, class:"btn btn-info" do %>
      <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back 
    <% end %>
    <%= f.submit "Update", class: "btn btn-warning", style: "float: right" %>
  </div>
<% end %>
</div>
<% if params[:teacher_id] %>
  <script type="text/javascript">
    $(document).ready(function() {
      toggle_teacher_staff("Teacher");
      set_teacher_salary_info($('#salary_teacher_id').val());
    });
  </script>
<%elsif params[:staff_id]%>
  <script type="text/javascript">
    $(document).ready(function() {
      toggle_teacher_staff("Staff");
      set_staff_salary_info($('#salary_staff_id').val());
    });
  </script>
<%end%>
<%= javascript_include_tag 'hover', 'data-turbolinks-track': 'reload' %>
