<div class="main-content-header mb-3">
  <h1>Salaries Debit From Staff Balance</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= root_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="<%= salaries_path %>">Salaries Debit From Staff Balance</a>
    </li>
  </ol>
</div>

<div class="d-flex">
  <% if can?(:add, :all) %>
    <%= link_to new_salary_path, class: "btn btn-success mr-2" do %>
      <i class="fa fa-envelope-open" aria-hidden="true"></i>
      Pay Salary
    <% end %>
  <% end %>
  <%= link_to advance_salaries_path, class: "btn btn-info mr-2" do %>
    <i class="fa fa-envelope-open" aria-hidden="true"></i>
    Pay Dasti
  <% end %>
  <%= link_to loan_salaries_path, class: "btn btn-danger mr-2" do %>
    <i class="fa fa-envelope-open" aria-hidden="true"></i>
    Loan/pashgyi
  <% end %>
  <%if @pos_setting.sys_type=="batha"  or pos_setting_sys_type=="Factory"%>
    <%= link_to advance_all_salaries_path, class: "btn btn-primary mr-2",style: "width:250" do %>
      <i class="fa fa-envelope-open" aria-hidden="true"></i>
      Weekly Labour Kharcha
    <% end %>
    <%= link_to work_detail_salaries_path, class: "btn btn-primary mr-2",style: "width:250" do %>
      <i class="fa fa-envelope-open" aria-hidden="true"></i>
      Work/Salary Detail
    <% end %>
  <%end%>
  <div class="ml-auto">
    <div class="dropdown ml-auto mr-4">
     <span class="btn btn-info" title= "About This page"><i class="fa fa-question-circle mr-1"></i>Help</span>
      <div class="dropdown-content">
        <% if @help.present? %>
          <% @help&.help_links.each do |link| %>
            <a type="button" class="" target="_blank" href="<%= link[1] %>" >Help in <%= link[0] %></a>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <ul class="nav nav-pills mt-5" role="tablist">
    <li class="nav-item">
      <a class="nav-link tab-label active " data-toggle="tab" href="#search" role="tab">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tab-label analytics-tab" data-toggle="tab" href="#analytics" role="tab">Analytics</a>
    </li>
	</ul>
  <%= link_to '', analytics_salaries_path, id: 'analytics-path', class: 'd-none', remote: true %>
  <div class="tab-content">
    <div class="tab-pane active mb-3 card shadow-sm mt-2 p-3 border-radius-1" id="search" role="tabpanel">
      <div class="row d-flex">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <%= search_form_for @q, url: salaries_path, class: "admin-controls mt-3 ml-2", method: "get" do |f| %>
            <div class="col-lg-2 form-group float-left">
              <%= f.select :staff_id_eq, options_from_collection_for_select(@salary_searchs, "id", ->(st){"#{st.name} \u{27F6} #{st.father} \u{27F6} #{st.code}"},@id),{:include_blank => "Select Staff"},:class=>"form-control chosen-select" %>
            </div>
              <div class="col-lg-2 form-group float-left">
                <%= f.select :payment_type_eq, options_for_select(Salary.payment_types, @payment_type), {:include_blank => "Select Payment type"},:class=>"form-control chosen-select" %>
              </div>
              <div class="col-lg-2 form-group float-left">
                  <%= f.select :staff_department_id_eq, options_from_collection_for_select(@departments, 'id', 'title', @department), {hide_label:true,title: "Select the Department" ,prompt: "Select the Department"},:class=>"form-control chosen-select"%>
                </div>
              <div class="col-lg-2 form-group float-left">
                <%= f.search_field :created_at_gteq, class: 'form-control input-sm datepicker',value: @created_at_gteq,placeholder: "YYYY-MM-DD" %>
              </div>
              <div class="col-lg-2 form-group float-left">
                <%= f.search_field :created_at_lteq, class: 'form-control input-sm datepicker' ,value: @created_at_lteq,placeholder: "YYYY-MM-DD"%>
              </div>
              <div class="col-lg-2 form-group float-left">
                <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
                <button class="form-control btn btn-danger d-flex float-right justify-content-center" title= "download salaries pdf" name="submit_pdf" type="submit" value="Salaries Detail PDF A8" formtarget="_blank" style="width:100px">PDF &nbsp;<i class="fa fa-file-pdf mt-1"></i></button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane mb-3 card shadow-sm mt-2 p-3 border-radius-1" id="analytics" role="tabpanel">
      <div id="show-analytics" class="row p-3"></div>
    </div>
  </div>
<div class="card border-radius-1 shadow p-3">
  <table data-toggle="table" data-search="true">
    <thead>
      <tr>
        <th><%= sort_link(@q, :id, 'ID') %></th>
        <th><%= sort_link(@q, :staff_name, 'Name') %></th>
        <th><%= sort_link(@q, :paid_salary, 'Paid') %></th>
        <th><%= sort_link(@q, :staff_wage_debit, 'Balance') %></th>
        <th><%= sort_link(@q, :staff_balance, 'OutSt Balance') %></th>
        <th><%= sort_link(@q, :leaves_in_month, 'Leaves') %></th>
        <th><%= sort_link(@q, :account_id, 'Paid By') %></th>
        <th><%= sort_link(@q, :updated_at, 'Date/Time') %></th>
        <th><%= sort_link(@q, :comment, 'Comment') %></th>
          <th class="border_none">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @salaries.each do |salary| %>
        <tr>
          <td><%= salary.id %></td>
          <td><%= salary.staff.full_name %></td>
          <td><%= salary.paid_salary.present? ? number_with_delimiter(salary.paid_salary) : "" %><%= salary.advance.present? ? number_with_delimiter(salary.advance) : "" %> </td>
          <td><%= number_with_delimiter(salary.staff.wage_debit.to_f.round(2)) %></td>
          <td><%= number_with_delimiter(salary.total_balance.to_f.round(2)) %></td>
          <td><%= salary.leaves_in_month %></td>
          <td><%= salary.account_id.present? ? salary.account.title : '' %></td>
          <td>
            <%if salary.created_at.strftime("%d%b%y")!=salary.updated_at.strftime("%d%b%y")%>
              <%= salary.created_at.present? ? salary.created_at.strftime("%A,  %d-%b-%y at %H:%M%p") : '' %> | <%= salary.updated_at.present? ? salary.updated_at.strftime("%d%b%y at %H:%M%p") : '' %>
            <%else%>
              <%= salary.created_at.present? ? salary.created_at.strftime("%A,  %d-%b-%y at %H:%M%p") : '' %>
            <%end%>
          </td>
          <td><%= salary.comment %> | <%= salary.payment_type %></td>
          <td>
            <div class="icon-container-1">
              <div class="my-icon-1 my-view-1">
                <div class="my-tooltip-1">
                  <div class="icon-container">
                    <div class="my-icon my-view">
                      <div class="my-tooltip">
                        Print
                      </div>
                      <%= link_to salary, target: "_blank", class:"icon-div" do %>
                        <i class="fa fa-print mt-2" aria-hidden="true"></i>
                      <%end %>
                    </div>
                    <div class="my-icon my-view">
                      <div class="my-tooltip">
                        Edit
                      </div>
                      <%if (check_can_update(@module_permission))%>
                        <%= link_to salary.Salary? ? edit_salary_path(salary) : edit_advance_salary_path(salary), class:"icon-div" do %>
                          <i class="fa fa-edit mt-2" aria-hidden="true"></i>
                        <%end %>
                      <% end %>
                    </div>
                    <div class="my-icon my-view">
                      <div class="my-tooltip">
                        Delete
                      </div>
                      <%if (check_can_delete(@module_permission))%>
                        <%= link_to salary, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, remote: true, class: 'icon-div' do %>
                          <i class="fa fa-trash mt-2" aria-hidden="true"></i>
                        <%end %>
                      <% end %>
                    </div>
                    <div class="my-icon my-view">
                      <div class="my-tooltip">
                        Show
                      </div>
                      <%if (check_can_read(@module_permission))%>
                        <%= link_to salary, class:"icon-div" do %>
                          <i class="fa fa-eye mt-2" aria-hidden="true"></i>
                        <%end %>
                      <%end%>
                    </div>
                  </div>
                </div>
                <span class="icon-div-1">
                  <i class="fa fa-ellipsis-v mt-2" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
      <tr>
        <td><h5>Total</h5></td>
        <td></td>
        <td><h5><%= number_with_delimiter(@salaries.sum(:paid_salary)+@salaries.sum(:advance))%></h5></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-lg-4 col-sm-4">
      <%= page_entries_info @salaries %>
    </div>
    <div class="col-lg-8 col-sm-8 pagination-left">
      <%= paginate @salaries %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#students_list").removeClass('hidden');
    FontAwesome.dom.i2svg();

    $('.analytics-tab').on('click', function(){
      $('#analytics-path').click();
    })
  });
</script>
