<p id="notice"><%= notice %></p>

<p>
  <strong>Purchase sale detail:</strong>
  <%= @purchase_sale_item.purchase_sale_detail_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @purchase_sale_item.item_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @purchase_sale_item.quantity %>
</p>

<p>
  <strong>Cost price:</strong>
  <%= @purchase_sale_item.cost_price %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @purchase_sale_item.sale_price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @purchase_sale_item.status %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @purchase_sale_item.comment %>
</p>

<%= link_to 'Back', purchase_sale_items_path %>
