<%= bootstrap_form_for(sys_user) do |f| %>
  <% if sys_user.errors.any? %>
    <div id="error_explanation">
     <h2><%= pluralize(sys_user.errors.count, "error") %> prohibited this sys_user from being saved:</h2>
     <ul>
      <% sys_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
     </ul>
    </div>
  <% end %>
  <div class="card p-4 shadow m-4">
    <div>
      <div class="col-lg-2 form-group float-left">
        <%= f.text_field :code, {placeholder: "Enter the code", required: true , value: (f.object.code.nil? ? ("AGC-"+"%.4i" % (SysUser.maximum(:id).present? ? SysUser.maximum(:id).next : 1)) : (f.object.code ))} %>
      </div>
      <div class="col-lg-4 form-group float-left">
        <%= f.text_field :cnic , placeholder:"Enter CNIC"%>
      </div>
      <div class="col-lg-6 form-group float-left">
        <%= f.label :name do %>
          <%= SysUser.human_attribute_name :name %>
          <i class="fas fa-language"></i>
        <% end %>
        <%= f.text_field :name,required:true, placeholder:"Enter Name", hide_label: true ,class: 'urdu-font' %>
      </div>
      <div class="col-lg-6 form-group float-left">
        <%= f.label :father do %>
          <%= SysUser.human_attribute_name :father %>
            <i class="fas fa-language"></i>
          <% end %>
        <%= f.text_field :father, placeholder:"Enter Father Name", hide_label: true ,class: 'urdu-font' %>
      </div>
      <div class="col-lg-6 form-group float-left">
        <%= f.select :user_type_id, options_from_collection_for_select(@user_types, 'id', 'title', f.object.user_type_id.present? ? f.object.user_type_id : @user_types.first.id ),{include_blank: "Please Select User Type"}, required: true, class: 'urdu-font form-control'%>
      </div>
      <div class="col-lg-6 form-group float-left">
        <%= f.select :user_group, SysUser.user_groups.map { |key, value| [key.humanize, key] },{include_blank: "Please Select User Group"},{class: "form-control", required: true} %>
      </div>
      <div class="col-lg-6" style="float:left">
      </div>
      <div class="col-lg-6 form-group float-left">
        <%= f.select :status, SysUser.statuses.map { |key, value| [key.humanize, key] },{include_blank: "Please Select Status"},{class: "form-control"} %>
      </div>
      <div class="clearfix"> </div> 
    </div>
    <div class="clearfix"></div>
     <ul class="nav nav-tabs m-2" role="tablist">    
       <li class="nav-item active-link">
         <a class="nav-link tab-label active " data-toggle="tab" href="#Custom" role="tab">Custom Details</a>
       </li>
       <li class="nav-item">
         <a class="nav-link tab-label " data-toggle="tab" href="#Nominee" role="tab">Nominee Details</a>
       </li>
       <li class="nav-item">
         <a class="nav-link tab-label " data-toggle="tab" href="#ContactForm" role="tab">Contact Form</a>
       </li>		
	   </ul>
    <div class="tab-content">
      <div class="tab-pane active no-tab-border mb-3 p-4 " id="Custom" role="tabpanel">
        <div class="card shadow p-3">  
          <div>
            <div class="col-lg-6 form-group float-left">
             <%= f.text_field :occupation , placeholder:"Enter Occupation"%>
            </div>
            <%= f.hidden_field :for_crms, value: false %>     
            <div class="col-lg-6 form-group float-left">
              <%= f.number_field :credit_limit %>
            </div>
            <div class="col-lg-6 form-group float-left">
              <%= f.select :credit_status, SysUser.statuses.map { |key, value| [key.humanize, key]},{include_blank: "Please Select Credit Status"},{class: "form-control"} %>
            </div>   
            <div class="col-lg-6 form-group float-left">
              <%= f.number_field :opening_balance, {required: true, readonly: 'true', value: f.object.opening_balance.present? ? f.object.opening_balance : 0} %>
            </div>
            <div class="col-lg-6 form-group float-left">
              <%= f.number_field :balance, disabled: true %>
            </div>   
            <div class="col-lg-6 form-group float-left">
              <%= f.file_field :profile_image %>
            </div>
            <div class="col-lg-6 form-group float-left">
              <% if sys_user.profile_image.attached? %>
                <%= image_tag sys_user.profile_image.service_url, width: 300 %>
                <%= link_to 'Remove', delete_image_attachment_application_path(sys_user.profile_image.signed_id), method: :delete,
                  class: 'btn btn-danger', data: { confirm: 'Are you sure?' }  %>
                <% end %>
            </div>    
            <div class="clearfix">
              <div class="col-lg-6 col-md-6 col-sm-6 form-group float-left">
                <%= f.text_area :gst %>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 form-group float-left">
                <%= f.text_area :ntn %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane no-tab-border mb-3 p-4 " id="Nominee" role="tabpanel">
        <div class="card shadow p-3">  
          <div> 
           <div class="col-lg-6 form-group float-left">
             <%= f.text_field :nom_name , placeholder:"Enter Name"%>
           </div>
           <div class="col-lg-6 form-group float-left">
             <%= f.text_field :nom_father , placeholder:"Enter Father"%>
           </div>
           <div class="col-lg-6 form-group float-left">
             <%= f.text_field :nom_cnic , placeholder:"Enter CNIC"%>
           </div>
           <div class="col-lg-6 form-group float-left">
             <%= f.text_field :nom_relation , placeholder:"Enter Relation with User"%>
           </div>
          </div>
        </div>
      </div>
      <div class="tab-pane no-tab-border p-4 " id="ContactForm" role="tabpanel">
        <div class="card shadow p-3">  
          <div> 
            <%= f.fields_for :contact do |af| %>
              <%= render 'contact', af: af %>
            <% end %>
          </div>
        </div>
      </div>
    </div>   
    <div class="clearfix">
    <div class="modal-footer">
      <a href="<%= sys_users_path %>" class="btn btn-light btn-outline-secondary cancel-btn-outline">Cancel</a>
      <%=f.object.id.nil? ? (f.submit "Save" ,class: "btn btn-primary", style: "")  :  (f.submit "Update",class: "btn btn-warning", style: "float: right")%>
    </div>
  </div>
<% end %>
  <%= javascript_include_tag 'hover', 'data-turbolinks-track': 'reload' %>


