<% @date = Date.today  %>
<% @time = DateTime.now %>
<% @time = Time.zone.now %>
<p style="border-bottom: double 4px;  margin: 0;"></p>
<h1 style="text-align: center;">Client/Importer</h1>
<p style="border-bottom: double 4px;  margin: 0;"></p>
<p style="text-align: center;margin: 0;">Report by: <%=current_user.name%></p>
<div>
  <table>
    <thead>
      <tr class="lite-gray">
        <th>Id</th>
        <th>Code</th>
        <th>Name</th>
        <th>User type</th>
        <th>User group</th>
        <th>Status</th>
        <th>Occupation</th>
        <th>Credit status</th>
        <th>Credit limit</th>
        <th>balance</th>
      </tr>
    </thead>

    <tbody>
      <% data.each do |sys_user| %>
        <tr class="<%= sys_user['balance'].to_i >= 0 ? '' : 'lite-gray' %>" >
          <td style="text-align: center;"><%= sys_user['id'] %></td>
          <td style="text-align: center;"><%= sys_user['code'] %></td>
          <td style="text-align: center;"><%= sys_user['name'] %></td>
          <td style="text-align: center;"><%= sys_user['user_type'] %></td>
          <td style="text-align: center;"><%= sys_user['user_group'] %></td>
          <td style="text-align: center;"><%= sys_user['status'] %></td>
          <td style="text-align: center;"><%= sys_user['occupation'] %></td>
          <td style="text-align: center;"><%= sys_user['credit_status'] %></td>
          <td style="text-align: center;"><b><%= sys_user['credit_limit'] %></b></td>
          <td style="text-align: center;"><b><%= sys_user['balance'] %></b></td>
        </tr>
      <% end %>
      <tr class="lite-gray">
        <td><h4>total</h4></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><h4><%= data.pluck('balance').sum %></h4></td>
      </tr>
    </tbody>
  </table>
</div>
