<div id="custom-alert" class="alert alert-danger d-none">
  <span class="custom-alert-text"></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>
<%@sys_user_balance = 0 %>
<div class="clearfix"></div>
<div class="row">
  <div class="col-lg-12 col-sm-12">
    <h1>Customer Details</h1>
    <div class="col-lg-2 form-group float-left">
      <% if can?(:add, :all) %>
      <%= link_to new_sys_user_path, class: "btn btn-success" do %>
        <i class="fa fa-plus" aria-hidden="true"></i>
        New Customer
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-sm-12">
    <%= search_form_for @q, url: customer_sys_users_path, class: "admin-controls", method: "get" do |f| %>
      <div class="col-lg-2 form-group float-left">
        <%= f.select :name_or_code_cont, options_from_collection_for_select(@sys_user_all, "name", ->(st){"#{st.name} \u{27F6} #{st.code} , #{st.balance}"},@name),{:include_blank => "Select Name/Code"},:class=>"form-control chosen-select" %>
      </div>
      <div class="col=lg-2 form-group float-left">
        <%= f.select :status_eq, SysUser.statuses.map { |key, value| [key.humanize, value] },{hide_label:true,class: "form-control", required: true},:class=>"form-control chosen-select" %>
      </div>
      <div class="col-lg-2 account_totalform-group float-left">
        <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
      </div>
      <div class="col-lg-1.5 form-group float-right">
        <button class="form-control btn  badge badge-pill badge-danger" title="Download customer pdf" name="submit_pdf_staff_with" type="submit" value="Accounts PDF A4" formtarget="_blank"> Customer &nbsp; <i class="fa fa-file-pdf"></i></button>
      </div>
    <% end %>
  </div>
</div>
<div class='card p-3'>
  <table data-toggle="table" data-search="true">
    <button class='btn btn-outline-danger float-right delete-selected' type='button' style="width:163px"value='SysUser' >Delete Selected</button>
      <thead>
          <tr>
            <th><input type="checkbox" id="master" class='select-all-checkbox'></th>
            <th>ID<div class='float-right'><div class='float-right'><%= sort_link(@q, :id, "", {}, class: 'sorting-button') %></div></th>
            <th>Code<div class='float-right'><%= sort_link(@q, :code, "", {}, class: 'sorting-button') %></div></th>
            <th>Name<div class='float-right'><%= sort_link(@q, :cnic,"", {}, class: 'sorting-button') %></div></th>
            <th>User type<div class='float-right'><%= sort_link(@q, :user_type, "", {}, class: 'sorting-button') %></div></th>
            <th>User group<div class='float-right'><%= sort_link(@q, :user_group, "", {}, class: 'sorting-button') %></div></th>
            <th>Status</th>
            <th>Occupation</th>
            <th>Opening Balance</th>
            <th>Balance<div class='float-right'><%= sort_link(@q, :balance, "", {}, class: 'sorting-button') %></div></th>
            <th class="border_none">Action</th>
          </tr>
      </thead>

      <tbody>
        <% @sys_users.each do |sys_user| %>
          <tr>
            <td><%= check_box_tag 'object_ids[]', sys_user.id %></td>
            <td><%= sys_user.id %></td>
            <td><%= sys_user.code %></td>
            <td class="urdu-font"><%= sys_user.name %></td>
            <td class="urdu-font"><%= sys_user.user_type.title %></td>
            <td><%= sys_user.user_group %></td>
            <td><%= sys_user.status %></td>
            <td><%= sys_user.occupation %></td>
            <td><%= sys_user.opening_balance %></td>
            <td><%= sys_user.balance.abs %><%@sys_user_balance += sys_user.balance.abs %> </td>
            <td>
              <% if can?(:update, :all) %>
                <%= link_to edit_sys_user_path(sys_user), title: "Edit customers" do %>
                  <i class="fa fa-edit " aria-hidden="true"></i> |
                <%end %>
              <% end %>
              <% if can?(:delete, :all) %>
                <%= link_to sys_user, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, title: "Delete customer", :remote => true, :class => 'delete' do %>
                  <i class="fa fa-trash " aria-hidden="true"></i> |
                <%end %>
              <% end %>
              <% if can?(:view, :all) %>
                <%= link_to sys_user, title: "View customer detail" do %>
                  <i class="fa fa-eye " aria-hidden="true"></i> |
                <%end %>
              <%end%>
              <a href="<%=ledger_books_path('q[sys_user_id_eq]':sys_user.id) %>" title="Ledger book">
                <i class="fa fa-address-book"></i>
              </a>
            </td>
          </tr>
          <% end %>
          <tr>
            <td><h5>total</h5></td>
            <td><%= %></td>
            <td><%= %></td>
            <td><%= %></td>
            <td><%= %></td>
            <td><%= %></td>
            <td><%= %></td>
            <td><h5><%=@sys_user_balance %></h5></td>
          </tr>
      </tbody>
  </table>
</div>
<script>
  $(document).ready(function() {
     var sortingButtons = $('.sorting-button')
    for(var i=0; i<sortingButtons.length; i++){
      $(sortingButtons[i]).html("<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='blue' enable-background='new 0 0 512 512' viewBox='0 0 512 512'><path d='M163.919,494.293c-2.83,0-5.496-1.33-7.196-3.593L45.97,343.348c-2.986-3.974-2.187-9.615,1.787-12.602 c3.974-2.986,9.616-2.187,12.602,1.787l103.557,137.777l103.493-137.775c2.986-3.975,8.627-4.775,12.602-1.791 c3.974,2.985,4.775,8.627,1.79,12.602L171.113,490.698C169.414,492.961,166.749,494.293,163.919,494.293z'/><path d='M163.917 494.293c-4.971 0-9-4.029-9-9V26.192c0-4.971 4.029-9 9-9s9 4.029 9 9v459.101C172.917 490.264 168.888 494.293 163.917 494.293zM459.507 182.622c-2.734 0-5.435-1.241-7.203-3.597L348.78 41.18 245.257 179.025c-2.985 3.975-8.626 4.777-12.601 1.792-3.974-2.984-4.777-8.626-1.792-12.601l110.72-147.43c1.699-2.263 4.365-3.595 7.196-3.595s5.497 1.332 7.196 3.595l110.72 147.43c2.985 3.975 2.183 9.616-1.792 12.601C463.285 182.034 461.388 182.621 459.507 182.622z'/><path d='M348.78,494.293c-4.971,0-9-4.029-9-9V26.192c0-4.971,4.029-9,9-9s9,4.029,9,9v459.101 C357.78,490.264,353.751,494.293,348.78,494.293z'/></svg>")
    }
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#sys_users_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
  });
</script>
