<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardExample" class="d-block card-header py-3 bg-info" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
    <h6 class="m-0 font-weight-bold text-primary text-center"><h3>Deal Detail</h3></h6>
  </a>
  <table>
    <thead>
      <tr class='text-center'>
        <th>Date</th>
        <th>Agent Name</th>
        <th>Total Commission</th>
        <th>Office Share</th>
        <th>Deal Details</th>
        <th>Agent Share</th>
      </tr>
    </thead>

    <tbody>
      <tr class='text-center'>
        <td><%= @deal.created_at.strftime('%d-%m-%Y') %></td>
        <td><%= @deal.staff&.name %></td>
        <td><%= number_with_delimiter(@deal.comission.to_f.round(2)) %></td>
        <td><%= number_with_delimiter(@deal.file_share.to_f.round(2)) %></td>
        <td><%= @deal.deal_detail %></td>
        <td><%= number_with_delimiter(@deal.agent_earning.to_f.round(2)) %></td>
      </tr>
    </tbody>
  </table>
</div>