<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardExample" class="d-block card-header py-3 bg-info" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
    <h6 class="m-0 font-weight-bold text-primary text-center"><h3>Deal Detail</h3></h6>
  </a>
  <table>
    <thead>
      <tr class='text-center'>
        <th>Agent Name</th>
        <th>Total Commission</th>
        <th>Office Share</th>
        <th>Deal Details</th>
        <th>Share</th>
        <th>Agent Earning</th>
      </tr>
    </thead>

    <tbody>
      <tr class='text-center'>
        <td><%= @deal.staff&.name %></td>
        <td><%= @deal.comission %></td>
        <td><%= @deal.file_share %></td>
        <td><%= @deal.deal_detail %></td>
        <td><%= @deal.share %></td>
        <td><%= @deal.agent_earning %></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>