<%= bootstrap_form_for(product_category) do |f| %>
  <% if product_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_category.errors.count, "error") %> prohibited this product_category from being saved:</h2>
      <ul>
        <% product_category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-lg-12 form-group float-left">
    <%= f.label :title do %>
      <%= ProductCategory.human_attribute_name :title %>
      <i class="fas fa-language"></i>
    <% end %>
    <%= f.text_field :title,required:true,placeholder: "Enter the title", hide_label: true, class: 'urdu-font' %>
  </div>

  <div class="col-lg-12 form-group float-left">
    <%= f.text_field :code, {placeholder: "Enter the code", required: true , value: (f.object.code.nil? ? ("AGC-"+"%.4i" % (ProductCategory.maximum(:id).present? ? ProductCategory.maximum(:id).next : 1)) : (f.object.code ))} %>
  </div>

  <div class="col-lg-12 form-group float-left">
    <%= f.text_area :comment , placeholder:"Enter Comment"%>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    <%=f.object.id.nil? ? (f.submit 'Create', class: "btn btn-success", style: "float: left")  :  (f.submit 'Update', class: "btn btn-warning", style: "float: left")%>
  </div>
<% end %>
