<tr>
  <td><%= check_box_tag 'object_ids[]', product_category.id %></td>
  <td><%= product_category.id %></td>
  <td class='urdu-font'><%= product_category.title %></td>
  <td><%= product_category.code %></td>
  <td><%= product_category.comment %></td>
  <td>
    <% if can?(:update, :all) %>
      <%= link_to edit_product_category_path(product_category), remote: true, title: "Edit form" do %>
        <i class="fa fa-edit " aria-hidden="true"></i> |
      <%end %>
    <% end %>
    <% if can?(:delete, :all) %>
      <%= link_to product_category, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete' do %>
        <i class="fa fa-trash " aria-hidden="true"></i> |
      <%end %>
    <% end %>
    <% if can?(:view, :all) %>
      <%= link_to product_category_path(product_category), remote: true do %>
        <i class="fa fa-eye " aria-hidden="true"></i>
      <%end %>
    <%end%>
  </td>
</tr>
