<div class="modal fade" id="showdData" tabindex="-1" role="dialog" aria-labelledby="showdDataLabel">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title ml-4" id="myModalLabel">Category Details</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
           </button>
      </div>
        <div class="modal-body">
              <!-- Card Content - Collapse -->
              <div class="collapse show" id="collapseCardExample" style="">
                <div class="card-body">
                  <div class="card">
                    <table class="table table-bordered table-shadow">
                        <thead class="thead-color">
                          <th><h5>Id</h5></th>
                          <th><h5>Code</h5></th>
                          <th><h5>Title</h5></th>
                          <th><h5>Comment</h5></th>
                        </thead>
                        <tbody>
                          <tr>
                            <td><%= product_category.id %></td>
                            <td><%= product_category.code %></td>
                            <td><%= product_category.title %> </td>
                            <td><%= product_category.comment %></td>
                          </tr>
                      </tbody>
                   </table>
                  </div>
                   <div class='card mt-3'>
                  <h2 class="mb-2">Total Changes</h2>
                  <table class='table table-bordered table-shadow'>
                    <thead class='thead-color'>
                    <th>Changed by</th>
                    <th>Title</th>
                    <th>Comments</th>
                    <th>Updated at</th>
                    </thead>
                    <%@product_category.versions.each do |version|%>
                      <tbody>
                        <tr>
                          <% next if version.whodunnit.nil? %>
                          <td><h6><%= User.find(version.whodunnit).user_name %></h6></td>
                          <td><h6><%= version.changeset.try(:[], 'title') %><h6></td>
                          <td><h6><%= version.changeset.try(:[], 'comment') %><h6></td>
                          <td><%= version.created_at.strftime("%d-%b-%y at %I:%M %p")%></td>
                        </tr>
                      </tbody>
                    <% end%>
                  </table>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>