<%= bootstrap_form_for(staff_ledger_book) do |f| %>
  <% if staff_ledger_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(staff_ledger_book.errors.count, "error") %> prohibited this staff_ledger_book from being saved:</h2>

      <ul>
      <% staff_ledger_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-lg-6 form-group float-left">
    <%= f.select :staff_id, options_from_collection_for_select(@staffs_list, "id", ->(st){"#{st.name} \u{27F6} #{st.father} \u{27F6} #{st.code} "},f.object.staff_id),{prompt: "Select the Staff"}, { onchange: "set_staff_advance_info(this.value,'balance'); return false;",class: "chosen-select",required: true }%>
  </div>
  <div class="col-lg-6 form-group float-left">
    <%= f.datetime_select :created_at,{},class:"form-control" %>
  </div>
  <div class="col-lg-6 form-group float-left">
    <%= f.text_field :debit, required:true , placeholder:"Enter Debit",class: "debit",onkeyup:"newBalance('oldBalance','newBalance1')" %>
  </div>
  <div class="col-lg-6 form-group float-left">
    <%= f.text_field :credit, required:true, placeholder:"Enter Credit", class: "credit",onkeyup:"newBalance('oldBalance','newBalance1')" %>
  </div>
  <div class="col-lg-6 form-group float-left">
    <%= f.text_area :comment , placeholder:"Enter Commnet" %>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 from-group float-left">
  <h1>New Balance: <span class="newBalance1">0.0</span></h1>
  </div>

<div class="clearfix">
  <hr>
  <div class="col-lg-12 row ">

    <div class="col-lg-6 form-group float-left">
      <%= link_to staff_ledger_books_path ,class: "btn btn-outline-secondary" do %>
      Cancel
      <% end %>
    </div>
      <div class="col-lg-6 form-group float-left">
        <div class="col-lg-6 form-group float-left">
          <%=f.object.id.nil? ? (f.submit class: "btn btn-success", style: "float: left")  :  (f.submit "Update" ,class: "btn btn-warning", style: "float: right")%>
        </div>
      </div>
    <% end %>
</div>
