<% @date = Date.today  %>
<% @time = DateTime.now %>
<% @time = Time.zone.now %>
<p style="border-bottom: double 4px;  margin: 0;"></p>
<h1 style="text-align: center; margin: 0;">Accounts details</h1>
<p style="border-bottom: double 4px;  margin: 0;"></p>
<p style="text-align: center;margin: 0;">Report by: <%=current_user.name%></p>
<div >
  <table data-toggle="table" data-search="true" id="country_table">
    <thead>
      <tr style="font-size:14px;,font-family: Arial Black, Gadget, sans-serif">

        <th>Staff</th>
        <th>Debit/Benam</th>
        <th>credit/Jama</th>
        <th>Balance</th>
        <th>Jama/Benam</th>
        <th>Comment</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      <% @staff_ledger_books_pdf.each do |staff_ledger_book| %>
        <tr style="font-size:14px;,font-family: Arial Black, Gadget, sans-serif">
          <td><%= staff_ledger_book.staff.full_name %></td>
          <td><%= staff_ledger_book.debit%></td>
          <td><%= staff_ledger_book.credit%></td>
          <td><%= staff_ledger_book.balance%></td>
          <td>
            <%if staff_ledger_book.balance.to_f > 0  %>
                     <b style="font-size:20px;color:blue;">Credit/Jama</b>
                <%elsif  staff_ledger_book.balance.to_f < 0  %>
                <b style="font-size:20px;color:red;">Debit/Benam</b>
                <%else%>
                <b style="font-size:20px;color: #6cec53 ;">Nill</b>
                <%end%>
          </td>
          <td>
            <%= staff_ledger_book.comment %>
            <%if staff_ledger_book.salary_detail.present? %>
              <%if staff_ledger_book.salary_detail.staff.department.present?%>
                <%if staff_ledger_book.salary_detail.quantity.to_i>0%>
                  <p>
                    <span><%= staff_ledger_book.salary_detail.raw_product_title %></span>
                    Qty: <span><%= staff_ledger_book.salary_detail.quantity.to_f.round(0) %></span>
                  </p>
                <%end%>
              <%end%>
            <%end%>
          </td>
          <td>
            <%= staff_ledger_book.created_at.strftime("%d%b%y at %I:%M:%S %p") %>
            <% if staff_ledger_book.salary.present? && staff_ledger_book.created_at.strftime("%d%b%y")!=staff_ledger_book.salary.created_at.strftime("%d%b%y") %>
              <br>
              <%= staff_ledger_book.salary.created_at.strftime("%d%b%y at %I:%M:%S %p") %>
            <%end%>
            <%if staff_ledger_book.salary_detail.present? && staff_ledger_book.created_at.strftime("%d%b%y")!=staff_ledger_book.salary_detail.created_at.strftime("%d%b%y") %>
              <br>
              <%= staff_ledger_book.salary_detail.created_at.strftime("%d%b%y at %I:%M:%S %p") %>
            <%end%>
          </td>

        </tr>
      <% end %>
      <tr style="font-size:20px;,font-family: Arial Black, Gadget, sans-serif">
        <td><b>Total<b></td>
        <td><b><%=@debit.to_i%></b></td>
        <td><b><%=@credit.to_i%></b></td>
        <td><b><%=@credit.to_i-@debit.to_i%></b></td>
        <td><b><%=@staff_ledger_books_pdf.sum(:balance).to_f.round(2)%></b></td>
        <td><b><%=@quantity.to_f.round(2)%></b></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
