<style>
  .table-bordered {
    border: 1px solid black;
  }
  table {
    border-collapse: collapse;
  }
  .table-bordered td, .table-bordered th {
      border: 1px solid black;
      padding: 5px;
  }
  .text-left{
    text-align: left;
  }
  .text-right{
    text-align: right;
  }
  .text-center{
    text-align: center;
  }
</style>
<div style='margin: 20px 0px;'>
  <h1>Staff Ledger Book by Opening Balance</h1>
  <% if params[:staff_ledger_book_asc_op].present? %>
    <% current_balance = @staff_ledger_books&.last&.balance.to_i %>
    <% opening_balance = @staff_ledger_books&.first&.balance.to_i - (@staff_ledger_books&.first&.credit.to_i - @staff_ledger_books&.first&.debit.to_i) %>
  <% else %>
    <% current_balance = @staff_ledger_books&.first&.balance.to_i %>
    <% opening_balance = @staff_ledger_books&.last&.balance.to_i - (@staff_ledger_books&.last&.credit.to_i - @staff_ledger_books&.last&.debit.to_i) %>
  <% end %>
  <h3 class='text-right'>Opening Balance: <%= number_with_delimiter(opening_balance) %></h3>
  <h3 class='text-right'>Current Balance: <%= number_with_delimiter(current_balance) %></h3>
  <div style='border: 1px solid black; margin: 20px 0px; padding: 10px;'>
    <h3>
      Dated: <%= params[:q][:created_at_gteq]&.to_date&.strftime("%d/%m/%Y") %>
      TO <%= params[:q][:created_at_lteq]&.to_date&.strftime("%d/%m/%Y") %>
    </h3>
  </div>

  <table class="table-bordered">
    <tr>
      <th class='text-left'>Date</th>
      <th class='text-left'>Staff</th>
      <th class='text-left'>Remarks</th>
      <th class='text-right'>Debit</th>
      <th class='text-right'>Credit</th>
      <th class='text-right'>Balance</th>
    </tr>
    <% @staff_ledger_books.each do |ledger_book| %>
      <tr>
        <td class='text-left'><%= ledger_book.created_at.strftime("%d/%m/%Y") %></td>
        <td class='text-left'><%= ledger_book.staff&.name %></td>
        <td>
          <%= ledger_book.comment %>
          <%if ledger_book.salary_detail.present?%>
            <%= 'Salary' if ledger_book.salary_detail.present? %>
            <%=ledger_book.salary_detail.wage_rate%> X <%=ledger_book.salary_detail.quantity%>
          <%end%>

          <% if ledger_book.salary.present? %>
            <%= ledger_book.salary.comment%>
            <%='Salary' if ledger_book.salary.present? and ledger_book.salary.paid_salary.present?%>
            <%='Wage Salary' if ledger_book.salary.present? and ledger_book.salary.advance.present?%>
          <%end%>
          <%if ledger_book.salary_detail.present? %>
            <%if ledger_book.salary_detail.staff.department.present? and ledger_book.salary_detail.staff.department&.id==@departments.first&.id%>
              <%if ledger_book.salary_detail.quantity.to_i>0%>
                <%= 'Pather Daily' if ledger_book.salary_detail.daily_book.present? %>
                <p>
                  <span><%= ledger_book.salary_detail.raw_product_title %></span>
                  Qty: <span><%= ledger_book.salary_detail.quantity.to_f.round(0) %></span>
                </p>
              <%end%>
            <%end%>
          <%end%>
        </td>
        <td class='text-right'><%= number_with_delimiter(ledger_book.debit.to_i) %></td>
        <td class='text-right'><%= number_with_delimiter(ledger_book.credit.to_i) %></td>
        <td class='text-right'><%= number_with_delimiter(ledger_book.balance.to_i) %></td>
      </tr>
    <% end %>
      <tr>
        <td></td>
        <th></th>
        <th class='text-right'>Total:</th>
        <th class='text-right'><%= number_with_delimiter(@staff_ledger_books.sum(:debit)) %></th>
        <th class='text-right'><%= number_with_delimiter(@staff_ledger_books.sum(:credit)) %></th>
        <th></th>
      </tr>
  </table>
</div>