

    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-primary"><h1>ledger book Detail</h1></h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample" style="">
          <div class="card-body">

          <div class="card shadow">
              <ul class="list-group list-group-flush">
                  <li class="list-group-item"><span class="float-left h5">Staff:</span><span class="float-right"><%= @staff_ledger_book.staff.full_name %></span></li>
                  <li class="list-group-item"><span class="float-left h5">Salary:</span><span class="float-right"><%= @staff_ledger_book.salary %></span></li>
                  <li class="list-group-item"><span class="float-left h5">Salary Details:</span><span class="float-right"><%=@staff_ledger_book.salary_detail %></span></li>
                  <li class="list-group-item"><span class="float-left h5">Debit:</span><span class="float-right"><%=@staff_ledger_book.debit %></span></li>
                  <li class="list-group-item"><span class="float-left h5">Credit:</span><span class="float-right"><%= @staff_ledger_book.credit %></span></li>
                  <li class="list-group-item"><span class="float-left h5">Balance:</span><span class="float-right"><%= @staff_ledger_book.balance rescue nil%></span></li>
                  <li class="list-group-item"><span class="float-left h5">Jama/Benam:</span><span class="float-right"><%if @staff_ledger_book.balance.to_f > 0  %>
                  <b style="font-size:20px;color:blue;">Jama</b>
             <%elsif  @staff_ledger_book.balance.to_f < 0  %>
             <b style="font-size:20px;color:red;">Benam</b>
             <%else%>
             <b style="font-size:20px;color: #6cec53 ;">Nill</b>
             <%end%></span></li>
                  <li class="list-group-item"><span class="float-left h5">Comment:</span><span class="float-right"><%= @staff_ledger_book.comment%></span></li>
              </ul>
          </div>
    <br>
            <div class="row">
              <div class="col-lg-1 float-left">
                <%=link_to staff_ledger_books_path,class: "btn btn-outline-secondary"  do %>
                Cancel
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
