<div class="">
  <h1>Database Backup lists</h1>
  <div class="col-lg-3 form-group float-left">
    <%= link_to export_path, class: "btn btn-success col-lg-12" do %>
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      Export
    <% end %>
  </div>

  <div class="clearfix"></div>

  <table data-toggle="table">
    <thead>
      <tr>
        <th>Backup#</th>
        <th>Export Date</th>
        <th>File</th>
        <th class="border_none">Action</th>
      </tr>
    </thead>
    <tbody>
    <% @db_backup_files.each_with_index do |db_backup_file, indx| %>
    <% exported_date, db_file = db_backup_file.split('/db_backup/')[1].split("/#{RequestStore.store[:company_type]}/") %>
      <tr>
        <td><%= indx.to_i + 1 %></td>
        <td><%= exported_date.to_date.strftime("%d-%m-%Y")  %></td>
        <td><%= db_file %></td>
        <td>
          <div class="hidden">
            <%=form_tag(import_bd_backups_path, method: :post) do %>
              <%=hidden_field_tag 'backup_file', db_backup_file.split('/db_backup/')[1] %>
              <input class="form-control btn btn-link" name="import" type="submit" value="Import" onclick = "confirm('This will remove DB changes after made after Export Date, Are you ok?');"></input>
            <% end %>        
          </div>
        </td>
      </tr>
    <% end %>
    <%# <% if current_user.superAdmin&.backup_files.present? %>
      <%# <% current_user.superAdmin.backup_files.each do |document| %>
        <!-- <tr> -->
          <!-- <td><%#=current_user.superAdmin&.backup_files.present?%></td> -->
          <!-- <td></td> -->
          <!-- <td> -->
            <!-- <span class="underline text-blue-500 hover:text-blue-700 attachment-link__download"><%#= link_to document&.blob&.filename&.to_s, document&.blob&.service_url, target: "_blank" %></span> -->
          <!-- </td> -->
          <!-- <td> -->
            <!-- <span class="underline text-blue-500 hover:text-blue-700 attachment-link__download"><%# link_to 'Remove', '', target: "_blank" %></span> -->
          <!-- </td> -->
        <!-- </tr> -->
      <%# end %>
    <%# end  %>
    </tbody>
  </table>
</div>
