<tr>
  <td><%= check_box_tag 'object_ids[]', user_type.id %></td>
  <td><%= user_type.id %></td>
  <td class='urdu-font'><%= user_type.title %></td>
  <td><%= user_type.code %></td>
  <td><%= user_type.discount_by_percentage %></td>
  <td><%= user_type.discount_by_amount %></td>
  <td><span title="<%= user_type.comment %>" class='truncate-text'><%= user_type.comment %></span></td>
  <td class="p-3">
    <div class="icon-container-1">
    <div class="my-icon-1 my-view-1">
      <div class="my-tooltip-1">
    <div class="icon-container">
			<%if (ApplicationHelper.check_can_update(current_user,"user_types"))%>
				<div class="my-icon my-view">
					<div class="my-tooltip">
						Edit
					</div>
					<span class="icon-div">
						<%= link_to edit_user_type_path(user_type), remote: true do %>
							<i class="fa fa-edit mt-2" aria-hidden="true"></i>
						<% end %>
					</span>
				</div>
			<% end %>
			
			<%if (ApplicationHelper.check_can_delete(current_user,"user_types"))%>
				<div class="my-icon my-view">
					<div class="my-tooltip">
						Delete
					</div>
					<span class="icon-div">
							<%= link_to user_type, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete' do %>
								<i class="fa fa-trash mt-2" aria-hidden="true"></i>
							<% end %>
					</span>
				</div>
			<% end %>

			<%if (ApplicationHelper.check_can_read(current_user,"user_types"))%>
				<div class="my-icon my-view">
					<div class="my-tooltip">
						Show
					</div>
					<span class="icon-div">
							<%= link_to user_type_path(user_type), remote: true do %>
								<i class="fa fa-eye mt-2" aria-hidden="true"></i>
							<% end %>
					</span>
				</div>
			<% end %>

			<%if (ApplicationHelper.check_can_download_pdf(current_user,"user_types"))%>	
      	<div class="my-icon my-view">
            <div class="my-tooltip">
              PDF
            </div>
            
                <%= link_to user_types_path('q[id_eq]':user_type.id,'pdf':true), title: 'Download PDF', target: '_blank', class:"icon-div" do %>
    			      <i class="fa fa-file-pdf text-danger mt-2 " aria-hidden="true"></i>
    		      <%end %>
            </span>
     	 </div>
			<%end%>

			<%if (ApplicationHelper.check_can_download_csv(current_user,"user_types"))%>
				<div class="my-icon my-view">
					<div class="my-tooltip">
						CSV
					</div>
					<span class="icon-div">
						<%= link_to user_types_path('q[id_eq]':user_type.id,'csv':true), title: 'Download CSV' do%>
							<i class="fa fa-file-excel mt-2 text-success" aria-hidden="true"></i>
						<%end %>
					</span>
				</div>
			<%end%>
       <b class="ml-2 mt-1">Total changes: <%= user_type.versions.count%></b>
    </div>  
  </td>
</tr>
