
<%# <%= render "devise/shared/links" %>
<div class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100 ">
      <div class="col-md-6 col-lg-5 col-xl-5">
        <%= image_tag("login_page.svg", class:"img-fluid col-lg-12")%>
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 ">
        <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), class: "shadow card") do |f| %>
          <% if resource.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(resource.errors.count, "error") %> prohibited this user from being login:</h2>
              <ul>
              <% resource.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="my-divider d-flex align-items-center my-4">
            <h4 class="text-center fw-bold mx-3 mb-0 head-color">LOGIN FORM</h4>
          </div>

          <!-- Email input -->
          <%= f.text_field :email, autofocus: true, autocomplete: "email", required: true, class: "form-control" %>

          <!-- Password input -->
          <%= f.password_field :password, autocomplete: "current-password", required: true, class: "form-control" %>

          <% if devise_mapping.rememberable? %>  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <%= f.check_box :remember_me, class:"d-flex mt-3", style:"cursor: pointer;" %>
            </div>
          <% end %>

          <div class="clearfix"></div>
            <div class="form-group">
              <div class="actions">
                <%= f.submit "Log in", class: "btn btn-primary col-lg-12" %>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
