

  <div class="card shadow mb-4">
      <!-- Card Header - Accordion -->
      <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
        <h6 class="m-0 font-weight-bold text-primary"><h1>Raw product Details</h1></h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample" style="">
        <div class="card-body">
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item mb-2"><span class="float-left h5">Id:</span><span class="float-right"><%= @raw_product.id %></span></li>
              <li class="list-group-item mb-2"><span class="float-left h5">Title:</span><span class="float-right"><%= @raw_product.title %></span></li>
              <li class="list-group-item mb-2"><span class="float-left h5">Code:</span><span class="float-right"><%= @raw_product.code %></span></li>
              <li class="list-group-item mb-2"><span class="float-left h5">Stock:</span><span class="float-right"><%= @raw_product.stock %></span></li>
              <li class="list-group-item mb-2"><span class="float-left h5">Acquire Type:</span><span class="float-right"><%= @praw_product.acquire_type rescue nil %></span></li>
              <li class="list-group-item mb-2"><span class="float-left h5">Cost:</span><span class="float-right"><%= @raw_product.cost %></span></li>
              <li class="list-group-item mb-2"><span class="float-left h5">Sale:</span><span class="float-right"><%= @raw_product.sale %></span></li>
              <li class="list-group-item mb-2"><span class="float-left h5">MIN:</span><span class="float-right"><%= @raw_product.minimum %></span></li>
              <li class="list-group-item mb-2"><span class="float-left h5">Optimal:</span><span class="float-right"><%= @raw_product.optimal %></span></li>
              <li class="list-group-item mb-2"><span class="float-left h5">MAX:</span><span class="float-right"><%= @raw_product.maximum %></span></li>
            </ul>
          </div>
        </div>
        <div class="row float-right">
          <div class="col-lg-1">
            <%= link_to products_path, class: "btn btn-outline-secondary m-2" do %>Cancel
            <% end %>
          </div>
        </div>
        </div>
      </div>
    </div>
