<tr>
  <td class= 'urdu-font'><%= pos_setting.name %></td>
  <td class= 'urdu-font'><%= pos_setting.display_name %></td>
  <td><%= pos_setting.account.title if pos_setting.account.present? %></td>
  <td><%= pos_setting.phone %></td>
  <td><%= pos_setting.logo %></td>
  <td class= 'urdu-font'><%= pos_setting.address %></td>
  <td>
  <div class="icon-container-1">
      <div class="my-icon-1 my-view-1">
        <div class="my-tooltip-1">
          <div class="icon-container">
						<% if can?(:update, :all) %>
            	<div class="my-icon my-view">
            	  <div class="my-tooltip">
            	    Edit
            	  </div>
            	    <%= link_to edit_pos_setting_path(pos_setting), class:"icon-div" do %>
            	      <i class="fa fa-edit mt-2" aria-hidden="true"></i>
            	    <%end %>
            	</div>
						<% end %>
						<% if can?(:delete, :all) %>
            	<div class="my-icon my-view">
            	  <div class="my-tooltip">
            	    Delete
            	  </div>
            	    <%= link_to pos_setting, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete icon-div' do %>
            	      <i class="fa fa-trash mt-2" aria-hidden="true"></i>
            	    <%end %>
            	</div>
						<% end %> 
						<% if can?(:view, :all) %>
            	<div class="my-icon my-view">
            	  <div class="my-tooltip">
            	    Show
            	  </div>
            	    <%= link_to pos_setting, class:"icon-div" do %>
            	      <i class="fa fa-eye mt-2" aria-hidden="true"></i>
            	    <%end %>
            	</div>
						<%end%>
          </div>
        </div>
        <span class="icon-div-1">
              <i class="fa fa-ellipsis-v mt-2" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </td>
</tr>

<script>
  FontAwesome.dom.i2svg();
</script>
