<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
    <h6 class="m-0 font-weight-bold text-primary"><h1> Pos Details</h1></h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse show" id="collapseCardExample" style="">
    <div class="card-body">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="float-left h5">Name:</span><span class="float-right"><%= @pos_setting.name %></span></li>
          <li class="list-group-item"><span class="float-left h5">Display Name:</span><span class="float-right"><%= @pos_setting.display_name %></span></li>
          <li class="list-group-item"><span class="float-left h5">Phone:</span><span class="float-right"><%= @pos_setting.phone %></span></li>
          <li class="list-group-item"><span class="float-left h5">Logo:</span><span class="float-right"><%= @pos_setting.logo %></span></li>
          <li class="list-group-item"><span class="float-left h5">Address:</span><span class="float-right"><%= @pos_setting.address %></span></li>
          <li class="list-group-item"><span class="float-left h5">Account:</span><span class="float-right"><%= @pos_setting.account.title %></span></li>
        </ul>
      </div>
      <br>
      <div class="row float-right m-2">
        <%= link_to pos_settings_path , class:"btn btn-light float-right btn-outline-secondary " do %>Cancel
        <% end %>
      </div>
    </div>
  </div>
</div>
