<% @date = Date.today  %>
<% @time = DateTime.now %>
<% @time = Time.zone.now %>
<p style="border-bottom: double 4px;  margin: 0;"></p>
<h1 style="text-align: center; margin: 0;">Total Payment History </h1>
<p style="border-bottom: double 4px;  margin: 0;"></p>
<p style="text-align: center;margin: 0;">Report by: <%=current_user.name%></p>
<div>
  <table>
    <th></th>
    <th></th>
    <tr>
      <td style="width:67vw;">DateTime: <span><%=Time.zone.now%></span> </td>
    </tr>
  </table>
</div>
<div>
  <table>
    <th class="short-column"><h3>Account</h3></th>
    <th class="short-column"><h3>Debit</h3></th>
    <th class="short-column"><h3>Credit</h3></th>
    <th class="short-column"><h3>Balance</h3></th>
    <th class="short-column"><h3>Comment</h3></th>
    <th class="short-column"><h3>Date</h3></th>

    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.account.title %></td>
        <td><%= number_with_delimiter(payment.debit) %></td>
        <td><%= number_with_delimiter(payment.credit) %></td>
        <td><%= number_with_delimiter(payment.amount) %></td>
        <td>
          <%= payment.comment %>
          <% if payment.paymentable.present? and payment.paymentable_type=="Order" %>
            <%=payment.paymentable.comment%>
            <br>
            <%if payment.paymentable.order_items_names_and_quantity!=0%>
              <%payment.paymentable.order_items_names_and_quantity.each do |name_quantity|%>
              <p>
                <span><%=name_quantity.first%></span>
                Qty: <span><%=name_quantity.second%></span>
                Rate:<span><%=name_quantity.third%></span>
                Total:<span><%=name_quantity.fourth%></span>
              </p>
              <%end%>
              <p>
                Total: <span><%=payment.paymentable.total_bill%></span>
              </p>
            <%end%>
          <%elsif payment.paymentable.present? and payment.paymentable_type=="PurchaseSaleDetail"%>
            <%=payment.paymentable.comment%>
            <br>
            <%if payment.paymentable.purchase_sale_items_names_and_quantity!=0%>
              <% payment.paymentable.purchase_sale_items_names_and_quantity.each do |name_quantity|%>
                <p>
                  <span><%=name_quantity.first%></span>
                  Qty:  <span><%=name_quantity.second%></span>
                </p>
              <%end%>
            <%end%>
            <p>
              Total: <span><%=payment.paymentable.total_bill%></span>
            </p>
          <%elsif payment.paymentable.present? and payment.paymentable_type=="ExpenseEntry"%>
            <%=payment.paymentable.comment%>
            <%=payment.paymentable.expense.comment if payment.paymentable.expense.present?%>
            <br>
            <p>
              <span>
                <%if payment.paymentable.expense_type.present?%>
                  <%=payment.paymentable.expense_type.title%>
                <%end%>
              </span>
            </p>
          <%elsif payment.paymentable.present? and payment.paymentable_type=="Salary"%>
            <%=payment.paymentable.comment%>
            <br>
            <p>
              <span>
                <%if payment.paymentable.staff.present?%>
                  <%=payment.paymentable.staff.full_name%>
                <%end%>
              </span>
            </p>
          <%elsif payment.paymentable.present? and payment.paymentable_type=="LedgerBook"%>
            <%=payment.paymentable.comment%>
            <br>
            <p>
              <span>
                <%if payment.paymentable.sys_user.present?%>
                  <%=payment.paymentable.sys_user.name%>
                <%end%>
              </span>
            </p>
          <%end%>
        </td>
        <td>
          <%if payment.created_at.strftime("%d%b%y")!=payment.updated_at.strftime("%d%b%y")%>
            <%= payment.created_at.present? ? payment.created_at.strftime("%d%b%y at %H:%M%p") : '' %> | <%= payment.updated_at.present? ? payment.updated_at.strftime("%d%b%y at %H:%M%p") : '' %>
          <%else%>
            <%= payment.created_at.present? ? payment.created_at.strftime("%d%b%y at %H:%M%p") : '' %>
          <%end%>
        </td>
      </tr>
    <%end%>
    <tr>
      <td class="short-column"><h4>Total</h4></td>
      <td class="short-column">
        <h4>
          <%@debit=@payments.pluck(:debit).compact.sum%>
          <%=number_with_delimiter(@debit)%>
        </h4>
      </td>
      <td class="short-column">
        <h4>
          <%@credit=@payments.pluck(:credit).compact.sum%>
          <%=number_with_delimiter(@credit)%>
        </h4>
      </td>
      <td class="short-column">
        <h4>
          <%=number_with_delimiter(@payments.last.amount) if @payments.last.present?%>
        </h4>
      </td>
      <td class="short-column">
        <h4>
          <%=number_with_delimiter(@credit)%> - <%=number_with_delimiter(@debit)%> = <%=number_with_delimiter(@credit-@debit)%>
        </h4>
      </td>
      <td class="short-column"></td>
    </tr>
  </table>
</div>
