<style>
  .table-bordered {
    border: 1px solid black;
  }
  table {
    border-collapse: collapse;
  }
  .table-bordered td, .table-bordered th {
      border: 1px solid black;
      padding: 5px;
  }
  .text-left{
    text-align: left;
  }
  .text-right{
    text-align: right;
  }
  .text-center{
    text-align: center;
  }
</style>
<div style='margin: 20px 0px;'>
  <h1>Payments by Opening Balance</h1>
  <% if params[:payment_asc_op].present? %>
    <% current_balance = @payments&.last&.amount.to_i %>
    <% opening_balance = @payments&.first&.amount.to_i - (@payments&.first&.credit.to_i - @payments&.first&.debit.to_i) %>
  <% else %>
    <% current_balance = @payments&.first&.amount.to_i %>
    <% opening_balance = @payments&.last&.amount.to_i - (@payments&.last&.credit.to_i - @payments&.last&.debit.to_i) %>
  <% end %>
  <h3 class='text-right'>Opening Balance: <%= number_with_delimiter(opening_balance) %></h3>
  <h3 class='text-right'>Current Balance: <%= number_with_delimiter(current_balance) %></h3>
  <div style='border: 1px solid black; margin: 20px 0px; padding: 10px;'>
    <h3>
      Dated: <%= params[:q][:created_at_gteq]&.to_date&.strftime("%d/%m/%Y") %>
      TO <%= params[:q][:created_at_lteq]&.to_date&.strftime("%d/%m/%Y") %>
    </h3>
  </div>

  <table class="table-bordered">
    <tr>
      <th class='text-left'>Date</th>
      <th class='text-left'>Account</th>
      <th class='text-left'>Remarks</th>
      <th class='text-right'>Debit</th>
      <th class='text-right'>Credit</th>
      <th class='text-right'>Balance</th>
    </tr>
    <% @payments.each do |payment| %>
      <tr>
        <td class='text-left'><%= payment.created_at.strftime("%d/%m/%Y") %></td>
        <td class='text-left'><%= payment.account&.title %></td>
        <td class='text-left'>
          <%= payment.comment %>
          <% if payment.paymentable.present? and payment.paymentable_type=="Order" %>
            <%=payment.paymentable.comment%>
            <br>
            <%if payment.paymentable.order_items_names_and_quantity!=0%>
              <%payment.paymentable.order_items_names_and_quantity.each do |name_quantity|%>
              <p>
                <span><%=name_quantity.first%></span>
                Qty: <span><%=name_quantity.second%></span>
                Rate:<span><%=name_quantity.third%></span>
                Total:<span><%=name_quantity.fourth%></span>
              </p>
              <%end%>
              <p>
                Total: <span><%=payment.paymentable.total_bill%></span>
              </p>
            <%end%>
          <%elsif payment.paymentable.present? and payment.paymentable_type=="PurchaseSaleDetail"%>
            <%=payment.paymentable.comment%>
            <%if payment.paymentable.purchase_sale_items_names_and_quantity!=0%>
              <% payment.paymentable.purchase_sale_items_names_and_quantity.each do |name_quantity|%>
                <p>
                  <span><%=name_quantity.first%></span>
                  Qty:  <span><%=name_quantity.second%></span>
                </p>
              <%end%>
            <%end%>
            <p>
              <span class="h4 text-gray">Total:</span> <span class="h4 text-gray font-weight-bold"><%=payment.paymentable.total_bill%></span>
            </p>
          <%elsif payment.paymentable.present? and payment.paymentable_type=="ExpenseEntry"%>
            <%=payment.paymentable.comment%>
            <%=payment.paymentable.expense.comment if payment.paymentable.expense.present?%>
            <br>
            <p>
              <span>
                <%if payment.paymentable.expense_type.present?%>
                  <%=payment.paymentable.expense_type.title%>
                <%end%>
              </span>
            </p>
          <%elsif payment.paymentable.present? and payment.paymentable_type=="Salary"%>
            <%=payment.paymentable.comment%>
            <br>
            <p>
              <span>
                <%if payment.paymentable.staff.present?%>
                  <%=payment.paymentable.staff.full_name%>
                <%end%>
              </span>
            </p>
          <%elsif payment.paymentable.present? and payment.paymentable_type=="LedgerBook"%>
            <%=payment.paymentable.comment%>
            <br>
            <p>
              <span>
                <%if payment.paymentable.sys_user.present?%>
                  <%=payment.paymentable.sys_user.name%>
                <%end%>
              </span>
            </p>
          <%end%>
        </td>
        <td class='text-right'><%= number_with_delimiter(payment.debit.to_i) %></td>
        <td class='text-right'><%= number_with_delimiter(payment.credit.to_i) %></td>
        <td class='text-right'><%= number_with_delimiter(payment.amount.to_i) %></td>
      </tr>
    <% end %>
      <tr>
        <td></td>
        <th></th>
        <th class='text-right'>Total:</th>
        <th class='text-right'><%= number_with_delimiter(@payments.sum(:debit)) %></th>
        <th class='text-right'><%= number_with_delimiter(@payments.sum(:credit)) %></th>
        <th></th>
      </tr>
  </table>
</div>