<style>
  .table-bordered {
    border: 1px solid black;
  }
  table {
    border-collapse: collapse;
  }
  .table-bordered td, .table-bordered th {
      border: 1px solid black;
      padding: 5px;
  }
  .text-left{
    text-align: left;
  }
  .text-right{
    text-align: right;
  }
  .text-center{
    text-align: center;
  }
</style>
<div style='margin: 20px 0px;'>
  <h1>Payments by Opening Balance</h1>
  <% if params[:payment_asc_op].present? %>
    <% current_balance = @payments&.last&.amount.to_i %>
  <% else %>
    <% current_balance = @payments&.first&.amount.to_i %>
  <% end %>
  <h3 class='text-right'>Current Balance: <%= number_with_delimiter(current_balance) %></h3>
  <div style='border: 1px solid black; margin: 20px 0px; padding: 10px;'>
    <h3>
      Dated: <%= params[:q][:created_at_gteq]&.to_date&.strftime("%d/%m/%Y") %>
      TO <%= params[:q][:created_at_lteq]&.to_date&.strftime("%d/%m/%Y") %>
    </h3>
  </div>

  <table class="table-bordered">
    <tr>
      <th class='text-left'>Date</th>
      <th class='text-left'>Account</th>
      <th class='text-right'>Prev. Balance</th>
      <th class='text-right'>Debit</th>
      <th class='text-right'>Credit</th>
      <th class='text-right'>Balance</th>
    </tr>
    <% @payments.each do |payment| %>
      <tr>
        <td class='text-left'><%= payment.created_at.strftime("%d/%m/%Y") %></td>
        <td class='text-left'><%= payment.account&.title %></td>
        <td class='text-right'><%= number_with_delimiter(payment.amount.to_i+payment.debit.to_i-payment.credit.to_i) %></td>
        <td class='text-right'><%= number_with_delimiter(payment.debit.to_i) %></td>
        <td class='text-right'><%= number_with_delimiter(payment.credit.to_i) %></td>
        <td class='text-right'><%= number_with_delimiter(payment.amount.to_i) %></td>
      </tr>
    <% end %>
      <tr>
        <td></td>
        <th></th>
        <th class='text-right'>Total:</th>
        <th class='text-right'><%= number_with_delimiter(@payments.sum(:debit)) %></th>
        <th class='text-right'><%= number_with_delimiter(@payments.sum(:credit)) %></th>
        <th></th>
      </tr>
  </table>
</div>