<div class="modal fade" id="showdData" tabindex="-1" role="dialog" aria-labelledby="showdDataLabel">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
    <div class="modal-header">
              <h2 class="modal-title" id="myModalLabel">Payment Details</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
                 <div class="modal-body">
                     <%@t_dabit=0%>
                     <%@t_credit=0%>
                     <%@t_balance=0%>

                        <div class="card">
                          <ul class="list-group list-group-flush">
                             <li class="list-group-item mb-2"><span class="float-left h5">ID:</span><span class="float-right"><%= @payment.id %></span></li>
                             <li class="list-group-item mb-2"><span class="float-left h5">Account:</span><span class="float-right"><%= @payment.account.title if @payment.account.present?%></span></li>
                             <li class="list-group-item mb-2"><span class="float-left h5">Debit:</span><span class="float-right"><%= @payment.debit.to_f.round(2) %><%@t_dabit += @payment.debit.to_f.round(2)%></span></li>
                             <li class="list-group-item mb-2"><span class="float-left h5">Credit:</span><span class="float-right"><%= @payment.credit.to_f.round(2) %><%@t_credit +=@payment.credit.to_f.round(2)%></span></li>
                             <li class="list-group-item mb-2"><span class="float-left h5">Balance:</span><span class="float-right"><%= @payment.amount.to_f.round(2) %><%@t_balance +=@payment.amount.to_f.round(2)%></span></li>
                             <li class="list-group-item mb-2"><span class="float-left h5">Paymentable:</span><span class="float-right"><%= link_to 'Sale',edit_purchase_sale_detail_path(@payment.paymentable) if @payment.paymentable.present? and @payment.paymentable_type=="PurchaseSaleDetail" and @payment.paymentable.transaction_type=="Sale"%>
                               <%= link_to 'Purchase',edit_purchase_sale_detail_path(@payment.paymentable) if @payment.paymentable.present? and @payment.paymentable_type=="PurchaseSaleDetail" and @payment.paymentable.transaction_type=="Purchase"%>
                               <%= link_to 'Sale Order',edit_order_path(@payment.paymentable) if @payment.paymentable.present? and @payment.paymentable_type=="Order" and @payment.paymentable.transaction_type=="Sale"%>
                               <%= link_to 'Purchase Order',edit_order_path(@payment.paymentable) if @payment.paymentable.present? and @payment.paymentable_type=="Order" and @payment.paymentable.transaction_type=="Purchase"%>
                               <%= link_to 'Expense',edit_expense_path(@payment.paymentable.expense.id) if @payment.paymentable.present? and @payment.paymentable_type=="ExpenseEntry"%>
                               <%= link_to 'Salary',edit_salary_path(@payment.paymentable) if @payment.paymentable.present? and @payment.paymentable_type=="Salary" and @payment.paymentable.paid_salary.present?%>
                               <%= link_to 'Wage Salary',edit_advance_salary_path(@payment.paymentable) if @payment.paymentable.present? and @payment.paymentable_type=="Salary" and @payment.paymentable.advance.present?%>
                               <%= link_to 'Investment',edit_investment_path(@payment.paymentable) if @payment.paymentable.present? and @payment.paymentable_type=="Investment"%>
                               <%= link_to 'Ledger Book',edit_ledger_book_path(@payment.paymentable) if @payment.paymentable.present? and @payment.paymentable_type=="LedgerBook"%></span></li>
                             <li class="list-group-item mb-2"><span class="float-left h5">Comment:</span><span class="float-right"><%= @payment.comment %></span></li>
                             <li class="list-group-item"><span class="float-left h5">Date:</span><span class="float-right"><%if @payment.created_at.strftime("%d%b%y")!=@payment.updated_at.strftime("%d%b%y")%>
                               <%= @payment.created_at.present? ? @payment.created_at.strftime("%d%b%y at %H:%M%p") : '' %> | <%= @payment.updated_at.present? ? @payment.updated_at.strftime("%d%b%y at %H:%M%p") : '' %>
                              <%else%>
                              <%= @payment.created_at.present? ? @payment.created_at.strftime("%d%b%y at %H:%M%p") : '' %>
                             <%end%></span></li>
                           </ul>
                        </div>
            
            
                    <!-- Card Content - Collapse -->
                      <div class="collapse show" id="collapseCardExample" style="">
                         <div class="card-body">           
                         </div>
                      </div>
         
          <div class="modal-footer">
            <button type="button" class="btn btn-danger float-right" data-dismiss="modal" aria-label="Close">
              <span class="text-light p-2">Close</span>
            </button>
          </div>
      </div>
    </div>
  </div>
</div>

