<div id="custom-alert" class="alert alert-danger d-none">
  <span class="custom-alert-text"></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>

<div class="m-4" id="city_list">
  <div class="d-flex">
    <div class="main-content-header d-flex">
      <h1 class="ml-2">Expenses => </h1><h3 class='ml-2 mt-2'><%= @account&.title %></h3>
    </div>
  </div>
  <div class='clearfix'></div>
    <div class="row ml-1 d-flex mb-5" style="font-family: arial">
      <div class="col-lg-3 col-sm-3 stats-cards border-radius-1 shadow-lg p-4 mr-4" style="background:linear-gradient(45deg, #0f1d59 73%, white 8%); color:white;">
        <div>
          <div class="p font-weight-bold mb-3 mt-1" style="color: #C0C0C0">Last Credit</div>
          <span class="mt-1 mb-2"><i>Rs.</i><i class="h4 mb-0 font-weight-bold text-light-800 mr-1"><%= number_with_delimiter(@previous_credit) %></i></span>
          <br>
        </div>
      </div>
        <div class="col-lg-3 col-sm-3 stats-cards border-radius-1 shadow-lg p-4 mr-4" style="background:linear-gradient(45deg, darkred 73%, white 8%); color:white;">
        <div>
          <div class="p font-weight-bold mb-3 mt-1" style="color: #C0C0C0">Available Balance</div>
          <span class="mt-1 mb-2"><i>Rs.</i><i class="h4 mb-0 font-weight-bold text-light-800 mr-1"><%= number_with_delimiter(@account&.amount.to_f.round(2)) %></i></span>
          <br>
        </div>
      </div>
      <div class="col-lg-5 col-sm-5 border-radius-1 shadow-lg ml-1" style="background:linear-gradient(-45deg, darkblue 40%, white 8%);">
        <div class="p font-weight-bold text-muted mt-3 py-2" style="color: #C0C0C0">Monthly Report</div>
          <div><i class="fa fa-circle text-primary mr-2"></i><i>Rs.</i><i class="h5 mb-0 font-weight-bold text-gray-800 mr-1"><%= number_with_delimiter(@monthly_data.sum(:credit).to_f.round(2)) %></i><i class="fas fa-signal text-primary ml-2"></i></div>
          <div class="p text-muted mb-1">Total Credit</div>
          <div><i class="fa fa-circle text-danger mr-2"></i><i>Rs.</i><i class="h5 mb-0 font-weight-bold text-gray-800 mr-1"><%= number_with_delimiter(@monthly_data.sum(:debit).to_f.round(2)) %></i><i class="fas fa-signal text-danger ml-2"></i></div>
          <div class="p text-muted mb-3">Total Debit</div>
      </div>
    </div>
  <div class="ml-3 mr-4">
    <ul class="nav nav-tabs ml-1" role="tablist">
      <li class="nav-item">
        <a class="nav-link tab-label cms-search-exp-tab active" data-toggle="tab" href="#search" role="tab"><i class="fa fa-search mr-1"></i>Search</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active mb-3 card shadow p-3 mt-2 border-radius-1 mr-4" id="search" role="tabpanel">
        <%= search_form_for @q, url: account_payment_payments_path, class: "admin-controls", method: "get" do |f| %>
          <div class="row d-flex ml-1 mr-1 mt-4">
            <div class="col-lg-3 form-group float-left">
              <%= f.select :account_id_eq, options_from_collection_for_select(Account.all, "id", ->(st){"#{st.title} \u{27F6} #{st.bank_name}"},f.object.account_id_eq), {:include_blank => "Select the Account Title"},{class: "form-control chosen-select", :data => {:placeholder => "Select the Account Title"} } %>
            </div>
            <div class="col-lg-3 form-group float-left d-flex">
              <%= f.search_field :created_at, id: "reportrange", class: 'form-control' %>
            </div>
            <div class="d-none">
              <%= f.search_field :created_at_gteq, value: @start_date, class: 'form-control input-sm datepicker',placeholder: "YYYY-MM-DD" %>
              <%= f.search_field :created_at_lteq, value: @end_date, class: 'form-control input-sm datepicker' ,placeholder: "YYYY-MM-DD"%>
            </div>
            <div class="col-1 form-group float-left">
              <button class="btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px;"><i class="fa fa-search"></i></button>
            </div>
            <div class='float-left col-5 pl-5'>
              <div><b>Total Credit => </b><%= number_with_delimiter(@payments.sum(:credit).to_f.round(2)) %></div>
              <div><b>Total Debit => </b><%= number_with_delimiter(@payments.sum(:debit).to_f.round(2)) %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
  <div>


  <div class="card shadow border-radius-1 p-4 ml-4 mr-5 payment-book-index-card">
    <%= render 'map_columns/map_column_partials' %>
    <table data-toggle="table" data-search="true" class=" overflow-hidden border-radius-1 content-table">
    <thead>
      <tr>
        <th>SR#</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Balance</th>
    </tr>
    </thead>

    <tbody>
      <% @payments.each_with_index do |payment, index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= number_with_delimiter(payment.debit) %></td>
          <td><%= number_with_delimiter(payment.credit) %></td>
          <td>
            <div class="icon-container float-left">
              <%if payment.amount.to_f < 0  %>
                <div class="my-icon my-view">
                  <div class="my-tooltip text-primary">
                    Jama/Payable
                  </div>
                    <%= link_to payment_path(payment), remote: true, class:"icon-div" do %>
                      <i class="fa fa-arrow-up mt-2 text-primary" aria-hidden="true"></i>
                    <%end %>
                </div>
              <% end %> 
              <%if payment.amount.to_f > 0  %>
                <div class="my-icon my-view">
                  <div class="my-tooltip text-danger">
                    Benam/Recievable
                  </div>
                    <%= link_to payment_path(payment), remote: true, class:"icon-div" do %>
                      <i class="fa fa-arrow-down mt-2 text-danger" aria-hidden="true"></i>
                    <%end %>
                </div>
              <% end %> 
              <%if payment.amount.to_f == 0  %>
                <div class="my-icon my-view">
                  <div class="my-tooltip text-success">
                    Nil
                  </div>
                    <%= link_to payment_path(payment), remote: true, class:"icon-div" do %>
                      <i class="fa fa-check mt-2 text-success" aria-hidden="true"></i>
                    <%end %>
                </div>
              <% end %>  
            </div>
            <div class="float-left"><%= number_with_delimiter(payment.amount) %></div>
          </td>
        </tr>
      <% end %>
      <tr>
        <td><h5>Total</h5></td>
        <td><h5><%=number_with_delimiter(@t_dabit.first.sum_debit.to_f.round(2)) %></h5></td>
        <td><h5><%=number_with_delimiter(@t_dabit.first.sum_credit.to_f.round(2)) %></h5></td>
        <td><h5><%=number_with_delimiter(@t_dabit.first.mean_sum.to_f.round(2))%> </h5></td>
      </tr>
    </tbody>
  </table>

  <div class="row mt-2">
    <div class="col-lg-4 col-sm-4">
      <%= page_entries_info @payments %>
    </div>
    <div class="col-lg-8 col-sm-8 pagination-left">
      <%= paginate @payments %>
    </div>
  </div>
  </div>

<div class="show-data"></div>

<script>
  $(function() {
    FontAwesome.dom.i2svg();
    var start = moment();
    var end = moment();

    function cb(start, end) {
        $('#reportrange span').html(start.format('YYYY/MM/DD') + ' - ' + end.format('YYYY/MM/DD'));
    }

    var gteq = $('#q_created_at_gteq').val()
    var lteq = $('#q_created_at_lteq').val()
    if (gteq !== ''){
      start = moment(new Date(gteq))
    }
    if(lteq !== ''){
      end = moment(new Date(lteq))
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
      ranges: {
          'Select Date Range':[],
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           '1 Year': [moment().subtract(1, 'years')],
           '5 Year': [moment().subtract(5, 'years')],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
           'This Month Last Year': [moment().subtract(1, 'years').startOf('month'), moment().subtract(1, 'years').endOf('month')],
           'This Year': [moment().startOf('year'), moment().endOf('year')],
           'Last Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
        },
        locale: {
          format: 'YYYY/MM/DD'
        }
    }, cb);

    cb(start, end);

    $('#reportrange').on('change', function(){
	      var value = $(this).val()
	      var greater_eq = value.split(' - ')[0]
	      var less_eq = value.split(' - ')[1]
	      $('#q_created_at_gteq').val(greater_eq)
	      $('#q_created_at_lteq').val(less_eq)
	    })

  });
</script>
