<style>
  .table-bordered {
    border: 1px solid black;
  }
  table {
    border-collapse: collapse;
  }
  .table-bordered td, .table-bordered th {
      border: 1px solid black;
      padding: 5px;
  }
  .text-left{
    text-align: left;
  }
  .text-right{
    text-align: right;
  }
  .text-center{
    text-align: center;
  }
</style>
<div style='margin: 20px 0px;'>
  <h1>Ledger Book by Opening Balance</h1>
  <% if params[:ledger_book_asc_op].present? %>
    <% current_balance = @ledger_books&.last&.balance.to_i %>
  <% else %>
    <% current_balance = @ledger_books&.first&.balance.to_i %>
  <% end %>
  <h3 class='text-right'>Current Balance: <%= number_with_delimiter(current_balance) %></h3>
  <div style='border: 1px solid black; margin: 20px 0px; padding: 10px;'>
    <h3>
      Dated: <%= params[:q][:created_at_gteq]&.to_date&.strftime("%d/%m/%Y") %>
      TO <%= params[:q][:created_at_lteq]&.to_date&.strftime("%d/%m/%Y") %>
    </h3>
  </div>

  <table class="table-bordered">
    <tr>
      <th class='text-left'>Date</th>
      <th class='text-left'>Customer/Supplier</th>
      <th class='text-left'>Remarks</th>
      <th class='text-right'>Debit</th>
      <th class='text-right'>Credit</th>
      <th class='text-right'>Balance</th>
    </tr>
    <% @ledger_books.each do |ledger_book| %>
      <tr>
        <td class='text-left'><%= ledger_book.created_at.strftime("%d/%m/%Y") %></td>
        <td class='text-left'><%= ledger_book.sys_user&.name %></td>
        <td class='text-left'>
          <%= ledger_book.comment %>
          <% if ledger_book.account.present?%>
            <p>
              <span><%=ledger_book.account.title%></span>
            </p>
          <%end%>
          <% if ledger_book.order.present? %>
            <%if ledger_book.order.order_items_names_and_quantity!=0%>
              <%ledger_book.order.order_items_names_and_quantity.each do |name_quantity|%>
              <p>
                <span><%=name_quantity[8].to_s+'-'+name_quantity.first%></span>
                Qty: <span><%=name_quantity.second%></span>
                Rate:<span><%=name_quantity.third%></span>
                Total:<span><%=name_quantity.fourth%></span>
              </p>
              <%end%>
              <p>
                Total: <span><%=ledger_book.order.total_bill%></span>
              </p>
            <%end%>
          <%elsif ledger_book.purchase_sale_detail.present?%>
            <p>Comment:   <%= ledger_book.purchase_sale_detail.comment %></p>
            <p>Version: <span><%=ledger_book.purchase_sale_detail.versions.count%></span></p>
            <%if ledger_book.purchase_sale_detail.purchase_sale_items_names_and_quantity!=0%>
              <% ledger_book.purchase_sale_detail.purchase_sale_items_names_and_quantity.each do |name_quantity|%>
                <p>
                  <span><%=name_quantity[8].to_s+'-'+name_quantity.first%></span>
                  Qty:  <span><%=name_quantity.second%></span>
                </p>
              <%end%>
              <%if ledger_book.purchase_sale_detail.with_gst.present?%>
                <p>
                  GST: <span><%= ledger_book.purchase_sale_detail.purchase_sale_items.sum(:gst_amount)%></span>
                </p>
              <%end%>
            <%end%>
            <p><span>PO#: </span> <%=ledger_book&.purchase_sale_detail&.bill_no%></p>
          <%end%>
        </td>
        <td class='text-right'><%= number_with_delimiter(ledger_book.debit.to_i) %></td>
        <td class='text-right'><%= number_with_delimiter(ledger_book.credit.to_i) %></td>
        <td class='text-right'><%= number_with_delimiter(ledger_book.balance.to_i) %></td>
      </tr>
    <% end %>
      <tr>
        <td></td>
        <th></th>
        <th class='text-right'>Total:</th>
        <th class='text-right'><%= number_with_delimiter(@ledger_books.sum(:debit)) %></th>
        <th class='text-right'><%= number_with_delimiter(@ledger_books.sum(:credit)) %></th>
        <th></th>
      </tr>
  </table>
</div>