<div id="custom-alert" class="alert alert-danger d-none">
  <span class="custom-alert-text"></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="m-4">
<div class="main-content-header">
  <h1 class="ml-2">Ledger Book</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= root_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="<%= ledger_books_path %>">Ledger Book</a>
    </li>
  </ol>
</div>

<div class="row d-flex mb-5 mt-2 ml-1">
  <%if (check_can_create(@module_permission))%>
    <div>
        <%= link_to new_ledger_book_path(Sjama: true), class: "btn btn-primary mr-2" do %>
          <i class="fa fa-plus" aria-hidden="true"></i>
          Jama/Credit
        <% end %>
          <%= link_to new_ledger_book_path(Sbenam: true), class: "btn btn-danger" do %>
            <i class="fa fa-plus" aria-hidden="true"></i>
              Benam/Debit
          <% end %>
    </div>
  <% end %>
  <%if (check_can_create(@module_permission))%>
    <div class='ml-2'>
       <%= link_to transfer_ledger_books_path, class: "btn btn-warning" do %>
          <i class="fa fa-credit-card" aria-hidden="true"></i>
          Payment Transfer
        <% end %>
    </div>
  <% end %>
</div>
<div class="float-right">
  <div class="dropdown ml-auto mr-4">
    <span class="btn btn-info" title= "About This page"><i class="fa fa-question-circle mr-1"></i>Help</span>
      <div class="dropdown-content">
          <% if @help.present? %>
          <% @help&.help_links.each do |link| %>
          <a type="button" class="" target="_blank" href="<%= link[1] %>" >Help in <%= link[0] %></a>
          <% end %>
          <% end %>
          </div>
      </div>
 </div>
<div class="hidden m-4" id="item_types_list">

</div>
      <ul class="nav nav-pills mt-3 mb-2" role="tablist">
        <li class="nav-item">
          <a class="nav-link tab-label ledger-search-exp-tab active" data-toggle="tab" href="#search" role="tab">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tab-label sys-user-search-exp-tab" data-toggle="tab" href="#analytics" data-remote="true" role="tab">Analytics</a>
        </li>
        <li class="nav-item">
        <a class="nav-link tab-label ledger-search-exp-tab" data-toggle="tab" href="#import-export" role="tab">Import/Export</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tab-label ledger-logs-tab" data-toggle="tab" href="#logs" role="tab">Logs</a>
        </li> 
      </ul>

      <%= hidden_field_tag "userCount", @user_count, { :id => "userCount" } %>
      <%= hidden_field_tag "balanceSum", @balance_sum, { :id => "balanceSum" } %>
      <%= hidden_field_tag "jamaKeys", @jama_keys, { :id => "jamaKeys" } %>
      <%= hidden_field_tag "jamaValues", @jama_total, { :id => "jamaValues" } %>
      <%= hidden_field_tag "benamValues", @benam_total, { :id => "benamValues" } %>
      <%= hidden_field_tag "nilValues", @nil_total, { :id => "nilValues" } %>
      <%= hidden_field_tag "debitKeys", @debit_keys, { :id => "debitKeys" } %>
      <%= hidden_field_tag "debitValues", @debit_values, { :id => "debitValues" } %>
      <%= hidden_field_tag "creditValues", @credit_values, { :id => "creditValues" } %>
      

      <div class="tab-content mb-2">
        <div class="tab-pane active mb-3 card shadow mt-2 p-4 border-radius-1" id="search" role="tabpanel">
          <%= search_form_for @q, url: ledger_books_path, class: "admin-controls", method: "get" do |f| %>
          <div class="row d-flex">
            <div class="col-lg-9">
              <div class="col-lg-2 form-group float-left">
                <%= f.search_field :id_eq, placeholder: "Search by id", title: "Search by id" ,:class=>"form-control" %>
              </div>
              <div class="col-lg-3 form-group float-left">
                <%= f.select :sys_user_id_eq, options_from_collection_for_select(@ledger_searchs, "id", ->(st){"#{st.name} \u{27F6} \u{27F6} #{st.code} "},@title),{:include_blank => "Select Name/Code"},:class=>"form-control chosen-select" %>
              </div>
              <div class="d-none">
                <%= f.search_field :created_at_gteq, class: 'form-control input-sm datepicker',placeholder: "YYYY-MM-DD" %>
                <%= f.search_field :created_at_lteq, class: 'form-control input-sm datepicker' ,placeholder: "YYYY-MM-DD"%>
              </div>
              <div class="col-lg-3 form-group float-left d-flex">
                <%= f.search_field :created_at, id: "reportrange", class: 'form-control' %>
              </div>
              <div class="col-lg-1 form-group float-left">
                <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
              </div>
            </div>
            <div class="col-lg-3">
              <%if (check_can_send_email(@module_permission))%>
                <div class="dropdown my-dropdown float-right mr-2">
                  <button type="button" class="form-control bg-info text-light">Mail List</button>
                  <div class="dropdown-content my-dropdown-content p-2">
                    <button class="form-control d-flex justify-content-center ml-2 mt-2 btn btn-info" style="width:120px" type="button" title="" name="asc_email" type="submit" value="Email" data-toggle="modal" data-target="#exampleModalCenter" ><i class="fa fa-envelope mr-1"></i>&nbsp;AscMail</button>
                    <button class="form-control d-flex justify-content-center ml-2 mt-2 btn btn-info" style="width:120px" type="button" title="" name="desc_email" type="submit" value="Email" data-toggle="modal" data-target="#exampleModalCenter" ><i class="fa fa-envelope mr-1"></i>&nbsp;DescMail</button>
                  </div>
                </div>
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Enter your email to recieve files.</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <% @pos_setting = PosSetting.first %>
                        <label>Email:</label>
                        <%= text_field_tag 'email_value',{}, value: current_user.email, class: 'form-control email-fields', type: 'email'%>
                        <br />
                        <label>Subject:</label>
                        <%= text_field_tag 'subject', "#{@pos_setting.display_name} - Ledger Book Detail report from MunshiOnClick", class: 'form-control email-fields'%>
                        <br />
                        <label>Body:</label><br />
                        <%= text_area_tag 'body', nil, class: 'form-control'%>
                        <br />
                        <label>Please select one of them.</label>
                        <div>
                          <label style="cursor: pointer"><%= radio_button_tag :email_choice, 'CSV', required: 'required' %> CSV</label><br />
                          <label style="cursor: pointer"><%= radio_button_tag :email_choice, 'PDF', required: 'required' %> PDF</label><br />
                          <label style="cursor: pointer"><%= radio_button_tag :email_choice, 'Both', required: 'required' %> Both(CSV + PDF)</label><br />
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button name="email" type="submit" value="email" class="btn btn-primary email-send-btn">Send</button>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              <%if (check_can_download_csv(@module_permission))%>
                <div class="dropdown my-dropdown float-right mr-2">
                  <button type="button" class="form-control bg-warning text-dark">CSV List</button>
                  <div class="dropdown-content my-dropdown-content p-2">
                    <button class="form-control d-flex justify-content-center ml-2 mt-2 btn btn-warning" style="width:120px" title="Download ledger book for single user in ascending order csv" name="submit_form_without_csv" type="submit" value="Ledger Book CSV" formtarget="_blank">1-Asc &nbsp; <i class="fa fa-file-excel"></i></button>
                    <button class="form-control d-flex justify-content-center ml-2 mt-2 btn btn-warning" style="width:120px" title="Download ledger book for single user in descending order csv" name="submit_csv_without" type="submit" value="Ledger Book CSV A4" formtarget="_blank">1-Desc &nbsp;<i class="fa fa-file-excel"></i></button>
                    <button class="form-control d-flex justify-content-center ml-2 mt-2 btn btn-warning" style="width:120px" title="Download ledger book for all user in ascending order csv" name="submit_form_csv" type="submit" value="Ledger Book CSV A4" formtarget="_blank">Asc &nbsp;<i class="fa fa-file-excel"></i></button>
                    <button class="form-control d-flex justify-content-center ml-2 mt-2 btn btn-warning" style="width:120px" title="Download ledger book for all user in desending order csv" name="submit_csv" type="submit" value="Ledger Book CSV A4" formtarget="_blank">Desc &nbsp;<i class="fa fa-file-excel"></i></button>
                    <button class="form-control d-flex justify-content-center ml-2 mt-2 btn btn-warning" style="width:120px" title="Download ledger book with short commenting csv" name="submit_csv_short" type="submit" value="Ledger Book PDF A4" formtarget="_blank">Short &nbsp;<i class="fa fa-file-excel"></i></button>
                    <button class="form-control d-flex justify-content-center ml-2 mt-2 btn btn-warning" style="width:120px" title="Download debit csv" name="submit_debit_csv" type="submit" value="Ledger Book PDF A4" formtarget="_blank">Debit List &nbsp;<i class="fa fa-file-excel"></i></button>
                    <button class="form-control d-flex justify-content-center ml-2 mt-2 btn btn-warning" style="width:120px" title="Download credit csv" name="submit_credit_csv" type="submit" value="Ledger Book PDF A4" formtarget="_blank">Credit List &nbsp;<i class="fa fa-file-excel"></i></button>
                  </div>
                </div>
              <% end %>
              <%if (check_can_download_pdf(@module_permission))%>
                <div class="dropdown my-dropdown float-right mr-2">
                  <button type="button" class="form-control bg-danger text-light">PDF List</button>
                  <div class="dropdown-content my-dropdown-content p-2" style="width: 100px;">
                    <button class="form-control d-flex justify-content-center ml-2 mr-2 mt-2 btn btn-danger" style="width:120px" title="Download ledger book pdf for single user in ascending order pdf" name="submit_form_without" type="submit" value="Ledger Book PDF A4" formtarget="_blank">1-Asc &nbsp;<i class="fa fa-file-pdf"></i></button>
                    <button class="form-control d-flex justify-content-center ml-2 mr-2 mt-2 btn btn-danger" style="width:120px" title="Download ledger book pdf for single user in descending order pdf" name="submit_pdf_without" type="submit" value="Ledger Book PDF A4" formtarget="_blank">1-Desc &nbsp;<i class="fa fa-file-pdf"></i></button>
                    <button class="form-control d-flex justify-content-center ml-2 mr-2 mt-2 btn btn-danger" style="width:120px" title="Download ledger book for all user in ascending order pdf" name="submit_form" type="submit" value="Ledger Book PDF A4" formtarget="_blank">Asc &nbsp; <i class="fa fa-file-pdf"></i></button>
                    <button class="form-control d-flex justify-content-center ml-2 mr-2 mt-2 btn btn-danger" style="width:120px" title="Download ledger book for all user in desending order pdf" name="submit_pdf" type="submit" value="Ledger Book PDF A4" formtarget="_blank">Desc &nbsp; <i class="fa fa-file-pdf"></i></button>
                    <button class="form-control d-flex justify-content-center ml-2 mr-2 mt-2 btn btn-danger" style="width:120px" title="Download ledger book with short commenting pdf" name="submit_pdf_short" type="submit" value="Ledger Book PDF A4" formtarget="_blank">Short &nbsp;<i class="fa fa-file-pdf"></i></button>
                    <button class="form-control d-flex justify-content-center ml-2 mr-2 mt-2 btn btn-danger" style="width:120px" title="Download debit pdf" name="submit_debit" type="submit" value="Ledger Book PDF A4" formtarget="_blank">DebitList &nbsp;<i class="fa fa-file-pdf"></i></button>
                    <button class="form-control d-flex justify-content-center ml-2 mr-2 mt-2 btn btn-danger" style="width:120px" title="Download credit pdf" name="submit_credit" type="submit" value="Ledger Book PDF A4" formtarget="_blank">CreditList &nbsp;<i class="fa fa-file-pdf"></i></button>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="tab-pane card shadow border-radius-1 p-5" id="analytics" role="tabpanel">
          <div class="row d-flex">
            <div class="col-lg-6">
              <div class="my-chart-Container">
                <div class="mychartBox card border-radius-1 shadow mt-2">
                  <canvas id="myChart"></canvas>
                </div> 
              </div>
            </div>
            <div class="col-lg-6">
              <div class="my-chart-Container">
                <div class="mychartBox card border-radius-1 shadow mt-2">
                  <canvas id="myChart1"></canvas>
                </div> 
              </div>
            </div>
          </div>
          <div class="mychartBox2 card border-radius-1 shadow mt-2 p-3">
            <canvas id="myChart3"></canvas>
          </div>

          <div class="mychartBox2 card border-radius-1 shadow mt-2 p-3">
            <canvas id="myChart4"></canvas>
          </div>
        </div>

        <div class="tab-pane mb-3 card shadow mt-2 border-radius-1 p-3" id="import-export" role="tabpanel">
          <p>
            <div class="d-flex ml-2">
              <button class="btn btn-danger ml-2" name="export_data" type="submit" value="export_data">Export Data</button>
              <button class="btn btn-info ml-2" type="button" data-toggle="modal" data-target="#importFile">Import Data</button>
            </div>
          </p>
        </div>
        <% end %>


    <div class="tab-pane mb-3 card shadow mt-2 border-radius-1 p-3" id="logs" role="tabpanel">
      <div class='ml-2 mt-2 mb-2'>
        <%= link_to view_history_ledger_books_path, class: "btn btn-success d-none", id: "ledger-logs", remote:true do %>
          show logs
        <% end %>
        <div id = "show-logs"></div>
      </div>
      <div class="my-loader mx-auto"></div>
    </div>
  </div>
  
  <div class='card border-radius-1 shadow p-4 ledger-book-index-card'>
  <div class="row d-flex" style="position: absolute;">
      <div>
        <%if (check_can_delete(@module_permission))%>
	        <button class="btn btn-outline-danger delete-selected mt-4 ml-3" type='button' value='LedgerBook'>
	        	Delete Selected
	        </button>		
        <%end%>
      </div>  
      <%= search_form_for @q, url: ledger_books_path, class: "admin-controls ml-4", method: "get" do |f| %>
        <div class="d-flex mt-4" style="width: 120%;">
          <%= select_tag :limit, options_for_select(['Show Entries',5, 10, 15, 20, 25], selected: :limit), id: 'pagination-limit', title:'Show Entries', style:'cursor: pointer;' %>
        </div>
      <% end %>
    </div>
    <div class="mt-3">  
    <table data-toggle="table" data-search="true" class="content-table">
      <thead>
        <tr>
         <th>
            <input type="checkbox" id="master" class='select-all-checkbox'>
          </th>
          <th>ID/P<div class='float-right'><%= sort_link(@q, :sys_user_name, '', {}, class: 'sorting-button') %></div></th>
          <th>Customer/Supplier<div class='float-right'><%= sort_link(@q, :sys_user_name, '', {}, class: 'sorting-button') %></div></th>
          <th>Debit<div class='float-right'><%= sort_link(@q, :debit, '', {}, class: 'sorting-button') %></div></th>
          <th>Credit<div class='float-right'><%= sort_link(@q, :credit, '', {}, class: 'sorting-button') %></div></th>
          <th>Balance<div class='float-right'><%= sort_link(@q, :balance, '', {}, class: 'sorting-button') %></div></th>
          <th>Jama/Benam</th>
          <th>Voucher<div class='float-right'><%= sort_link(@q, :purchase_sale_detail_id, '', {}, class: 'sorting-button') %></div></th>
          <th>Comment<div class='float-right'><%= sort_link(@q, :comment, '', {}, class: 'sorting-button') %></div></th>
          <th>Date<div class='float-right'><%= sort_link(@q, :date, '', {}, class: 'sorting-button') %></div></th>
          <th class="border_none">Action</th>
        </tr>
      </thead>
  
      <tbody>
        <% @ledger_books.each do |ledger_book| %>
          <tr>
          <td><%= check_box_tag 'object_ids[]', ledger_book.id %></td>
            <td>
            <% if check_can_delete(@module_permission) %>
                <% if ledger_book&.purchase_sale_detail.present?%>
                  <%= link_to payments_path('q[id_eq]': ledger_book.purchase_sale_detail.payment_ids.last), title: "print receipt detail" do %>
                      <%=ledger_book.id%><%=ledger_book.purchase_sale_detail.payment_ids%>
                  <% end %>
                <% elsif ledger_book&.order.present?%>
                  <%= link_to payments_path('q[id_eq]': ledger_book.order.payment_ids.last) do %>
                      <%=ledger_book.id%><%=ledger_book.order.payment_ids%>
                  <% end %>
                <% else%>
                  <%= link_to payments_path('q[id_eq]': ledger_book.payment_ids.last) do %>
                      <%=ledger_book.id%><%=ledger_book.payment_ids%>
                  <% end %>
                <% end%>
            <% end %>
            </td>
            <td class="urdu-font">
              <%= link_to sys_users_path('q[id_eq]':ledger_book.sys_user) do %>
                <%= ledger_book.sys_user.name %>
              <%end %>
            </td>
            <td><%= number_with_delimiter(ledger_book.debit) %></td>
            <td><%= number_with_delimiter(ledger_book.credit) %></td>
            <td><%= number_with_delimiter(ledger_book.balance) %></td>
            <td>
              <%if (ledger_book.balance.to_f > 0 ) %>
                <b style="font-size:20px;color:blue;">Jama / Payable</b>
              <%elsif (ledger_book.balance.to_f < 0 ) %>
                <b style="font-size:20px;color:red;">Benam / Receivable</b>
              <%else%>
                <b style="font-size:20px;color: #6cec53 ;">Nill</b>
              <%end%>
            </td>
            <td>
              <% if ledger_book.purchase_sale_detail_id.present? %>
                <% if check_can_update(@module_permission) %>
                  <%= 'Sale' if ledger_book.purchase_sale_detail.transaction_type=="Sale"%>
                  <%= 'Purchase' if ledger_book.purchase_sale_detail.transaction_type=="Purchase"%>
                  <%= 'SaleReturn' if ledger_book.purchase_sale_detail.transaction_type=="SaleReturn"%>
                  <%= 'PurchaseReturn' if ledger_book.purchase_sale_detail.transaction_type=="PurchaseReturn"%>
                <% end %>
              <% elsif ledger_book.order.present? %>
                <% if check_can_update(@module_permission) %>
                  <%= 'Sale Order' if ledger_book.order.transaction_type=="Sale"%>
                  <%= 'Purchase Order' if ledger_book.order.transaction_type=="Purchase"%>
                <% end %>
              <%else%>
                Ledger Book
              <% end %>
            </td>
            <td>
              <%if ledger_book.order.present? || ledger_book.purchase_sale_detail.present? %>
              <%= ledger_book.comment %>
              <%else%>
              <%= ledger_book.comment %>
              <%# ledger_book.created_at.strftime("%d/%m/%Y at %I:%M%p") %>
              <%end%>
              <% if ledger_book.account.present?%>
              <p>
                <span><%=ledger_book.account.title%></span>
              </p>
              <%end%>
              <% if ledger_book.order.present? %>
                <%if ledger_book.order.order_items_names_and_quantity!=0%>
                  <%ledger_book.order.order_items_names_and_quantity.each do |name_quantity|%>
                  <p>
                    <span><%=name_quantity[8].to_s+'-'+name_quantity.first%></span>
                    Qty: <span><%=name_quantity.second%></span>
                    Rate:<span><%=name_quantity.third%></span>
                    Total:<span><%=name_quantity.fourth%></span>
                  </p>
                  <%end%>
                  <p>
                    Total: <span><%=ledger_book.order.total_bill%></span>
                  </p>
                <%end%>
              <%elsif ledger_book.purchase_sale_detail.present?%>
                <p>Comment:   <%= ledger_book.purchase_sale_detail.comment %></p>
                <p>Version: <span><%=ledger_book.purchase_sale_detail.versions.count%></span></p>
                <%if ledger_book.purchase_sale_detail.purchase_sale_items_names_and_quantity!=0%>
                  <% ledger_book.purchase_sale_detail.purchase_sale_items_names_and_quantity.each do |name_quantity|%>
                    <p>
                      <span><%=name_quantity[8].to_s+'-'+name_quantity.first%></span>
                      Qty:  <span><%=name_quantity.second%></span>
                    </p>
                  <%end%>
                  <%if ledger_book.purchase_sale_detail.with_gst.present?%>
                    <p>
                      GST: <span><%= ledger_book.purchase_sale_detail.purchase_sale_items.sum(:gst_amount)%></span>
                    </p>
                  <%end%>
                <%end%>
                <p><span>PO#: </span> <%=ledger_book&.purchase_sale_detail&.bill_no%></p>
              <%end%>
            </td>
            <td><%=ledger_book.created_at.strftime("%A,  %d-%b-%Y")%></td>
            <td>
              <div class="icon-container-1">
                  <div class="my-icon-1 my-view-1">
                    <div class="my-tooltip-1">
                      <div class="icon-container">
                        <div class="my-icon my-view">
                          <div class="my-tooltip">
                              Edit
                            </div>
                              <% if check_can_update(@module_permission) %>
                                <% if ledger_book.purchase_sale_detail_id.present? %>
                                  <%if ledger_book.purchase_sale_detail.purchase_sale_items.present?%>
                                    <%if ledger_book.purchase_sale_detail.purchase_sale_items.first.product.present? %>
                                      <% if check_can_update(@module_permission) %>
                                          <%= link_to edit_purchase_sale_detail_path(ledger_book.purchase_sale_detail,product: true),title: "Edit detail" do %>
                                              <i class="fa fa-edit mt-2" aria-hidden="true"></i>
                                          <% end %>
                                    <% end %>
                                  <%else%>
                                  <% if check_can_update(@module_permission) %>
                                    <%= link_to edit_purchase_sale_detail_path(ledger_book.purchase_sale_detail),title: "Edit detail" do %>
                                      <i class="fa fa-edit mt-2" aria-hidden="true"></i>
                                    <% end %>
                                    <% end %>
                                  <%end%>
                                <%end%>
                              <% elsif ledger_book.order.present? %>
                                  <%= link_to edit_order_path(ledger_book.order_id,product: true),title: "Edit detail" do %>
                                    <i class="fa fa-edit mt-2" aria-hidden="true"></i>
                                  <%end %>
                              <%else%>
                                <%= link_to edit_ledger_book_path(ledger_book),title: "Edit detail" do %>
                                  <i class="fa fa-edit mt-2" aria-hidden="true"></i>
                                <%end %>
                              <% end %>
                            <% end %>
                          </div>
                          <div class="my-icon my-view">
                            <div class="my-tooltip">
                              Delete
                            </div>
                                <% if check_can_delete(@module_permission) %>
                                  <% if ledger_book.purchase_sale_detail_id.present? %>
                                      <%= link_to purchase_sale_detail_path(ledger_book.purchase_sale_detail_id), method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, title: "Delete ledger book",:remote => true, :class => 'delete' do %>
                                        <i class="fa fa-trash mt-2" aria-hidden="true"></i>
                                      <% end %>
                                  <%elsif ledger_book.order.present? %>
                                      <%= link_to order_path(ledger_book.order_id), method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, title: "Delete ledger book",:remote => true, :class => 'delete' do %>
                                        <i class="fa fa-trash mt-2" aria-hidden="true"></i>
                                      <% end %>
                                  <%else%>
                                    <%= link_to ledger_book, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, title: "Delete ledger book",:remote => true, :class => 'delete' do %>
                                    <i class="fa fa-trash mt-2" aria-hidden="true"></i>
                                  <%end%>
                                  <%end %>
                                <% end %>
                          </div>
                          <div class="my-icon my-view">
                            <div class="my-tooltip">
                              Show
                            </div>
                            <%if (check_can_read(@module_permission))%>
                              <%= link_to ledger_book, title: "View Detail" do %>
                                <i class="fa fa-eye mt-2" aria-hidden="true"></i>
                              <%end %>
                            <%end%>
                          </div>
                      </div>
                    </div>
                      <span class="icon-div-1">
                        <i class="fa fa-ellipsis-v mt-2" aria-hidden="true"></i>
                      </span>
                  </div>
                </div>
            </td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td><h5>Total</h5></td>
          <td></td>
          <td><h5><%=number_with_delimiter(@ledger_books_all&.first&.sum_debit)%></h5></td>
          <td><h5><%=number_with_delimiter(@ledger_books_all&.first&.sum_credit)%></h5></td>
          <td><h5><%=number_with_delimiter(@ledger_books_all&.first&.mean_sum)%></h5></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-12 digg_pagination mt-3">
    <div class="float-left page_info">
      <%= page_entries_info @ledger_books %>
    </div>
    <div class="float-right">
    <%= paginate @ledger_books, :container => false %>
    </div>
  </div>
  </div>
</div>
<%= form_for :bulk_import, url: bulk_import_data_path, method: :post, html: {class: "bulk-import-form"} do |f| %>
  <div class="modal fade" id="importFile" tabindex="-1" role="dialog" aria-labelledby="importFileTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Import file</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= f.file_field :file, required: true, accept: '.csv' %>
          <%= f.hidden_field :table_name, value: 'LedgerBook' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit 'Import', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="show-data"></div>

<script>
  $(document).ready(function() {
    var sortingButtons = $('.sorting-button')
    for(var i=0; i<sortingButtons.length; i++){
      $(sortingButtons[i]).html("<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='blue' enable-background='new 0 0 512 512' viewBox='0 0 512 512'><path d='M163.919,494.293c-2.83,0-5.496-1.33-7.196-3.593L45.97,343.348c-2.986-3.974-2.187-9.615,1.787-12.602 c3.974-2.986,9.616-2.187,12.602,1.787l103.557,137.777l103.493-137.775c2.986-3.975,8.627-4.775,12.602-1.791 c3.974,2.985,4.775,8.627,1.79,12.602L171.113,490.698C169.414,492.961,166.749,494.293,163.919,494.293z'/><path d='M163.917 494.293c-4.971 0-9-4.029-9-9V26.192c0-4.971 4.029-9 9-9s9 4.029 9 9v459.101C172.917 490.264 168.888 494.293 163.917 494.293zM459.507 182.622c-2.734 0-5.435-1.241-7.203-3.597L348.78 41.18 245.257 179.025c-2.985 3.975-8.626 4.777-12.601 1.792-3.974-2.984-4.777-8.626-1.792-12.601l110.72-147.43c1.699-2.263 4.365-3.595 7.196-3.595s5.497 1.332 7.196 3.595l110.72 147.43c2.985 3.975 2.183 9.616-1.792 12.601C463.285 182.034 461.388 182.621 459.507 182.622z'/><path d='M348.78,494.293c-4.971,0-9-4.029-9-9V26.192c0-4.971,4.029-9,9-9s9,4.029,9,9v459.101 C357.78,490.264,353.751,494.293,348.78,494.293z'/></svg>")
    }
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#ledger_book_list").removeClass('hidden');
    FontAwesome.dom.i2svg();

    $('.ledger-logs-tab').on('click', function(){
    $('#ledger-logs').click();
    $('.ledger-book-index-card').addClass('d-none')
    })

    $('.ledger-search-exp-tab').on('click', function(){
      $('.ledger-book-index-card').removeClass('d-none')
    })
    setTimeout(function(){
      $(".chosen-select").chosen({
        allow_single_deselect: true,
        width: '100%'
      });
    }, 50);
  });

  $(function() {
    setTimeout(function() { $(".my-loader").fadeOut(1500); }, 5000)
  })

  $('#pagination-limit').on('change', function(){
    $(this).closest('form').submit();
  })

  $(function() {

    var start = moment().subtract(1, 'years');
    var end = moment();

    function cb(start, end) {
        $('#reportrange span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
      ranges: {
          'Select Date Range':[],
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           '1 Year': [moment().subtract(1, 'years')],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
           'This Month Last Year': [moment().subtract(1, 'years').startOf('month'), moment().subtract(1, 'years').endOf('month')],
           'This Year': [moment().startOf('year'), moment().endOf('year')],
           'Last Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
        },
        locale: {
          format: 'YYYY-MM-DD'
        }
    }, cb);
    cb(start, end);

    $('#reportrange').on('change', function(){
      var value = $(this).val()
      var greater_eq = value.split(' - ')[0]
      var less_eq = value.split(' - ')[1]
      $('#q_created_at_gteq').val(greater_eq)
      $('#q_created_at_lteq').val(less_eq)
    })

  });
</script>