

    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-primary"><h1>ledger book Detail</h1></h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample" style="">
          <div class="card-body">

    <div class="row">
            <div class="col-lg-12 col-sm-12">
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Id:<h5> <%= @ledger_book.id %></h5></h3>
              </div>
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Customer/Supplier:<h5><%= @ledger_book.sys_user.name rescue nil%></h5></h3>
              </div>
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Debit/Wasool:<h5><%= number_with_delimiter(@ledger_book.debit)%></h5> </h3>
              </div>
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Credit/Udhar:<h5><%= number_with_delimiter(@ledger_book.credit) %></h5></h3>
              </div>
            </div>
    </div>

    <div class="row">
            <div class="col-lg-12 col-sm-12">
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Balance: <h5><%= number_with_delimiter(@ledger_book.balance) %></h5></h3>
              </div>
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Voucher: <h5>  <% if @ledger_book.purchase_sale_detail_id.present? %>
                  <%= link_to 'Sale',edit_purchase_sale_detail_path(@ledger_book.purchase_sale_detail_id) if @ledger_book.purchase_sale_detail.transaction_type=="Sale"%>
                  <%= link_to 'Purchase',edit_purchase_sale_detail_path(@ledger_book.purchase_sale_detail_id) if @ledger_book.purchase_sale_detail.transaction_type=="Purchase"%>
                  <%else%>
                    Ledger Book
                  <% end %></h5></h3>
              </div>
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Comment: <h5 class="urdu-font"><%= @ledger_book.comment %></h5></h3>
              </div>
              <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
                <h3>Created at: <h5 class="urdu-font"><%= @ledger_book.comment %></h5></h3>
              </div>
            </div>
    </div>
    <br>

            <div class="row">
              <div class="col-lg-1 float-left">
                <%= link_to products_path do %>
                <i class="fa fa-arrow-left " aria-hidden="true"></i>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
