<tr>
  <td><%= item.id %></td>
  <td><%= item.item_type.title %></td>
  <td><%= item.title %></td>
  <td><%= item.code %></td>
  <td><%= item.cost.to_f.round(2) %></td>
  <td><%= item.sale.to_f.round(2) %></td>
  <td><%= item.stock %></td>
  <td><%= item.minimum %></td>
  <td><%= item.optimal %></td>
  <td><%= item.maximun %></td>
  <td><%= item.comment %></td>
  <td><%= item.status %></td>
  <td>
    <% if can?(:update, :all) %>
      <%= link_to edit_item_path(item) do %>
        <i class="fa fa-edit " aria-hidden="true"></i> |
      <%end %>
    <% end %>
    <% if can?(:delete, :all) %>
      <%= link_to item, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete' do %>
        <i class="fa fa-trash " aria-hidden="true"></i> |
      <%end %>
    <% end %>
    <% if can?(:view, :all) %>
      <%= link_to item do %>
        <i class="fa fa-eye " aria-hidden="true"></i>
      <%end %>
    <%end%>
  </td>
</tr>
