<div class="hidden" id="items_list">
  <div class="main-content-header">
    <h1 class="ml-3">Items</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="<%= items_path %>">Items</a>
      </li>
    </ol>
  </div>
  <div class="row ml-1 mb-3">
    <div id="new_item" class="col-lg-12 form-group float-left">
      <% if can?(:add, :all) %>
        <%= link_to new_item_path,remote:true, class: "btn btn-success" do %>
        <i class="fa fa-plus" aria-hidden="true"></i>
          Create
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="float-right">
    <div class="dropdown ml-auto mr-4">
     <span class="btn btn-info" title= "About This page"><i class="fa fa-question-circle mr-1"></i>Help</span>
      <div class="dropdown-content">
        <% if @help.present? %>
        <% @help&.help_links.each do |link| %>
        <a type="button" class="" target="_blank" href="<%= link[1] %>" >Help in <%= link[0] %></a>
         <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <ul class="nav nav-pills ml-3" role="tablist">
      <li class="nav-item">
        <a class="nav-link tab-label active " data-toggle="tab" href="#search" role="tab">Search</a>
      </li>			
			<li class="nav-item">
				<a class="nav-link tab-label" data-toggle="tab" href="#import-export" role="tab">Import/Export</a>
			</li>
	</ul>
  <div class="clearfix"></div>
  <div class="tab-content">
    <div class="tab-pane active mb-3 card shadow-sm mt-2 p-3 border-radius-1" id="search" role="tabpanel">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <%= search_form_for @q, url: items_path, class: "admin-controls", method: "get" do |f| %>
            <div class="col-lg-3 form-group float-left">
              <%= f.select :title_or_code_cont, options_from_collection_for_select(@items, "title", ->(st){"#{st.title} \u{27F6} #{st.code} "},@title),{:include_blank => "Select Title/code"},:class=>"form-control chosen-select" %>
            </div>
            <div class="col-lg-2 form-group float-left">
             <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px;"><i class="fa fa-search"></i></button>
            </div>
            
            <% if can?(:add, :all) %>
              <%= link_to raw_material_path, class: "btn btn-primary float-right mr-2" do %>
                  <i class="fas fa-list" aria-hidden="true"> </i>
                  Material Status
              <% end %>
            <%end%>
            <button class="form-control btn btn-info d-flex justify-content-center float-right mr-2" type="button" data-toggle="modal" data-target="#exampleModalCenter" style="width:100px"><i class="fa fa-envelope mr-1 mt-1"></i>&nbsp;Mail</button>
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Enter your email to recieve files.</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                      <div class="modal-body">
                        <% @pos_setting = PosSetting.first %>
                        <label>Email:</label>
                        <%= text_field_tag 'email_value',{}, value: current_user.email, class: 'form-control email-fields', type: 'email'%>
                        <br />
                        <label>Subject:</label>
                        <%= text_field_tag 'subject', "#{@pos_setting.display_name} - Items Detail report from MunshiOnClick", class: 'form-control email-fields'%>
                        <br />
                        <label>Body:</label><br />
                        <%= text_area_tag 'body', nil, class: 'form-control'%>
                        <br />
                        <label>Please select one of them.</label>
                        <div>
                          <label style="cursor: pointer"><%= radio_button_tag :email_choice, 'CSV', required: 'required' %> CSV</label><br />
                          <label style="cursor: pointer"><%= radio_button_tag :email_choice, 'PDF', required: 'required' %> PDF</label><br />
                          <label style="cursor: pointer"><%= radio_button_tag :email_choice, 'Both', required: 'required' %> Both(CSV + PDF)</label><br />
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button name="email" type="submit" value="email" class="btn btn-primary email-send-btn">Send</button>
                      </div>
                    </div>
                  </div>
              </div>
              <button class="form-control btn btn-danger float-right mr-2" style="width: 100px;" name="submit_pdf_staff_with" type="submit" value="Items PDF A4" formtarget="_blank"><i class="fa fa-file-pdf mr-1"></i>PDF</button>
          <% end %>
        </div>
      </div>
    </div>
    <div class="tab-pane card shadow-sm mt-2 border-radius-1 mb-3" id="import-export" role="tabpanel">
        <p>
          <div class="d-flex">
          <button class="btn btn-danger ml-4" name="export_data" type="submit" value="export_data">Export Data</button>
          <button class="btn btn-info ml-2" type="button" data-toggle="modal" data-target="#importFile">Import Data</button>
          </div>
        </p>
      </div>
  </div>  
  <div class="card border-radius-1 shadow p-3">
    <table data-toggle="table" data-search="true" id="item_table">
      <thead>
        <tr>
          <th><%= sort_link(@q, :id, 'ID') %></th>
          <th>Item type</th>
          <th class="urdu-font"><%= sort_link(@q, :title, 'Title') %></th>
          <th><%= sort_link(@q, :code, 'Code') %></th>
          <th>Cost</th>
          <th>Sale</th>
          <th>Stock</th>
          <th>Minimum</th>
          <th>Optimal</th>
          <th>Maximun</th>
          <th class="urdu-font"><%= sort_link(@q, :comment, 'Comment') %></th>
          <th>Status</th>
          <th class="border_none">Action</th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: 'item', collection: @items %>
        <tr>
          <td>Total</td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= @total_cost%></td>
          <td><%= @total_sale%></td>
          <td><h5><%=@items.sum(:stock)%></h5></td>
          <td><%= @total_minimum%></td>
          <td><%= @total_optimal%></td>
          <td><%= @total_maximum%></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <%= page_entries_info @items %>
      </div>
      <div class="col-lg-8 col-sm-8 pagination-left">
        <%= paginate @items %>
      </div>
    </div>
  </div> 
  <%= form_for :bulk_import, url: bulk_import_data_path, method: :post, html: {class: "bulk-import-form"} do |f| %>
  <div class="modal fade" id="importFile" tabindex="-1" role="dialog" aria-labelledby="importFileTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Import file</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= f.file_field :file, required: true, accept: '.csv' %>
          <%= f.hidden_field :table_name, value: 'Item' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit 'Import', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %> 
</div>
<div class="show-data"></div>


<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#items_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
  });
  $(document).ready(function() {
    setTimeout(function(){
      $(".chosen-select").chosen({
  allow_single_deselect: true,
  width: '100%'
});
    }, 50);
  });
</script>
