<%= bootstrap_form_for(salary_detail, remote: true) do |f| %>
<div  id="create_<%=staff.id%>" class="col-lg-12 float-left" >
  <div class="col-lg-4 form-group float-left" >
    <% if salary_detail.persisted? %>
      <%= text_field_tag "salary_paid_to", salary.paid_to, class: "form-control", readonly: true %>
      <%= text_field_tag "salary_paid_to_name", salary.staff.name, class: "form-control", readonly: true %>
    <% else %>
      <%= f.select :staff_id, options_from_collection_for_select(@staffs_list, 'id', ->(st){"#{st.name} \u{27F6} #{st.father} \u{27F6} #{st.code} "},staff.id), {prompt: "Select the Staff",hide_label:true}, { required: true }%>
    <% end %>
  </div>
  <div class="col-lg-2 form-group float-left" >
    <%=staff.balance%>
  </div>
  <div class="col-lg-2 form-group float-left">
    <%= f.number_field :amount,value:staff.monthly_salary, required: true,hide_label:true%>
    <div class="hidden">
      <%= f.datetime_select :created_at%>
      <%= f.text_field :quantity%>
      <%= f.text_area :comment%>
    </div>
  </div>
  <div class="col-lg-4 form-group float-left">
    <%= f.submit "Save", name:staff.id, class: "btn btn-primary create float-left" %>
  </div>
</div>
<% end %>
