<h1>Salaries Book By <%= @departments.first.title%></h1>

<div class="row col-lg-12 form-group float-left">
  <div class="col-lg-2 form-group float-left">
    <%= link_to khakar_salary_details_path, class: "btn btn-primary" do %>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <%= @departments.second.title%> Book
    <% end %>
  </div>
  <div class="col-lg-2 form-group float-left">
    <%= link_to nakasi_salary_details_path, class: "btn btn-primary" do %>
                <i class="fa fa-align-justify" aria-hidden="true"></i>
                Nakasi Book
    <% end %>
  </div>
  <div class="col-lg-2 form-group float-left">
    <%= link_to vehicle_salary_details_path, class: "btn btn-primary" do %>
      <i class="fa fa-truck" aria-hidden="true"></i>
      <%= @departments.fourth.title%> Book
    <% end %>
  </div>
  <div class="col-lg-2 form-group float-left">
    <%= link_to salary_details_path, class: "btn btn-primary" do %>
      <i class="fa fa-book" aria-hidden="true"></i>
      Staff Book
    <% end %>
  </div>
  <div class="col-lg-2 form-group float-left">
    <%= link_to advance_all_salary_details_path, class: "btn btn-success" do %>
       <i class="fa fa-plus" aria-hidden="true"></i>
        Credit Staff
    <% end %>
  </div>

</div>
<div class="clearfix"></div>
<div class="row">
  <%= search_form_for @q, url: pather_salary_details_path, class: "admin-controls", method: "get" do |f| %>
    <div class="col-lg-12 col-sm-12">
      <div class="col-lg-4 form-group float-left">
        <%= f.select :id_in, options_from_collection_for_select(@salary_searchs, "id", ->(st){"#{st.name} \u{27F6} #{st.father} \u{27F6} #{st.code}"},f.object.id_in),{:include_blank => "Select Staff"},{:multiple => true,:class=>"form-control chosen-select", :data => {:placeholder => "Select the Staff"}}%>
      </div>
      <div class="col-lg-2 form-group float-left">
        <%= f.search_field :salary_details_created_at_gteq, class: 'form-control input-sm datepicker',value: @created_at_gteq,placeholder: "YYYY-MM-DD" %>
      </div>
      <div class="col-lg-2 form-group float-left">
        <%= f.search_field :salary_details_created_at_lteq, class: 'form-control input-sm datepicker',value: @created_at_lteq,placeholder: "YYYY-MM-DD"%>
      </div>
      <div class="col-lg-2 form-group float-left">
        <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
      </div>
    </div>
    <div class="col-lg-12 col-sm-12 float-left">
      <div class="col-lg-2 form-group float-left">
        <button class="form-control btn  badge badge-pill badge-danger" name="submit_pdf" type="submit" value="Full PDF A4" formtarget="_blank">Full <i class="fa fa-file-pdf"></i></button>
      </div>
      <div class="col-lg-2 form-group float-left">
        <button class="form-control btn  badge badge-pill badge-danger" name="submit_pdf_staff_with" type="submit" value="With Price PDF A4" formtarget="_blank">With Price <i class="fa fa-file-pdf"></i></button>
      </div>
      <div class="col-lg-2 form-group float-left">
        <button class="form-control btn  badge badge-pill badge-danger" name="submit_pdf_staff_without" type="submit" value="Without Price PDF A8" formtarget="_blank">Without Price <i class="fa fa-print"></i></button>
      </div>
      <div class="col-lg-2 form-group float-left">
        <button class="form-control btn  badge badge-pill badge-danger" name="submit_pdf_rate" type="submit" value="Daily PDF A4" formtarget="_blank">Daily <i class="fa fa-file-pdf"></i></button>
      </div>
      <div class="col-lg-2 form-group float-left">
        <button class="form-control btn  badge badge-pill badge-danger" name="submit_pdf_work" type="submit" value="Daily PDF A4" formtarget="_blank">Full work <i class="fa fa-file-pdf"></i></button>
      </div>
      <div class="col-lg-2 form-group float-left">
        <button class="form-control btn btn-info" name="email" type="submit" value="Email"><i class="fas fa-envelope"></i> email</button>
      </div>
    </div>
  <% end %>
</div>

<table data-toggle="table" data-search="true">
  <thead>
    <tr>
      <th><%= sort_link(@q, :code, 'code') %></th>
      <th><%= sort_link(@q, :name, 'Staff') %></th>
      <th><%= sort_link(@q, :name, 'Raw-P') %></th>
      <th><%= sort_link(@q, :salary_details_raw_quantity, 'kachi') %></th>
      <th><%= sort_link(@q, :salary_details_quantity, 'paaki') %></th>
      <th><%= sort_link(@q, :salary_details_extra, 'wast') %></th>
      <th><%= sort_link(@q, :salary_details_wage_rate, 'k-Rate') %></th>
      <th><%= sort_link(@q, :salary_details_wage_rate, 'p-Rate') %></th>
      <th><%= sort_link(@q, :salary_details_gift_pay, 'gift') %></th>
      <th><%= sort_link(@q, :salary_details_coverge_pay, 'coverge') %></th>
      <th><%= sort_link(@q, :salary_details_remarks, 'Debit/Benam') %></th>
      <th><%= sort_link(@q, :salary_details_remarks, 'Credit/Jama') %></th>
      <th><%= sort_link(@q, :salary_details_remarks, 'Total Balance') %></th>
      <th><%= sort_link(@q, :salary_details_created_at, 'Date') %></th>
      <th class="border_none">Actions</th>

    </tr>
  </thead>

  <tbody>
    <% @salary_details.each do |staff| %>
      <%wage_debit=0%>
      <%wage_credit=0%>
      <% staff.salary_details.each do |salary_detail| %>
        <tr>
          <td><%= salary_detail.staff.code %></td>
          <td><%= salary_detail.staff_full_name %></td>
          <td><%= salary_detail.raw_product_title %></td>
          <td><%= salary_detail.raw_quantity.to_f.round(0) %></td>
          <td><%= salary_detail.quantity.to_f.round(0) %></td>
          <td><%= salary_detail.extra.to_f.round(0) %></td>
          <td><<%= salary_detail.raw_wage_rate.to_f.round(2)*1000 %>> <%= salary_detail.wage_debit.to_f.round(2) %> </td>
          <td><<%= salary_detail.wage_rate.to_f.round(2)*1000 %>> <%= salary_detail.amount.to_f.round(2) %></td>
          <td><<%= salary_detail.gift_rate.to_f.round(2)*1000 %>> <%= salary_detail.gift_pay.to_f.round(2) %></td>
          <td><<%= salary_detail.coverge_rate.to_f.round(2)*1000 %>> <%= salary_detail.coverge_pay.to_f.round(2) %></td>
          <td><%= wage_debit+=salary_detail.wage_debit.to_f.round(0) %></td>
          <td><%= wage_credit+=salary_detail.amount.to_f.round(0) %></td>
          <td><%= salary_detail.total_balance.to_f.round(0) %></td>
          <td><%= salary_detail.created_at.strftime("%A,  %d-%b-%y") if salary_detail.created_at%></td>
          <td>
            <% if can?(:update, :all) %>
            <%= link_to edit_salary_detail_path(salary_detail) do %>
                       <i class="fa fa-edit" aria-hidden="true"></i> |
            <% end %>
            <% end %>
            <% if can?(:delete, :all) %>
             <%= link_to salary_detail, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete' do %>
                        <i class="fa fa-trash" aria-hidden="true"></i> |
            <% end %>
            <% end %>

            <%= link_to salary_detail do %>
                       <i class="fa fa-eye" aria-hidden="true"></i>
           <% end %>
          </td>
        </tr>
      <%end%>
    <% end %>
    <tr>
      <td><h5>Total</h5></td>
      <td></td>
      <td></td>
      <td><h5><%= @raw_quantity_sum %></h5></td>
      <td><h5><%= @quantity_sum %></h5></td>
      <td><h5><%= @wast_sum %></h5></td>
      <td><h5><%= @wage_debit_sum %></h5></td>
      <td><h5><%= @amount_sum %></h5></td>
      <td><h5><%= @gift_pay_sum %></h5></td>
      <td><h5><%= @coverge_pay_sum %></h5></td>
      <td><h5><%= @remarks_sum %></h5></td>
      <td><h5></h5></td>
      <td><h5></h5></td>
      <td><h5></h5></td>
      <td><h5></h5></td>
    </tr>

  </tbody>
</table>

<div class="clearfix"></div>
<div class="row">
  <div class="col-lg-4 col-sm-4">
    <%= page_entries_info @salary_details %>
  </div>
  <div class="col-lg-8 col-sm-8 pagination-left">
    <%= paginate @salary_details %>
  </div>
</div>
