<div class="main-content-header">
  <h1>Salaries Credit Detail</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= root_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="<%= salary_details_path %>">Salaries Credit Detail</a>
    </li>
  </ol>
</div>

<div class="row col-lg-12">
  <% if (check_can_create(@module_permission)) %>
    <%= link_to new_salary_detail_path, class: "btn btn-success mr-2" do %>
      <i class="fa fa-plus" aria-hidden="true"></i>
        Return From Staff
    <% end %>
    <%= link_to advance_all_salary_details_path, class: "btn btn-success" do %>
      <i class="fa fa-plus" aria-hidden="true"></i>
        Credit Salaries
    <% end %>
  <% end %>
</div>
<ul class="nav nav-pills mt-4" role="tablist">
  <li class="nav-item">
    <a class="nav-link tab-label active" data-toggle="tab" href="#search" role="tab">Search</a>
  </li>
  <li class="nav-item">
    <a class="nav-link tab-label analytics-tab" data-toggle="tab" href="#analytics" role="tab">Analytics</a>
  </li>
</ul>
<%= link_to '', analytics_salary_details_path, id: 'analytics-path', class: 'd-none', remote: true %>
<div class="tab-content">
  <div class="tab-pane active mb-3 card shadow mt-2 p-4 border-radius-1" id="search" role="tabpanel">
    <div class="row d-flex mt-3">
        <div class="col-lg-12">
          <%= search_form_for @q, url: salary_details_path, class: "admin-controls", method: "get" do |f| %>
            <div class="col-lg-3 form-group float-left">
              <%= f.select :staff_id_in, options_from_collection_for_select(@staffs, "id", ->(st){"#{st.name} \u{27F6} #{st.father} \u{27F6} #{st.code}"},f.object.staff_id_in),{include_blank_disabled: "Select Staff"},{:multiple => true,:class=>"form-control chosen-select", :data => {:placeholder => "Select the Staff"}}%>
            </div>
            <div class="col-lg-2 form-group float-left">
              <%= f.select :staff_department_id_eq, options_from_collection_for_select(@departments, 'id', 'title', @department), {hide_label:true,title: "Select the Department" ,prompt: "Select the Department"},:class=>"form-control chosen-select"%>
            </div>
            <div class="col-lg-3 form-group float-left">
              <%= f.search_field :created_at, id: "reportrange", class: 'form-control' %>
              <%= f.search_field :quantity_or_raw_quantity_gt,value: '0', class: 'hidden' %>
            </div>
            <div class="d-none">
              <%= f.search_field :created_at_gteq, class: 'form-control input-sm datepicker',placeholder: "YYYY-MM-DD" %>
              <%= f.search_field :created_at_lteq, class: 'form-control input-sm datepicker' ,placeholder: "YYYY-MM-DD"%>
            </div>
            <div class="col-lg-2 form-group float-left">
              <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
            </div>
            <%if (check_can_download_pdf(@module_permission))%>
              <button class="form-control btn btn-danger mr-3 d-flex float-right justify-content-center" title= "download salaries credit details pdf" name="submit_pdf" type="submit" value="Day Out Print" formtarget="_blank" style="width:100px"><i class="fa fa-file-pdf mt-1 mr-2"></i>PDF &nbsp;</button>
            <% end %>
            
          <% end %>
        </div>
    </div>
  </div>
  <div class="tab-pane mb-3 card shadow mt-2 p-4 border-radius-1" id="analytics" role="tabpanel">
    <div id="show-analytics" class="row"></div>
  </div>
</div>
<div class="card shadow p-4 border-radius-1">
<%= render 'map_columns/map_column_partials' %>
<div class="row d-flex" style="position: absolute;">
  <div>
    <%if (check_can_delete(@module_permission))%>
      <button class="btn btn-outline-danger delete-selected mt-4 ml-3" type='button' value='SalaryDetail'>
      	Delete Selected
      </button>		
    <%end%>
  </div>  
  <%= search_form_for @q, url: salary_details_path, class: "admin-controls ml-4", method: "get" do |f| %>
    <div class="d-flex mt-4" style="width: 120%;">
      <%= select_tag :limit, options_for_select(['Show Entries',5, 10, 15, 20, 25], selected: :limit), id: 'pagination-limit', title:'Show Entries', style:'cursor: pointer;' %>
    </div>
  <% end %>
</div>
<div class="mt-3">
<table data-toggle="table" data-search="true" class="content-table">
  <thead>
    <tr>
      <th class="p-2"><input type="checkbox" id="master" class='select-all-checkbox'>
      </th>
      <th><%= sort_link(@q, :id, 'ID') %></th>
      <th><%= sort_link(@q, :staff_name, 'Staff') %></th>
      <th><%= sort_link(@q, :wage_rate, 'Wage Rate') %></th>
      <th><%= sort_link(@q, :quantity, 'Quantity') %></th>
      <th><%= sort_link(@q, :amount, 'Total Amount') %></th>
      <th><%= sort_link(@q, :remarks, 'Balance') %></th>
      <th><%= sort_link(@q, :comment, 'Comment') %></th>
      <th><%= sort_link(@q, :created_at, 'Date') %></th>
        <th class="border_none">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @salary_details.each do |salary_detail| %>
      <tr>
        <td><%= check_box_tag 'object_ids[]', salary_detail.id %></td>
        <td><%= salary_detail.id %></td>
        <td><%= salary_detail.staff.name %> <%= salary_detail.staff.father %></td>
        <td><%= number_with_delimiter(salary_detail.wage_rate.to_f.round(2)) %></td>
        <td><%= salary_detail.quantity.to_f.round(2) %></td>
        <td><%= number_with_delimiter(salary_detail.amount.to_f.round(2) )%></td>
        <td><%= number_with_delimiter(salary_detail.remarks.to_f.round(2)) %></td>
        <td><%= salary_detail.comment %></td>
        <td><%= salary_detail.created_at.strftime("%d/%b/%y") %></td>
        <td>
          <div class="icon-container-1">
            <div class="my-icon-1 my-view-1">
              <div class="my-tooltip-1">
                <div class="icon-container">
                  <div class="my-icon my-view">
                    <div class="my-tooltip">
                      Edit
                    </div>
                    <%if (check_can_update(@module_permission))%>
                      <%= link_to edit_salary_detail_path(salary_detail), class:"icon-div" do %>
                        <i class="fa fa-edit mt-2" aria-hidden="true"></i>
                      <%end %>
                    <% end %>
                  </div>
                  <div class="my-icon my-view">
                    <div class="my-tooltip">
                      Delete
                    </div>
                    <%if (check_can_delete(@module_permission))%>
                      <%= link_to salary_detail, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, class: 'icon-div' do %>
                        <i class="fa fa-trash mt-2" aria-hidden="true"></i>
                      <%end %>
                    <% end %>
                  </div>
                  <div class="my-icon my-view">
                    <div class="my-tooltip">
                      Show
                    </div>
                    <%if (check_can_read(@module_permission))%>
                      <%= link_to salary_detail, class:"icon-div" do %>
                        <i class="fa fa-eye mt-2" aria-hidden="true"></i>
                      <%end %>
                    <%end%>
                  </div>
                </div>
              </div>
              <span class="icon-div-1">
                <i class="fa fa-ellipsis-v mt-2" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
    <tr>
      <td><h5>Total</h5></td>
      <td></td>
      <td></td>
      <td></td>
      <td><h5><%= number_with_delimiter(@salary_details.sum(:amount))%></h5></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
<div class="col-lg-12 digg_pagination mt-3">
  <div class="float-left page_info">
    <%= page_entries_info @salary_details %>
  </div>
  <div class="float-right">
  <%= paginate @salary_details, :container => false %>
  </div>
</div>
</div>
</div>

<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }

    $('.analytics-tab').on('click', function(){
      $('#analytics-path').click();
    })

  });

    $('#pagination-limit').on('change', function(){
    $(this).closest('form').submit();
  })

  $(function() {

    var start = moment().subtract(1, 'years');
    var end = moment();

    function cb(start, end) {
        $('#reportrange span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
      ranges: {
          'Select Date Range':[],
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           '1 Year': [moment().subtract(1, 'years')],
           '5 Year': [moment().subtract(5, 'years')],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
           'This Month Last Year': [moment().subtract(1, 'years').startOf('month'), moment().subtract(1, 'years').endOf('month')],
           'This Year': [moment().startOf('year'), moment().endOf('year')],
           'Last Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
        },
        locale: {
          format: 'DD/MM/YYYY'
        }
    }, cb);

    cb(start, end);

    $('#reportrange').on('change', function(){
	      var value = $(this).val()
	      var greater_eq = value.split(' - ')[0]
	      var less_eq = value.split(' - ')[1]
	      $('#q_created_at_gteq').val(greater_eq)
	      $('#q_created_at_lteq').val(less_eq)
	    })

  });
</script>
