<div class="m-4">
  <div class="main-content-header float-left">
    <h2 class="ml-2 logo-back"><i class="fa fa-coins mr-2"></i>Salaries Book by <%=@departments&.fourth&.title%></h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="<%= nakasi_salary_details_path %>">Salaries Book by <%=@departments&.fourth&.title%></a>
      </li>
    </ol>
  </div>
  <div class="float-right  mt-4">  
   <%= link_to pather_salary_details_path, class: "btn btn-outline-warning  mr-1" do %>
     <%=@departments&.first&.title%> Book
    <% end %>
    <%= link_to khakar_salary_details_path, class: "btn btn-outline-success mr-1" do %>
      <%=@departments&.second&.title%> Book
    <% end %> 
    <%= link_to nakasi_salary_details_path, class: "btn btn-outline-info  mr-1" do %>
      <%=@departments&.third&.title%> Book
    <% end %> 
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <ul class="nav nav-tabs ml-4" role="tablist">    
      <li class="nav-item">
        <a class="nav-link tab-label active  " data-toggle="tab" href="#search" role="tab"><i class="fa fa-search mr-2"></i>Search</a>
      </li>			
    </ul>
  </div>
  <%= search_form_for @q, url: vehicle_salary_details_path, class: "admin-controls", method: "get" do |f| %>
    <div class="tab-content">
      <div class="tab-pane active no-tab-border mt-2" id="search" role="tabpanel">
        <div class="row card  shadow m-1 p-3">
          <div class="row d-flex p-2">
            <div style="width:180px;" class="mr-2">
              <%= f.select :id_eq, options_from_collection_for_select(@salary_searchs, "id", ->(st){"#{st.name} \u{27F6} #{st.father} \u{27F6} #{st.code}"},@id),{:include_blank => "Select Staff"},:class=>"form-control chosen-select" %>
            </div>
            <div style="width:180px;" class="mr-2">
              <%= f.search_field :salary_details_created_at_gteq, class: 'form-control input-sm datepicker', value: @created_at_gteq,'datepicker' => true,placeholder: "YYYY-MM-DD" %>
            </div>
            <div style="width:200px;" class="mr-2">
              <%= f.search_field :salary_details_created_at_lteq, class: 'form-control input-sm datepicker', value: @created_at_lteq,'datepicker' => true ,placeholder: "YYYY-MM-DD"%>
            </div>
            <div  class="">
              <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
            </div>
           </div>
          </div>
        </div>
        <div class="card shadow p-3 mx-1">
          <div class="row d-flex ml-1 mt-2" style="position: absolute;">
            <div class="dropdown my-dropdown mr-2 ml-auto ">
              <button type="button" class="form-control  btn-danger file-btn-color ">PDF List</button>
              <div style="width:80px;" class="dropdown-content my-dropdown-content p-1">
                <button class="form-control btn-danger file-btn-color my-2" name="submit_pdf" type="submit" value="Full PDF" formtarget="_blank"> Full PDF</button>
                <button class="form-control btn-danger file-btn-color my-2" name="submit_pdf_staff_with" type="submit" value="PDF With Price" formtarget="_blank">With Price</button>
                <button class="form-control btn-danger file-btn-color my-2" name="submit_pdf_staff_without" type="submit" value="PDF Without Price" formtarget="_blank">Without Price</button>           
              </div>
            </div>
            <button  style="width:80px;" class="form-control btn btn-info file-btn-color" name="email" type="submit" value="Email">Mail</button>
          </div>
          <table data-toggle="table" data-search="true">
            <thead>
              <tr>
                <th><%= sort_link(@q, :code, 'code') %></th>
                <th><%= sort_link(@q, :name, 'Staff') %></th>
                <th><%= sort_link(@q, :salary_details_wage_rate, 'Credit Rate') %></th>
                <th><%= sort_link(@q, :salary_details_khakar_credit, 'Credit/Jama') %></th>
                <th><%= sort_link(@q, :salary_details_total_balance, 'Balance') %></th>
                <th><%= sort_link(@q, :salary_details_comment, 'Comment') %></th>
                <th><%= sort_link(@q, :salary_details_created_at, 'Date') %></th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @salary_details.each do |staff| %>
                <%@wage_debit=0%>
                <%@wage_credit=0%>
                <% staff.salary_details.each do |salary_detail| %>
                  <tr>
                    <td><%= salary_detail.staff.code %></td>
                    <td><%= salary_detail.staff_full_name %></td>
                    <td><<%= salary_detail.wage_rate.to_f.round(2) %>> <%= salary_detail.amount.to_f.round(2) %></td>
                    <td><%= @wage_credit+=salary_detail.amount.to_f.round(2) %></td>
                    <td><%= salary_detail.total_balance.to_f.round(2) %></td>
                    <td><%= salary_detail.comment %></td>
                    <td><%= salary_detail.created_at.strftime("%d%b%y , %I:%M") if salary_detail.created_at%></td>
                    <td>
                      <% if can?(:update, :all) %>
                        <%= link_to edit_salary_detail_path(salary_detail) do %>
                         <i class="fas fa-edit" aria-hidden="true"></i> |
                        <%end%>
                      <%end%>
                        <% if can?(:destory, :all) %>
                        <%= link_to  salary_detail, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'} do%>
                         <i class="fas fa-trash" aria-hidden="true"></i> |
                        <%end%>
                      <%end%>
                      <%= link_to salary_detail do %>
                        <i class="fas fa-eye" aria-hidden="true"></i>
                      <%end%>
                    </td>
                  </tr>
                <%end%>
              <% end %>
              <tr>
                <td><h5>Total</h5></td>
                <td></td>
                <td></td>
                <td><h5><%= @credit_total %></h5></td>
                <td><h5></h5></td>
                <td><h5></h5></td>
                <td><h5></h5></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-lg-4 col-sm-4">
      <%= page_entries_info @salary_details %>
    </div>
    <div class="col-lg-8 col-sm-8 pagination-left">
      <%= paginate @salary_details %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
  });
</script>
<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#students_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
  });
</script>
