<div class="m-4"> 
  <div class="main-content-header float-left">
    <h2 class="ml-2 logo-back"><i class="fa fa-coins mr-2"></i>Salaries Book by Nakasi</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="<%= nakasi_salary_details_path %>">Salaries Book by Nakasi</a>
      </li>
    </ol>
  </div>
  <div class=" float-right  mt-4">
    <%= link_to pather_salary_details_path, class: "btn btn-outline-info " do %>
      Pather Book
    <% end %>
    <%= link_to khakar_salary_details_path, class: "btn btn-outline-success " do %>
      Khakar Book
    <% end %>
    <%= link_to vehicle_salary_details_path, class: "btn btn-outline-danger " do %>
      Vehicle Book
    <% end %>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <ul class="nav nav-tabs ml-4" role="tablist">    
      <li class="nav-item">
        <a class="nav-link tab-label active  " data-toggle="tab" href="#search" role="tab"><i class="fa fa-search mr-2"></i>Search</a>
      </li>			
    </ul>
  </div>
  <div class="clearfix"></div>
    <div class="tab-content">
      <div class="tab-pane active no-tab-border mt-2" id="search" role="tabpanel">
        <%= search_form_for @q, url: nakasi_salary_details_path, class: "admin-controls", method: "get" do |f| %>
          <div class="row card shadow m-1 p-3">
            <div class="row d-flex p-3">
              <div style="width:200px;" class="mr-2">
                <%= f.select :id_in, options_from_collection_for_select(@salary_searchs, "id", ->(st){"#{st.name} \u{27F6} #{st.father} \u{27F6} #{st.code}"},f.object.id_in),{:include_blank => "Select Nakasi"},{:multiple => true,:class=>"form-control chosen-select", :data => {:placeholder => "Select the Nakasi"}}%>
              </div>
              <div style="width:180px;" class="mr-2">
                <%= f.search_field :salary_details_created_at_gteq, class: 'form-control input-sm datepicker',value: @created_at_gteq, 'datepicker' => true,placeholder: "YYYY-MM-DD" %>
              </div>
              <div style="width:180px;" class="mr-2">
                <%= f.search_field :salary_details_created_at_lteq, class: 'form-control input-sm datepicker',value: @created_at_lteq, 'datepicker' => true ,placeholder: "YYYY-MM-DD"%>
              </div>
              <div class="">
                <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
                <button type='submit' class='dynamic-submit-btn d-none' formtarget='_blank'></button>
              </div>
            </div>
          </div>
        <% end %>
        <div class="card  shadow p-2 mx-1 my-2">
          <div class="row d-flex ml-1 mt-2" style="position: absolute;">
            <div class="dropdown my-dropdown mr-2 ml-auto">
              <button type="button" class="form-control  btn btn-danger file-btn-color">PDF List</button>
              <div style="width:100px;" class="dropdown-content my-dropdown-content p-1">
                <button class="form-control btn-danger file-btn-color files-download-btn my-2" name="submit_pdf" type="submit" value="Full PDF" formtarget="_blank"> Full PDF</button>
                <button class="form-control btn-danger file-btn-color files-download-btn my-2" name="submit_pdf_staff_with" type="submit" value="PDF With Price" formtarget="_blank">With Price</button>
                <button class="form-control btn-danger file-btn-color files-download-btn my-2" name="submit_pdf_staff_without" type="submit" value="PDF Without Price" formtarget="_blank">Without Price</button>
                <button class="form-control btn-danger file-btn-color files-download-btn my-2" name="submit_pdf_staff_list" type="submit" value="Daily PDF" formtarget="_blank">Daily PDF</button>
                <button class="form-control btn-danger file-btn-color files-download-btn my-2" name="submit_pdf_work" type="submit" value="Daily PDF" formtarget="_blank">Full Work</button>
              </div>
            </div>
          </div>
          <table data-toggle="table" data-search="true">
           <thead>
             <tr>
               <th><%= sort_link(@q, :code, 'code') %></th>
               <th><%= sort_link(@q, :name, 'Staff') %></th>
               <th><%= sort_link(@q, :salary_details_quantity, 'quantity') %></th>
               <th><%= sort_link(@q, :salary_details_raw_wage_rate, 'Debit Rate') %></th>
               <th><%= sort_link(@q, :salary_details_wage_rate, 'Credit Rate') %></th>
               <th><%= sort_link(@q, :salary_details_khakar_debit, 'Debit/Benam') %></th>
               <th><%= sort_link(@q, :salary_details_khakar_credit, 'Credit/Jama') %></th>
               <th><%= sort_link(@q, :salary_details_total_balance, 'Balance') %></th>
               <th><%= sort_link(@q, :salary_details_created_at, 'Date') %></th>
               <th>Actions</th>
             </tr>
           </thead>
           <tbody>
             <% @salary_details.each do |staff| %>
               <%@wage_debit=0%>
               <%@wage_credit=0%>
               <% staff.salary_details.each do |salary_detail| %>
                 <tr>
                   <td><%= salary_detail.staff.code %></td>
                   <td><%= salary_detail.staff_full_name %></td>
                   <td><%= salary_detail.quantity.to_f.round(0) %></td>
                   <td><<%= salary_detail.raw_wage_rate.to_f.round(3) %>> <%= salary_detail.wage_debit.to_f.round(2) %></td>
                   <td><<%= salary_detail.wage_rate.to_f.round(3) %>> <%= salary_detail.amount.to_f.round(2) %></td>
                   <td><%= @wage_debit+=salary_detail.wage_debit.to_f.round(0) %></td>
                   <td><%= number_with_delimiter( @wage_credit+=salary_detail.amount.to_f.round(2)) %></td>
                   <td><%= number_with_delimiter(@wage_credit+=salary_detail.total_balance.to_f.round(2) )%></td>
                   <td><%= salary_detail.created_at.strftime("%d%b%y , %I:%M") if salary_detail.created_at%></td>
                    <td>
                      <div class="icon-container-1">
                        <div class="my-icon-1 my-view-1">
                          <div class="my-tooltip-1">
                            <div class="icon-container">
                              <div class="my-icon my-view">
                                <div class="my-tooltip">
                                  Edit
                                </div>
                                <%if (check_can_update(@module_permission))%>
                                  <%= link_to edit_salary_detail_path(salary_detail), class:"icon-div" do %>
                                    <i class="fa fa-edit mt-2" aria-hidden="true"></i>
                                  <%end %>
                                <% end %>
                              </div>
                              <div class="my-icon my-view">
                                <div class="my-tooltip">
                                  Delete
                                </div>
                                <%if (check_can_delete(@module_permission))%>
                                  <%= link_to salary_detail, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'},  :class => 'delete icon-div' do %>
                                    <i class="fa fa-trash mt-2" aria-hidden="true"></i>
                                  <%end %>
                                <% end %> 
                              </div>
                              <div class="my-icon my-view">
                                <div class="my-tooltip">
                                  Show
                                </div>
                                <%if (check_can_read(@module_permission))%>
                                  <%= link_to salary_detail_path(salary_detail), class:"icon-div" do %>
                                    <i class="fa fa-eye mt-2" aria-hidden="true"></i>
                                  <%end %>
                                <%end%>    
                              </div>
                            </div>
                          </div>
                          <span class="icon-div-1">
                                <i class="fa fa-ellipsis-v mt-2" aria-hidden="true"></i>
                          </span>
                        </div>
                      </div>
                    </td>
                 </tr>
               <%end%>
             <% end %>
             <tr>
               <td><h5>Total</h5></td>
               <td></td>
               <td><h5><%= @quantity %></h5></td>
               <td><h5><%= @debit_total %></h5></td>
               <td><h5><%= @credit_total %></h5></td>
               <td><h5></h5></td>
               <td><h5></h5></td>
               <td><h5></h5></td>
               <td><h5></h5></td>
             </tr>
           </tbody>
          </table>
        </div>
      </div>
    </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-lg-4 col-sm-4">
      <%= page_entries_info @salary_details %>
    </div>
    <div class="col-lg-8 col-sm-8 pagination-left">
      <%= paginate @salary_details %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
  });
</script>
<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#students_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
    $('.files-download-btn').on('click', function(){
      var name_btn = $(this).attr('name')
      $('.dynamic-submit-btn').attr('name', name_btn)
      $('.dynamic-submit-btn').val($(this).val())
      $('.dynamic-submit-btn').click()
    })
  });
</script>
