<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order_item.order %>
</p>

<p>
  <strong>Product:</strong>
  <%= @order_item.product %>
</p>

<p>
  <strong>Item:</strong>
  <%= @order_item.item %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_item.quantity %>
</p>

<p>
  <strong>Cost price:</strong>
  <%= @order_item.cost_price %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @order_item.sale_price %>
</p>

<p>
  <strong>Total cost price:</strong>
  <%= @order_item.total_cost_price %>
</p>

<p>
  <strong>Total sale price:</strong>
  <%= @order_item.total_sale_price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order_item.status %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @order_item.comment %>
</p>

<p>
  <strong>Transaction type:</strong>
  <%= @order_item.transaction_type %>
</p>

<p>
  <strong>Discount price:</strong>
  <%= @order_item.discount_price %>
</p>

<p>
  <strong>Purchase sale type:</strong>
  <%= @order_item.purchase_sale_type %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @order_item.expiry_date %>
</p>

<%= link_to 'Back', order_items_path %>
