<tr>
  <td><%= check_box_tag 'object_ids[]', country.id %></td>
  <td><%= country.id %></td>
  <td class= 'urdu-font'><%= country.title %></td>
  <td><span title="<%= country.comment %>" class='truncate-text'><%= country.comment %></span></td>
  <td>
        <div class="icon-container">
          <div class="my-icon my-view">
          <div class="my-tooltip">
            Edit
          </div>
          <span class="icon-div">
                <% if can?(:update, :all) %>
              <%= link_to edit_country_path(country), remote: true do %>
                <i class="fa fa-edit mt-2" aria-hidden="true"></i>
              <%end %>
            <% end %>
          </span>
        </div>

          <div class="my-icon my-view">
              <div class="my-tooltip">
                Delete
              </div>
                <span class="icon-div">
                  <% if can?(:delete, :all) %>
                    <%= link_to country, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete' do %>
                    <i class="fa fa-trash mt-2" aria-hidden="true"></i>
                  <%end %>
                <% end %>
              </span>
          </div>

      <div class="my-icon my-view">
                <div class="my-tooltip">
                  Show
                </div>
                <span class="icon-div">
                   <% if can?(:view, :all) %>
                    <%= link_to country_path(country), remote: true do %>
                    <i class="fa fa-eye mt-2" aria-hidden="true"></i>
                <%end %>
            <%end%>
          </span>
      </div>

      <div class="my-icon my-view">
            <div class="my-tooltip">
              PDF
            </div>
            <span class="icon-div">
                <%= link_to countries_path('q[id_eq]':country.id,'pdf':true), title: 'Download PDF', target: '_blank' do %>
			  <i class="fa fa-file-pdf text-danger mt-2 " aria-hidden="true"></i>
      <%end %>
            </span>
      </div>

       <div class="my-icon my-view">
            <div class="my-tooltip">
              CSV
            </div>
            <span class="icon-div">
                  <%= link_to countries_path('q[id_eq]':country.id,'csv':true), title: 'Download CSV' do%>
        <i class="fa fa-file-excel mt-2 text-success" aria-hidden="true"></i>
      <%end %>
            </span>
          </div>
    <b class="ml-2 mt-1">Total changes: <%= country.versions.count%></b>
    </div>

  </td>
</tr>
