<tr>
  <td><%= check_box_tag 'object_ids[]', country.id %></td>
  <td><%= country.id %></td>
  <td class= 'urdu-font'><%= country.title %></td>
  <td><%= country.comment %></td>
  <td>
      <% if can?(:update, :all) %>
        <%= link_to edit_country_path(country), remote: true do %>
          <i class="fa fa-edit ml-2 mr-2" aria-hidden="true"></i> |
        <%end %>
      <% end %>
      <% if can?(:delete, :all) %>
        <%= link_to country, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete' do %>
          <i class="fa fa-trash ml-2 mr-2" aria-hidden="true"></i> |
        <%end %>
      <% end %>
      <% if can?(:view, :all) %>
        <%= link_to country_path(country), remote: true do %>
          <i class="fa fa-eye ml-2 mr-2" aria-hidden="true"></i>
        <%end %>
      <%end%>|
      <%= link_to countries_path('q[id_eq]':country.id,'pdf':true), title: 'Download PDF', target: '_blank' do %>
			  <i class="fa fa-file-pdf text-danger mr-2 ml-2 " aria-hidden="true"></i>
      <%end %>|
      <%= link_to countries_path('q[id_eq]':country.id,'csv':true), title: 'Download CSV' do%>
        <i class="fa fa-file-excel mr-2 ml-2 text-success" aria-hidden="true"></i>
      <%end %>
  </td>
</tr>
