<%= bootstrap_form_for(country, remote: true) do |f|  %>
  <% if country.errors.any? %>
  <div class="bg-white nested-fields">

    <div id="error_explanation">
      <h2><%= pluralize(country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-lg-6 form-group float-left">
    <%= f.label :title do %>
          <%= Country.human_attribute_name :title %>
          <i class="fas fa-language"></i> 
        <% end %>
    <%= f.text_field :title,required:true,placeholder: "Enter title", hide_label: true , class: 'urdu-font'%>
  </div>

  <div class="col-lg-6 form-group float-left">
    <%= f.text_area :comment, placeholder: "Enter Comment" %>
  </div>
<div class="clearfix">

</div>
  <hr>
  <div class="col-lg-12 row ">

              <div class="col-lg-6 form-group float-left">
                <%= link_to countries_path do %>
                <i class="fa fa-arrow-left " aria-hidden="true"></i>
                <% end %>
              </div>
                <div class="col-lg-6 form-group float-left">
                  <div class="col-lg-6 form-group float-left">
                    <%=f.object.id.nil? ? (f.submit class: "btn btn-success", style: "float: left")  :  (f.submit class: "btn btn-warning", style: "float: left")%>
                  </div>
                </div>
              <% end %>
  </div>
</div>
