<%= bootstrap_form_for(country) do |f|  %>
  <% if country.errors.any? %>
  <div class="bg-white nested-fields">
      <div id="error_explanation">
        <h2><%= pluralize(country.errors.count, "error") %> prohibited this country from being saved:</h2>
        <ul>
        <% country.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <div class="col-lg-12 form-group float-left">
        <%= f.text_field :title,required:true,placeholder: "Enter title", hide_label: true , class: 'urdu-font'%>
        </div>

        <div class="col-lg-12 form-group float-left">
          <%= f.text_area :comment, placeholder: "Enter Comment" %>
        </div>
        <div class="clearfix">
      </div>

      <div class="modal-footer">
      <button type="button" class="btn btn-light btn-outline-secondary" data-dismiss="modal">Cancel</button>
      <%=f.object.id.nil? ? (f.submit "Save" ,class: "btn btn-primary", style: "float: left")  :  (f.submit class: "btn btn-warning", style: "float: left")%>      
      </div>
     <% end %>
  </div>
</div>
