<div class="hidden m-4" id="city_list">
  <div class="float-left">
   <h2 class="ml-2 logo-back"><i class="fas fa-th-list mr-2"></i>Product Stock by Day</h2>
    <ol class="breadcrumb">
     <li class="breadcrumb-item">
       <a href="<%= root_path %>">Dashboard</a>
     </li>
     <li class="breadcrumb-item active">
       <a href="<%= product_stocks_path %>">Product Stock by Day</a>
     </li>
    </ol>
  </div>
  <% if can?(:add, :all) %>
    <div class="float-right mt-3" id="new_city">
      <%= link_to new_product_stock_path, style:"width: 150px;",class: "btn btn-success mb-3 ml-3" do %>
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Create
      <% end %>
    </div>
  <% end %>
  <div class="clearfix"></div>
  <div class="float-right">
    <div class="dropdown ml-auto ">
     <span class="btn btn-outline-info btn-sm mt-3" title= "About This page"><i class="fa fa-question-circle mr-1"></i>Help</span>
      <div class="dropdown-content">
        <% if @help.present? %>
        <% @help&.help_links.each do |link| %>
        <a type="button" class="" target="_blank" href="<%= link[1] %>" >Help in <%= link[0] %></a>
         <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <ul class="nav nav-tabs ml-1" role="tablist">
      <li class="nav-item">
        <a class="nav-link tab-label active " data-toggle="tab" href="#search" role="tab"><i class="fa fa-search mr-2"></i>Search</a>
      </li>
	  </ul>
  </div>
  <div class="clearfix"></div>
  <div class="tab-content">
    <div class="tab-pane active no-tab-border"  id="search" role="tabpanel">
      <div class="row card  shadow p-3 m-1 mb-3">
        <div class="col-lg-12 col-sm-12">
          <%= search_form_for @q, url: product_stocks_path, class: "admin-controls", method: "get" do |f| %>
            <div class="col-lg-2 form-group float-left">
              <%= f.select :product_id_eq, options_from_collection_for_select(@products, 'id', 'title',@title),{:include_blank => "Select product"}, class: "chosen-select"%>
            </div>
            <div class="col-lg-4 form-group float-left d-flex">
              <%= f.search_field :created_at, id: "reportrange", class: 'form-control' %>
            </div>
            <div class="d-none">
              <%= f.search_field :created_at_gteq, class: 'form-control input-sm datepicker',placeholder: "YYYY-MM-DD" %>
              <%= f.search_field :created_at_lteq, class: 'form-control input-sm datepicker' ,placeholder: "YYYY-MM-DD"%>
            </div>
            <div class="col-lg-2 form-group float-left">
              <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card  shadow p-3">    
        <table data-toggle="table" data-search="true" id="city_table">
          <thead>
            <tr>
              <th><%= sort_link(@q, :id, 'Product') %></th>
              <th><%= sort_link(@q, :in_stock, 'In Stock') %></th>
              <th><%= sort_link(@q, :out_stock, 'Out Stock') %></th>
              <th><%= sort_link(@q, :stock, 'Stock') %></th>
              <th><%= sort_link(@q, :cost_price, 'Stock Cost') %></th>
              <th><%= sort_link(@q, :sale_price, 'Stock Sale') %></th>
              <th><%= sort_link(@q, :created_at, 'Date') %></th>
              <th class="border_none">Action</th>
            </tr>
              </thead>

              <tbody>
            <%= render partial: 'product_stock', collection: @product_stocks %>
            <tr>
              <td><b>Total</b></td>
              <td><b><%= number_with_delimiter(@in_stock.to_f.round(2)) %></b></td>
              <td><b><%= number_with_delimiter(@out_stock.to_f.round(2)) %></b></td>
              <td><b><%= number_with_delimiter((@in_stock-@out_stock).to_f.round(2)) %></b></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="col-lg-12 digg_pagination">
          <div class="float-left page_info">
            <%= page_entries_info @product_stocks %>
          </div>
          <div class="float-right">
            <%= paginate @product_stocks ,:container => false %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#city_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
  });
  $(document).ready(function() {
    setTimeout(function(){
      $(".chosen-select").chosen({
  allow_single_deselect: true,
  width: '100%'
});
    }, 50);
  });


   $(function() {

    var start = moment();
    var end = moment();

    function cb(start, end) {
        $('#reportrange span').html(start.format('YYYY/MM/DD') + ' - ' + end.format('YYYY/MM/DD'));
    }

    var gteq = $('#q_created_at_gteq').val()
    var lteq = $('#q_created_at_lteq').val()
    if (gteq !== ''){
      start = moment(new Date(gteq))
    }
    if(lteq !== ''){
      end = moment(new Date(lteq))
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
      ranges: {
          'Select Date Range':[],
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           '1 Year': [moment().subtract(1, 'years')],
           '5 Year': [moment().subtract(5, 'years')],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
           'This Month Last Year': [moment().subtract(1, 'years').startOf('month'), moment().subtract(1, 'years').endOf('month')],
           'This Year': [moment().startOf('year'), moment().endOf('year')],
           'Last Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
        },
        locale: {
          format: 'YYYY/MM/DD'
        }
    }, cb);

    cb(start, end);

    $('#reportrange').on('change', function(){
      var value = $(this).val()
      var greater_eq = value.split(' - ')[0]
      var less_eq = value.split(' - ')[1]
      $('#q_created_at_gteq').val(greater_eq)
      $('#q_created_at_lteq').val(less_eq)
    })

  });
</script>
