<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
    <h6 class="m-0 font-weight-bold text-primary"><h1>Raw product Details</h1></h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse show" id="collapseCardExample" style="">
    <div class="card-body">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item mb-2"><span class="float-left h5">Product:</span><span class="float-right"><%= @product_stock.product.title %></span></li>
          <li class="list-group-item mb-2"><span class="float-left h5">In stock:</span><span class="float-right"><%= @product_stock.in_stock %></span></li>
          <li class="list-group-item mb-2"><span class="float-left h5">Out stock:</span><span class="float-right"><%= @product_stock.out_stock %></span></li>
          <li class="list-group-item mb-2"><span class="float-left h5">Stock:</span><span class="float-right"><%= @product_stock.stock %></span></li>
        </ul>
      </div>
      <div class="row float-right">
        <div class="col-lg-1 ">
          <%= link_to product_stocks_path, class: "btn btn-outline-secondary m-2" do %>Cancel
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
