<div class="col-lg-12 row">
  <div class="col-lg-6 form-group">
    <%= cd.select :project_name, options_for_select(@project_name, f.object.cms_data.try(:[], 'project_name')), {:include_blank => "Select Project Name"}, class: "form-control chosen-select" %>
  </div>

  <div class="col-lg-6 form-group">
    <%= cd.select :client_type, options_for_select(@client_type, f.object.cms_data.try(:[], 'client_type')), {:include_blank => "Select Client Type"}, class: "form-control chosen-select" %>
  </div>
</div>

<div class="col-lg-12 row">
  <div class="col-lg-6 form-group">
    <%= cd.select :client_status, options_for_select(@client_status, f.object.cms_data.try(:[], 'client_status')), {:include_blank => "Select client Status"}, class: "form-control chosen-select" %>
  </div>

  <div class="col-lg-6 form-group">
    <%= cd.select :category, options_for_select(@category, f.object.cms_data.try(:[], 'category')), {:include_blank => "Select Category"}, class: "form-control chosen-select" %>
  </div>
</div>

<div class="col-lg-12 row">
  <div class="col-lg-6 form-group">
    <%= cd.select :deal_status, options_for_select(@deal_stat, f.object.cms_data.try(:[], 'deal_status')), {:include_blank => "Select Deal Status"}, class: "form-control chosen-select" %>
  </div>
  <div class="col-lg-6 form-group">
    <%= cd.select :source, options_for_select(@source, f.object.cms_data.try(:[], 'source')), {:include_blank => "Select Source"}, class: "form-control chosen-select" %>
  </div>
</div>