<html>
  <head>
    <style>
      .border-bottom{
        border-bottom: double 4px;
      }
      .text-center{
        text-align: center;
      }
    </style>
  </head>
  <body>
    <% @date = Date.today  %>
    <% @time = DateTime.now %>
    <% @time = Time.zone.now %>
    <div>
      <p class="border-bottom"></p>
      <h1 class="text-center">CRM Users</h1>
      <h1 class="text-center">
        Date: <b><span><%= @time.strftime("%d")%>/<%=@time.strftime("%b")%>/<%= @time.strftime("%y")%></span>
        Time: <span><%=@time.strftime("at %I:%M%p")%></span></b>
      </h1>
      <p class="border-bottom"></p>
      <p class="text-center">Report by: <%=current_user.name%></p>
    </div>
    <div>
      <table>
        <thead class="lite-gray" style='font-size: 15px;'>
          <th class="text-center">Client Name</th>
          <th class="text-center">Agent Name</th>
          <th class="text-center">Project Name</th>
          <th class="text-center">Client Number</th>
          <th class="text-center">Created at</th>
        </thead>
        <tbody>
          <% @sys_users.each_with_index do |sys_user, index| %>
            <tr style='background-color: #b3ffb3; font-size: 15px;'>
              <td class="text-center"><%= sys_user.name %></td>
              <td class="text-center"><%= @all_agents.to_h.invert[sys_user&.credit_status.to_i].to_s  %></td>
              <td class="text-center"><%= sys_user.cms_data.try(:[], 'project_name') %></td>
              <td class="text-center"><%= sys_user.occupation %></td>
              <td class="text-center"><%= sys_user.created_at.strftime('%d-%m-%Y') %></td>
            </tr>
            <thead>
              <th class="text-center">Follow Ups</th>
              <th class="text-center">Task Type</th>
              <th class="text-center">Priority</th>
              <th class="text-center">Comment</th>
              <th class="text-center">Assigned To</th>
            </thead>
            <% sys_user.follow_ups.each_with_index do |fw, index| %>
              <tr>
                <td class="text-center"></td>
                <td class="text-center"><%= fw&.task_type %></td>
                <td class="text-center"><%= fw&.priority %></td>
                <td class="text-center"><%= fw&.comment  %></td>
                <td class="text-center"><%= fw&.assigned_user&.name %></td>
              </tr>
            <% end %>
              <tr><td colspan='5'></td></tr>
              <tr><td colspan='5'></td></tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
</html>
