<tr class= <%= (sys_users.cms_data.try(:[], 'deal_status') == "in process") ? "cms-table-row2" : (sys_users.cms_data.try(:[], 'deal_status') == "closed") ? "cms-table-row1" : "follow_up_color" %>>
  <td><%= check_box_tag 'object_ids[]', sys_users.id %></td>
	<td><%=(sys_users.cms_data.try(:[], 'deal_status') == "in process") ? sys_users.created_at.strftime('%d%b%y') : sys_users.updated_at.strftime('%d%b%y')%></td>
  <td class='urdu-font'>	<%= link_to crm_path(sys_users) do%>
		<i class="fa fa-book mr-2" aria-hidden="true" title="Notes and Follow Up"></i><% end %>
	<%= sys_users.name %></td>
	<td>
		<%= @all_agents.to_h.invert[sys_users&.credit_status].to_s%>
	</td>
	<td class ="client-status-width">
		<span class= "mr-3"><%= sys_users.cms_data.try(:[], 'client_status')&.titleize %></span>
		<% if @total_followups&.keys&.include?(sys_users.id) %>
			<%= link_to crm_path(sys_users), class:"activ-link" do %>
				(<%= @total_followups[sys_users&.id]%>)
				<%= image_tag("follow-up.png", height: '25', width: '25', title:'Follow Up')%>
			<% end %>
		<% else%>
			<%= link_to new_follow_up_path(sys_user_id: sys_users.id), remote: true do %>
				<i class="fas fa-plus"></i>
			<% end %>
		<% end %>
	</td>
  <td><%= sys_users.cms_data.try(:[], 'client_type')&.titleize %></td>
  <td><%= sys_users.cms_data.try(:[], 'category')&.titleize %></td>
	<td><%= sys_users.cms_data.try(:[], 'project_name')&.titleize %></td>
  <td><%= sys_users.cms_data.try(:[], 'source')&.titleize %></td>
  <td><%= sys_users.cms_data.try(:[], 'deal_status')&.titleize %></td>
  <td><%= sys_users.ntn%></td>
  <td>
  <div class="icon-container-1">
      <div class="my-icon-1 my-view-1">
        <div class="my-tooltip-1">
          <div class="icon-container">
						<%if (check_can_create(@module_permission))%>
            	<div class="my-icon my-view">
            	  <div class="my-tooltip">
            	    Make it User
            	  </div>
            	    <%= link_to convert_to_sys_user_crms_path(crm_id: sys_users.id), class:"icon-div" do %>
            	      <i class="fa fa-undo mt-2" aria-hidden="true"></i>
            	    <%end %>
            	</div>
						<% end %>
						<%if (check_can_update(@module_permission))%>
            	<div class="my-icon my-view">
            	  <div class="my-tooltip">
            	    Edit
            	  </div>
            	    <%= link_to edit_crm_path(sys_users), remote: true, class: "icon-div" do %>
            	      <i class="fa fa-edit mt-2" aria-hidden="true"></i>
            	    <%end %>
            	</div>
						<% end %>
						<%if (check_can_delete(@module_permission))%>
            	<div class="my-icon my-view">
            	  <div class="my-tooltip">
            	    Delete
            	  </div>
            	    <%= link_to crm_path(sys_users), method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete icon-div' do %>
            	      <i class="fa fa-trash mt-2" aria-hidden="true"></i>
            	    <%end %>
            	</div>
						<% end %> 
						<%if (check_can_read(@module_permission))%>
            	<div class="my-icon my-view">
            	  <div class="my-tooltip">
            	    Show
            	  </div>
            	    <%= link_to crm_path(sys_users), class:"icon-div" do %>
            	      <i class="fa fa-eye mt-2" aria-hidden="true"></i>
            	    <%end %>
            	</div>
						<%end%>
						<%if (check_can_download_pdf(@module_permission))%>
            	<div class="my-icon my-view">
            	  <div class="my-tooltip">
            	    PDF
            	  </div>
            	    <%= link_to crms_path('q[id_eq]':sys_users.id,'pdf':true), title: 'Download PDF', target: '_blank', class:"icon-div" do %>
            	      <i class="fa fa-file-pdf text-danger mt-2 " aria-hidden="true"></i>
            	    <%end %>
            	</div>
						<% end %>
						<%if (check_can_download_csv(@module_permission))%>
            	<div class="my-icon my-view">
            	  <div class="my-tooltip">
            	    CSV
            	  </div>
            	    <%= link_to crms_path('q[id_eq]':sys_users.id,'csv':true), title: 'Download CSV', class:"icon-div" do%>
            	      <i class="fa fa-file-excel mt-2 text-success" aria-hidden="true"></i>
            	    <%end %>
            	</div>
						<% end %>
          </div>
        </div>
        <span class="icon-div-1">
              <i class="fa fa-ellipsis-v mt-2" aria-hidden="true"></i>
        </span>
      </div>
    </div>

  </td>
</tr>
