<div class="modal fade" id="showdData" tabindex="-1" role="dialog" aria-labelledby="showdDataLabel">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
            <!-- Card Header - Accordion -->
            <div class="modal-header">
              <h2 class="modal-title" id="myModalLabel">City Details</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
             <!-- Card Content - Collapse -->
            <div class="collapse show" id="collapseCardExample" style="">
              <div class="card-body">
              <div class="card">
                  <table class='table-bordered'>
                      <thead>
                        <th><h4>Id</h4></th>
                        <th><h4>Name</h4></th>
                        <th><h4>Comment</h4></th>
                      </thead>
                      <tbody>
                        <tr>
                          <td><h6><%= city.id %></h6></td>
                          <td><h6><%= city.title %></h6></td>
                          <td><h6><%= city.comment %><h6></td>
                        </tr>
                      </tbody>
                  </table>
                </div>
                      <div class='card mt-3'>
                        <table>
                            <thead>
                              <th><h4>Modifier</h4></th>
                              <th><h4>Changes</h4></th>
                              <th>Updated at</th>
                            </thead>
                            <tbody>
                              <%@city.versions.each do |version|%>
                                <tr>
                                  <% next if version.whodunnit.nil? %>
                                  <td><h6><%= User.find(version.whodunnit).user_name %></h6></td>
                                      <td>
                                      <table>
                                      <thead>
                                      <th>Title</th>
                                      <th>Comments</th>
                                      </thead>
                                      <tbody>
                                      <tr>
                                      <td><h6><%= version.changeset.try(:[], 'title') %><h6></td>
                                      <td><h6><%= version.changeset.try(:[], 'comment') %><h6></td>
                                      </tr>
                                      </tbody>
                                      </table>
                                    </td>
                                  <td><%= version.created_at%></td>
                                </tr>
                              <% end%>
                          </tbody>
                      </table>
                    </div>
              </div>
            </div>
         
          <div class="modal-footer">
            <button type="button" class="btn btn-danger float-right" data-dismiss="modal" aria-label="Close">
              <span class="text-light p-2">Close</span>
            </button>
          </div>
      </div>
    </div>
  </div>
</div>

