<html>
  <head>
    <style>
      .border-bottom{
        border-bottom: double 4px;
      }
      .text-center{
        text-align: center;
      }
    </style>
  </head>
  <body>
    <% @date = Date.today  %>
    <% @time = DateTime.now %>
    <% @time = Time.zone.now %>
    <div>
      <p class="border-bottom"></p>
      <h1 class="text-center">Cities List</h1>
      <h1 class="text-center">
        Date: <b><span><%= @time.strftime("%d")%>/<%=@time.strftime("%b")%>/<%= @time.strftime("%y")%></span>
        Time: <span><%=@time.strftime("at %I:%M%p")%></span></b>
      </h1>
      <p class="border-bottom"></p>
      <p class="text-center">Report by: <%=current_user.name%></p>
    </div>
    <div>
      <table>
        <thead class="lite-gray">
          <th>ID</th>
          <th>Title</th>
          <th>Comment</th>
        </thead>
        <tbody>
          <% @cities.each_with_index do |city, index| %>
            <tr>
              <th class="text-center"><%= city.id %></th>
              <td class="text-center"><%= city.title %></td>
              <td class="text-center"><%= city.comment %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
</html>
