<%= bootstrap_form_for(product_stock_exchange, remote: true) do |form| %>
  <% if product_stock_exchange.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_stock_exchange.errors.count, "error") %> prohibited this product_stock_exchange from being saved:</h2>

      <ul>
      <% product_stock_exchange.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="col-lg-6 col-md-6 col-sm-6 form-group float-left">
      <div class="field">

    <%= form.select :product_id , options_from_collection_for_select(@products, 'id', 'title', form.object.product_id), {prompt: "Select the Product From"}, required: true%>
  </div>
  </div>


  <div class="col-lg-6 col-md-6 col-sm-6 form-group float-left">
      <div class="field">

    <%= form.select :product_recipient_id , options_from_collection_for_select(@products, 'id', 'title', form.object.product_recipient_id), {prompt: "Select the Product To"}, required: true%>
  </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6 form-group float-left">
  <div class="field">

    <%= form.number_field :quantity %>
  </div>
  </div>
  <div class="clearfix">
    <hr>
    <div class="col-lg-12 row ">

            <div class="col-lg-6 form-group float-left">
              <%= link_to product_stock_exchanges_path do %>
              <i class="fa fa-arrow-left " aria-hidden="true"></i>
              <% end %>
            </div>
              <div class="col-lg-6 form-group float-left">
                <div class="col-lg-6 form-group float-left">
                  <%=form.object.id.nil? ? (form.submit class: "btn btn-success", style: "float: left")  :  (form.submit class: "btn btn-warning", style: "float: left")%>
                </div>
              </div>
            <% end %>
  </div>
