
  <h1 class="ml-2">Product Stock Exchanges</h1>
  <%= link_to new_product_stock_exchange_path, class: "btn btn-success ml-2 my-3" do %>
           <i class="fa fa-plus" aria-hidden="true"></i>
           Create Product Stock Exchange
  <% end %>
  <ul class="nav nav-pills ml-2 my-2" role="tablist">
    <li class="nav-item">
      <a class="nav-link tab-label active " data-toggle="tab" href="#search" role="tab">Search</a>
    </li>		
 </ul>
  <div class="clearfix"></div>
  <div class="row card border-radius-1 shadow m-2 p-3">
    <div class="col-lg-12 col-sm-12">
      <%= search_form_for @q, url: product_stock_exchanges_path, class: "admin-controls", method: "get" do |f| %>

        <div class="col-lg-3 form-group float-left">
          <%= f.search_field :created_at_gteq, class: 'form-control input-sm datepicker',placeholder: "YYYY-MM-DD" %>
        </div>
        <div class="col-lg-3 form-group float-left">
          <%= f.search_field :created_at_lteq,class: 'form-control input-sm datepicker' ,placeholder: "YYYY-MM-DD"%>
        </div>
        <div class="col-lg-2 form-group float-left">
          <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
        </div>
        <div class="col-lg-2 form-group float-left">
        </div>
        <div class=" float-right">
          <button style="width:100px;" class=" form-control btn-danger" name="submit_pdf" type="submit" value="PDF A4" formtarget="_blank"> <i class="fa fa-file-pdf mr-2"></i>PDF</button>
        </div>
      <% end %>
    </div>
  </div>
  
<div class="row card border-radius-1 shadow m-2 p-3 ">
<table data-toggle="table" data-search="true">
  <thead>
    <tr>
      <th><%= sort_link(@q, :product_id, 'Product sent') %></th>
      <th><%= sort_link(@q, :product_recipient_id, 'Product received') %></th>
      <th><%= sort_link(@q, :quantity, 'Quantity') %></th>
      <th><%= sort_link(@q, :created_at, 'Date') %></th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @product_stock_exchanges.each do |product_stock_exchange| %>
      <tr>
        <td><%= product_stock_exchange.product.title if product_stock_exchange.product.present? %></td>
        <td><%= product_stock_exchange.product_recipient.title if product_stock_exchange.product_recipient.present? %></td>
        <td><%= product_stock_exchange.quantity %></td>
        <td><%= product_stock_exchange.created_at.strftime("%d%b%y at %I:%M %p") %></td>
        <td>
          <% if can?(:update, :all) %>
            <%= link_to edit_product_stock_exchange_path(product_stock_exchange) do %>
              <i class="fa fa-edit " aria-hidden="true"></i> |
            <%end %>
          <% end %>
          <% if can?(:delete, :all) %>
            <%= link_to product_stock_exchange, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete' do %>
              <i class="fa fa-trash " aria-hidden="true"></i> |
            <%end %>
          <% end %>
          <% if can?(:view, :all) %>
            <%= link_to product_stock_exchange do %>
              <i class="fa fa-eye " aria-hidden="true"></i>
            <%end %>
          <%end%>
        </td>

      </tr>
    <% end %>
    <tr>
      <td><b>Total</b></td>
      <td></td>
      <td><b><%=@total_quantity.first %></b></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#staff_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
  });
</script>
