<div class="nested-fields">
  <div class="row font-weight-bold challan-stock-container">
    <div class="col-lg-3 from-group float-left">
      <%= f.hidden_field :order_id %>
      <%= f.hidden_field :id %>
      <%= f.hidden_field :transaction_type, value: "Outward"%>
      <%= f.hidden_field :purchase_sale_type, value: "Outward_type"%>
      <% if f.object.id.present? %>
        <%= f.select :product_id, options_from_collection_for_select(@products, 'id', 'title', f.object.product_id), {hide_label:true, prompt: "Select a product."}, onchange: 'markas_call(this.value,this.id); return false;', class:"form-control product-outward", required: true %>
      <% else %>
        <%= f.select :product_id, options_for_select([]), {hide_label:true, prompt: "Select a customer first."}, {onchange: 'markas_call(this.value,this.id); return false;', class: "product-outward", required: true} %>
      <% end %>
    </div>
        <% if f.object.product_id.present? %>
          <div class="col-lg-2 from-group float-left">
            <%= f.select :marka, options_for_select(@markas, f.object.marka), {hide_label:true, prompt: "Select a marka."}, onchange: 'challans_call(event); return false;', class:"form-control marka-outward", required: true %>
          </div>
        <% else %>
          <div class="col-lg-2 from-group float-left">
            <%= f.select :marka, options_for_select([]), {hide_label:true, prompt: "Select a product first."}, {onchange: 'challans_call(event); return false;', class: "marka-outward", required: true} %>
          </div>
        <% end %>
        <% if f.object.product_id.present? %>
          <div class="col-lg-3 from-group float-left">
            <%= f.select :challan_no, options_for_select(@challans, f.object.challan_no), {hide_label:true, prompt: "Select a marka."}, onchange: 'remainimg_stocks_call(event); return false;', class:"form-control challan-outward", required: true %>
          </div>
        <% else %>
          <div class="col-lg-3 from-group float-left">
            <%= f.select :challan_no, options_for_select([]), {hide_label:true,  prompt: "Select a marka first."}, {onchange: 'remainimg_stocks_call(event); return false;', class: "challan-outward", required: true} %>
          </div>
        <% end %>
        <div class="col-lg-2 from-group float-left">
          <div>
            <%=f.text_field :comment, class: 'outward-remaining-stock', hide_label: true, readonly: true%>
          </div>
        </div>
        <div class="col-lg-1 form-group float-left text-xs font-weight-bold text-danger text-uppercase">
          <%= link_to_remove_association f do %>
            <i class="fa fa-minus-circle"></i> Drop
          <% end %>
        </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    FontAwesome.dom.i2svg();
    var $mySelect= $("#"+$(".product.chosen-select")[$(".product.chosen-select").length-1].id);
    var $myquantity= $("#"+$(".quantity-price")[$(".quantity-price").length-1].id);
    var enableChosen = setTimeout(function() {
      $mySelect.chosen();
      $mySelect.trigger('chosen:activate');
    }, 50);
    setTimeout(function(){
      $(".chosen-select").chosen({
  allow_single_deselect: true,
  width: '100%'
});
    }, 60);
    $('.span-line:last').text($(".product.chosen-select").length);
    $("#total_product_quantity").text($(".product.chosen-select").length-1);
    $('html, body').animate({
        scrollTop: $myquantity.offset().top-200
    }, 100);
  });
</script>
