<div class="m-3">
  <div class="card dash-back" style=" background-color: #F5F5F5;">
    <div class="row">
      <div class="col">
        <div class="main-content-header mt-4 mb-4">
          <div class="row-lg-12">
            <div class="col-lg-3 float-left">
              <div class="row d-flex">
                <h4 class="ml-2 head-color">Dashboard</h4>
              </div>
              <div class="row d-flex">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="<%= root_path %>"><i class="fa fa-home"></i></a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="<%= root_path %>">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active">
                    <a href="<%= root_path %>">Home</a>
                  </li>
                </ol>
              </div>
            </div>
              <div class="container-fluid">
                <div class="row d-flex">

                  <div class="col-3 float-left">
                    <%= link_to confirm_index_path do %>
                      <div class="row d-flex">
                        <p class="mr-2">Remaining Transaction</p>
                      </div>
                    <% end %>
                    <div class="row d-flex">
                      <%= link_to confirm_index_path do %>
                        <i class="h6 mb-0 font-weight-bold text-gray-800 mr-2" style="color: #6c757d;">
                          <%=@transfer%>
                        </i>
                      <% end %>
                    </div>
                    <div class="row d-flex">
                    <%= link_to confirm_index_path do %>
                          <i class="h6 mb-0 font-weight-bold text-gray-800" style="color: crimson;">Confirmable</i>
                        <% end %>
                        </div>
                  </div>

                  <div class="col-3 float-left">
                    <%= link_to purchase_sale_details_path(sale:true,'q[created_at_gteq]': (DateTime.now).strftime('%Y-%m-%d'),'q[created_at_lteq]': (DateTime.now).strftime('%Y-%m-%d')) do %>
                      <div class="row d-flex">
                        <p class="mr-2">Installment:</p>
                          <i class="fas fa-signal text-success ml-2"></i>
                      </div>
                    <% end %>  
                    <div class="row d-flex">
                        <%= link_to purchase_sale_details_path(sale:true,'q[created_at_gteq]': (DateTime.now).strftime('%Y-%m-%d'),'q[created_at_lteq]': (DateTime.now).strftime('%Y-%m-%d')) do %>
                          <i aria-hidden="true" style="color: #6c757d;">Rs.</i>
                          <i class="h6 mb-0 font-weight-bold text-gray-800 mr-2" style="color: #6c757d;">
                            <%=number_with_delimiter(@total_installment_today.to_f.round(2))%>
                          </i>
                        <% end %>
                        <%= link_to purchase_sale_details_path(sale:true,'q[created_at_gteq]': (DateTime.now).strftime('%Y-%m-%d'),'q[created_at_lteq]': (DateTime.now).strftime('%Y-%m-%d')) do %>
                          <i class="h6 mb-0 font-weight-bold text-gray-800" style="color: #6c757d;">Today :<%=@total_receipt_today%></i>
                        <% end %>
                    </div>
                    <div class="row d-flex">
                        <%= link_to purchase_sale_details_path(sale:true,'q[created_at_gteq]': (DateTime.now).strftime('%Y-%m-%d'),'q[created_at_lteq]': (DateTime.now).strftime('%Y-%m-%d')) do %>
                          <i aria-hidden="true" style="color: #6c757d;">Rs.</i>
                          <i class="h6 mb-0 font-weight-bold text-gray-800 mr-2" style="color: #6c757d;">
                            <%=number_with_delimiter(@total_installment.to_f.round(2))%>
                          </i>
                        <% end %>
                        <%= link_to purchase_sale_details_path(sale:true,'q[created_at_gteq]': (DateTime.now).strftime('%Y-%m-%d'),'q[created_at_lteq]': (DateTime.now).strftime('%Y-%m-%d')) do %>
                          <i class="h6 mb-0 font-weight-bold text-gray-800" style="color: #6c757d;">Yesterday :<%=@total_receipt%></i>
                        <% end %>
                    </div>
                  </div>

                  <div class="col-3 float-left">
                    <%= link_to purchase_sale_details_path('q[created_at_gteq]': (DateTime.now-1).strftime('%Y-%m-%d'),'q[created_at_lteq]': (DateTime.now-1).strftime('%Y-%m-%d') ) do %>
                      <div class="row d-flex">
                        <p class="mr-2">Purchase:</p>
                        <i class="fas fa-signal text-info ml-2"></i>
                      </div>
                    <% end %>
                    <div class="row d-flex">
                      <%= link_to purchase_sale_details_path('q[created_at_gteq]': (DateTime.now-1).strftime('%Y-%m-%d'),'q[created_at_lteq]': (DateTime.now-1).strftime('%Y-%m-%d') ) do %>
                        <i class="h6 mb-0 font-weight-bold text-gray-800 mr-2 mt-1 ml-1" style="float: right; color: #6c757d;">
                          <%=@total_purchase.to_f.round(2) rescue 0%>
                        </i>
                        <i aria-hidden="true" style="float: right; color: #6c757d;">Rs.</i>
                      <% end %>
                      <%= link_to purchase_sale_details_path('q[created_at_gteq]': (DateTime.now-1).strftime('%Y-%m-%d'),'q[created_at_lteq]': (DateTime.now-1).strftime('%Y-%m-%d') ) do %>
                        <i class="h6 mb-0 font-weight-bold text-gray-800" style="color: #6c757d;">Today :
                          <%=@total_purchase_receipt%>
                        </i>
                      <% end %>
                    </div>
                    <div class="row d-flex">
                      <%= link_to purchase_sale_details_path('q[created_at_gteq]': (DateTime.now-1).strftime('%Y-%m-%d'),'q[created_at_lteq]': (DateTime.now-1).strftime('%Y-%m-%d') ) do %>
                        <i class="h6 mb-0 font-weight-bold text-gray-800 mr-2 mt-1 ml-1" style="float: right; color: #6c757d;">
                          <%=@total_purchase.to_f.round(2) rescue 0%>
                        </i>
                        <i aria-hidden="true" style="float: right; color: #6c757d;">Rs.</i>
                      <% end %>
                      <%= link_to purchase_sale_details_path('q[created_at_gteq]': (DateTime.now-1).strftime('%Y-%m-%d'),'q[created_at_lteq]': (DateTime.now-1).strftime('%Y-%m-%d') ) do %>
                        <i class="h6 mb-0 font-weight-bold text-gray-800" style="color: #6c757d;">Yesterday :
                          <%=@total_purchase_receipt%>
                        </i>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-3 float-left">
                    <%= link_to expenses_path('q[created_at_gteq]': (DateTime.now-1).strftime('%Y-%m-%d'),'q[created_at_lteq]': (DateTime.now-1).strftime('%Y-%m-%d') ) do %>
                      <div class="row d-flex">
                        <p class="mr-2">Expense:</p>
                        <i class="fas fa-signal text-danger ml-2"></i>
                      </div>
                    <% end %>
                    <div class="row d-flex">
                      <%= link_to expenses_path('q[created_at_gteq]': (DateTime.now-1).strftime('%Y-%m-%d'),'q[created_at_lteq]': (DateTime.now-1).strftime('%Y-%m-%d') ) do %>
                        <i class="h6 mb-0 font-weight-bold text-gray-800 mr-2 mt-1 ml-1" style="float: right; color: #6c757d;">
                          <%=@total_exp_today.to_f.round(2) rescue 0%>
                        </i>
                        <i aria-hidden="true" style="float: right; color: #6c757d;">Rs.</i>
                      <% end %>
                      <%= link_to expenses_path('q[created_at_gteq]': (DateTime.now-1).strftime('%Y-%m-%d'),'q[created_at_lteq]': (DateTime.now-1).strftime('%Y-%m-%d') ) do %>
                        <i class="h6 mb-0 font-weight-bold text-gray-800" style="color: #6c757d;">Today :
                          <%=@total_expense_today%>
                        </i>
                      <% end %>
                    </div>
                    <div class="row d-flex">
                      <%= link_to expenses_path('q[created_at_gteq]': (DateTime.now-1).strftime('%Y-%m-%d'),'q[created_at_lteq]': (DateTime.now-1).strftime('%Y-%m-%d') ) do %>
                        <i class="h6 mb-0 font-weight-bold text-gray-800 mr-2 mt-1 ml-1" style="float: right; color: #6c757d;">
                          <%=@total_exp_yesterday.to_f.round(2) rescue 0%>
                        </i>
                        <i aria-hidden="true" style="float: right; color: #6c757d;">Rs.</i>
                      <% end %>
                      <%= link_to expenses_path('q[created_at_gteq]': (DateTime.now-1).strftime('%Y-%m-%d'),'q[created_at_lteq]': (DateTime.now-1).strftime('%Y-%m-%d') ) do %>
                        <i class="h6 mb-0 font-weight-bold text-gray-800" style="color: #6c757d;">Yesterday :
                          <%=@total_expense_yesterday%>
                        </i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card p-4 today-back mb-4 shadow">
    <div class="row-lg-12 d-flex justify-content-center">
      <div class="col-lg-3">
      <%= link_to ledger_books_path(submit_credit:true,'q[created_at_gteq]':(DateTime.now).strftime('%Y-%m-%d'),'q[created_at_lteq]':(DateTime.now).strftime('%Y-%m-%d')),target: :_blank   do %>
        <h6 class="ml-5">Today Paid(Credit)</h6>
          <div class="ml-5 d-flex">
            <i class="mr-1" aria-hidden="true">Rs.</i>
            <i class="h5 mb-0 font-weight-bold text-gray-800 "><%= number_with_delimiter(@t_debit.to_f.round(2)) %></i>
          </div>
        <% end %>
      </div>
      <div class="col-lg-3">
      <%= link_to ledger_books_path(submit_debit:true,'q[created_at_gteq]':(DateTime.now).strftime('%Y-%m-%d'),'q[created_at_lteq]':(DateTime.now).strftime('%Y-%m-%d')),target: :_blank   do %>
        <h6 class="ml-5">Today Received(Debit)</h6>
          <div class="ml-5 d-flex">
          <i class="mr-1" aria-hidden="true">Rs.</i>
          <i class="h5 mb-0 font-weight-bold text-gray-800"><%= number_with_delimiter(@t_credit.to_f.round(2)) %></i>
        </div>
      <% end %>
      </div>
      <div class="col-lg-3">
      <%= link_to payable_sys_users_sys_users_path do %>
        <h6 class="ml-5">Net Payable</h6>
        <div class="ml-5 d-flex">
          <i class="mr-1" aria-hidden="true">Rs.</i>
          <i class="h5 mb-0 font-weight-bold text-gray-800"><%=number_with_delimiter(@payable)%></i>
        </div>
      <% end %>
      </div>
      <div class="col-lg-3">
      <%= link_to receiveable_sys_users_path do %>
        <h6 class="ml-5">Net Receivable</h6>
        <div class="ml-5 d-flex">
            <i class="mr-1" aria-hidden="true">Rs.</i>
            <i class="h5 mb-0 font-weight-bold text-gray-800"><%=number_with_delimiter(@receivable)%></i>
        </div>
      <% end %>
      </div>
    </div>
  </div>

  <div class="hidden" id="products_list">
    <div class="float-right">
      <div class="dropdown ml-auto">
      <span class="btn btn-info" title= "About This page"><i class="fa fa-question-circle mr-2"></i>Help</span>
        <div class="dropdown-content">
          <% if @help.present? %>
            <% @help&.help_links.each do |link| %>
              <a type="button" class="" target="_blank" href="<%= link[1] %>" >Help in <%= link[0] %></a>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>  
    <ul class="nav nav-pills mt-4" role="tablist">
        <li class="nav-item">
          <a class="nav-link tab-label active" data-toggle="tab" href="#categories" role="tab">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tab-label" data-toggle="tab" href="#analytics" data-remote="true" role="tab">Analytics</a>
        </li>
        <% if check_is_hidden_by_module('accounts') %>  
          <li class="nav-item">
            <a class="nav-link tab-label" data-toggle="tab" href="#accounts" role="tab">Accounts</a>
          </li>
        <% end %>  
        <li class="nav-item">
          <a class="nav-link tab-label" data-toggle="tab" href="#installment" role="tab">Installment Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tab-label" data-toggle="tab" href="#report" role="tab">Purchase Report</a>
        </li>
    </ul>
    

    <div class="tab-content">
      <div class="tab-pane active mb-5 mt-4 card mt-2 text-primary" style="border: none; background-color: #F5F5F5;" id="categories" role="tabpanel">
        <div class="row">
          <% if check_is_hidden_by_module('crms') %>
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
              <div class="card border-left-primary shadow py-2 border-radius-1 d-flex align-items-stretch flex-wrap h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center w-100">
                    <div class="col-auto">
                      <%= link_to crms_path do %>
                        <div class="rounded-circle bg-light p-2">
                          <i class="fas fa-user logo-back fa-2x"></i>
                        </div>
                      <% end %>  
                    </div>
                    <div class="col ml-2">
                      <%= link_to crms_path do %>
                        <div class="text-xs font-weight-bold text-uppercase mb-1 logo-back">CRM</div>
                        <div class="h6 mb-0 font-weight-bold text-muted"><%= @cms_user_count %></div>
                      <% end %>
                    </div>
                    <div class="col-auto">
                      <%= link_to new_crm_path, class: "btn btn-outline-primary rounded-pill btn-sm" do %>
                        <i class="fas fa-plus mr-1"></i>Add
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %> 
          <% if check_is_hidden_by_module('crms') %>
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
              <div class="card border-left-primary shadow py-2 border-radius-1 d-flex align-items-stretch flex-wrap h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <%= link_to follow_ups_path do %>
                        <div class="rounded-circle bg-light p-2">
                          <i class="fas fa-user-check logo-back fa-2x"></i>
                        </div>
                      <% end %>  
                    </div>
                    <div class="col ml-2">
                      <%= link_to follow_ups_path do %>
                        <div class="text-xs font-weight-bold text-uppercase mb-1 logo-back">Follow Up</div>
                        <div class="h6 mb-0 font-weight-bold text-muted"><%= @total_follow_ups %></div>
                      <% end %>
                    </div>
                    <div class="col-auto">
                      <%= link_to new_crm_path, class: "btn btn-outline-primary rounded-pill btn-sm" do %>
                        <i class="fas fa-plus mr-1"></i>Add
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %> 
          <% if check_is_hidden_by_module('products') %> 
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
              <div class="card border-left-primary shadow py-2 border-radius-1 d-flex align-items-stretch flex-wrap h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <%= link_to products_path do %>
                        <div class="rounded-circle bg-light p-2">
                          <i class="fas fa-stream logo-back fa-2x"></i>
                        </div>
                      <% end %>  
                    </div>
                    <div class="col ml-2">
                      <%= link_to products_path do %>
                        <div class="text-xs font-weight-bold text-uppercase mb-1 logo-back">Units</div>
                        <div class="h6 mb-0 font-weight-bold text-muted"><%= @product_count %></div>
                      <% end %>
                    </div>
                    <div class="col-auto">
                      <%= link_to new_product_path, class: "btn btn-outline-primary rounded-pill btn-sm" do %>
                        <i class="fas fa-plus mr-1"></i>Add
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>  
          <% if check_is_hidden_by_module('sys_users') %>
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
              <div class="card border-left-primary shadow py-2 border-radius-1 d-flex align-items-stretch flex-wrap h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <%= link_to sys_users_path do %>
                        <div class="rounded-circle bg-light p-2">
                          <i class="fas fa-users logo-back fa-2x"></i>
                        </div>
                      <% end %>  
                    </div>
                    <div class="col ml-2">
                      <%= link_to sys_users_path do %>
                        <div class="text-xs font-weight-bold text-uppercase mb-1 logo-back">Users</div>
                        <div class="h6 mb-0 font-weight-bold text-muted"><%= @sys_user_count %></div>
                      <% end %>
                    </div>
                    <div class="col-auto">
                      <%= link_to new_sys_user_path, class: "btn btn-outline-primary rounded-pill btn-sm" do %>
                        <i class="fas fa-plus mr-1"></i>Add
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>	
          <% if check_is_hidden_by_module('staffs') %>
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
              <div class="card border-left-primary shadow py-2 border-radius-1 d-flex align-items-stretch flex-wrap h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <%= link_to staffs_path do %>
                        <div class="rounded-circle bg-light p-2">
                          <i class="fas fa-users-cog logo-back fa-2x"></i>
                        </div>
                      <% end %>  
                    </div>
                    <div class="col ml-2">
                      <%= link_to staffs_path do %>
                        <div class="text-xs font-weight-bold text-uppercase mb-1 logo-back">Staffs</div>
                        <div class="h6 mb-0 font-weight-bold text-muted"><%= @staff_count %></div>
                      <% end %>
                    </div>
                    <div class="col-auto">
                      <%= link_to new_staff_path, class: "btn btn-outline-primary rounded-pill btn-sm" do %>
                        <i class="fas fa-plus mr-1"></i>Add
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <% if check_is_hidden_by_module('orders') %>
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
              <div class="card border-left-primary shadow py-2 border-radius-1 d-flex align-items-stretch flex-wrap h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <%= link_to orders_path(sale: true) do %>
                        <div class="rounded-circle bg-light p-2">
                          <i class="fas fa-cart-arrow-down logo-back fa-2x"></i>
                        </div>
                      <% end %>  
                    </div>
                    <div class="col ml-2">
                      <%= link_to orders_path(sale: true) do %>
                        <div class="text-xs font-weight-bold text-uppercase mb-1 logo-back">Bookings</div>
                        <div class="h6 mb-0 font-weight-bold text-muted"><%= @total_booked.count.to_f.round(2) rescue 0 %></div>
                      <% end %>
                    </div>
                    <div class="col-auto">
                      <%= link_to new_order_path(product: true,transaction_type: 'sale'), class: "btn btn-outline-primary rounded-pill btn-sm" do %>
                        <i class="fas fa-plus mr-1"></i>Add
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          <% end %>  
          <% if check_is_hidden_by_module('purchase_sale_details') %> 
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
              <div class="card border-left-primary shadow py-2 border-radius-1 d-flex align-items-stretch flex-wrap h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <%= link_to purchase_sale_details_path(sale: true) do %>
                        <div class="rounded-circle bg-light p-2">
                          <i class="fas fa-receipt logo-back fa-2x"></i>
                        </div>
                      <% end %>  
                    </div>
                    <div class="col ml-2">
                      <%= link_to purchase_sale_details_path(sale: true) do %>
                        <div class="text-xs font-weight-bold text-uppercase mb-1 logo-back">Installments</div>
                        <div class="h6 mb-0 font-weight-bold text-muted"><%= @total_sale_slips %></div>
                      <% end %>
                    </div>
                    <div class="col-auto">
                      <%= link_to new_purchase_sale_detail_path(transaction_type: :sale, product: true), class: "btn btn-outline-primary rounded-pill btn-sm" do %>
                        <i class="fas fa-plus mr-1"></i>Add
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>  
          <% if check_is_hidden_by_module('expenses') %>
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
              <div class="card border-left-primary shadow py-2 border-radius-1 d-flex align-items-stretch flex-wrap h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <%= link_to expenses_path do %>
                        <div class="rounded-circle bg-light p-2">
                          <i class="fas fa-money-bill logo-back fa-2x"></i>
                        </div>
                      <% end %>  
                    </div>
                    <div class="col ml-2">
                      <%= link_to expenses_path do %>
                        <div class="text-xs font-weight-bold text-uppercase mb-1 logo-back">Expenses</div>
                        <div class="h6 mb-0 font-weight-bold text-muted"><%= @total_expense_slips %></div>
                      <% end %>
                    </div>
                    <div class="col-auto">
                      <%= link_to new_expense_path, class: "btn btn-outline-primary rounded-pill btn-sm" do %>
                        <i class="fas fa-plus mr-1"></i>Add
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>  
          <% if check_is_hidden_by_module('compaigns') %>
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
              <div class="card border-left-primary shadow py-2 border-radius-1 d-flex align-items-stretch flex-wrap h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <%= link_to compaigns_path do %>
                        <div class="rounded-circle bg-light p-2">
                          <i class="fas fa-address-card logo-back fa-2x"></i>
                        </div>
                      <% end %>  
                    </div>
                    <div class="col ml-2">
                      <%= link_to compaigns_path do %>
                        <div class="text-xs font-weight-bold text-uppercase mb-1 logo-back">Compaigns</div>
                        <div class="h6 mb-0 font-weight-bold text-muted"><%= @total_compaigns %></div>
                      <% end %>
                    </div>
                    <div class="col-auto">
                      <%= link_to new_compaign_path, class: "btn btn-outline-primary rounded-pill btn-sm" do %>
                        <i class="fas fa-plus mr-1"></i>Add
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>  
          <% if check_is_hidden_by_module('ledger_books') %>
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
              <div class="card border-left-primary shadow py-2 border-radius-1 d-flex align-items-stretch flex-wrap h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <%= link_to ledger_books_path do %>
                        <div class="rounded-circle bg-light p-2">
                          <i class="fas fa-book logo-back fa-2x"></i>
                        </div>
                      <% end %>  
                    </div>
                    <div class="col ml-2">
                      <%= link_to ledger_books_path do %>
                        <div class="text-xs font-weight-bold text-uppercase mb-1 logo-back">Ledger<br>Book</div>
                      <% end %>
                    </div>
                    <div class="col-auto">
                      <%= link_to ledger_books_path, class: "btn btn-outline-primary rounded-pill btn-sm" do %>
                        User
                      <% end %>
                      <%= link_to staff_ledger_books_path, class: "btn btn-outline-danger rounded-pill btn-sm" do %>
                        Staff
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>  
          <% if check_is_hidden_by_module('ledger_books') %>
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
              <div class="card border-left-primary shadow py-2 border-radius-1 d-flex align-items-stretch flex-wrap h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <%= link_to ledger_books_path do %>
                        <div class="rounded-circle bg-light p-2">
                          <i class="fas fa-address-book logo-back fa-2x"></i>
                        </div>
                      <% end %>  
                    </div>
                    <div class="col ml-2">
                      <%= link_to ledger_books_path do %>
                        <div class="text-xs font-weight-bold text-uppercase mb-1 logo-back">User<br>Ledger</div>
                      <% end %>
                    </div>
                    <div class="col-auto">
                      <%= link_to new_ledger_book_path(Sjama:true), class: "btn btn-outline-primary rounded-pill btn-sm" do %>
                        <span style="font-size: 0.75em">Credit/J</span>
                      <% end %>
                      <%= link_to new_ledger_book_path(Sbenam:true), class: "btn btn-outline-danger rounded-pill btn-sm" do %>
                        <span style="font-size: 0.75em">Debit/B</span>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <% if check_is_hidden_by_module('salary_details') %>
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
              <div class="card border-left-primary shadow py-2 border-radius-1 d-flex align-items-stretch flex-wrap h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <%= link_to staff_ledger_books_path do %>
                        <div class="rounded-circle bg-light p-2">
                          <i class="fas fa-address-book logo-back fa-2x"></i>
                        </div>
                      <% end %>  
                    </div>
                    <div class="col ml-2">
                      <%= link_to staff_ledger_books_path do %>
                        <div class="text-xs font-weight-bold text-uppercase mb-1 logo-back">Staff<br>Ledger</div>
                      <% end %>
                    </div>
                    <div class="col-auto">
                      <%= link_to advance_all_salary_details_path, class: "btn btn-outline-primary rounded-pill btn-sm" do %>
                        <span style="font-size: 0.75em">Credit/J</span>
                      <% end %>
                      <%= link_to advance_salaries_path, class: "btn btn-outline-danger rounded-pill btn-sm" do %>
                        <span style="font-size: 0.75em">Debit/B</span>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
          <% end %>  
          <% if check_is_hidden_by_module('payments') %>
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
              <div class="card border-left-primary shadow py-2 border-radius-1 d-flex align-items-stretch flex-wrap h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="rounded-circle bg-light p-2">
                        <i class="fas fa-info-circle logo-back fa-2x"></i>
                      </div>  
                    </div>
                    <div class="col ml-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1 logo-back">General Details</div>
                    </div>
                  </div>
                  <div class="row ml-2 mt-2">
                    <%= link_to payments_path, class: "btn btn-outline-primary rounded-pill btn-sm mr-1" do %>
                      Day Book
                    <% end %>
                    <%= link_to reports_day_out_report_path, class: "btn btn-outline-danger rounded-pill btn-sm" do %>
                      Day Check
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>  
          <% if check_is_hidden_by_module('products') %>
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
              <div class="card border-left-primary shadow py-2 border-radius-1 d-flex align-items-stretch flex-wrap h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="rounded-circle bg-light p-2">
                        <i class="fas fa-info-circle logo-back fa-2x"></i>
                      </div>  
                    </div>
                    <div class="col ml-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1 logo-back">Unit Details</div>
                    </div>
                  </div>
                  <div class="row ml-2 mt-2">
                    <%= link_to products_path('q[size_6_in]':0), class: "btn btn-outline-primary rounded-pill btn-sm mr-1" do %>
                      Booked:
                      <i class="text-xs mb-0 font-weight-bold">
                        <%=@total_booked.count.to_f.round(2) rescue 0%>
                      </i>
                    <% end %>
                    <%= link_to products_path('q[size_6_in]':1), class: "btn btn-outline-danger rounded-pill btn-sm" do %>
                      Open:
                      <i class="text-xs mb-0 font-weight-bold">
                        <%=@total_remaning.count.to_f.round(2) rescue 0%>
                      </i>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>  
          <% if check_is_hidden_by_module('products') %>
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
              <div class="card border-left-primary shadow py-2 border-radius-1 d-flex align-items-stretch flex-wrap h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="rounded-circle bg-light p-2">
                        <i class="fas fa-user-shield logo-back fa-2x"></i>
                      </div>  
                    </div>
                    <div class="col ml-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1 logo-back">Secure Unit</div>
                    </div>
                  </div>
                  <div class="row ml-2 mt-2">
                    <%= link_to products_path('q[size_6_in]':0), class: "btn btn-outline-primary rounded-pill btn-sm mr-1" do %>
                      Secure:
                      <i class="text-xs mb-0 font-weight-bold">
                        <%=@total_reserved.count.to_f.round(2) rescue 0%>
                      </i>
                    <% end %>
                    <%= link_to products_path('q[size_6_in]':1), class: "btn btn-outline-danger rounded-pill btn-sm" do %>
                      Only Booked:
                      <i class="text-xs mb-0 font-weight-bold">
                        <%=@total_only_booked.count.to_f.round(2) rescue 0%>
                      </i>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %> 
          <% if check_is_hidden_by_module('property_plans') %>  
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
              <div class="card border-left-primary shadow py-2 border-radius-1 d-flex align-items-stretch flex-wrap h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="rounded-circle bg-light p-2">
                        <i class="fas fa-credit-card fa-2x logo-back"></i>
                      </div>  
                    </div>
                    <div class="col ml-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1 logo-back">Short Payments</div>
                    </div>
                  </div>
                  <div class="row ml-2" style="font-size: 0.8em;">
                    <%= link_to property_installment_property_plans_path('short_advance': true,'q[property_installments_due_date_lteq]':Date.today), class: "text-primary mt-1 mb-0 py-1 px-2", style:"border: 0.8px solid blue; border-radius: 15px;" do %>
                      Down Payment:
                      <i class=" mb-0 font-weight-bold">
                        <%= number_with_delimiter(@due_advance.to_f.round(2)) rescue 0 %>
                      </i>
                    <% end %>
                  </div>
                  <div class="row ml-2" style="font-size: 0.8em;">
                    <%= link_to property_installment_property_plans_path('short_advance': true,'q[property_installments_due_date_lteq]':Date.today), class: "text-danger mt-2 mb-0 py-1 px-2", style:"border: 0.8px solid red; border-radius: 15px;" do %>
                      Installment:
                      <i class=" mb-0 font-weight-bold">
                        <%= number_with_delimiter(@due_installment.to_f.round(2)) rescue 0%>
                      </i>
                    <% end %>
                  </div>  
                </div>
              </div>
          </div>
          <% end %> 
          <% if check_is_hidden_by_module('sms') %>
            <%if pos_setting_is_sms.present?%>
              <div class="col-xl-3 col-sm-6 col-12 mb-4">
                <div class="card border-left-primary shadow py-2 border-radius-1 d-flex align-items-stretch flex-wrap h-100">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <%= link_to sms_index_path do %>
                          <div class="rounded-circle bg-light p-2">
                            <i class="fas fa-comment logo-back fa-2x"></i>
                          </div>
                        <% end %>  
                      </div>
                      <div class="col ml-2">
                        <%= link_to sms_index_path do %>
                          <div class="text-xs font-weight-bold text-uppercase mb-1 logo-back">SMS</div>
                        <% end %>
                      </div>
                      <div class="col-auto">
                        <%= link_to sms_index_path, class: "btn btn-outline-primary rounded-pill btn-sm" do %>
                          User
                        <% end %>
                        <%= link_to sms_index_path('from_tabe':'pills-staff-tab'), class: "btn btn-outline-danger rounded-pill btn-sm" do %>
                          Staff
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>  
          <% if check_is_hidden_by_module('remarks') %>
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
              <div class="card border-left-primary shadow py-2 border-radius-1 d-flex align-items-stretch flex-wrap h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <%= link_to remarks_path(transfer: true) do %>
                        <div class="rounded-circle bg-light p-2">
                          <i class="fas fa-exchange-alt logo-back fa-2x"></i>
                        </div>
                      <% end %>  
                    </div>
                    <div class="col ml-2">
                      <%= link_to remarks_path(transfer: true) do %>
                        <div class="text-xs font-weight-bold text-uppercase mb-1 logo-back">Transfer</div>
                        <div class="h6 mb-0 font-weight-bold text-muted"><%= @total_transfer.count %></div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <% if check_is_hidden_by_module('sticky_notes') %>
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
              <%= link_to sticky_notes_path do %>
                <div class="card border-left-primary shadow py-2 border-radius-1 d-flex align-items-stretch flex-wrap h-100">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <%= link_to sticky_notes_path do %>
                          <div class="rounded-circle bg-light p-2">
                            <i class="fas fa-sticky-note logo-back fa-2x"></i>
                          </div>
                        <% end %>  
                      </div>
                      <div class="col ml-2">
                        <%= link_to sticky_notes_path do %>
                          <div class="text-xs font-weight-bold text-uppercase mb-1 logo-back">Sticky Notes</div>
                          <div class="h6 mb-0 font-weight-bold text-muted"><%= @sticky_notes.count %></div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="tab-pane card mt-4 border-radius-1" style="border: none; background-color: #F5F5F5;" id="analytics" role="tabpanel">
        <div class="row">
          <% if check_is_hidden_by_module('reports') %>
            <div class="col-lg-3 col-md-6 mb-4 form-group float-left">
              <%= link_to reports_chart_of_account_path do %>
                <div class="card border-left-primary shadow h-100 py-2 border-radius-1">
                  <div class="card-body" >
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          <i class="fas fa-chart-line logo-back fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="h5 mb-0  text-gray-800">
                            Chart of Account 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>  
          <% if check_is_hidden_by_module('reports') %>  
            <div class="col-lg-3 col-md-6 mb-4 form-group float-left">
              <%= link_to reports_product_report_path do %>
                <div class="card border-left-primary shadow h-100 py-2 border-radius-1">
                  <div class="card-body" >
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          <i class="fas fa-info-circle logo-back fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="h5 mb-0  text-gray-800">
                            Profit Info
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>  
          <% if check_is_hidden_by_module('logs') %>  
            <div class="col-lg-3 col-md-6 mb-4 form-group float-left">
              <%= link_to logs_path do %>
                <div class="card border-left-primary shadow h-100 py-2 border-radius-1">
                  <div class="card-body" >
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            <i class="fas fa-boxes logo-back fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="h5 mb-0  text-gray-800">
                            Log Statement
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %> 
          <% if check_is_hidden_by_module('reports') %>  
            <div class="col-lg-3 col-md-6 mb-4 form-group float-left">
              <%= link_to reports_sale_report_path do %>
                <div class="card border-left-primary shadow h-100 py-2 border-radius-1">
                  <div class="card-body" >
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          <i class="fas fa-industry logo-back fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="h5 mb-0  text-gray-800">
                          Income Statement
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>  
          <% if check_is_hidden_by_module('staff_deals') %>
            <div class="col-lg-3 col-md-6 mb-4 form-group float-left">
              <%= link_to staff_deals_path do %>
                <div class="card border-left-primary shadow h-100 py-2 border-radius-1">
                  <div class="card-body" >
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          <i class="fas fa-handshake logo-back fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="h5 mb-0  text-gray-800">
                          Staff Deals
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>  
          <% if check_is_hidden_by_module('reports') %>  
            <div class="col-lg-3 col-md-6 mb-4 form-group float-left">
              <%= link_to reports_trial_balance_path do %>
                <div class="card border-left-primary shadow h-100 py-2 border-radius-1">
                  <div class="card-body" >
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          <i class="fas fa-balance-scale logo-back fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="h5 mb-0  text-gray-800">Trial Balance</div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="clearfix"></div>
        <div class="row d-flex">
          <div class="col-lg-6">
            <div class="my-chart-Container">
              <div class="mychartBox card border-radius-1">
                <canvas id="myChart"></canvas>
              </div> 
            </div>
          </div>  
          <div class="col-lg-6">
            <div class="my-chart-Container">
              <div class="mychartBox card border-radius-1">
                <canvas id="myChart1"></canvas>
              </div> 
            </div>
          </div>  
        </div>  
      </div>

      <div class="tab-pane card mt-4 border-radius-1" style="border: none; background-color: #F5F5F5;" id="accounts" role="tabpanel">
        <div class="card shadow mb-4 border-radius-1 mt-3">
          <!-- Card Header - Accordion -->
          <a href="#collapseCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Accounts</h1></h6>
          </a>
          <div class="collapse show" id="collapseCard" style="">
            <div class="clearfix"></div>
            <div class="row ">
              <div class="col-lg-12 col-sm-12 ">
                <ul class="nav nav-pills mt-3 ml-3" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link tab-label active" data-toggle="tab" href="#search" role="tab">Search</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link tab-label" data-toggle="tab" href="#pdf" role="tab">Download PDF</a>
                  </li>
                </ul>

                <div class="tab-content">
                  <div class="tab-pane active card mt-2 p-3 border-radius-1 m-3" style="border: none; background-color: #F5F5F5;" id="search" role="tabpanel">
                    <p>
                      <%= search_form_for @q, url: dashboard_path, class: "admin-controls font-weight-bold col-lg-3 d-flex", method: "get" do |f| %>
                          <%= f.select :title_cont, options_from_collection_for_select(@account_title, "title", ->(st){"#{st.title} \u{27F6} #{st.bank_name} "},@code),{:include_blank => "Select Account"},:class=>"form-control chosen-select" %>
                          <button class="form-control btn btn-primary ml-2" name="search_submit" type="submit" value="Search" style="width:100px;"><i class="fa fa-search"></i></button>
                      <% end %>
                    </p>
                  </div>
                  <div class="tab-pane card mt-2 p-3 border-radius-1 m-3" style="border: none; background-color: #F5F5F5;" id="pdf" role="tabpanel">
                    <p>
                      <button class="form-control btn btn-danger col-lg-1 ml-2 mt-2" name="pdf_submit" type="submit" value="Total Stock A8" formtarget="_blank"><i class="fa fa-file-pdf"></i> Stock</button>  
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class=" m-3">
            <ul class="nav nav-pills mb-1 mt-2 h4 ml-4" id="pills-tab" role="tablist">
              <li class="nav-item" onclick="updatetabs('pills-expense-month')">
                <a class="<%=params[:from_tabe]=='pills-expense-month' ? 'nav-link active' : 'nav-link'%>" id="pills-profile-expense" data-toggle="pill" href="#pills-expenses" role="tab" aria-controls="pills-expense" aria-selected="false"><b>Accounts Details</b></a>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="<%=params[:from_tabe]=='pills-expense-month' ? 'tab-pane fade show active' : 'tab-pane fade show active'%>" id="pills-expenses" role="tabpanel" aria-labelledby="pills-profile-tab" style="margin:2pc;">
                <%= render partial: "accounts", locals: {} %>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane card mt-4 border-radius-1" style="border: none; background-color: #F5F5F5;" id="installment" role="tabpanel">
        <div class="card shadow mb-4">
          <a href="#collapseCardExample1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Installment Report</h1></h6>
          </a>
          <div class="collapse show" id="collapseCardExample1" style="">
            <div class="col-lg-12 form-group float-left">
              <div class="card-body">
                <%@date = Date.today%>
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                  <li class="nav-item" onclick="updatetabs('pills-days')">
                    <a class="<%=params[:from_tabe]=='pills' ? 'nav-link active' : 'nav-link'%> active" id="pills-home-tab" data-toggle="pill" href="#pills-days" role="tab" aria-controls="pills-home" aria-selected="true"><b><%= @date.strftime("%B")%> Days</b></a>
                  </li>
                  <li class="nav-item" onclick="updatetabs('pills-current_month')">
                    <a class="<%=params[:from_tabe]=='pills-current_month' ? 'nav-link active' : 'nav-link'%>" id="pills-profile-expense" data-toggle="pill" href="#pills-current_month" role="tab" aria-controls="pills-expense" aria-selected="false"><b><%= Date.current.year%> Months</b></a>
                  </li>
                  <li class="nav-item" onclick="updatetabs('pills-year')">
                    <a class="<%=params[:from_tabe]=='pills-year' ? 'nav-link active' : 'nav-link'%>" id="pills-profile-year" data-toggle="pill" href="#pills-year" role="tab" aria-controls="pills-expense" aria-selected="false"><b>years</b></a>
                  </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                  <div class= "<%=params[:from_tabe]=='pills-days' ? 'tab-pane fade show active' : 'tab-pane fade show active'%>" id="pills-days" role="tabpanel" aria-labelledby="pills-home-tab" style="margin:2pc;">
                    <%= render partial: "dashboard/sale_partial/current_days", locals: {} %>
                  </div>
                  <div class="<%=params[:from_tabe]=='pills-current_month' ? 'tab-pane fade show active' : 'tab-pane fade '%>" id="pills-current_month" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <%= render partial: "dashboard/sale_partial/current_month", locals: {} %>
                  </div>
                  <div class="<%=params[:from_tabe]=='pills-year' ? 'tab-pane fade show active' : 'tab-pane fade '%>" id="pills-year" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <%= render partial: "dashboard/sale_partial/years", locals: {} %>
                  </div>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>

      <div class="tab-pane card mt-4 border-radius-1" style="border: none; background-color: #F5F5F5;" id="report" role="tabpanel">
        <div class="card shadow mb-4">
          <a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Purchase Report</h1></h6>
          </a>
          <div class="collapse show" id="collapseCardExample2" style="">
            <div class="col-lg-12 form-group float-left">
              <div class="card-body">
                <%@date = Date.today%>
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                  <li class="nav-item" onclick="updatetabs('pills-days-purchase')">
                    <a class="<%=params[:from_tabe]=='pills' ? 'nav-link active' : 'nav-link'%> active" id="pills-home-tab" data-toggle="pill" href="#pills-days-purchase" role="tab" aria-controls="pills-home" aria-selected="true"><b><%= @date.strftime("%B")%> Days</b></a>
                  </li>
                  <li class="nav-item" onclick="updatetabs('pills-current_month-purchase')">
                    <a class="<%=params[:from_tabe]=='pills-current_month-purchase' ? 'nav-link active' : 'nav-link'%>" id="pills-profile-expense" data-toggle="pill" href="#pills-current_month-purchase" role="tab" aria-controls="pills-expense" aria-selected="false"><b><%= Date.current.year%> Months</b></a>
                  </li>
                  <li class="nav-item" onclick="updatetabs('pills-year-purchase')">
                    <a class="<%=params[:from_tabe]=='pills-year-purchase' ? 'nav-link active' : 'nav-link'%>" id="pills-profile-year-purchase" data-toggle="pill" href="#pills-year-purchase" role="tab" aria-controls="pills-expense" aria-selected="false"><b>years</b></a>
                  </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                  <div class= "<%=params[:from_tabe]=='pills-days-purchase' ? 'tab-pane fade show active' : 'tab-pane fade show active'%>" id="pills-days-purchase" role="tabpanel" aria-labelledby="pills-home-tab" style="margin:2pc;">
                    <%= render partial: "dashboard/purchase_partial/current_days", locals: {} %>
                  </div>
                  <div class="<%=params[:from_tabe]=='pills-current_month-purchase' ? 'tab-pane fade show active' : 'tab-pane fade '%>" id="pills-current_month-purchase" role="tabpanel" aria-labelledby="pills-profile-tab">
                      <%= render partial: "dashboard/purchase_partial/current_month", locals: {} %>
                  </div>
                  <div class="<%=params[:from_tabe]=='pills-year-purchase' ? 'tab-pane fade show active' : 'tab-pane fade '%>" id="pills-year-purchase" role="tabpanel" aria-labelledby="pills-profile-tab">
                      <%= render partial: "dashboard/purchase_partial/years", locals: {} %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#daily_books_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
  });
</script>


<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#products_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
  });
  $(document).ready(function() {
    setTimeout(function(){
      $(".chosen-select").chosen({
  allow_single_deselect: true,
  width: '100%'
});
    }, 50);
  });
</script>