
<div class="nested-fields font-weight-bold mt-2 card border-radius-1 shadow p-2">
  <div class="row-lg-12 font-weight-bold mt-5">
    <div class="col-lg-2 form-group float-left font-weight-bold">
      <%= f.hidden_field :expense_id %>
      <%= f.hidden_field :id %>
      <%=f.text_field :amount,step: :any,class:'expense', required: true, hide_label: true,placeholder: :Amount,onchange:"expenseUpdate()",onkeyup:"expenseUpdate()"%>
    </div>
    <div class="col-lg-4 form-group float-left"><%= f.select :expense_type_id, options_from_collection_for_select(@expense_types, 'id', 'title', f.object.expense_type_id), {hide_label:true,prompt: "Select the Expense Type"}, required: true,class: "form-control" %></div>
    <div class="col-lg-3 form-group float-left"><%= f.select :account_id , options_from_collection_for_select(@accounts, 'id', 'title', (f.object.account_id.present? ? f.object.account_id : @account)), {prompt: "Select the Account", hide_label: true},required: true,class: "form-control"%></div>
    <div class="col-lg-3 form-group float-left"><%= f.text_area :comment, placeholder:"Enter Comment for Expense Entry", hide_label: true%></div>
    <div class="form-group float-right links"><%= link_to_remove_association "Remove", f , class: "btn btn-danger mr-3" %></div>
  </div>
</div>
<script>
  $(document).ready(function() {
    setTimeout(function(){
      $(".chosen-select").chosen({
  allow_single_deselect: true,
  width: '100%'
});
    }, 50);
    expenseUpdate();
  });
</script>
