<%= bootstrap_form_for(expense) do |f| %>
  <% if expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>
      <ul>
      <% expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="card border-radius-1 shadow p-4">
    <div class="row">
      <div class="col">
         <%= f.date_select :created_at,{}, hide_label: true,class: "form-control" %>
         <%= f.label :comment do %>
        <%= Expense.human_attribute_name :comment %>
        <i class="fas fa-language"></i>
        <% end %>
        <%= f.text_area :comment, placeholder:"Enter Comment" , hide_label: true ,class: 'urdu-font' %>
      </div>

      <div class="col">
        <div class="row">
        </div>
        <div class="row p-5 ml-5">
          <h2 style="font-size: 50px">Total Expense:</h2>
          <%= f.hidden_field :expense%>
          <h2 class="expense_total_bill ml-3" style="font-size: 50px">0.00</h2>
        </div>
      </div>
      <% if params['expense_id'].present? %>
        <%= f.hidden_field :expense_voucher_id, value: params['expense_id'].to_i %>
      <% end %>
    </div>
  </div>

  <%= f.fields_for :expense_entries, class: "mt-2" do |expense_entry| %>
    <%= render 'expenses_fields_new', f: expense_entry %>
  <% end %>
  <div id="new_links">
    <div class="links mt-5">
      <%= link_to_add_association 'Add More', f, :expense_entries, partial: 'expenses_fields_new', class: "btn btn-info" %>
    </div>
  </div>
  <br>
  <div class="clearfix"></div>
    
    <div class="modal-footer">
      <%=f.object.id.nil? ? (f.submit class: "btn btn-success mr-4", style: "float: right")  :  (f.submit class: "btn btn-warning mr-4", style: "float: right")%>
    </div>

<% end %>

<%= javascript_include_tag 'hover', 'data-turbolinks-track': 'reload' %>
