<div id="custom-alert" class="alert alert-danger d-none">
  <span class="custom-alert-text"></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="hidden" id="expenses_list">
  <h1>General Expenses</h1>
  <% if can?(:add, :all) %>
  <%= link_to new_expense_path, class: "btn btn-success" do %>
    <i class="fa fa-plus" aria-hidden="true"></i>
    New Expense
  <% end %>
  <% end %>
  <%= link_to expense_entries_path, class: "btn btn-primary" do %>
   <i class="fa fa-tasks" aria-hidden="true"></i>
   Expense Details
  <% end %>

  <div class="clearfix"></div>
  <%= search_form_for @q, url: expenses_path, class: "admin-controls", method: "get" do |f| %>
  <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-3 form-group float-left">
          <%= f.select :expense_entries_expense_type_id_eq, options_from_collection_for_select(@expense_types, "id", ->(st){"#{st.id} \u{27F6} #{st.title} "},@expense_type),{:include_blank => "Select expense type"},:class=>"form-control chosen-select" %>
        </div>
        <div class="col-lg-3 form-group float-left">
          <%= f.select :expense_entries_account_id_eq, options_from_collection_for_select(@accounts, "id", "title" ,@account),{:include_blank => "Select Account"},:class=>"form-control chosen-select" %>
        </div>
        <div class="col-lg-2 form-group float-left">
          <%= f.search_field :created_at_gteq,value:@start_date, class: 'form-control input-sm datepicker',title: "Select date from",  placeholder: "YYYY-MM-DD" %>
        </div>
        <div class="col-lg-2 form-group float-left">
          <%= f.search_field :created_at_lteq,value:@end_date,class: 'form-control input-sm datepicker' ,title: "Select date to", placeholder: "YYYY-MM-DD"%>
        </div>

        <div class="col-lg-2 form-group float-left">
          <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="col-lg-2 form-group float-left">
          <button class="form-control btn  badge badge-pill badge-danger" name="submit_pdf_a4" title="Download pdf A4 size" type="submit" value="Total Expense PDF A4" formtarget="_blank">PDF A4 &nbsp;<i class="fa fa-file-pdf"></i></button>
        </div>
        <div class="col-lg-2 form-group float-left">
          <button class="form-control btn  badge badge-pill badge-danger" name="submit_pdf_a8" type="submit" title="Download pdf A8 size" value="Total Expense PDF A8" formtarget="_blank">PDF A8 &nbsp;<i class="fa fa-file-pdf"></i></button>
        </div>
        <div class="col-lg-2 form-group float-left">
          <button class="form-control btn btn-info" name="email" type="submit" value="Email"><i class="fas fa-envelope"></i> Email</button>
        </div>
      </div>
  </div>
  <% end %>
<div class='card p-3'>
  <table data-toggle="table" data-search="true">
   <button class='btn btn-outline-danger float-right delete-selected' type='button' style="width:163px"value='Expense' >Delete Selected</button>
    <thead>
      <tr>
         <th><input type="checkbox" id="master" class='select-all-checkbox'></th>
        <th>ID<div class='float-right'><%= sort_link(@q, :id,"", {}, class: 'sorting-button') %></div></th>
        <th>Type Wise<div class='float-right'><%= sort_link(@q, :expense, "", {}, class: 'sorting-button') %></div></th>
        <th>Expense<div class='float-right'><%= sort_link(@q, :expense, "", {}, class: 'sorting-button') %></div></th>
        <th>Paid By</th>
        <th>Comment<div class='float-right'><%= sort_link(@q, :comment, "", {}, class: 'sorting-button') %></div></th>
        <th>Date</th>

        <th class="border_none">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @expenses.each do |expense| %>
        <tr>
         <td><%= check_box_tag 'object_ids[]', expense.id %></td>
          <td><%= expense.id %></td>
          <td>
            <%expense.expense_entries.joins(:expense_type).group(:expense_type).sum(:amount).each do |expense| %>
            <%= expense.first.title %> : <%= expense.last %>
            <br>
            <%end%>
          </td>
          <td><%= expense.expense.to_f.round(2) %></td>
          <td>
            <%=Account.where(id: expense.expense_entries.distinct.pluck(:account_id)).pluck(:title)  %>
            <%=@expense_payment[expense.id]%>
          </td>
          <td class="urdu-font"><%= expense.comment %> <%=expense.expense_entries.distinct.pluck(:comment) %></td>
          <td>
            <%if expense.created_at.strftime("%d%b%y")!=expense.updated_at.strftime("%d%b%y")%>
              <%= expense.created_at.present? ? expense.created_at.strftime("%d%b%y at %H:%M%p") : '' %> | <%= expense.updated_at.present? ? expense.updated_at.strftime("%d%b%y at %H:%M%p") : '' %>
            <%else%>
              <%= expense.created_at.present? ? expense.created_at.strftime("%A,  %d-%b-%y at %H:%M%p") : '' %>
            <%end%>
          </td>
          <td>
            <% if can?(:update, :all) %>
              <%= link_to edit_expense_path(expense) do %>
                <i class="fa fa-edit " aria-hidden="true"></i> |
              <%end %>
            <% end %>
            <% if can?(:delete, :all) %>
              <%= link_to expense, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete' do %>
                <i class="fa fa-trash " aria-hidden="true"></i> |
              <%end %>
            <% end %>
            <% if can?(:view, :all) %>
              <%= link_to expense do %>
                <i class="fa fa-eye " aria-hidden="true"></i>
              <%end %>
            <%end%>
          </td>
        </tr>
      <% end %>
      <tr>
        <td><h5>Total</h5></td>
        <td></td>
        <td><h5><%=@expense_total.to_f.round(2)%></h5></td>
        <td><h5><%=@expense_payment_total%></h5></td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-lg-4 col-sm-4">
      <%= page_entries_info @expenses %>
    </div>
    <div class="col-lg-8 col-sm-8 pagination-left">
      <%= paginate @expenses %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
     var sortingButtons = $('.sorting-button')
    for(var i=0; i<sortingButtons.length; i++){
      $(sortingButtons[i]).html("<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='blue' enable-background='new 0 0 512 512' viewBox='0 0 512 512'><path d='M163.919,494.293c-2.83,0-5.496-1.33-7.196-3.593L45.97,343.348c-2.986-3.974-2.187-9.615,1.787-12.602 c3.974-2.986,9.616-2.187,12.602,1.787l103.557,137.777l103.493-137.775c2.986-3.975,8.627-4.775,12.602-1.791 c3.974,2.985,4.775,8.627,1.79,12.602L171.113,490.698C169.414,492.961,166.749,494.293,163.919,494.293z'/><path d='M163.917 494.293c-4.971 0-9-4.029-9-9V26.192c0-4.971 4.029-9 9-9s9 4.029 9 9v459.101C172.917 490.264 168.888 494.293 163.917 494.293zM459.507 182.622c-2.734 0-5.435-1.241-7.203-3.597L348.78 41.18 245.257 179.025c-2.985 3.975-8.626 4.777-12.601 1.792-3.974-2.984-4.777-8.626-1.792-12.601l110.72-147.43c1.699-2.263 4.365-3.595 7.196-3.595s5.497 1.332 7.196 3.595l110.72 147.43c2.985 3.975 2.183 9.616-1.792 12.601C463.285 182.034 461.388 182.621 459.507 182.622z'/><path d='M348.78,494.293c-4.971,0-9-4.029-9-9V26.192c0-4.971,4.029-9,9-9s9,4.029,9,9v459.101 C357.78,490.264,353.751,494.293,348.78,494.293z'/></svg>")
    }
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#expenses_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
    });
  $(document).ready(function() {
    setTimeout(function(){
      $(".chosen-select").chosen({
  allow_single_deselect: true,
  width: '100%'
});
    }, 50);
  });
</script>
