
<div class="hidden" id="expenses_list">
  <h1>General Expenses</h1>
  <% if can?(:add, :all) %>
  <%= link_to new_expense_path, class: "btn btn-success" do %>
    <i class="fa fa-plus" aria-hidden="true"></i>
    New Expense
  <% end %>
  <% end %>
  <%= link_to expense_entries_path, class: "btn btn-primary" do %>
   <i class="fa fa-tasks" aria-hidden="true"></i>
   Expense Details
  <% end %>

  <div class="clearfix"></div>
  <%= search_form_for @q, url: expenses_path, class: "admin-controls", method: "get" do |f| %>
  <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-3 form-group float-left">
          <%= f.select :expense_entries_expense_type_id_eq, options_from_collection_for_select(@expense_types, "id", ->(st){"#{st.id} \u{27F6} #{st.title} "},@expense_type),{:include_blank => "Select type"},:class=>"form-control chosen-select" %>
        </div>
        <div class="col-lg-3 form-group float-left">
          <%= f.select :expense_entries_account_id_eq, options_from_collection_for_select(@accounts, "id", "title" ,@account),{:include_blank => "Select Account"},:class=>"form-control chosen-select" %>
        </div>
        <div class="col-lg-2 form-group float-left">
          <%= f.search_field :created_at_gteq,value:@start_date, class: 'form-control input-sm datepicker',placeholder: "YYYY-MM-DD" %>
        </div>
        <div class="col-lg-2 form-group float-left">
          <%= f.search_field :created_at_lteq,value:@end_date,class: 'form-control input-sm datepicker' ,placeholder: "YYYY-MM-DD"%>
        </div>

        <div class="col-lg-2 form-group float-left">
          <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="col-lg-3 form-group float-left">
          <button class="form-control btn btn-secondary" name="submit_pdf_a4" type="submit" value="Total Expense PDF A4" formtarget="_blank"><i class="fa fa-print"></i>PDF A4</button>
        </div>
        <div class="col-lg-3 form-group float-left">
          <button class="form-control btn btn-secondary" name="submit_pdf_a8" type="submit" value="Total Expense PDF A8" formtarget="_blank"><i class="fa fa-print"></i>PDF A8 </button>
        </div>
        <div class="col-lg-2 form-group float-left">
          <button class="form-control btn btn-info" name="email" type="submit" value="Email"><i class="fas fa-envelope"></i> Email</button>
        </div>
      </div>
  </div>
  <% end %>

  <table data-toggle="table" data-search="true">
    <thead>
      <tr>
        <th><%= sort_link(@q, :id, 'ID') %></th>
        <th><%= sort_link(@q, :expense, 'Type Wise') %></th>
        <th><%= sort_link(@q, :expense, 'Expense') %></th>
        <th>Paid By</th>
        <th><%= sort_link(@q, :comment, 'Comment') %></th>
        <th>Date</th>

        <th class="border_none">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @expenses.each do |expense| %>
        <tr>
          <td><%= expense.id %></td>
          <td>
            <%expense.expense_entries.joins(:expense_type).group(:expense_type).sum(:amount).each do |expense| %>
            <%= expense.first.title %> : <%= expense.last %>
            <br>
            <%end%>
          </td>
          <td><%= expense.expense.to_f.round(2) %></td>
          <td>
            <%=Account.where(id: expense.expense_entries.distinct.pluck(:account_id)).pluck(:title)  %>
            <%=@expense_payment[expense.id]%>
          </td>
          <td class="urdu-font"><%= expense.comment %> <%=expense.expense_entries.distinct.pluck(:comment) %></td>
          <td>
            <%if expense.created_at.strftime("%d%b%y")!=expense.updated_at.strftime("%d%b%y")%>
              <%= expense.created_at.present? ? expense.created_at.strftime("%d%b%y at %H:%M%p") : '' %> | <%= expense.updated_at.present? ? expense.updated_at.strftime("%d%b%y at %H:%M%p") : '' %>
            <%else%>
              <%= expense.created_at.present? ? expense.created_at.strftime("%A,  %d-%b-%y at %H:%M%p") : '' %>
            <%end%>
          </td>
          <td>
            <% if can?(:update, :all) %>
              <%= link_to edit_expense_path(expense) do %>
                <i class="fa fa-edit " aria-hidden="true"></i> |
              <%end %>
            <% end %>
            <% if can?(:delete, :all) %>
              <%= link_to expense, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete' do %>
                <i class="fa fa-trash " aria-hidden="true"></i> |
              <%end %>
            <% end %>
            <% if can?(:view, :all) %>
              <%= link_to expense do %>
                <i class="fa fa-eye " aria-hidden="true"></i>
              <%end %>
            <%end%>
          </td>
        </tr>
      <% end %>
      <tr>
        <td><h5>Total</h5></td>
        <td></td>
        <td><h5><%=@expense_total.to_f.round(2)%></h5></td>
        <td><h5><%=@expense_payment_total%></h5></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="clearfix"></div>
<div class="row">
  <div class="col-lg-4 col-sm-4">
    <%= page_entries_info @expenses %>
  </div>
  <div class="col-lg-8 col-sm-8 pagination-left">
    <%= paginate @expenses %>
  </div>
</div>

<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#expenses_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
    });
  $(document).ready(function() {
    setTimeout(function(){
      $(".chosen-select").chosen({
  allow_single_deselect: true,
  width: '100%'
});
    }, 50);
  });
</script>
