
<div class="hidden" id="account_list">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <h1>Logs</h1>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <%= search_form_for @q, url: logs_path, class: "admin-controls", method: "get" do |f| %>
        <div class="col-lg-3 form-group float-left">
          <%= f.search_field :created_at_gteq, class: 'form-control input-sm datepicker',placeholder: "YYYY-MM-DD", required: true %>
        </div>
        <div class="col-lg-3 form-group float-left">
          <%= f.search_field :created_at_lteq,class: 'form-control input-sm datepicker' ,placeholder: "YYYY-MM-DD", required: true%>
        </div>
        <div class="col-lg-2 form-group float-left">
          <%= f.select :event_eq, options_for_select(@event, f.object.event_eq), {:include_blank => "Select Event"},:class=>"form-control chosen-select" %>
        </div>
        <div class="col-lg-2 form-group float-left">
          <%= f.select :item_type_eq, options_for_select(@tables, f.object.item_type_eq), {:include_blank => "Select Record Of"},:class=>"form-control chosen-select" %>
        </div>
        <div class="col-lg-2 form-group float-left">
          <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
        </div>
        <div class="col-lg-2 form-group float-left">
        </div>
        <div class="col-lg-2 form-group float-left">
        </div>
        <div class="col-lg-1.5 form-group float-right">
          <button class="form-control btn btn-secondary" name="submit_pdf" type="submit" value="Logs PDF A4" formtarget="_blank"><i class="fa fa-file-pdf"></i></button>
        </div>
      <% end %>
    </div>
  </div>
  <table data-toggle="table" data-search="true">
    <thead>
      <tr>
        <th>Log</th>
        <th>Event</th>
        <th>Who Done it</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @logs.each do |log| %>
        <tr>
          <td class="urdu-font">
            <%= link_to sys_users_path(id:log.item_id) do %>
              <%=log.item_type %>
            <%end%>
          </td>
          <td class="urdu-font"><%=log.event %></td>
          <td class="urdu-font"><%=log&.whodunnit %> <%=@users[log&.whodunnit.to_i] %></td>
          <td class="urdu-font"><%= log.created_at.present? ? log.created_at.strftime("%d%b%y at %I:%M %p") : '' %></td>
          <td class="urdu-font">
            <%= link_to log_path(id:log.id) do %>
              <i class="fa fa-eye " aria-hidden="true"></i>
            <%end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-lg-4 col-sm-4">
    <%= page_entries_info @logs %>
  </div>
  <div class="col-lg-8 col-sm-8 pagination-left">
    <%= paginate @logs %>
  </div>
</div>
<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#account_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
  });
  $(document).ready(function() {
    setTimeout(function(){
      $(".chosen-select").chosen({
  allow_single_deselect: true,
  width: '100%'
});
    }, 50);
  });
</script>
