<%= bootstrap_form_for(sys_user) do |f| %>
  <% if sys_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sys_user.errors.count, "error") %> prohibited this sys_user from being saved:</h2>
      <ul>
        <% sys_user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="bg-white nested-fields">
    <div class="col-lg-12 row">
      <div class="col-lg-3 form-group">
        <%= f.label 'Number' %>
        <%= f.text_field :code, placeholder: "Client Number", hide_label: true %>
      </div>

      <div class="col-lg-4 form-group">
        <%= f.text_field :cnic , placeholder:"Client CNIC"%>
      </div>

      <div class="col-lg-5 form-group">
        <%= f.label :name do %>
              <%= SysUser.human_attribute_name :name %>
              <i class="fas fa-language"></i>
            <% end %>
        <%= f.text_field :name,required:true, placeholder:"Client Name", hide_label: true ,class: 'urdu-font' %>
      </div>
    </div>

    <div class="col-lg-12 row">
      <div class="col-lg-6 form-group">
        <%= f.select :status, SysUser.statuses.map { |key, value| [key.humanize, key] },{include_blank: "Please Select Status"},{class: "form-control"} %>
      </div>

      <div class="col-lg-6 form-group">
        <%= f.select :user_group, SysUser.user_groups.map { |key, value| [key.humanize, key] },{include_blank: "Please Select User Group"},{class: "form-control", required: true} %>
      </div>
    </div>

    <div class="col-lg-12 row">
      <div class="col-lg-6 form-group">
        <%= f.label 'Plot Size' %>
        <%= f.text_field :occupation, placeholder: "Plot Size", hide_label: true %>
      </div>

      <div class="col-lg-6 form-group">
        <%= f.file_field :profile_image %>
      </div>
    </div>


    <div class="col-lg-12 row">
      <div class="col-lg-6 form-group">
        <%= f.label 'Source of Query' %>
        <%= f.text_area :ntn, placeholder: "Source of Query", hide_label: true %>
      </div>

      <div class="col-lg-6 form-group">
        <%= f.label 'Query' %>
        <%= f.text_area :gst, placeholder: "Query/ Requirements", hide_label: true %>
      </div>
    </div>

    <div class="col-lg-12 row">
      <div class="col-lg-6 form-group float-left">
        <%= f.select :user_type_id, options_from_collection_for_select(@user_types, 'id', 'title', f.object.user_type_id.present? ? f.object.user_type_id : @user_types.first.id ),{include_blank: "Please Select User Type"}, required: true, class: 'urdu-font form-control'%>
      </div>
    </div>

  <div>
    <h4 class="card-header mb-4">
        Contact Details
    </h4>
    <%= f.fields_for :contact do |af| %>
        <%= render 'contact', af: af %>
    <% end %>
  </div>
  <div  class="col-lg-12 mt-2 row">
    <h4 class="card-header col-lg-12 mb-4">
        Notes
    </h4>
  </div>
  <div  class="col-lg-12 row">
    <%= f.fields_for :notes do |note| %>
    <%= render 'notes_new', f: note %>
    <% end %>
  </div>
  <div id="new_links">
    <div class="links">
      <%= link_to_add_association 'Add More', f, :notes, partial: 'notes_new', class: "btn btn-info float-right mr-4 mt-2" %>
    </div>
  </div>
  <div class="clearfix"></div>
  <div  class="col-lg-12 mt-4 row">
    <h4 class="card-header col-lg-12 mb-4">
        Follow Up
    </h4>
  </div>
  <div  class="col-lg-12 row">
    <%= f.fields_for :follow_ups do |follow_up| %>
      <%= render 'follow_ups_new', f: follow_up %>
    <% end %>
  </div>
  <div id="new_links">
    <div class="links">
      <%= link_to_add_association 'Add More', f, :follow_ups, partial: 'follow_ups_new', class: "btn btn-info float-right mr-4 mt-2" %>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="modal-footer mt-2">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    <%=f.object.id.nil? ? (f.submit class: "btn btn-success mr-2", style: "float: right")  :  (f.submit class: "btn btn-warning mr-2", style: "float: right")%>
  </div>
<% end %>
