<div class="row">
  <div class="main-content-header">
    <h1 class="ml-2">Customer Management System</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="<%= customer_management_systems_path %>">CMS</a>
      </li>
      </ol>
  </div>
</div>
<div class="row">
  <div class= "col-lg-6">
    <ul class="nav nav-pills mb-3" role="tablist">
      <li class="nav-item">
        <a class="nav-link tab-label active" data-toggle="tab" href="#note" role="tab">Note</a>
      </li>

      <li class="nav-item">
        <a class="nav-link tab-label" data-toggle="tab" href="#follow-up" role="tab">Follow Up</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active card shadow border-0" id="note" role="tabpanel">
        <% if can?(:add, :all) %>
          <div id="new_city" class= "d-flex">
            <%= link_to new_note_path(sys_user_id: @sys_user.id), remote: true,class: "btn btn-success mt-3 mr-3 ml-auto" do %>
              <i class="fa fa-plus" aria-hidden="false"></i>
              Create Note
            <% end %>
          </div>
        <% end %>
        <p>
          <div class="col-lg-12">
            <%  @sys_user.notes.order("id desc").each do |note|%>
              <div class = "tab-pane card border-radius-1 mb-3 p-2">
                <p>Note by <%= note&.staff&.name %></p>
                <div class= 'row'>
                  <span class='col-8'><%= note.message %></span>
                  <p class='col-4 text-right'><%= note.created_at %></p><br/>
                </div>
                <p class= "text-right">by <%= note&.user&.name %></p>

              </div>
            <% end %>
          </div>
        </p>
      </div>

      <div class="tab-pane card shadow border-radius-1" id="follow-up" role="tabpanel">
        <% if can?(:add, :all) %>
          <div id="new_city" class= "d-flex">
            <%= link_to new_follow_up_path(sys_user_id: @sys_user.id), remote: true,class: "btn btn-success mt-3 mr-3 ml-auto" do %>
              <i class="fa fa-plus" aria-hidden="false"></i>
              Create Follow Up
            <% end %>
          </div>
        <% end %>
        <p>
          <div class="col-lg-12">
            <% @sys_user.follow_ups.order("id desc").each do |follow_up|%>
              <div class = "tab-pane card p-1 mb-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><span><b class="mr-2">Reminder Type:</b> <%= follow_up.reminder_type %></span><br/></li>
                  <li class="list-group-item"><span><b class="mr-2">Task Type:</b> <%= follow_up.task_type %></span><br/></li>
                  <li class="list-group-item"><span><b class="mr-2"> Time:</b> <%= follow_up&.date %></span><br/></li>
                  <li class="list-group-item"> <span><b class="mr-2">Priority:</b> <%= follow_up.priority %></span><br/></li>
                  <li class="list-group-item"> <span><b class="mr-2">Comment:</b> <%= follow_up.comment %></span><br/></li>
                  <li class="list-group-item"> <span><b class="mr-2">Assigned to:</b> <%= follow_up&.staff&.name %></span><br/></li>
                  <li class="list-group-item"> <p class= "text-right mb-0">by <%= follow_up&.user&.name %></p></li>
                </ul>
              </div>
            <% end %>

          </div>
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-5 ml-3 mt-5">
    <div class="card mb-4 shadow border-0">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Client Name</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0"><%= @sys_user.cms_data.try(:[], 'client_name')%></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Client Number</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0"><%= @sys_user.cms_data.try(:[], 'client_number')%></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Client Status</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0"><%= @sys_user.cms_data.try(:[], 'custom_status')%></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Client Type</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0"><%=@sys_user.cms_data.try(:[], 'client_type')%></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">City</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0"><%= @sys_user&.contact&.city&.title %></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Country</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0"><%= @sys_user&.contact&.country&.title %></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Plot Size</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0"><%= @sys_user.cms_data.try(:[], 'plot_size')%></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Category</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0"><%= @sys_user.cms_data.try(:[], 'category')%></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Source</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0"><%= @sys_user.cms_data.try(:[], 'source')%></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Short Details</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0"><%= @sys_user.cms_data.try(:[], 'short_details')%></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <p class="mb-0">Deal Status</p>
          </div>
          <div class="col-sm-8">
            <p class="text-muted mb-0"><%= @sys_user.cms_data.try(:[], 'deal_status')%></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="show-data"></div>