<p id="notice"><%= notice %></p>

<div class="card shadow m-2 p-4">
  <h1>Remark Details</h1>
</div>
<div class="card p-2 m-2">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <span class="float-left"><strong>User:</strong></span>
      <span class="float-right"><%= @remark.user %></span>
    </li>
    <li class="list-group-item">
      <span class="float-left"><strong>Body:</strong></span>
      <span class="float-right"><%= @remark.body %></span>
    </li>
    <li class="list-group-item">
      <span class="float-left"><strong>Message:</strong></span>
      <span class="float-right"><%= @remark.message %></span>
    </li>
    <li class="list-group-item">
      <span class="float-left"><strong>Comment:</strong></span>
      <span class="float-right"><%= @remark.comment %></span>
    </li>
    <li class="list-group-item">
      <span class="float-left"><strong>Remark Type:</strong></span>
      <span class="float-right"><%= @remark.remark_type %></span>
    </li>
    <li class="list-group-item">
      <span class="float-left"><strong>Remarkable:</strong></span>
      <span class="float-right"><%= @remark.remarkable_id %></span>
    </li>
  </ul>
</div>
<%= link_to 'Cancel', remarks_path, class: 'btn btn-light float-right btn-outline-secondary m-2' %>