
<div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary"><h1>Product Details</h1></h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardExample" style="">
      <div class="card-body">
      <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item mb-2"><span class="float-left h5">ID:</span><span class="float-right"><%= @product.id %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Title:</span><span class="float-right"><%= @product.title %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Item Type:</span><span class="float-right"><%= @product.item_type.title %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Code:</span><span class="float-right"><%= @product.code %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Product Category:</span><span class="float-right"><%= @product.product_category.title rescue 'nil'%></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Product Sub-Category:</span><span class="float-right"><%= @product.product_sub_category.title rescue 'nil' %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Acquire Type:</span><span class="float-right"><%= @product.acquire_type %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Purchase Factor:</span><span class="float-right"><%= @product.purchase_factor %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Cost:</span><span class="float-right"><%= @product.cost %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Sale:</span><span class="float-right"><%= @product.sale %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">MIN:</span><span class="float-right"><%= @product.minimum %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">MAX:</span><span class="float-right"></span><%= @product.maximum %></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Currency:</span><span class="float-right"><%= @product.currency %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Vat:</span><span class="float-right"><%= @product.vat %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Gst:</span><span class="float-right"><%= @product.gst %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Hst:</span><span class="float-right"><%= @product.hst %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Pst:</span><span class="float-right"><%= @product.pst %></span></li>
            <li class="list-group-item mb-2"><span class="float-left h5">Qst:</span><span class="float-right"><%= @product.qst %></span></li>
          </ul>
        </div>
        <div class="row">
          <div class="col-lg-1 float-left">
            <%= link_to products_path do %>
            <i class="fa fa-arrow-left " aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
        <img width="150px" height="115px" class="figure" style=""src=<%="data:image/svg+xml;base64,"+@str%> ></img>

      </div>
    </div>
  </div>
