
<div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary"><h1>Product Details</h1></h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardExample" style="">
      <div class="card-body">

<div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3 class="row no-gutters align-items-center">Id:<h5><%= @product.id %></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Title:<h5><%= @product.title %></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Item type:<h5><%= @product.item_type.title %></h5> </h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Code:<h5><%= @product.code %></h5></h3>
          </div>
        </div>
</div>

<div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Product category: <h5><%= @product.product_category.title rescue 'nil'%></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Product sub-category:<h5><%= @product.product_sub_category.title rescue 'nil' %></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Acquire Type:<h5><%= @product.acquire_type %></h5> </h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Purchase Factor:<h5><%= @product.purchase_factor %></h5></h3>
          </div>
        </div>
</div>

<div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Cost:<h5><%= @product.cost %></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Sale:<h5><%= @product.sale %></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>MIN:<h5><%= @product.minimum %></h5> </h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>MAX:<h5><%= @product.maximum %></h5></h3>
          </div>
        </div>
</div>

<div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Currency:<h5><%= @product.currency %></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Code:<h5><%= @product.code %></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Sale:<h5><%= @product.sale %></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Vat:<h5><%= @product.vat %></h5></h3>
          </div>
        </div>
</div>

<div class="row ">
        <div class="col-lg-12 col-sm-12">
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Gst:<h5><%= @product.gst %></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Hst:<h5><%= @product.hst %></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Pst:<h5><%= @product.pst %></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Qst:<h5><%= @product.qst %></h5></h3>
          </div>
        </div>
</div>
        <div class="row">
          <div class="col-lg-1 float-left">
            <%= link_to products_path do %>
            <i class="fa fa-arrow-left " aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
        <img width="150px" height="115px" class="figure" style=""src=<%="data:image/svg+xml;base64,"+@str%> ></img>

      </div>
    </div>
  </div>
