<p id="notice"><%= notice %></p>

<p>
  <strong>Production block type:</strong>
  <%= @production_block.production_block_type %>
</p>

<p>
  <strong>Title:</strong>
  <%= @production_block.title %>
</p>

<p>
  <strong>Bricks quantity:</strong>
  <%= @production_block.bricks_quantity %>
</p>

<p>
  <strong>Tile quantity:</strong>
  <%= @production_block.tile_quantity %>
</p>

<p>
  <strong>Date:</strong>
  <%= @production_block.date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @production_block.status %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @production_block.comment %>
</p>

<%= link_to 'Back', production_blocks_path %>
