<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardExample" class="d-block card-header py-3 bg-info" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
    <h6 class="m-0 font-weight-bold text-primary text-center"><h3>Attendance Sheet for <%= @attendance.date&.strftime('%A, %d %B %Y')%></h3></h6>
  </a>
  <table>
    <tr class="table-warning p-4 h5">
      <th class="text-center">Staff</th>
      <th class="text-center">Checkin</th>
      <th class="text-center">Checkout</th>
      <th class="text-center">Total Time</th>
      <th class="text-center">Reason</th>
    </tr>
    <tbody>
      <% @attendance.daily_attendances.each do |daily| %>
        <tr>
          <td class="text-center"><%=daily.staff&.name%></td>
          <td class="text-center"><%=daily.check_in&.strftime('%I:%M %p')%></td>
          <td class="text-center"><%=daily.check_out&.strftime('%I:%M %p')%></td>
          <td class="text-center"><%=daily.total_time%></td>
          <td class="text-center"><%=daily.comment%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>