<%= bootstrap_form_with(model: @sale_deal, method: method, url: url, local: true) do |f| %>
  <% if @sale_deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale_deal.errors.count, "error") %> prohibited this Sale from being saved:</h2>
      <ul>
        <% @sale_deal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class= 'row'>
    <%= f.hidden_field :transaction_type, value: 'NewSaleDeal' %>
    <%= f.hidden_field :user_name, value: current_user.id %>
    <%= f.hidden_field :status, value: 'UnClear' if params[:action] == 'new'%>
    <div class="col-lg-6 form-group float-left">
      <%= f.select :account_id , options_from_collection_for_select(@accounts, 'id', 'title', (f.object&.account_id.present? ? f.object&.account_id : @accounts.find_by(default_account: true)&.id)),{prompt: 'Select Account'},class: "form-control", required: true%>
    </div>
  </div>
  <div class= 'row'>
    <div class="col-lg-6 form-group">
      <%= f.text_field :destination,  placeholder: "Purchased From", label: "Purchased From" %>
    </div>
    <div class="col-lg-6 form-group">
      <%= f.text_field :l_c,  placeholder: "Deal Share", label: "Deal Share" %>
    </div>
  </div>
  <%  if params[:action] == 'new' %>
    <%= f.fields_for :sys_users do |sys_user| %>
      <%= render 'sys_users_fields_new', f: sys_user %>
    <% end %>
  <% end %>
  <%= f.fields_for :purchase_sale_items do |purchase_sale_item| %>
    <%= render 'purchase_sale_items_fields_new', f: purchase_sale_item %>
  <% end %>
  <div class= 'row'>
    <div class="col-lg-6 form-group">
      <%= f.select :staff_id, options_from_collection_for_select(@staffs, 'id', 'name', f.object&.staff_id), {label: "Sale Executive",prompt: "Select Sale Executive"}%>
    </div>
    <div class="col-lg-6 form-group">
      <%= f.number_field :carriage, placeholder: "Commission", label: "Commission"%>
    </div>
  </div>
  <div class= 'row'>
    <div class="col-lg-6 form-group">
      <%= f.number_field :total_bill,  placeholder: "Total Amount", label: "Total Amount", value: f.object&.total_bill || 0, class: "text-field", id: "total"%>
    </div>
    <div class="col-lg-6 form-group">
      <%= f.number_field :amount,  placeholder: "Received Amount", label: "Received Amount",  value: f.object&.amount || 0, class: "text-field", id: "received" %>
    </div>
  </div>
  <div class= 'row'>
    <div class="col-lg-6 form-group">
      <%= f.number_field :remaining_balance,  placeholder: "Balanced Amount", label: "Balanced Amount", class: "text-field", id: "balance", readonly: true %>
    </div>
    <div class="col-lg-6 form-group">
      <%= f.text_area :comment,  placeholder: "External Remarks", label: "External Remarks" %>
    </div>
  </div>
  <!-- follow _ups -->
  <div class= 'row'>
    <div  class="col-lg-12 mt-4 row">
      <h4 class="card-header col-lg-12 mb-4">
          Follow Up
      </h4>
    </div>
    <div  class="col-lg-12 row">
      <%= f.fields_for :follow_ups do |follow_up| %>
        <%= render 'crms/follow_ups_new', f: follow_up %>
      <% end %>
    </div>
    <div id="new_links" class='row col-12'>
      <div class="links ml-auto">
        <%= link_to_add_association 'Add More', f, :follow_ups, partial: 'crms/follow_ups_new', class: "btn btn-info mb-2" %>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="modal-footer mt-2">
    <%= link_to sale_deals_path(q: {transaction_type_eq: 9}) do %>
      <span class="link-text btn btn-danger">Close</span>
    <% end %>
    <%=f.object.id.nil? ? (f.submit 'Create sale deal', class: "btn btn-success mr-2", style: "float: right")  :  (f.submit 'Update sale Deal', class: "btn btn-warning mr-2", style: "float: right")%>
  </div>
<% end %>

