<%= bootstrap_form_with(model: @sale_deal, method: method, url: url, local: true, class: 'sale_deals_form', disable_with: false) do |f| %>
  <%= f.hidden_field :transaction_type, value: params[:type] %>
  <%= f.hidden_field :user_name, value: current_user.id %>
  <%= f.hidden_field :account_id, value: Account.first.id %>
  <%= f.hidden_field :status, value: 'UnClear' if params[:action] == 'new'%>
  <%= f.fields_for :sys_users do |sys_user| %>
    <%= render 'sys_users_fields_new', f: sys_user %>
  <% end %>
  <div class= 'row'>
    <div class="col-lg-6 form-group">
      <%= f.text_field :destination,  placeholder: "Enter Client ID Card #", label: "Client ID Card #" %>
    </div>
    <div class="col-lg-6 form-group">
      <%= f.select :l_c, options_for_select(@project_name, f.object.l_c), {:include_blank => "Select Project Name", label: 'Project Name'}, class: "form-control chosen-select disable-sys-users" %>
    </div>
    <div class="col-lg-6 form-group">
      <%= f.text_field :bill_no,  placeholder: "Enter Plot Size", label: "Plot Size" %>
    </div>
    <div class="col-lg-6 form-group">
      <%= f.text_field :g_d,  placeholder: "File / Plot / Villa", label: "Category" %>
    </div>
    <div class="col-lg-6 form-group">
      <%= f.text_field :g_d_type,  placeholder: "Res / Com", label: "Plot Type" %>
    </div>
    <div class="col-lg-6 form-group">
      <%= f.text_field :job_no,  placeholder: "Enter MS #", label: "MS #", class: 'ms_no' %>
    </div>

    <div class="col-lg-6 form-group">
      <%= f.number_field :total_bill,  placeholder: "Enter Booking Price", label: "Booking Price", value: f.object&.total_bill || 0, class: "text-field", id: "total"%>
    </div>
    <div class="col-lg-6 form-group">
      <%= f.number_field :carriage, placeholder: "Enter Rebat/Profit", label: "Rebat/Profit"%>
    </div>
    <div class="col-lg-6 form-group">
      <%= f.number_field :amount,  placeholder: "Received Amount", label: "Received Amount",  value: f.object&.amount || 0, class: "text-field", id: "received" %>
    </div>
    <div class="col-lg-6 form-group">
      <%= f.number_field :remaining_balance,  placeholder: "Remaining Balance", label: "Remaining Balance", class: "text-field", id: "balance", readonly: true %>
    </div>
    <div class="col-lg-8 form-group">
      <%= f.text_area :comment,  placeholder: "External Remarks", label: "External Remarks" %>
    </div>

    <div class="col-lg-6 form-group float-left">
      <%= f.select :payment_method, options_for_select(@stamps.map{ |key, value| [value , key]}, f.object.payment_method),{:include_blank => "Select Stamp", label: 'Stamp'}, class: "form-control" %>
    </div>

    <div class="col-lg-8 form-group">
      <%= f.text_area :payment_detail,  placeholder: "Internal Remarks", label: "Internal Remarks" %>
    </div>

    <div class="col-lg-6 form-group">
      <%= f.select :staff_id, options_from_collection_for_select(@staffs, 'id', 'name', f.object&.staff_id), {label: "Select Agent Name",prompt: "Select Agent Name"}, class: 'chosen-select form-control'%>
    </div>
  </div>
  <span class='id-span d-none'><%= params[:id] %></span>
  <div class="clearfix"></div>
  <div class="modal-footer mt-2">
    <%= link_to 'Close', sale_deals_path(q: {transaction_type_eq: 8}), class: 'link-text btn btn-danger' %>
    <%=f.object.id.nil? ? (f.submit 'Create sale deal', class: "btn btn-success mr-2 submit-btn", style: "float: right")  :  (f.submit 'Update sale Deal', class: "btn btn-warning mr-2 submit-btn", style: "float: right")%>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $('.sale_deals_form').submit(function(event) {
      event.preventDefault();

      var msNo = $('.ms_no').val();
      var id = $('.id-span').text();

      $.ajax({
        url: '/sale_deals/check_ms_no',
        type: 'POST',
        dataType: 'json',
        data: { ms_no: msNo, id: id },
        success: function(response) {
          if (response.status == 'exists') {
            if (confirm('MS number already exists. Do you want to continue with the submission?')) {
              $('.sale_deals_form').unbind('submit').submit();
            }
            else{
              const submitButton = document.querySelector('.submit-btn');
              submitButton.disabled = false;
            }
          } else {
            $('.sale_deals_form').unbind('submit').submit();
          }
        }
      });

    });
  });
</script>
