<tr>
  <td><%= sale_deal&.purchase_sale_items&.first&.size_13 %></td>
	<td>
		<%= @all_agents.to_h.invert[sale_deal&.sys_user&.credit_status].to_s%>
	</td>
	<td><%= sale_deal&.sys_user&.cms_data&.try(:[], 'project_name')&.titleize %></td>
  <td><%= sale_deal&.sys_user&.cms_data&.try(:[], 'client_type')&.titleize %></td>
	<td><%= sale_deal&.purchase_sale_items&.first&.size_10 %></td>
  <td><%= sale_deal.sys_user.name %></td>
  <td>
	<div class="icon-container-1">
      <div class="my-icon-1 my-view-1">
        <div class="my-tooltip-1">
          <div class="icon-container">
						<% if can?(:update, :all) %>
            	<div class="my-icon my-view">
            	  <div class="my-tooltip">
            	    Edit
            	  </div>
            	    <%= link_to edit_sale_deal_path(sale_deal), class:"icon-div" do %>
            	      <i class="fa fa-edit mt-2" aria-hidden="true"></i>
            	    <%end %>
            	</div>
						<% end %>
						<% if can?(:delete, :all) %>
            	<div class="my-icon my-view">
            	  <div class="my-tooltip">
            	    Delete
            	  </div>
            	    <%= link_to sale_deal, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete icon-div' do %>
            	      <i class="fa fa-trash mt-2" aria-hidden="true"></i>
            	    <%end %>
            	</div>
						<% end %>
						<% if can?(:view, :all) %>
            	<div class="my-icon my-view">
            	  <div class="my-tooltip">
            	    Show
            	  </div>
            	    <%= link_to sale_deal_path(sale_deal), class:"icon-div" do %>
            	      <i class="fa fa-eye mt-2" aria-hidden="true"></i>
            	    <%end %>
            	</div>
						<%end%>
          </div>
        </div>
        <span class="icon-div-1">
              <i class="fa fa-ellipsis-v mt-2" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </td>
</tr>

<script>
  FontAwesome.dom.i2svg();
</script>

 