<div class="row m-2">
  <div class="col-xl-3 col-sm-6 col-12 mb-2">
    <%= link_to sale_deals_path('q[purchase_sale_items_size_7_eq]': 'Token Payment') do %> 
      <div class="card shadow">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="fa fa-coins fa-3x logo-back float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3><%= @payment_status_count['Token Payment'] || 0 %></h3>
                <span>Token Payments</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-xl-3 col-sm-6 col-12 mb-2">
    <%= link_to sale_deals_path('q[purchase_sale_items_size_7_eq]': 'Advance Payment') do %>
      <div class="card shadow">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="fa fa-money-check-alt logo-back fa-3x float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3><%=  @payment_status_count['Advance Payment'] || 0 %></h3>
                <span>Advance Payments</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-xl-3 col-sm-6 col-12 mb-2">
    <%= link_to sale_deals_path('q[purchase_sale_items_size_7_eq]': 'Full Payment') do %>
      <div class="card shadow">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="fa fa-money-bill-alt logo-back fa-3x float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3><%= @payment_status_count['Full Payment'] || 0 %></h3>
                <span>Full Payments</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-xl-3 col-sm-6 col-12 mb-2">
    <%= link_to sale_deals_path('q[purchase_sale_items_size_4_eq]': 'Fresh Booking') do %>
      <div class="card shadow">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="fa fa-receipt logo-back fa-3x float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3><%= @deal_count['Fresh Booking'] || 0 %></h3>
                <span>Fresh Bookings</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-xl-3 col-sm-6">
    <%= link_to sale_deals_path('q[purchase_sale_items_size_4_eq]': 'Seller Free') do %>
      <div class="card shadow">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="fa fa-receipt logo-back fa-3x float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3><%= @deal_count['Seller Free'] || 0 %></h3>
                <span>Seller Free</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-xl-3 col-sm-6">
    <%= link_to sale_deals_path('q[purchase_sale_items_status_in]': [0, 3]) do %>
      <div class="card shadow">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="fa fa-user-tie logo-back fa-3x float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3><%= @seller_stamps_count.to_i + @both_count.to_i %></h3>
                <span>Seller Stamp</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-xl-3 col-sm-6">
    <%= link_to sale_deals_path('q[purchase_sale_items_status_in]': [1, 3]) do %>
      <div class="card shadow">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="fa fa-user logo-back fa-3x float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3><%= @buyer_stamps_count.to_i + @both_count.to_i %></h3>
                <span>Buyer Stamp</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-xl-3 col-sm-6">
    <%= link_to sale_deals_path('q[purchase_sale_items_status_in]': [2]) do %>
      <div class="card shadow">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="fa fa-ban logo-back fa-3x float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3><%= @no_stamps_count %></h3>
                <span>No Stamp</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>