<% @date = Date.today  %>
<% @time = DateTime.now %>
<% @time = Time.zone.now %>
<html>
  <head>
    <style>
      .border-bottom{
        border-bottom: double 4px;
      }
      .text-center{
        text-align: center;
      }
    </style>
  </head>
  <body>
    <p style="border-bottom: double 4px;  margin: 0;"></p>
    <h1 class="text-center"><%= data.first['type'] == 'NewSaleDeal' ? 'Fresh Sale Deals' : 'Re Sale Deals'%> </h1>
    <p style="border-bottom: double 4px;  margin: 0;"></p>
    <p class="text-center" style="margin-top: 30px;">Report by: <%=current_user.name%></p>
    <div style="margin-bottom: 30px">
      <table>
        <th></th>
        <th></th>
        <tr>
          <td style="width:67vw;">DateTime: <span><%=Time.zone.now%></span> </td>
        </tr>
        <tr>
          <td>Platform: POS</td>
        </tr>
      </table>
    </div>
    <div>
      <table>
        <thead class="lite-gray">
          <th class="text-center"></th>
          <th class="text-center">Deal Date</th>
          <th class="text-center">Client Name</th>
          <th class="text-center">Client Number</th>
          <th class="text-center">Type of Plot</th>
          <th class="text-center">Plot Size</th>
          <th class="text-center">Project Name</th>
          <th class="text-center">MS No</th>
          <th class="text-center">Form No</th>
          <th class="text-center">Purchased From</th>
          <th class="text-center">Deal Share</th>
          <th class="text-center">Booking Type</th>
        </thead>
        <tbody>
          <% data.each_with_index do |s, index| %>
            <tr>
              <th class="text-center"><%= index + 1 %></th>
              <td class="text-center"><%= s['deal_date'] %></td>
              <td class="text-center"><%= s['name'] %></td>
              <td class="text-center"><%= s['contact'] %></td>
              <td class="text-center"><%= s['plot_type'] %></td>
              <td class="text-center"><%= s['plot_size'] %></td>
              <td class="text-center"><%= s['project'] %></td>
              <td class="text-center"><%= s['ms'] %></td>
              <td class="text-center"><%= s['form_no'] %></td>
              <td class="text-center"><%= s['purchase_from'] %></td>
              <td class="text-center"><%= s['share'] %></td>
              <td class="text-center"><%= s['type'] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
</html>
