<% @date = Date.today  %>
<% @time = DateTime.now %>
<% @time = Time.zone.now %>
<html>
  <head>
    <style>
      .border-bottom{
        border-bottom: double 4px;
      }
      .text-center{
        text-align: center;
      }
    </style>
  </head>
  <body>
    <p style="border-bottom: double 4px;  margin: 0;"></p>
    <h1 class="text-center"><%= data.first['type'] == 'NewSaleDeal' ? 'Fresh Sale Deals' : 'Re Sale Deals'%> </h1>
    <p style="border-bottom: double 4px;  margin: 0;"></p>
    <p class="text-center" style="margin-top: 30px;">Report by: <%=current_user.name%></p>
    <div style="margin-bottom: 30px">
      <table>
        <th></th>
        <th></th>
        <tr>
          <td style="width:67vw;">DateTime: <span><%=Time.zone.now%></span> </td>
        </tr>
        <tr>
          <td>Platform: POS</td>
        </tr>
      </table>
    </div>
    <div>
      <% if params.dig(:q, :transaction_type_eq).eql?(9)%>
        <%= render partial: 'index_fresh_resale'%>
      <% else %>
        <%= render partial: 'index_resale'%>
      <% end %>
    </div>
  </body>
</html>
