<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
    <h6 class="m-0 font-weight-bold text-primary"><h1>Sale Deal</h1></h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse show" id="collapseCardExample" style="">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Agent Name:<h5 class='urdu-font'> <%= @all_agents.to_h.invert[@sale_deal&.user_name.to_i].to_s %></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Name:<h5 class='urdu-font'><%= @sale_deal&.sys_user&.name %></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Customer Contact:<h5><%= @sale_deal&.sys_user&.occupation %></h5> </h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Transaction Type:<h5 class='urdu-font'> <%= @sale_deal&.purchase_sale_items.first.size_12 %></h5></h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Project Name:<h5 class='urdu-font'><%= @sale_deal&.sys_user&.cms_data&.try(:[], 'project_name')&.titleize %></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Form No:<h5><%= @sale_deal&.purchase_sale_items.first.size_11  %></h5> </h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>MS No:<h5 class='urdu-font'> <%= @sale_deal&.purchase_sale_items.first.size_2 %></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Plot Size:<h5><%= @sale_deal&.sys_user&.ntn %></h5></h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Type of Plot:<h5 class='urdu-font'> <%= @sale_deal&.sys_user&.cms_data&.try(:[], 'category')&.titleize %></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Plot Quantity:<h5 class='urdu-font'><%= @sale_deal&.purchase_sale_items.first.size_10 %></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Plot Category:<h5><%= @sale_deal&.purchase_sale_items.first.size_9  %></h5> </h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Price per Plot:<h5><%= @sale_deal&.purchase_sale_items.first.size_8 %></h5></h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Payment Type:<h5><%= @sale_deal&.purchase_sale_items.first.size_7 %></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Deal Date:<h5 class='urdu-font'> <%= @sale_deal&.purchase_sale_items&.first&.expiry_date&.strftime('%d-%m-%Y') %></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Down Payment:<h5 class='urdu-font'><%= @sale_deal&.purchase_sale_items.first.size_6 %></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Profit/Loss:<h5><%= @sale_deal&.purchase_sale_items.first.size_5 %></h5> </h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Received Amount:<h5 class='urdu-font'> <%= @sale_deal&.amount%></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Balance Amount:<h5 class='urdu-font'><%= @sale_deal&.remaining_balance %></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Total Amount:<h5><%= @sale_deal&.total_bill %></h5> </h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Trx No:<h5><%= @sale_deal&.purchase_sale_items.first.size_1 %></h5></h3>
          </div>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-lg-1 float-left">
          <%= link_to sale_deals_path do %>
          <i class="fa fa-arrow-left " aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
