<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
    <h6 class="m-0 font-weight-bold text-primary"><h1>Sale Deal</h1></h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse show" id="collapseCardExample" style="">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3 card mb-4 py-3 border-left-primary shadow">
          <h3>Client Name:<h5 class='urdu-font'> <%= @sale_deal.sys_user&.name %></h5></h3>
        </div>
        <div class="col-lg-3 card mb-4 py-3 border-left-primary shadow">
          <h3>Client Number:<h5 class='urdu-font'><%= @sale_deal.sys_user&.occupation %></h5></h3>
        </div>
        <div class="col-lg-3 card mb-4 py-3 border-left-primary shadow">
          <h3>Client ID Card#:<h5><%= @sale_deal.destination %></h5> </h3>
        </div>
        <div class="col-lg-3 card mb-4 py-3 border-left-primary shadow">
          <h3>Project Name:<h5 class='urdu-font'> <%= @sale_deal.l_c&.titleize %></h5></h3>
        </div>

        <div class="col-lg-3 card mb-4 py-3 border-left-primary shadow">
          <h3>Plot Size:<h5 class='urdu-font'> <%= @sale_deal.bill_no %></h5></h3>
        </div>
        <div class="col-lg-3 card mb-4 py-3 border-left-primary shadow">
          <h3>Category:<h5 class='urdu-font'> <%= @sale_deal.g_d %></h5></h3>
        </div>
        <div class="col-lg-3 card mb-4 py-3 border-left-primary shadow">
          <h3>Plot Type:<h5 class='urdu-font'> <%= @sale_deal.g_d_type %></h5></h3>
        </div>
        <div class="col-lg-3 card mb-4 py-3 border-left-primary shadow">
          <h3>Form #:<h5 class='urdu-font'> <%= @sale_deal.dispatched_to %></h5></h3>
        </div>
        <div class="col-lg-3 card mb-4 py-3 border-left-primary shadow">
          <h3>Booking Price:<h5 class='urdu-font'> <%= @sale_deal.total_bill %></h5></h3>
        </div>
        <div class="col-lg-3 card mb-4 py-3 border-left-primary shadow">
          <h3>Rebate/Profit:<h5 class='urdu-font'> <%= @sale_deal.carriage %></h5></h3>
        </div>
        <div class="col-lg-3 card mb-4 py-3 border-left-primary shadow">
          <h3>Recieved Amount:<h5 class='urdu-font'> <%= @sale_deal.amount %></h5></h3>
        </div>
        <div class="col-lg-3 card mb-4 py-3 border-left-primary shadow">
          <h3>Remaining Balance:<h5 class='urdu-font'> <%= @sale_deal.remaining_balance %></h5></h3>
        </div>
        <div class="col-lg-3 card mb-4 py-3 border-left-primary shadow">
          <h3>MS #:<h5 class='urdu-font'> <%= @sale_deal.job_no %></h5></h3>
        </div>

        <div class="col-lg-3 card mb-4 py-3 border-left-primary shadow">
          <h3>Allotment Letter:<h5 class='urdu-font'> <%= @sale_deal.reference_no %></h5></h3>
        </div>
        <div class="col-lg-3 card mb-4 py-3 border-left-primary shadow">
          <h3>Agent Name:<h5 class='urdu-font'> <%= @sale_deal.staff&.name %></h5></h3>
        </div>
        <div class="col-lg-3 card mb-4 py-3 border-left-primary shadow">
          <h3>Internal Remarks:<h5 class='urdu-font'> <%= @sale_deal.payment_detail %></h5></h3>
        </div>
        <div class="col-lg-3 card mb-4 py-3 border-left-primary shadow">
          <h3>External Remarks:<h5 class='urdu-font'> <%= @sale_deal.comment %></h5></h3>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-lg-1 float-left">
        <%if @sale_deal.transaction_type.eql?('NewSaleDeal') %>
          <%= link_to sale_deals_path(q: {transaction_type_eq: '9'}) do %>
            <i class="fa fa-arrow-left " aria-hidden="true"></i>
          <% end %>
        <% else %>
          <%= link_to sale_deals_path(q: {transaction_type_eq: '8'}) do %>
            <i class="fa fa-arrow-left " aria-hidden="true"></i>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
