<html>
  <head>
    <%= wicked_pdf_stylesheet_link_tag ("pdf") -%>
    <style>
      .text-center{
        text-align: center;
      }
      .text-right{
        text-align: right;
      }
      .text-left{
        text-align: left;
      }
      .d-flex{
        display: flex;
        display: -webkit-box;
        margin-bottom: 20px;
      }
      .col-3{
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
        width: 25%;
      }
      .border-bottom{
        border-bottom: 1px solid black;
      }
      .px-20{
        padding: 0px 20px;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th class='text-left'>
          <img src="<%= @pos_setting&.logo_images&.first&.service_url%>" height="100px" width= "100px"/>
        </th>
        <th style="vertical-align: bottom;" class='text-center'>
          <p style='padding-left: 70px;'>Sale Reciept</p>
        </th>
        <th style="vertical-align: top;" class='text-right'>
          <p>Ref: i0943289423i</p>
          <p>Date: <%= Time.zone.now.strftime('%d-%m-%Y')%></p>
        </th>
      </tr>
    </table>
    <div class='d-flex' style='margin-top: 20px;'>
      <div class='col-3 px-20'><b>Quota:</b></div>
      <div class='col-3 border-bottom'><%= @sale_deal&.purchase_sale_items.first.size_13 %></div>
      <div class='col-3 px-20'></div>
      <div class='col-3'></div>
    </div>

    <div class='d-flex mr-4'>
      <div class='col-3 px-20'><b>Agent Name:</b></div>
      <div class='col-3 border-bottom'><%= @all_agents.to_h.invert[@sale_deal&.sys_user&.credit_status].to_s%></div>
      <div class='col-3 px-20'><b>Transaction Type:</b></div>
      <div class='col-3 border-bottom'><%= @sale_deal&.purchase_sale_items.first.size_12 %></div>
    </div>

    <div class='d-flex'>
      <div class='col-3 px-20'><b>Project Name:</b></div>
      <div class='col-3 border-bottom'><%= @sale_deal&.sys_user&.cms_data&.try(:[], 'project_name')&.titleize %></div>
      <div class='col-3 px-20'><b>Form No:</b></div>
      <div class='col-3 border-bottom'><%= @sale_deal&.purchase_sale_items.first.size_11 %></div>
    </div>

    <div class='d-flex mr-2'>
      <div class='col-3 px-20'><b>Plot Size:</b></div>
      <div class='col-3 border-bottom'><%= @sale_deal&.sys_user&.ntn %></div>
      <div class='col-3 px-20'><b>Type of plot</b></div>
      <div class='col-3 border-bottom'><%= @sale_deal&.sys_user&.cms_data&.try(:[], 'category')&.titleize %></div>
    </div>

    <div class='d-flex'>
      <div class='col-3 px-20'><b>Plot Quantity:</b></div>
      <div class='col-3 border-bottom'><%= @sale_deal&.purchase_sale_items&.first&.size_10 %></div>
      <div class='col-3 px-20'><b>Plot Category</b></div>
      <div class='col-3  border-bottom'><%= @sale_deal&.purchase_sale_items&.first&.size_9 %></div>
    </div>

    <div class='d-flex'>
      <div class='col-3 px-20'><b>Price per Plot:</b></div>
      <div class='col-3 border-bottom'><%= @sale_deal&.purchase_sale_items&.first&.size_8 %></div>
      <div class='col-3 px-20'><b>Deal Date:</b></div>
      <div class='col-3 border-bottom'><%= @sale_deal&.purchase_sale_items&.first&.expiry_date&.strftime('%d-%m-%Y') %></div>
    </div>

    <div class='d-flex'>
      <div class='col-3 px-20'><b>Down Payment:</b></div>
      <div class='col-3 border-bottom'><%= @sale_deal&.purchase_sale_items&.first&.size_6 %></div>
      <div class='col-3 px-20'><b>Profit/Loss:</b></div>
      <div class='col-3 border-bottom'><%= @sale_deal&.purchase_sale_items&.first&.size_5 %></div>
    </div>

    <div class='d-flex'>
      <div class='col-3 px-20'><b>Receivede Amount:</b></div>
      <div class='col-3 border-bottom'><%= @sale_deal&.purchase_sale_items&.first&.size_4 %></div>
      <div class='col-3 px-20'><b>Total Amount</b></div>
      <div class='col-3 border-bottom'><%= @sale_deal&.purchase_sale_items&.first&.size_2 %></div>
    </div>

    <div class='d-flex'>
      <div class='col-3 px-20'><b>Payment Type:</b></div>
      <div class='col-3 border-bottom'><%= @sale_deal&.purchase_sale_items&.first&.size_7 %></div>
      <div class='col-3 px-20'><b>Balance Amount</b></div>
      <div class='col-3 border-bottom'><%= @sale_deal&.purchase_sale_items&.first&.size_3 %></div>
    </div>

    <div class='d-flex'>
      <div class='col-3 px-20'><b>Customer Name:</b></div>
      <div class='col-3 border-bottom'><%= @sale_deal&.sys_user&.name %></div>
      <div class='col-3 px-20'><b>Trx No:</b></div>
      <div class='col-3 border-bottom'><%= @sale_deal&.purchase_sale_items&.first&.size_1 %></div>
    </div>

    <div class='d-flex'>
      <div class='col-3 px-20'><b>Customer Contact:</b></div>
      <div class='col-3 border-bottom'><%= @sale_deal&.sys_user&.occupation %></div>
      <div class='col-3 px-20'><b>Customer CNIC:</b></div>
      <div class='col-3 border-bottom'></div>
    </div>

    <div class='d-flex'>
      <div class='col-3 px-20'></div>
      <div class='col-3'></div>
      <div class='col-3 px-20'><b>Customer Signature:</b></div>
      <div class='col-3 border-bottom'></div>
    </div>
    <div class='d-flex'>
      <div style='width: 15%;'><b>Remarks:</b></div>
      <div style='width: 85%;'>
        <textarea rows='5' style='width: 100%; padding: 5px;'><%= @sale_deal&.comment %></textarea>
      </div>
    </div>
    <p>
      Note: This is a system generated reciept therefore sign and stamp are elecronically generated. As soon
      as you receive this reciept please verify the same by calling at this Number: 0321-8437272.
    </p>

    <%
      require "rqrcode"
      qrcode = RQRCode::QRCode.new(@sale_deal.qr_code)
      @svg = qrcode.as_svg(
          color: "000",
          shape_rendering: "crispEdges",
          module_size: 11,
          standalone: true,
          use_path: true
        )
        @str=Base64.encode64(@svg ).gsub("\n", '')
    %>
    <img width="150px" height="115px" class="figure" style=""src=<%="data:image/svg+xml;base64,"+@str%> >

    <div class='d-flex'>
      <div style='width: 50%; margin-top: 20px'>
        <h3>LAHORE  <img src="<%= image_url('pin-location.svg') %>" height='20px' width='20px'></h3>
        <p>240-C , Broadway Commercial Phase,8</p>
        <p>DHA Lahore.</p>
        <p>Contact- 0320-8412049, 0321-4225689</p>
      </div>
      <div style='width: 50%; margin-top: 20px'>
        <h3>ISLAMABAD <img src="<%= image_url('pin-location.svg') %>" height='20px' width='20px'></h3>
        <p>F-11 Markaz, Bizzon Plaza, Near Deplix</p>
        <p>shop # 15 Isalamabad.</p>
        <p>Contact- 0300-4672774, 0311-1739111</p>
      </div>
    </div>

    <p style="border-bottom: 2px solid black"></p>
    <div class='d-flex'>
      <div style='width: 33%; margin-top: 10px'>
        <b class='d-flex'><img src="<%= image_url('youtube.svg') %>" height='20px' width='20px'><div>Property Studio</div></b>
      </div>
      <div style='width: 33%; margin-top: 10px'>
        <b class='d-flex' style='width: 100%;'><img src="<%= image_url('fb.svg') %>" height='20px' width='20px'><div>JR Property Network</div></b>
      </div>
      <div style='width: 33%; margin-top: 10px'>
        <b class='d-flex'><img src="<%= image_url('world.svg') %>" height='20px' width='20px'><div>www.propertystudio.pk</div></b>
      </div>
    </div>
  </body>
</html>