<p id="notice"><%= notice %></p>

<%production_blocks_bricks_quantity=0%>
<%production_blocks_tiles_quantity=0%>
<div class="hidden" id="production_cycle_list">
  <div class="topnav">
    <%= link_to daily_books_path() do %>
      <i class="fa fa-male" aria-hidden="true"></i>
      <%=@departments.first.title%> Daily
    <% end %>
    <%= link_to khakar_daily_books_path(department_id: @departments.second.title) do %>
      <i class="fas fa-truck" aria-hidden="true"></i>
      <%=@departments.second.title%> Daily book
    <% end %>
    <%= link_to production_cycles_path do %>
        <i class="fa fa-sign-language" aria-hidden="true"></i>
        Bhari Daily Book
      <% end %>
    <%= link_to jalai_production_cycles_path do %>
          <i class="fa fa-fire" aria-hidden="true"></i>
          Jalai Daily Book
        <% end %>
        <%= link_to nakasi_production_cycles_path do %>
          <i class="fa fa-align-justify" aria-hidden="true"></i>
          <%=@departments.third.title%> Daily Book
        <% end %>

  </div>
  <h1>Bhari Daily Book</h1>

<div class="clearfix"></div>

  <div class="col-lg-2 form-group float-left">
    <%if @production_cycles.first.present?%>
    <% if can?(:update, Product) %>
      <%= link_to edit_production_cycle_path(@production_cycles.first) , class: "btn btn-success" do %>
        <i class="fa fa-plus" aria-hidden="true"></i>
      Bhari
      <% end %>
      <% end %>
    <%end%>
  </div>
  <% if can?(:add, :all) %>
  <div class="col-lg-2 form-group float-left">
    <%= link_to new_production_cycle_path, class: "btn btn-success" do %>
      <i class="fa fa-plus" aria-hidden="true"></i>
      New Bhari Cycle
    <% end %>
  </div>
  <% end %>
  <div class="clearfix"></div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <%= search_form_for @q, url: production_cycles_path, class: "admin-controls", method: "get" do |f| %>
        <div class="col-lg-2 form-group float-left">
          <%= f.search_field :start_date_gteq, class:'form-control input-sm datepicker',value: @book_date_gteq, 'datepicker' => true,placeholder: "YYYY-MM-DD" %>
        </div>
        <div class="col-lg-2 form-group float-left">
          <%= f.search_field :start_date_lteq, class: 'form-control input-sm datepicker',value: @book_date_lteq, 'datepicker' => true ,placeholder: "YYYY-MM-DD"%>
        </div>
        <div class="col-lg-2 form-group float-left">
          <%= f.search_field :comment_cont, value: @title, placeholder: "Comment", title: "Comment" ,:class=>"form-control" %>
        </div>
        <div class="col-lg-2 form-group float-left">
          <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
        </div>
        <div class="col-lg-1 form-group float-left">
          <button class="form-control btn  badge badge-pill badge-danger" name="submit_pdf_staff_with" type="submit" value="Bhari PDF A4" formtarget="_blank"><i class="fa fa-file-pdf"></i></button>
        </div>
        <div class="col-lg-2 form-group float-left">
          <button class="form-control btn  badge badge-pill badge-danger" name="page_pdf" type="submit" value="Daily Production Details PDF A4" formtarget="_blank" ><i class="fa fa-file-pdf"></i>Bharai page</button>
        </div>
        <div class="col-lg-1 form-group float-left">
          <button class="form-control btn btn-info" name="email" type="submit" value="Email"><i class="fas fa-envelope"></i> email</button>
        </div> 
      <% end %>
    </div>
  </div>

  <div class="row ">
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Bharai</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%=@raw_products.first.title%> = <%=@raw_products.first.first_stock%> </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%=@raw_products.second.title%> = <%=@raw_products.second.first_stock%> </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-check fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Stock</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%=@raw_products.first.title%> = <%=@raw_products.first.second_stock%> </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%=@raw_products.second.title%> = <%=@raw_products.second.second_stock%> </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-check fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Chapa</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%=@raw_products.first.title%> = <%=@raw_products.first.third_stock%></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-check fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <table data-toggle="table" data-search="true">
    <thead>
      <th>Start date</th>
      <th>End date</th>
      <th>Bricks </th>
      <th>Tiles</th>
      <th>Comment</th>
      <th>Action</th>
    </thead>
    <tbody>
      <% @production_cycles.each do |production_cycle| %>
        <tr>
          <td><%= production_cycle.start_date.strftime("%A,  %d-%b-%y") if production_cycle.start_date.present?%></td>
          <td><%= production_cycle.end_date.strftime("%A,  %d-%b-%y") if production_cycle.end_date.present?%></td>
          <td>
            <%= production_cycle.production_blocks_bricks_quantity_with_date %>
            <h6><%= production_cycle.production_blocks_bricks_quantity %><% production_blocks_bricks_quantity+=production_cycle.production_blocks_bricks_quantity %></h6>
          </td>
          <td>
            <%= production_cycle.production_blocks_tiles_quantity_with_date %>
            <h6><%= production_cycle.production_blocks_tiles_quantity %><% production_blocks_tiles_quantity+=production_cycle.production_blocks_tiles_quantity %></h6>
          </td>
          <td><%= production_cycle.cycle_type %></td>
          <% if can?(:update, Product) %>
          <td>
            <%= link_to edit_production_cycle_path(production_cycle) do %>
              <i class="fa fa-edit" aria-hidden="true"></i> |
            <% end %>
            <% end %>
            <% if can?(:delete, :all) %>
            <%= link_to production_cycle, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete' do %>
              <i class="fa fa-trash" aria-hidden="true"></i> |
            <% end %>
          <% end %>
            <%= link_to production_cycle do %>
              <i class="fa fa-eye" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td><h5>Total</h5></td>
        <td></td>
        <td><h5><%=production_blocks_bricks_quantity%></h5></td>
        <td><h5><%=production_blocks_tiles_quantity%></h5></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="clearfix"></div>
<div class="row">
  <div class="col-lg-4 col-sm-4">
    <%= page_entries_info @production_cycles %>
  </div>
  <div class="col-lg-8 col-sm-8 pagination-left">
    <%= paginate @production_cycles %>
  </div>
</div>

<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#production_cycle_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
  });
</script>
