<%@total=0%>
<table data-toggle="table" data-search="true">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Rate</th>
      <th>Net Sale</th>
    </tr>
  </thead>

  <tbody>
    <% @products_purchase_count.each_with_index do |item,i|%>
      <tr style="text-align :center">
        <td style="border-bottom: 1px solid #000; "><b><%=item.first %></b></td>
        <td style="border-bottom: 1px solid #000; "><%=item.last.to_f.round(2) %><%@total += item.last.to_f.round(2) %></td>
        <td style="border-bottom: 1px solid #000; "><%=(@products_purchase[item.first].to_f.round(2)/item.last.to_f).round(2)%></td>
        <td style="border-bottom: 1px solid #000; "><%=@products_purchase[item.first].to_f.round(2) %></td>
      </tr>
    <% end %>
    <tr style="text-align :center">
      <td><b>Total</b></td>
      <td><b><%=@total%></b></td>
      <td></td>
      <td><b><%=@products_purchase_total.to_f.round(2)%></b></td>
    </tr>
    <tr style="text-align :center">
      <td><b>-</b></td>
      <td><b>-</b></td>
      <td></td>
      <td><b>-</b></td>
    </tr>
    <tr style="text-align :center">
      <td><b>Carriage</b></td>
      <td><b></b></td>
      <td></td>
      <td><b><%=@product_purchase_carriage.to_i%></b></td>
    </tr>
    <tr style="text-align :center">
      <td><b>Loading</b></td>
      <td><b></b></td>
      <td></td>
      <td><b><%=@product_purchase_loading.to_i%></b></td>
    </tr>
    <tr style="text-align :center">
      <td><b>Total</b></td>
      <td><b></b></td>
      <td></td>
      <td><b><%=(@product_purchase_loading.to_f+@product_purchase_carriage.to_f+@products_purchase_total.to_f).round(2)%></b></td>
    </tr>
  </tbody>
</table>
