  <div class="row statics">
  	<div class="col-xl-4 col-lg-6 col-12">
  		<div class="card bg-gradient-directional-success">
        	<div class="card-content">
    			<div class="card-body">
                	<div class="media d-flex">
                      <div class="align-self-center <%= report_icon %>">
                        <i class="icon-pencil white font-large-2 float-left"></i>
                      </div>
                      <div class="media-body white text-right">
                        <h3><%= activated %></h3>
                        <span>Active <%= st_name%></span>
                      </div>
                    </div>
                </div>
            </div>
  		</div>
    </div>

   	<div class="col-xl-4 col-lg-6 col-12">
  		<div class="card bg-gradient-directional-warning">
        	<div class="card-content">
    			<div class="card-body">
                	<div class="media d-flex">
                      <div class="align-self-center <%= report_icon %>">
                        <i class="icon-pencil white font-large-2 float-left"></i>
                      </div>
                      <div class="media-body white text-right">
                        <h3><%= terminated %></h3>
                        <span>Terminated <%= st_name%></span>
                      </div>
                    </div>
                </div>
            </div>
  		</div>
    </div>

   	<div class="col-xl-4 col-lg-6 col-12">
  		<div class="card bg-gradient-directional-danger">
        	<div class="card-content">
    			<div class="card-body">
                	<div class="media d-flex">
                      <div class="align-self-center <%= report_icon %>">
                        <i class="icon-pencil white font-large-2 float-left"></i>
                      </div>
                      <div class="media-body white text-right">
                        <h3><%= deleted %></h3>
                        <span>Deleted <%= st_name%></span>
                      </div>
                    </div>
                </div>
            </div>
  		</div>
    </div>
  </div>