<div class="hidden m-4" id="products_list">
  <div class="float-left">
    <h2 class="ml-2 logo-back"><i class="fa fa-home mr-2"></i> Chart of Account</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="<%= reports_chart_of_account_path %>"> Chart of Account</a>
      </li>
    </ol>
  </div>
  <div class="clearfix"></div>
  <div class="float-right">
    <div class="dropdown ml-auto">
     <span class="btn btn-outline-info btn-sm mt-2" title= "About This page"><i class="fa fa-question-circle mr-1"></i>Help</span>
      <div class="dropdown-content">
        <% if @help.present? %>
        <% @help&.help_links.each do |link| %>
        <a type="button" class="" target="_blank" href="<%= link[1] %>" >Help in <%= link[0] %></a>
         <% end %>
        <% end %>
      </div>
    </div>
  </div>
  
  <%= hidden_field_tag "uGroupKeys", @u_group_keys, { :id => "uGroupKeys" } %>
  <%= hidden_field_tag "uGroupCount", @u_group_count, { :id => "uGroupCount" } %>
  <%= hidden_field_tag "uGroupBalance", @u_balance_keys, { :id => "uGroupBalance" } %>
  <%= hidden_field_tag "uGroupSum", @u_balance_count, { :id => "uGroupSum" } %>
  <%= hidden_field_tag "depKeys", @dep_keys, { :id => "depKeys" } %>
  <%= hidden_field_tag "depValues", @dep_values, { :id => "depValues" } %>
  <%= hidden_field_tag "depBKeys", @staff_balance_keys, { :id => "depBKeys" } %>
  <%= hidden_field_tag "depBValues", @staff_balance_values, { :id => "depBValues" } %>

  <div class="row">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link tab-label active " data-toggle="tab" href="#payable" role="tab"><i class="fas fa-sign-out-alt mr-2"></i>Payables</a>
      </li>
      <li class="nav-item">
        <a class="nav-link tab-label " data-toggle="tab" href="#reciveable" role="tab"><i class="fas fa-sign-in-alt mr-2"></i>Reciveables</a>
      </li>
      <li class="nav-item">
        <a class="nav-link tab-label " data-toggle="tab" href="#salary" role="tab"><i class="fa fa-money-bill-alt mr-2"></i>Salary</a>
      </li>
	  </ul>
  </div>

    <div class="tab-content">
      <div class="tab-pane active mb-3 no-tab-border card shadow-sm mt-2 p-4" id="payable" role="tabpanel">
        <div class="card shadow mb-4">
	      	<!-- Card Header - Accordion -->
	      	<a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
	      		<h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Customer/Supplier Payable</h1></h6>
	      	</a>
	      	<!-- Card Content - Collapse -->
          <div class="collapse show p-3" id="collapseCardExample" style="">
	      	<div class="col-xl-12 col-md-12 mb-4">
	      		<div class="row no-gutters align-items-center">
	      			<div class="col mr-2">
                <br>
                
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link tab-label active " data-toggle="tab" href="#search" role="tab"><i class="fa fa-search mr-2"></i>Search</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link tab-label " data-toggle="tab" href="#analytics" data-remote="true" role="tab"><i class="fa fa-signal mr-2"></i>Analytics</a>
                  </li>
	              </ul>
                <div class="tab-content">
                  <div class="tab-pane active mb-3 no-tab-border mt-2 p-4 " id="search" role="tabpanel">
                    <div class="row">
                      <div class="col-lg-12 col-sm-12">
                        <%= search_form_for @q, url: reports_chart_of_account_path, class: "admin-controls", method: "get" do |f| %>
                          <div class="col-lg-2 form-group float-left">
                            <%= f.select :user_group_eq, options_for_select(SysUser.user_groups, @user_group), {:include_blank => "Select User group"},:class=>"form-control chosen-select" %>
                          </div>
                          <div class="col-lg-2 form-group float-left">
                            <%= f.select :status_eq, SysUser.statuses.map { |key, value| [key.humanize, value] },{hide_label:true,class: "form-control", required: true,:include_blank => "Select Status"},:class=>"form-control chosen-select" %>
                          </div>
                          <div class="col-lg-2 account_totalform-group float-left">
                            <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
                          </div>
                        
                          <button class="form-control btn btn-info file-btn-color float-right" name="email" style="width:80px" type="submit" value="Email">Mail</button>
                          <button class="form-control btn btn-warning file-btn-color float-right mr-2" style="width:80px" name="submit_csv" type="submit" value="Chart of Account CSV" formtarget="_blank">CSV</button>
                          <button class="form-control btn btn-danger file-btn-color float-right mr-2" style="width:80px" name="submit_pdf_staff_with" type="submit" value="Accounts PDF A4" formtarget="_blank">PDF</button>
                          
                        <% end %>
                      </div>
                    </div>
                    <%@sys_user_balance = 0 %>
                    <table data-toggle="table" data-search="true">
                      <thead>
                        <tr>
                          <th><%= sort_link(@q, :code, 'Code') %></th>
                          <th><%= sort_link(@q, :name, 'Name') %></th>
                          <th><%= sort_link(@q, :user_group, 'User group') %></th>
                          <th>Status</th>
                          <th><%= sort_link(@q, :balance, 'balance') %></th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @last_group = @sys_user_payable.first.user_group if @sys_user_payable.present?%>
                        <% @balance = 0  %>
                        <% @sys_user_payable.each do |sys_user| %>
                          <%if @last_group != sys_user.user_group %>
                            <tr class="lite-gray" style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif" >
                              <td></td>
                              <td></td>
                              <td><b></td>
                              <td><b>Total</b></td>
                              <td><b><%= number_with_delimiter @balance.round(2)%></b></td>
                              <%@last_group = sys_user.user_group%>
                              <% @balance = 0%>
                            </tr>
                          <% end %>
                          <tr>
                            <td><%= sys_user.code %></td>
                            <td><%= sys_user.name %></td>
                            <td><%= sys_user.user_group %></td>
                            <td><%= sys_user.status %></td>
                            <td><%= number_with_delimiter sys_user.balance.abs %></td>
                          </tr>
                          <% @balance += sys_user.balance.round(2).abs %>
                          <% if @sys_user_payable.last == sys_user %>
                            <tr class="lite-gray" style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif" >
                              <td></td>
                              <td></td>
                              <td><b></td>
                              <td><b>Total</b></td>
                              <td><b><%= number_with_delimiter @balance.round(2)%></b></td>
                              <%@last_group = sys_user.user_group%>
                              <% @balance = 0%>
                            </tr>
                          <% end %>
                        <% end %>
                        <tr>
                          <td><h5>Total</h5></td>
                          <td><%= %></td>
                          <td><%= %></td>
                          <td><%= %></td>
                          <td><%= number_with_delimiter @sys_user_payable.pluck('balance').map(&:abs).sum %></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="tab-pane mb-3 card shadow-sm mt-2 p-4" id="analytics" role="tabpanel">
                    <div class="row d-flex border-radius-1">
                      <div class="col-lg-6">
                        <div class="my-chart-Container">
                          <div class="mychartBox">
                            <canvas id="myChart"></canvas>
                          </div> 
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="my-chart-Container">
                          <div class="mychartBox">
                            <canvas id="myChart2"></canvas>
                          </div> 
                        </div>
                      </div>
                    </div>  
                  </div>
                </div>  
	      			</div>
	      		</div>
	      	</div>
          </div>
	      </div>

        <%@monthly_wage=0%>
        <%@advance=0%>
        <%@short_pay=0%>
        <%@balance=0%>
        <div class="card shadow mb-4">
	      	<!-- Card Header - Accordion -->
	      	<a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample2">
	      		<h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Staff Payable</h1></h6>
	      	</a>
	      	<!-- Card Content - Collapse -->
          <div class="collapse show p-3" id="collapseCardExample2" style="">
        		<div class="col-xl-12 col-md-12 mb-4">
        			<div class="row no-gutters align-items-center">
        				<div class="col mr-2">
                  <br>
                  <div class="row">
                    <ul class="nav nav-tabs ml-3" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link tab-label active " data-toggle="tab" href="#search1" role="tab"><i class="fa fa-search mr-2"></i>Search</a>
                      </li>
                       <li class="nav-item">
                        <a class="nav-link tab-label " data-toggle="tab" href="#analytics1" data-remote="true" role="tab"><i class="fa fa-signal mr-2"></i>Analytics</a>
                      </li>
	                  </ul>
                  </div>
                  <div class="tab-content">
                    <div class="tab-pane active mb-3 card shadow-sm mt-2 p-4" id="search1" role="tabpanel">
                      <div class="row">
                        <div class="col-lg-12 col-sm-12">
                          <%= search_form_for @s, url: reports_chart_of_account_path, class: "admin-controls", method: "get" do |f| %>
                            <div class="col-lg-3 form-group float-left">
                              <%= f.select :id_eq, options_from_collection_for_select(@staff_names, "id", ->(st){"#{st.name} \u{27F6} #{st.father} \u{27F6} #{st.code}"},@name),{:include_blank => "Select Staff"},:class=>"form-control chosen-select" %>
                            </div>
                            <div class="col-lg-2 form-group float-left">
                              <%= f.select :department_id_eq, options_from_collection_for_select(@departments, 'id', 'title', @department), {hide_label:true,title: "Select the Department" ,prompt: "Select the Department"},:class=>"form-control chosen-select"%>
                            </div>
                            <div class="col-lg-2 form-group float-left">
                              <%= f.select :staff_type_eq, Staff.staff_types.map { |key, value| [key.humanize, value] },{hide_label:true,class: "form-control", required: true,:include_blank => "Select Status"},:class=>"form-control" %>
                            </div>
                            <div class="col-lg-2 form-group float-left">
                              <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
                            </div>
                            
                            <button class="form-control btn btn-danger file-btn-color float-right" style="width: 80px;" name="submit_pdf" type="submit" value="Full PDF A4" formtarget="_blank">PDF</button>
                            
                          <% end %>
                        </div>
                      </div>
                      <table data-toggle="table" data-search="true">
                        <thead>
                          <tr>
                            <th><%= sort_link(@k, :staff_type, 'Status') %></th>
                            <th><%= sort_link(@k, :code, 'Code') %></th>
                            <th><%= sort_link(@k, :name, 'Name') %></th>
                            <th><%= sort_link(@k, :monthly_salary, 'Monthly/Wage') %></th>
                            <th><%= sort_link(@k, :department_id, 'Department/Raw') %></th>
                            <th><%= sort_link(@k, :balance, 'Balance') %></th>
                          </tr>
                        </thead>

                        <tbody>
                          <% @last_group = @staff_payable.first.department if @staff_payable.present?%>
                          <% @balance = 0  %>
                          <% @staff_payable.each do |staff| %>
                            <%if @last_group != staff.department %>
                              <tr class="lite-gray" style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif" >
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b></td>
                                <td><b>Total</b></td>
                                <td><b><%= number_with_delimiter @balance.round(2)%></b></td>
                                <%@last_group = staff.department%>
                                <% @balance = 0%>
                              </tr>
                            <% end %>
                            <tr>
                              <td><%= staff.staff_type %></td>
                              <td><%= staff.code %></td>
                              <td><%= staff.full_name %></td>
                              <td><%= staff.staff_salary_or_wage.to_f.round(2)%></td>
                              <td><%= staff.department.present? ? staff.department.title : ""%>:<%= staff.staff_raw_products.present? ? staff.staff_raw_products_titles : ""%></td>
                              <td><%= number_with_delimiter staff.balance.to_f.round(2) %></td>
                            </tr>
                            <% @balance += staff.balance.to_f.round(2) %>
                            <% if @staff_payable.last == staff %>
                              <tr class="lite-gray" style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif" >
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b></td>
                                <td><b>Total</b></td>
                                <td><b><%= number_with_delimiter @balance.round(2)%></b></td>
                              </tr>
                            <% end %>
                          <% end %>
                          <tr>
                            <td><h4>Total<h4></td>
                            <td><h4><%=@staff_payable.count%></h4></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><h4><%= number_with_delimiter @staff_payable.sum(:balance).round(2) %><h4></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane mb-3 card shadow-sm mt-2 p-4" id="analytics1" role="tabpanel">
                      <div class="row d-flex border-radius-1">
                      <div class="col-lg-6">
                        <div class="my-chart-Container">
                          <div class="mychartBox">
                            <canvas id="myChart3"></canvas>
                          </div> 
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="my-chart-Container">
                          <div class="mychartBox">
                            <canvas id="myChart4"></canvas>
                          </div> 
                        </div>
                      </div>
                    </div>  
                    </div>
                    
                    
                  </div>  
                  

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card shadow mb-4">
          <!-- Card Header - Accordion -->
          <a href="#collapseCardExample7" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample7">
            <h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Sale Payable</h1></h6>
          </a>
          <!-- Card Content - Collapse -->
          <div class="collapse show" id="collapseCardExample7" style="">
            <div class="col-xl-12 col-md-12 mb-4">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <br>
                  <table data-toggle="table" data-search="true">
                    <thead>
                      <tr>
                        <th><%= sort_link(@k, :staff_type, 'Title') %></th>
                        <th><%= sort_link(@k, :code, 'Amount') %></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @sale_item_list.each do |exp| %>
                        <tr>
                          <td><%= exp.first %></td>
                          <td><%= number_with_delimiter exp.last.to_f.round(2) %></td>
                        </tr>
                      <% end %>
                      <% @sale_product_list.each do |exp| %>
                        <tr>
                          <td><%= exp.first %></td>
                          <td><%= number_with_delimiter exp.last.to_f.round(2) %></td>
                        </tr>
                      <% end %>
                      <tr>
                        <td><h4>Total : <%=@sale_item_list.count.to_i+@sale_product_list.count.to_i%></h4></td>
                        <td><h4><%= number_with_delimiter @sale_item_total.to_i+@sale_product_total.to_i%><h4></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane mb-3 card shadow-sm mt-2 p-4" id="reciveable" role="tabpanel">
        <%@sys_user_balance = 0 %>
        <div class="card shadow mb-4">
	      	<!-- Card Header - Accordion -->
	      	<a href="#collapseCardExample1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample1">
	      		<h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Customer/Supplier Reciveable</h1></h6>
	      	</a>
	      	<!-- Card Content - Collapse -->
          <div class="collapse show p-3" id="collapseCardExample1" style="">
        		<div class="col-xl-12 col-md-12 mb-4">
        			<div class="row no-gutters align-items-center">
        				<div class="col mr-2">
                  <br>
                  <div class="row">
                    <ul class="nav nav-tabs ml-3" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link tab-label active " data-toggle="tab" href="#search" role="tab"><i class="fa fa-search mr-2"></i>Search</a>
                      </li>
	                  </ul>
                  </div>
                  <div class="tab-content">
                    <div class="tab-pane active mb-3 card shadow-sm mt-2 p-4" id="search" role="tabpanel">
                      <div class="row">
                        <div class="col-lg-12 col-sm-12">
                          <%= search_form_for @p, url: reports_chart_of_account_path, class: "admin-controls", method: "get" do |f| %>
                            <div class="col-lg-2 form-group float-left">
                              <%= f.select :user_group_eq, options_for_select(SysUser.user_groups, @user_group), {:include_blank => "Select User group"},:class=>"form-control chosen-select" %>
                            </div>
                            <div class="col=lg-2 form-group float-left">
                              <%= f.select :status_eq, SysUser.statuses.map { |key, value| [key.humanize, value] },{hide_label:true,class: "form-control", required: true ,:include_blank => "Select Status"},:class=>"form-control chosen-select" %>
                            </div>
                            <div class="col-lg-2 account_totalform-group float-left">
                              <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
                            </div>
                           
                            <button class="form-control btn btn-danger file-btn-color float-right" style="width: 80px;" name="submit_pdf_staff_with" type="submit" value="Accounts PDF A4" formtarget="_blank">PDF</button>
                            
                          <% end %>
                        </div>
                      </div>
                      <table data-toggle="table" data-search="true">
                        <thead>
                          <tr>
                            <th><%= sort_link(@q, :code, 'Code') %></th>
                            <th><%= sort_link(@q, :name, 'Name') %></th>
                            <th><%= sort_link(@q, :user_group, 'User group') %></th>
                            <th>Status</th>
                            <th><%= sort_link(@q, :balance, 'balance') %></th>
                          </tr>
                        </thead>

                        <tbody>
                          <% @last_group = @sys_user_receiveable.first.user_group if @sys_user_receiveable.present?%>
                          <% @balance = 0  %>
                          <% @sys_user_receiveable.each do |sys_user| %>
                            <% if  (sys_user.balance < 0 )  %>
                              <%if @last_group != sys_user.user_group %>
                                <tr class="lite-gray" style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif" >
                                  <td></td>
                                  <td></td>
                                  <td><b></td>
                                  <td><b>Total</b></td>
                                  <td><b><%= number_with_delimiter @balance.round(2)%></b></td>
                                  <%@last_group = sys_user.user_group%>
                                  <% @balance = 0%>
                                </tr>
                              <% end %>
                              <tr>
                                <td><%= sys_user.code %></td>
                                <td><%= sys_user.name %></td>
                                <td><%= sys_user.user_group %></td>
                                <td><%= sys_user.status %></td>
                                <td><%= number_with_delimiter sys_user.balance.abs %></td>
                              </tr>
                              <% @balance += sys_user.balance.round(2).abs %>
                              <% if @sys_user_receiveable.last == sys_user %>
                                <tr class="lite-gray" style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif" >
                                  <td></td>
                                  <td></td>
                                  <td><b></td>
                                  <td><b>Total</b></td>
                                  <td><b><%= number_with_delimiter @balance.round(2)%></b></td>
                                  <% @balance = 0%>
                                </tr>
                              <% end %>
                            <% end %>
                          <% end %>
                          <tr>
                            <td><h5>Total</h5></td>
                            <td><%= %></td>
                            <td><%= %></td>
                            <td><%= %></td>
                            <td><%= number_with_delimiter @sys_user_receiveable.pluck('balance').map(&:abs).sum %></td>

                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
        				</div>
        			</div>
        		</div>
          </div>
	      </div>


        <div class="card shadow mb-4">
	      	<!-- Card Header - Accordion -->
	      	<a href="#collapseCardExample4" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample4">
	      		<h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Staff Reciveable</h1></h6>
	      	</a>
	      	<!-- Card Content - Collapse -->
          <div class="collapse show p-3" id="collapseCardExample4" style="">
        		<div class="col-xl-12 col-md-12 mb-4">
        			<div class="row no-gutters align-items-center">
        				<div class="col mr-2">
                  <br>
                  <div class="row">
                    <ul class="nav nav-tabs ml-3" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link tab-label active " data-toggle="tab" href="#search" role="tab"><i class="fa fa-search mr-2"></i>Search</a>
                      </li>
	                  </ul>
                  </div>
                  <div class="tab-content">
                    <div class="tab-pane active mb-3 card shadow-sm mt-2 p-3" id="search" role="tabpanel">
                      <div class="row">
                        <div class="col-lg-12 col-sm-12">
                          <%= search_form_for @k, url: reports_chart_of_account_path, class: "admin-controls", method: "get" do |f| %>
                            <div class="col-lg-3 form-group float-left">
                              <%= f.select :id_eq, options_from_collection_for_select(@staff_names, "id", ->(st){"#{st.name} \u{27F6} #{st.father} \u{27F6} #{st.code}"},@name),{:include_blank => "Select Staff"},:class=>"form-control chosen-select" %>
                            </div>
                            <div class="col-lg-2 form-group float-left">
                              <%= f.select :department_id_eq, options_from_collection_for_select(@departments, 'id', 'title', @department), {hide_label:true,title: "Select the Department" ,prompt: "Select the Department"},:class=>"form-control chosen-select"%>
                            </div>
                            <div class="col-lg-2 form-group float-left">
                              <%= f.select :staff_type_eq, Staff.staff_types.map { |key, value| [key.humanize, value] },{hide_label:true,class: "form-control", required: true},:class=>"form-control" %>
                            </div>
                            <div class="col-lg-2 form-group float-left">
                              <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
                            </div>
                            
                            <button class="form-control btn btn-danger file-btn-color float-right" style="width: 80px;" name="submit_pdf" type="submit" value="Full PDF A4" formtarget="_blank">PDF</button>
                           
                          <% end %>
                        </div>
                      </div>
                      <table data-toggle="table" data-search="true">
                        <thead>
                          <tr>
                            <th><%= sort_link(@k, :staff_type, 'Status') %></th>
                            <th><%= sort_link(@k, :code, 'Code') %></th>
                            <th><%= sort_link(@k, :name, 'Name') %></th>
                            <th><%= sort_link(@k, :monthly_salary, 'Monthly/Wage') %></th>
                            <th><%= sort_link(@k, :department_id, 'Department/Raw') %></th>
                            <th><%= sort_link(@k, :balance, 'Balance') %></th>
                          </tr>
                        </thead>

                        <tbody>
                          <% @last_group = @staff_reciveable.first.department if @staff_reciveable.present?%>
                          <% @balance = 0  %>
                          <% @staff_reciveable.each do |staff| %>
                            <%if @last_group != staff.department %>
                              <tr class="lite-gray" style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif" >
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b></td>
                                <td><b>Total</b></td>
                                <td><b><%= number_with_delimiter @balance.round(2).abs %></b></td>
                                <%@last_group = staff.department%>
                                <% @balance = 0%>
                              </tr>
                            <% end %>
                            <tr>
                              <td><%= staff.staff_type %></td>
                              <td><%= staff.code %></td>
                              <td><%= staff.full_name %></td>
                              <td><%= staff.staff_salary_or_wage.to_f.round(2)%></td>
                              <td><%= staff.department.present? ? staff.department.title : ""%>:<%= staff.staff_raw_products.present? ? staff.staff_raw_products_titles : ""%></td>
                              <td><%= number_with_delimiter staff.balance.to_f.round(2).abs %></td>
                            </tr>
                            <% @balance += staff.balance.to_f.round(2) %>
                            <% if @staff_reciveable.last == staff %>
                              <tr class="lite-gray" style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif" >
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b></td>
                                <td><b>Total</b></td>
                                <td><b><%= number_with_delimiter @balance.round(2).abs %></b></td>
                              </tr>
                            <% end %>
                          <% end %>
                          <tr>
                            <td><h4>Total<h4></td>
                            <td><h4><%=@staff_reciveable.count%></h4></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><h4><%= number_with_delimiter @staff_reciveable.sum(:balance).to_f.round(2).abs %><h4></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card shadow mb-4">
          <!-- Card Header - Accordion -->
          <a href="#collapseCardExample5" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample5">
            <h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Expense Reciveable</h1></h6>
          </a>
          <!-- Card Content - Collapse -->
          <div class="collapse show" id="collapseCardExample5" style="">
            <div class="col-xl-12 col-md-12 mb-4">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <br>
                  <table data-toggle="table" data-search="true">
                    <thead>
                      <tr>
                        <th><%= sort_link(@k, :staff_type, 'Title') %></th>
                        <th><%= sort_link(@k, :code, 'Amount') %></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @expense_list.each do |exp| %>
                        <tr>
                          <td><%= exp.first %></td>
                          <td><%= number_with_delimiter exp.last.to_f.round(2) %></td>
                        </tr>
                      <% end %>
                      <tr>
                        <td><h4>Total : <%=@expense_list.count%></h4></td>
                        <td><h4><%=number_with_delimiter @expense_total.abs%><h4></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card shadow mb-4">
          <!-- Card Header - Accordion -->
          <a href="#collapseCardExample6" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample6">
            <h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Purchase Reciveable</h1></h6>
          </a>
          <!-- Card Content - Collapse -->
          <div class="collapse show" id="collapseCardExample6" style="">
            <div class="col-xl-12 col-md-12 mb-4">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <br>
                  <table data-toggle="table" data-search="true">
                    <thead>
                      <tr>
                        <th><%= sort_link(@k, :staff_type, 'Title') %></th>
                        <th><%= sort_link(@k, :code, 'Amount') %></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @purchase_item_list.each do |exp| %>
                        <tr>
                          <td><%= exp.first %></td>
                          <td><%= number_with_delimiter exp.last.to_f.round(2) %></td>
                        </tr>
                      <% end %>
                      <% @purchase_product_list.each do |exp| %>
                        <tr>
                          <td><%= exp.first %></td>
                          <td><%= number_with_delimiter exp.last.to_f.round(2) %></td>
                        </tr>
                      <% end %>
                      <tr>
                        <td><h4>Total : <%=@purchase_item_list.count.to_i+@purchase_product_list.count.to_i%></h4></td>
                        <td><h4><%=number_with_delimiter @purchase_item_total.to_i+@purchase_product_total.to_i%><h4></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane mb-3 card shadow-sm mt-2 p-3 " id="salary" role="tabpanel">
        <div class="card shadow mb-4">
          <!-- Card Header - Accordion -->
          <a href="#collapseCardExample8" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample8">
            <h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Salary</h1></h6>
          </a>
          <!-- Card Content - Collapse -->
          <div class="collapse show" id="collapseCardExample8" style="">
            <div class="col-xl-12 col-md-12 mb-4">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <br>
                  <table data-toggle="table" data-search="true">
                    <thead>
                      <tr>
                        <th><%= sort_link(@k, :staff_type, 'Title') %></th>
                        <th><%= sort_link(@k, :code, 'Amount') %></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @salary_detail_list.each do |exp| %>
                        <tr>
                          <td><%= exp.first %></td>
                          <td><%= number_with_delimiter exp.last.to_f.round(2) %></td>
                        </tr>
                      <% end %>

                      <% @khakar_salary_detail_list.each do |exp| %>
                        <tr>
                          <td><%= exp.first %></td>
                          <td><%= number_with_delimiter exp.last.to_f.round(2) %></td>
                        </tr>
                      <% end %>
                      <tr>
                        <td><h4>Total : <%=@salary_detail_list.count.to_i%></h4></td>
                        <td><h4><%= number_with_delimiter @salary_detail_total.to_i%><h4></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
</div>
<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#products_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
  });
</script>
