
<% @date = Date.today  %>
<% @time = DateTime.now %>
<% @time = Time.zone.now %>
<p style="border-bottom: double 4px;  margin: 0;"></p>
<h1 style="text-align: center; marginy: 2px;">Profit Details</h1>
<p style="border-bottom: double 4px;  margin: 0;"></p>
<p style="text-align: center;margintop: 4px;">Report by: <%=current_user.name%></p>
<div >
  <table data-toggle="table" data-search="true">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Purchase</th>
        <th>Sale</th>
        <th>Discount</th>
        <th>Net Sale</th>
        <th>Profit</th>
      </tr>
    </thead>

    <tbody>
      <%@purchase_item.each do |purchase|%>
      <tr>
        <td><%=purchase.first%></td>
        <td>
          <%= number_with_delimiter((purchase.second).round(2)) if purchase.second%>
        </td>
        <td>
          <%= number_with_delimiter((purchase.third).round(2)) if purchase.third%>
        </td>
        <td>
          <%= number_with_delimiter((purchase.fourth).round(2))  if purchase.fourth%>
        </td>
        <td>
          <%= number_with_delimiter((purchase.fifth).round(2))  if purchase.fifth%>
        </td>
        <td>
          <%= number_with_delimiter(net_sale=(purchase.fourth.to_f-purchase.fifth.to_f).round(2))%>
        </td>
        <td>
          <%= number_with_delimiter((net_sale-purchase.third.to_f).round(2))%>
        </td>
      </tr>
      <%end%>
      <tr class="thead-light">
        <td><h5>Total</h5></td>
        <td><h5><%= number_with_delimiter((@total_all.first.first.to_f).round(2))%></h5></td>
        <td><h5><%= number_with_delimiter((@total_all.first.second.to_f).round(2))%></h5></td>
        <td><h5><%= number_with_delimiter((@total_all.first.third.to_f).round(2))%></h5></td>
        <td><h5><%= number_with_delimiter((@total_all.first.fourth.to_f+@purchase_discount).round(2))%></h5></td>
        <td><h5><%= number_with_delimiter(total_net_sale=(@total_all.first.third.to_f-@total_all.first.fourth.to_f).round(2))%></h5></td>
        <td><h5><%= number_with_delimiter(@total_profit=(total_net_sale-@total_all.first.second.to_f).round(2))%></h5></td>
      </tr>
      <tr>
        <td><h6>Investment</h6></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= number_with_delimiter((@investment).round(2))%></td>
      </tr>
      <tr>
        <td><h6>Expense</h6></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= number_with_delimiter((@expense).round(2))%></td>
      </tr>
      <tr>
        <td><h6>Salary</h6></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= number_with_delimiter((@salary+@advance).round(2))%></td>
      </tr>
      <tr class="thead-light">
        <td><h5>Total</h5></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><h5>
          <%= number_with_delimiter(total_profit=(@total_profit-(@salary.to_f+@advance.to_f+@expense.to_f+@investment.to_f+(@total_all.first.fourth.to_f+@purchase_discount).round(2))).round(2))%>
          <%if current_user.superAdmin.company_type=="as_traders"%>
          | <%=(total_profit*0.6).round(2)%> | <%=(total_profit*0.3).round(2)%> | <%=(total_profit*0.1).round(2)%>
          <%end%>
        </h5></td>
      </tr>
    </tbody>
  </table>
</div>
