<div class="hidden" id="products_list">
  <h1>Income Statement</h1>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <%= search_form_for @q, url: reports_sale_report_path, class: "admin-controls", method: "get" do |f| %>
        <div class="col-lg-3 form-group float-left">
          <%= f.search_field :created_at_gteq, class: 'form-control input-sm datepicker',value: @created_at_gteq, 'datepicker' => true,placeholder: "YYYY-MM-DD" %>
        </div>
        <div class="col-lg-3 form-group float-left">
          <%= f.search_field :created_at_lteq, class: 'form-control input-sm datepicker',value: @created_at_lteq, 'datepicker' => true ,placeholder: "YYYY-MM-DD"%>
        </div>
        <div class="col-lg-3 form-group float-left">
          <input class="form-control btn btn-primary" name="search_submit" type="submit" value="Search"></input>
        </div>
        <div class="col-lg-4 form-group float-left">
          <input class="form-control btn  badge badge-pill badge-danger" name="submit_pdf" type="submit" value="Income Statement PDF A4" formtarget="_blank"></input>
        </div>
      <% end %>

    </div>

  </div>

  <table data-toggle="table" data-search="true">
    <thead>
      <tr>
        <th>Date</th>
        <th>Investment</th>
        <th>Purchase</th>
        <th>Salary</th>
        <th>Expense</th>
        <th>Sale</th>
        <th>Stock</th>
        <th>Profit</th>
        <th>Profit (Sale-{I+P+S+E})</th>
        <th>Profit (Sale-{P+S+E})</th>

      </tr>
    </thead>

    <tbody>
      <%(@created_at_gteq..@created_at_lteq).to_a.each do |date|%>
      <tr>
        <td><%=date.strftime(" %d %b %Y : %a")%></td>
        <td><%=investment=@investment[date.to_date]%></td>
        <td>
          <%purchase=@purchase[date.to_date].to_f-@purchase_discount[date.to_date].to_f.to_f%>
          <%=purchase if purchase>0%>
        </td>
        <td>
          <%salary = @salary[date.to_date].to_f+@advance[date.to_date].to_f%>
          <%=salary if salary> 0%>
        </td>
        <td><%=expense=@expense[date.to_date]%></td>
        <td>
          <%sale=@sale[date.to_date].to_f-@sale_discount[date.to_date].to_f%>
          <%=sale if sale>0%>
        </td>
        <td>
          <%=purchase.to_i-sale%>
        </td>
        <td>
          <%=(purchase.to_i-sale)+(@sale[date.to_date].to_f-@sale_discount[date.to_date].to_f)%>
        </td>
        <td>
          <%=(sale-(expense.to_i+salary.to_i+purchase.to_i+investment.to_i)).round(2)%>
        </td>
        <td>
          <%=sale-(expense.to_i+salary.to_i+purchase.to_i)%>
        </td>

      </tr>
      <%end%>
      <tr>
        <td><h5>Total</h5></td>
        <td><h5><%=(@investment_total).round(2)%></h5></td>
        <td><h5><%=(@purchase_total-@purchase_discount_total).round(2)%></h5></td>
        <td><h5><%=(@salary_total+@advance_total).round(2)%></h5></td>
        <td><h5><%=(@expense_total).round(2)%></h5></td>
        <td><h5><%=(@sale_total-@sale_discount_total).round(2)%></h5></td>
        <td><h5><%=((@purchase_total-@purchase_discount_total)-(@sale_total-@sale_discount_total)).round(2)%></h5></td>
        <td><h5><%=@total_profit_s=((((@purchase_total-@purchase_discount_total)-(@sale_total-@sale_discount_total)).round(2))+((@sale_total-@sale_discount_total).round(2)))%>
          <%if current_user.superAdmin.company_type=="as_traders"%>
          | <%=(@total_profit_s*0.6).round(2)%> | <%=(@total_profit_s*0.3).round(2)%> | <%=(@total_profit_s*0.1).round(2)%>
          <%end%>
        </h5></td>
        <td><h5>
          <%=(@total_profit=(@sale_total-@sale_discount_total)-(@investment_total+(@purchase_total-@purchase_discount_total)+(@salary_total+@advance_total)+@expense_total)).round(2)%>
          <%if current_user.superAdmin.company_type=="as_traders"%>
          | <%=(@total_profit*0.6).round(2)%> | <%=(@total_profit*0.3).round(2)%> | <%=(@total_profit*0.1).round(2)%>
          <%end%>

        </h5></td>
        <td><h5>
          <%=@total_profit_without_invesment=(@sale_total-@sale_discount_total)-((@purchase_total-@purchase_discount_total)+(@salary_total+@advance_total)+@expense_total)%>
          <%if current_user.superAdmin.company_type=="as_traders"%>
          | <%=(@total_profit_without_invesment*0.6).round(2)%> | <%=(@total_profit_without_invesment*0.3).round(2)%> | <%=(@total_profit_without_invesment*0.1).round(2)%>
          <%end%>

        </h5></td>
      </tr>

    </tbody>
  </table>


  <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
      ["Element", "Quantity", { role: "style" } ],
      ["Investment", <%=@investment_total%>, " #b1bf22 "],
      ["Purchase", <%=(@purchase_total-@purchase_discount_total)%>, "#3ac6d6"],
      ["Salary", <%=(@salary_total+@advance_total).round(2) %>, "silver"],
      ["Expense", <%=(@expense_total).round(2)%>, "gold"],
      ["Sale", <%=(@sale_total-@sale_discount_total)%>, " #4f52e2 "],
      ["Stock", <%=((@purchase_total-@purchase_discount_total)-(@sale_total-@sale_discount_total)).round(2)%>, "red"],
      ["Profit", <%=@total_profit_s%>, " #12aaa1 "],
      ["Profit 1", <%=@total_profit%>, " #53c43d "],

      ["Profilt 2", <%=@total_profit_without_invesment%>, "color: #d6783a"]
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
      { calc: "stringify",
      sourceColumn: 1,
      type: "string",
      role: "annotation" },
      2]);

      var options = {
        title: "Income Statement",
        width: 800,
        height: 600,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
      chart.draw(view, options);
    }
  </script>
  <div id="barchart_values" style="width: 1200px; height: 450px;"></div>

</div>
<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#products_list").removeClass('hidden');
  });
</script>
<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#daily_books_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
  });
</script>



<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#products_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
  });
  $(document).ready(function() {
    setTimeout(function(){
      $(".chosen-select").chosen({
  allow_single_deselect: true,
  width: '100%'
});
    }, 50);
  });
</script>
