<div class="hidden" id="products_list">
  <h1>Trial Balance => Credit - Debit = Balance</h1>
  <div class="clearfix"></div>

  <div class="main-content-header">
    <ol class="breadcrumb d-flex">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="<%= reports_trial_balance_path %>">Trial Balance</a>
      </li>
      <li class="ml-auto">
        <%= link_to 'Category Wise PDF', reports_trial_balance_path(user_group_pdf: true), class: 'btn btn-danger', target: '_blank'%>
        <%= link_to 'Without Category PDF', reports_trial_balance_path(user_group_all_pdf: true), class: 'btn btn-danger', target: '_blank'%>
      </li>
    </ol>
  </div>
  <div class="float-right">
    <div class="dropdown ml-auto mr-4">
     <span class="btn btn-info" title= "About This page"><i class="fa fa-question-circle mr-1"></i>Help</span>
      <div class="dropdown-content">
        <% if @help.present? %>
        <% @help&.help_links.each do |link| %>
        <a type="button" class="" target="_blank" href="<%= link[1] %>" >Help in <%= link[0] %></a>
         <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link tab-label active " data-toggle="tab" href="#users" role="tab">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link tab-label " data-toggle="tab" href="#staffs" role="tab">Staffs</a>
      </li>
       <li class="nav-item">
        <a class="nav-link tab-label " data-toggle="tab" href="#accounts" role="tab">Accounts</a>
      </li>
       <li class="nav-item">
        <a class="nav-link tab-label " data-toggle="tab" href="#e-reciveable" role="tab">Expense Reciveable</a>
      </li>
       <li class="nav-item">
        <a class="nav-link tab-label " data-toggle="tab" href="#p-reciveable" role="tab">Purchase Reciveable</a>
      </li>
       <li class="nav-item">
        <a class="nav-link tab-label " data-toggle="tab" href="#sale-payable" role="tab">Sale Payable</a>
      </li>
       <li class="nav-item">
        <a class="nav-link tab-label " data-toggle="tab" href="#salary" role="tab">Salary</a>
      </li>
	</ul>

  <div class="tab-content">
    <div class="tab-pane active mb-3 card shadow-sm mt-2 p-4 border-radius-1" id="users" role="tabpanel">
      <div class="card shadow mb-4">
	    	<!-- Card Header - Accordion -->
	    	<a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
	    		<h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Users Payable</h1></h6>
	    	</a>
	    	<!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample" style="">
	    	<div id="trial_balance_users_payable"></div>
        </div>
	    </div>
      <%@sys_user_balance = 0 %>
      <div class="card shadow mb-4">
	    	<!-- Card Header - Accordion -->
	    	<a href="#collapseCardExample1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample1">
	    		<h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Users Reciveable</h1></h6>
	    	</a>
	    	<!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample1" style="">
          <div id="trial_balance_users_reciveable"></div>
        </div>
	    </div>
      <%@sys_user_balance = 0 %>
      <div class="card shadow">
	    	<!-- Card Header - Accordion -->
	    	<a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample1">
	    		<h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Users Nill</h1></h6>
	    	</a>
	    	<!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample2" style="">
      		<div id='trial_balance_users_nill'></div>
        </div>
	    </div>
    </div>
    <div class="tab-pane mb-3 card shadow-sm mt-2 p-4 border-radius-1" id="staffs" role="tabpanel">
      <%@monthly_wage=0%>
      <%@advance=0%>
      <%@short_pay=0%>
      <%@balance=0%>
      <div class="card shadow mb-4">
	    	<!-- Card Header - Accordion -->
	    	<a href="#collapseCardExample3" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample2">
	    		<h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Staff Payable</h1></h6>
	    	</a>
	    	<!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample3" style="">
      		<div id='trial_balance_staffs_payable'></div>
        </div>
      </div>
      <div class="card shadow mb-4">
	    	<!-- Card Header - Accordion -->
	    	<a href="#collapseCardExample4" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample4">
	    		<h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Staff Reciveable</h1></h6>
	    	</a>
	    	<!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample4" style="">
      		<div id='trial_balance_staffs_reciveable'></div>
        </div>
      </div>
      <div class="card shadow mb-4">
	    	<!-- Card Header - Accordion -->
	    	<a href="#collapseCardExample5" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample4">
	    		<h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Staff Nill</h1></h6>
	    	</a>
	    	<!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample5" style="">
      		<div id='trial_balance_staffs_nill'></div>
        </div>
      </div>
    </div>
    <div class="tab-pane mb-3 card shadow-sm mt-2 p-4 border-radius-1" id="accounts" role="tabpanel">
      <div class="card shadow mb-4">
	    	<!-- Card Header - Accordion -->
	    	<a href="#collapseCardExample6" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample4">
	    		<h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Accounts</h1></h6>
	    	</a>
	    	<!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample6" style="">
      		<div id='trial_balance_accounts'></div>
        </div>
      </div>
    </div>
    <div class="tab-pane mb-3 card shadow-sm mt-2 p-4 border-radius-1" id="e-reciveable" role="tabpanel">
      <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#expense-col" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample5">
          <h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Expense Reciveable</h1></h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="expense-col" style="">
          <div id='trial_balance_expense_reciveable'></div>
        </div>
      </div>
    </div>
    <div class="tab-pane mb-3 card shadow-sm mt-2 p-4 border-radius-1" id="p-reciveable" role="tabpanel">
      <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#purchase-col" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample6">
          <h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Purchase Reciveable</h1></h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="purchase-col" style="">
          <div id='trial_balance_purchase_reciveable'></div>
        </div>
      </div>
    </div>
    <div class="tab-pane mb-3 card shadow-sm mt-2 p-4 border-radius-1" id="sale-payable" role="tabpanel">
      <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#sale-col" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample7">
          <h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Sale Payable</h1></h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="sale-col" style="">
          <div id='trial_balance_sale_payable'></div>
        </div>
      </div>
    </div>
    <div class="tab-pane mb-3 card shadow-sm mt-2 p-4 border-radius-1" id="salary" role="tabpanel">
      <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#salary-col" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample8">
          <h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Salary</h1></h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="salary-col" style="">
          <div id='trial_balance_salary'></div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to '', reports_trial_balance_users_payable_path, id: 'user_payables_path', class: 'd-none', remote: true %>
<%= link_to '', reports_trial_balance_users_reciveable_path, id: 'user_reciveable_path', class: 'd-none', remote: true %>
<%= link_to '', reports_trial_balance_users_nill_path, id: 'user_nill_path', class: 'd-none', remote: true %>
<%= link_to '', reports_trial_balance_staffs_payable_path, id: 'staffs_payable_path', class: 'd-none', remote: true %>
<%= link_to '', reports_trial_balance_staffs_reciveable_path, id: 'staffs_reciveable_path', class: 'd-none', remote: true %>
<%= link_to '', reports_trial_balance_staffs_nill_path, id: 'staffs_nill_path', class: 'd-none', remote: true %>
<%= link_to '', reports_trial_balance_accounts_path, id: 'accounts_path', class: 'd-none', remote: true %>
<%= link_to '', reports_trial_balance_expense_reciveable_path, id: 'expense_reciveable_path', class: 'd-none', remote: true %>
<%= link_to '', reports_trial_balance_purchase_reciveable_path, id: 'purchase_reciveable_path', class: 'd-none', remote: true %>
<%= link_to '', reports_trial_balance_sale_payable_path, id: 'sale_payable_path', class: 'd-none', remote: true %>
<%= link_to '', reports_trial_balance_salary_path, id: 'salary_path', class: 'd-none', remote: true %>
<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#products_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
    $('#user_payables_path').trigger('click');
    setTimeout(function(){
      $('#user_reciveable_path').trigger('click');
    },1000);
    setTimeout(function(){
      $('#user_nill_path').trigger('click');
    },2000);
    setTimeout(function(){
      $('#staffs_payable_path').trigger('click');
    },3000);
    setTimeout(function(){
      $('#staffs_reciveable_path').trigger('click');
    },4000);
    setTimeout(function(){
      $('#staffs_nill_path').trigger('click');
    },5000);
    setTimeout(function(){
      $('#accounts_path').trigger('click');
    },6000);
    setTimeout(function(){
      $('#expense_reciveable_path').trigger('click');
    },7000);
    setTimeout(function(){
      $('#purchase_reciveable_path').trigger('click');
    },8000);
    setTimeout(function(){
      $('#sale_payable_path').trigger('click');
    },9000);
    setTimeout(function(){
      $('#salary_path').trigger('click');
    },10000);
  });
</script>
