<div class="hidden m-4" id="products_list">
  <div class="float-left">
    <h2 class="ml-2 logo-back"><i class="fas fa-money-bill-wave-alt mr-2"></i>Trial Balance => Credit - Debit = Balance</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="<%= reports_trial_balance_path %>">Trial Balance</a>
      </li>
    </ol>
  </div>
  <div class="clearfix"></div>
  <div class="float-right d-flex">
    <div>
      <li class="ml-auto">
        <div class="dropdown my-dropdown  mr-2">
          <button type="button" class="form-control bg-light">PDF List</button>
          <div class="dropdown-content trial-balance-dropdown p-2">
            <div class='mb-2'>
              <%= link_to 'Without Zero', reports_trial_balance_path(without_zero_pdf: true), class: 'btn btn-danger file-btn-color', target: '_blank'%>
            </div>
            <div class='mb-2'>
              <%= link_to 'Category Wise', reports_trial_balance_path(user_group_pdf: true), class: 'btn btn-danger file-btn-color ', target: '_blank'%>
            </div>
            <div class='mb-2'>
              <button class="btn btn-info file-btn-color " type="button" data-toggle="modal" data-target="#sixTrialBalance">6 Trial Balance</button>
            </div>
            <div class='mb-2'>
              <%= link_to 'Without Category', reports_trial_balance_path(user_group_all_pdf: true), class: 'btn btn-danger file-btn-color', target: '_blank'%>
            </div>
          </div>
        </div>
      </li>
    </div>
    <div class="dropdown ml-auto">
     <span class="btn btn-outline-info btn-sm mt-1" title= "About This page"><i class="fa fa-question-circle mr-1"></i>Help</span>
     <div class="dropdown-content">
      <% if @help.present? %>
      <% @help&.help_links.each do |link| %>
      <a type="button" class="" target="_blank" href="<%= link[1] %>" >Help in <%= link[0] %></a>
       <% end %>
      <% end %>
     </div>
    </div>
  </div>
  <div class="row">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link tab-label active " data-toggle="tab" href="#users" role="tab"><i class="fa fa-users mr-2"></i>Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link tab-label " data-toggle="tab" href="#staffs" role="tab"><i class="fa fa-user-tag mr-2"></i>Staffs</a>
      </li>
       <li class="nav-item">
        <a class="nav-link tab-label " data-toggle="tab" href="#accounts" role="tab"><i class="fa fa-address-book mr-2"></i>Accounts</a>
      </li>
       <li class="nav-item">
        <a class="nav-link tab-label " data-toggle="tab" href="#e-reciveable" role="tab"><i class="fa fa-coins mr-2"></i>Expense Reciveable</a>
      </li>
       <li class="nav-item">
        <a class="nav-link tab-label " data-toggle="tab" href="#p-reciveable" role="tab"><i class="fa fa-shopping-cart mr-2"></i>Purchase Reciveable</a>
      </li>
       <li class="nav-item">
        <a class="nav-link tab-label " data-toggle="tab" href="#sale-payable" role="tab"><i class="fa fa-shopping-cart mr-2"></i>Sale Payable</a>
      </li>
       <li class="nav-item">
        <a class="nav-link tab-label " data-toggle="tab" href="#salary" role="tab"><i class="fa fa-money-bill-wave mr-2"></i>Salary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link tab-label " data-toggle="tab" href="#commission" role="tab"><i class="fa fa-money-bill-wave mr-2"></i>Commissions</a>
      </li>
	  </ul>
  </div>
  <div class="tab-content">
    <div class="tab-pane active mb-3 card shadow-sm mt-2 p-4 " id="users" role="tabpanel">
      <div class="card shadow mb-4">
	    	<!-- Card Header - Accordion -->
	    	<a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
	    		<h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Users Payable</h1></h6>
	    	</a>
	    	<!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample" style="">
	    	<div id="trial_balance_users_payable"></div>
        </div>
	    </div>
      <%@sys_user_balance = 0 %>
      <div class="card shadow mb-4">
	    	<!-- Card Header - Accordion -->
	    	<a href="#collapseCardExample1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample1">
	    		<h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Users Reciveable</h1></h6>
	    	</a>
	    	<!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample1" style="">
          <div id="trial_balance_users_reciveable"></div>
        </div>
	    </div>
      <%@sys_user_balance = 0 %>
      <div class="card shadow">
	    	<!-- Card Header - Accordion -->
	    	<a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample1">
	    		<h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Users Nill</h1></h6>
	    	</a>
	    	<!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample2" style="">
      		<div id='trial_balance_users_nill'></div>
        </div>
	    </div>
    </div>
    <div class="tab-pane mb-3 card shadow-sm mt-2 p-4 " id="staffs" role="tabpanel">
      <%@monthly_wage=0%>
      <%@advance=0%>
      <%@short_pay=0%>
      <%@balance=0%>
      <div class="card shadow mb-4">
	    	<!-- Card Header - Accordion -->
	    	<a href="#collapseCardExample3" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample2">
	    		<h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Staff Payable</h1></h6>
	    	</a>
	    	<!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample3" style="">
      		<div id='trial_balance_staffs_payable'></div>
        </div>
      </div>
      <div class="card shadow mb-4">
	    	<!-- Card Header - Accordion -->
	    	<a href="#collapseCardExample4" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample4">
	    		<h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Staff Reciveable</h1></h6>
	    	</a>
	    	<!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample4" style="">
      		<div id='trial_balance_staffs_reciveable'></div>
        </div>
      </div>
      <div class="card shadow mb-4">
	    	<!-- Card Header - Accordion -->
	    	<a href="#collapseCardExample5" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample4">
	    		<h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Staff Nill</h1></h6>
	    	</a>
	    	<!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample5" style="">
      		<div id='trial_balance_staffs_nill'></div>
        </div>
      </div>
    </div>
    <div class="tab-pane mb-3 card shadow-sm mt-2 p-4" id="accounts" role="tabpanel">
      <div class="card shadow mb-4">
	    	<!-- Card Header - Accordion -->
	    	<a href="#collapseCardExample6" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample4">
	    		<h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Accounts</h1></h6>
	    	</a>
	    	<!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample6" style="">
      		<div id='trial_balance_accounts'></div>
        </div>
      </div>
    </div>
    <div class="tab-pane mb-3 card shadow-sm mt-2 p-4 " id="e-reciveable" role="tabpanel">
      <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#expense-col" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample5">
          <h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Expense Reciveable</h1></h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="expense-col" style="">
          <div id='trial_balance_expense_reciveable'></div>
        </div>
      </div>
    </div>
    <div class="tab-pane mb-3 card shadow-sm mt-2 p-4 " id="p-reciveable" role="tabpanel">
      <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#purchase-col" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample6">
          <h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Purchase Reciveable</h1></h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="purchase-col" style="">
          <div id='trial_balance_purchase_reciveable'></div>
        </div>
      </div>
    </div>
    <div class="tab-pane mb-3 card shadow-sm mt-2 p-4 " id="sale-payable" role="tabpanel">
      <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#sale-col" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample7">
          <h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Sale Payable</h1></h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="sale-col" style="">
          <div id='trial_balance_sale_payable'></div>
        </div>
      </div>
    </div>
    <div class="tab-pane mb-3 card shadow-sm mt-2 p-4 " id="salary" role="tabpanel">
      <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#salary-col" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample8">
          <h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Salary</h1></h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="salary-col" style="">
          <div id='trial_balance_salary'></div>
        </div>
      </div>
    </div>
    <div class="tab-pane mb-3 card shadow-sm mt-2 p-4 " id="commission" role="tabpanel">
      <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#commission-col" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample8">
          <h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Commissions</h1></h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="commission-col" style="">
          <div class="col-xl-12 col-md-12 mb-4">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <br>
                <table data-toggle="table" data-search="true" class="trial-b-table">
                  <thead>
                    <tr class='text-center'>
                      <th>Name</th>
                      <th>Commission (C)</th>
                      <th>Commission (D)</th>
                      <th>Status</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @commissions_by_carriage.each do |com| %>
                      <tr class='text-center'>
                        <td><%= com[0] %></td>
                        <td><%= number_with_delimiter(com[1].to_f.round(2)) %></td>
                        <td><%= number_with_delimiter(@commissions_group_carriage[com[0]].to_f.round(2)) %></td>
                        <% status_commission =  com[1].to_f.round(2) - @commissions_group_carriage[com[0]].to_f.round(2) %>
                        <td>
                          <% if status_commission.zero? %>
                            <i class="fa fa-check"></i>
                          <% else %>
                            <%= number_with_delimiter(status_commission.to_f.round(2)) %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- Card Header - Accordion -->
        <a href="#own-col" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample8">
          <h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">OWN</h1></h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="own-col" style="">
          <div class="col-xl-12 col-md-12 mb-4">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <br>
                <table data-toggle="table" data-search="true" class="trial-b-table">
                  <thead>
                    <tr class='text-center'>
                      <th>Name</th>
                      <th>OWN (C)</th>
                      <th>OWN (D)</th>
                      <th>Status</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @commissions_by_loading.each do |com| %>
                      <tr class='text-center'>
                        <td><%= com[0] %></td>
                        <td><%= number_with_delimiter(com[1].to_f.round(2)) %></td>
                        <td><%= number_with_delimiter(@commissions_group_loading[com[0]].to_f.round(2)) %></td>
                        <% status_commission =  com[1].to_f.round(2) - @commissions_group_loading[com[0]].to_f.round(2) %>
                        <td>
                          <% if status_commission.zero? %>
                            <i class="fa fa-check"></i>
                          <% else %>
                            <%= number_with_delimiter(status_commission.to_f.round(2)) %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to '', reports_trial_balance_users_payable_path, id: 'user_payables_path', class: 'd-none', remote: true %>
<%= link_to '', reports_trial_balance_users_reciveable_path, id: 'user_reciveable_path', class: 'd-none', remote: true %>
<%= link_to '', reports_trial_balance_users_nill_path, id: 'user_nill_path', class: 'd-none', remote: true %>
<%= link_to '', reports_trial_balance_staffs_payable_path, id: 'staffs_payable_path', class: 'd-none', remote: true %>
<%= link_to '', reports_trial_balance_staffs_reciveable_path, id: 'staffs_reciveable_path', class: 'd-none', remote: true %>
<%= link_to '', reports_trial_balance_staffs_nill_path, id: 'staffs_nill_path', class: 'd-none', remote: true %>
<%= link_to '', reports_trial_balance_accounts_path, id: 'accounts_path', class: 'd-none', remote: true %>
<%= link_to '', reports_trial_balance_expense_reciveable_path, id: 'expense_reciveable_path', class: 'd-none', remote: true %>
<%= link_to '', reports_trial_balance_purchase_reciveable_path, id: 'purchase_reciveable_path', class: 'd-none', remote: true %>
<%= link_to '', reports_trial_balance_sale_payable_path, id: 'sale_payable_path', class: 'd-none', remote: true %>
<%= link_to '', reports_trial_balance_salary_path, id: 'salary_path', class: 'd-none', remote: true %>

<%= search_form_for @q, url: reports_six_trial_balance_path, class: "admin-controls", method: "get" do |f| %>
  <div class="modal fade" id="sixTrialBalance" tabindex="-1" role="dialog" aria-labelledby="sixTrialBalanceTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">6 Trial Balance</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style='height: 300px;'>
          <div class="col-lg-6 form-group float-left">
            <%= f.search_field :created_at_lteq,class: 'form-control input-sm datepicker' ,placeholder: "From YYYY-MM-DD", required: true%>
          </div>
          <div class="col-lg-6 form-group float-left">
            <%= f.search_field :created_at_gteq,class: 'form-control input-sm datepicker' ,placeholder: "To YYYY-MM-DD", required: true%>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger" formtarget="_blank">Generate PDF</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#products_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
    $('#user_payables_path').trigger('click');
    setTimeout(function(){
      $('#user_reciveable_path').trigger('click');
    },1000);
    setTimeout(function(){
      $('#user_nill_path').trigger('click');
    },2000);
    setTimeout(function(){
      $('#staffs_payable_path').trigger('click');
    },3000);
    setTimeout(function(){
      $('#staffs_reciveable_path').trigger('click');
    },4000);
    setTimeout(function(){
      $('#staffs_nill_path').trigger('click');
    },5000);
    setTimeout(function(){
      $('#accounts_path').trigger('click');
    },6000);
    setTimeout(function(){
      $('#expense_reciveable_path').trigger('click');
    },7000);
    setTimeout(function(){
      $('#purchase_reciveable_path').trigger('click');
    },8000);
    setTimeout(function(){
      $('#sale_payable_path').trigger('click');
    },9000);
    setTimeout(function(){
      $('#salary_path').trigger('click');
    },10000);
  });
</script>
