<% @date = Date.today  %>
<% @time = Time.zone.now %>
<div>
  <table>
    <th></th>
    <th></th>
    <tr>
      <td>Printing Date Time: <span><%= @time.strftime("%d")%>/<%=@time.strftime("%b")%>/<%= @time.strftime("%y")%> <%=@time.strftime("at %I:%M%p")%></span> </td>
      <td><p style="text-align: center;margin: 0;">Report by: <%=current_user.name%></p></td>
    </tr>
  </table>
</div>
<p style="border-bottom: double 4px;  margin: 0;"></p>
<h2 style="text-align: center; margin: 0;">Trail Balance Report => <%= @time.strftime("%d")%>/<%=@time.strftime("%b")%>/<%= @time.strftime("%y")%> <%=@time.strftime(" %I:%M%p")%></h2>
<p style="border-bottom: double 4px;  margin: 0;"></p>
<h2 style="text-align: center; margin: 0;">Users</h2>
<p style="border-bottom: double 4px;  margin: 0;"></p>
<% if params[:user_group_pdf].present? %>
  <h2 style="text-align: center; margin: 0;">User Payable</h2>
  <div>
    <%= render partial: 'group_by_data', locals: { heading: 'Customer',
                                        users: @sys_user_payable_customer,
                                        ledger_book_debit: @sys_user_payable_customer_ledger_book_debit,
                                        ledger_book_credit: @sys_user_payable_customer_ledger_book_credit,
                                        ledger_book_credit_total: @sys_user_payable_customer_ledger_book_credit_total,
                                        ledger_book_debit_total: @sys_user_payable_customer_ledger_book_debit_total,
                                        } %>
    <%= render partial: 'group_by_data', locals: { heading: 'Own',
                                                  users: @sys_user_payable_own,
                                                  ledger_book_debit: @sys_user_payable_own_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_payable_own_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_payable_own_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_payable_own_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Supplier',
                                                  users: @sys_user_payable_supplier,
                                                  ledger_book_debit: @sys_user_payable_supplier_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_payable_supplier_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_payable_supplier_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_payable_supplier_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Both',
                                                  users: @sys_user_payable_both,
                                                  ledger_book_debit: @sys_user_payable_both_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_payable_both_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_payable_both_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_payable_both_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'MD-Investment',
                                                  users: @sys_user_payable_md_investment,
                                                  ledger_book_debit: @sys_user_payable_md_investment_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_payable_md_investment_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_payable_md_investment_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_payable_md_investment_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Salesman',
                                                  users: @sys_user_payable_sale_man,
                                                  ledger_book_debit: @sys_user_payable_sale_man_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_payable_sale_man_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_payable_sale_man_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_payable_sale_man_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Investor',
                                                  users: @sys_user_payable_investor,
                                                  ledger_book_debit: @sys_user_payable_investor_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_payable_investor_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_payable_investor_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_payable_investor_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'LandLord',
                                                  users: @sys_user_payable_landlord,
                                                  ledger_book_debit: @sys_user_payable_landlord_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_payable_landlord_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_payable_landlord_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_payable_landlord_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Other',
                                                  users: @sys_user_payable_other,
                                                  ledger_book_debit: @sys_user_payable_other_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_payable_other_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_payable_other_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_payable_other_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Worker',
                                                  users: @sys_user_payable_worker,
                                                  ledger_book_debit: @sys_user_payable_worker_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_payable_worker_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_payable_worker_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_payable_worker_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Investment',
                                                  users: @sys_user_payable_investment,
                                                  ledger_book_debit: @sys_user_payable_investment_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_payable_investment_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_payable_investment_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_payable_investment_ledger_book_debit_total,
                                                  }
    %>
  </div>

  <h2 style="text-align: center; margin: 0;">User Receivable</h2>
  <div>
    <%= render partial: 'group_by_data', locals: { heading: 'Customer',
                                        users: @sys_user_recievable_customer,
                                        ledger_book_debit: @sys_user_recievable_customer_ledger_book_debit,
                                        ledger_book_credit: @sys_user_recievable_customer_ledger_book_credit,
                                        ledger_book_credit_total: @sys_user_recievable_customer_ledger_book_credit_total,
                                        ledger_book_debit_total: @sys_user_recievable_customer_ledger_book_debit_total,
                                        } %>
    <%= render partial: 'group_by_data', locals: { heading: 'Own',
                                                  users: @sys_user_recievable_own,
                                                  ledger_book_debit: @sys_user_recievable_own_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_recievable_own_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_recievable_own_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_recievable_own_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Supplier',
                                                  users: @sys_user_recievable_supplier,
                                                  ledger_book_debit: @sys_user_recievable_supplier_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_recievable_supplier_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_recievable_supplier_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_recievable_supplier_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Both',
                                                  users: @sys_user_recievable_both,
                                                  ledger_book_debit: @sys_user_recievable_both_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_recievable_both_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_recievable_both_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_recievable_both_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'MD-Investment',
                                                  users: @sys_user_recievable_md_investment,
                                                  ledger_book_debit: @sys_user_recievable_md_investment_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_recievable_md_investment_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_recievable_md_investment_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_recievable_md_investment_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Salesman',
                                                  users: @sys_user_recievable_sale_man,
                                                  ledger_book_debit: @sys_user_recievable_sale_man_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_recievable_sale_man_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_recievable_sale_man_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_recievable_sale_man_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Investor',
                                                  users: @sys_user_recievable_investor,
                                                  ledger_book_debit: @sys_user_recievable_investor_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_recievable_investor_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_recievable_investor_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_recievable_investor_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'LandLord',
                                                  users: @sys_user_recievable_landlord,
                                                  ledger_book_debit: @sys_user_recievable_landlord_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_recievable_landlord_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_recievable_landlord_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_recievable_landlord_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Other',
                                                  users: @sys_user_recievable_other,
                                                  ledger_book_debit: @sys_user_recievable_other_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_recievable_other_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_recievable_other_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_recievable_other_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Worker',
                                                  users: @sys_user_recievable_worker,
                                                  ledger_book_debit: @sys_user_recievable_worker_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_recievable_worker_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_recievable_worker_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_recievable_worker_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Investment',
                                                  users: @sys_user_recievable_investment,
                                                  ledger_book_debit: @sys_user_recievable_investment_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_recievable_investment_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_recievable_investment_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_recievable_investment_ledger_book_debit_total,
                                                  }
    %>
  </div>

  <h2 style="text-align: center; margin: 0;">Users Nill</h2>
  <div>
    <%= render partial: 'group_by_data', locals: { heading: 'Customer',
                                        users: @sys_user_nil_customer,
                                        ledger_book_debit: @sys_user_nil_customer_ledger_book_debit,
                                        ledger_book_credit: @sys_user_nil_customer_ledger_book_credit,
                                        ledger_book_credit_total: @sys_user_nil_customer_ledger_book_credit_total,
                                        ledger_book_debit_total: @sys_user_nil_customer_ledger_book_debit_total,
                                        } %>
    <%= render partial: 'group_by_data', locals: { heading: 'Own',
                                                  users: @sys_user_nil_own,
                                                  ledger_book_debit: @sys_user_nil_own_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_nil_own_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_nil_own_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_nil_own_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Supplier',
                                                  users: @sys_user_nil_supplier,
                                                  ledger_book_debit: @sys_user_nil_supplier_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_nil_supplier_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_nil_supplier_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_nil_supplier_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Both',
                                                  users: @sys_user_nil_both,
                                                  ledger_book_debit: @sys_user_nil_both_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_nil_both_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_nil_both_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_nil_both_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'MD-Investment',
                                                  users: @sys_user_nil_md_investment,
                                                  ledger_book_debit: @sys_user_nil_md_investment_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_nil_md_investment_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_nil_md_investment_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_nil_md_investment_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Salesman',
                                                  users: @sys_user_nil_sale_man,
                                                  ledger_book_debit: @sys_user_nil_sale_man_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_nil_sale_man_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_nil_sale_man_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_nil_sale_man_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Investor',
                                                  users: @sys_user_nil_investor,
                                                  ledger_book_debit: @sys_user_nil_investor_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_nil_investor_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_nil_investor_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_nil_investor_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'LandLord',
                                                  users: @sys_user_nil_landlord,
                                                  ledger_book_debit: @sys_user_nil_landlord_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_nil_landlord_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_nil_landlord_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_nil_landlord_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Other',
                                                  users: @sys_user_nil_other,
                                                  ledger_book_debit: @sys_user_nil_other_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_nil_other_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_nil_other_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_nil_other_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Worker',
                                                  users: @sys_user_nil_worker,
                                                  ledger_book_debit: @sys_user_nil_worker_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_nil_worker_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_nil_worker_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_nil_worker_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Investment',
                                                  users: @sys_user_nil_investment,
                                                  ledger_book_debit: @sys_user_nil_investment_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_nil_investment_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_nil_investment_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_nil_investment_ledger_book_debit_total,
                                                  }
    %>
  </div>
<% else %>
  <div>
    <%= render partial: 'group_by_data', locals: { heading: 'Customer',
                                        users: @sys_user_customer,
                                        ledger_book_debit: @sys_user_customer_ledger_book_debit,
                                        ledger_book_credit: @sys_user_customer_ledger_book_credit,
                                        ledger_book_credit_total: @sys_user_customer_ledger_book_credit_total,
                                        ledger_book_debit_total: @sys_user_customer_ledger_book_debit_total,
                                        } %>
    <%= render partial: 'group_by_data', locals: { heading: 'Own',
                                                  users: @sys_user_own,
                                                  ledger_book_debit: @sys_user_own_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_own_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_own_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_own_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Supplier',
                                                  users: @sys_user_supplier,
                                                  ledger_book_debit: @sys_user_supplier_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_supplier_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_supplier_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_supplier_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Both',
                                                  users: @sys_user_both,
                                                  ledger_book_debit: @sys_user_both_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_both_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_both_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_both_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'MD-Investment',
                                                  users: @sys_user_md_investment,
                                                  ledger_book_debit: @sys_user_md_investment_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_md_investment_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_md_investment_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_md_investment_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Salesman',
                                                  users: @sys_user_sale_man,
                                                  ledger_book_debit: @sys_user_sale_man_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_sale_man_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_sale_man_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_sale_man_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Investor',
                                                  users: @sys_user_investor,
                                                  ledger_book_debit: @sys_user_investor_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_investor_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_investor_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_investor_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'LandLord',
                                                  users: @sys_user_landlord,
                                                  ledger_book_debit: @sys_user_landlord_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_landlord_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_landlord_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_landlord_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Other',
                                                  users: @sys_user_other,
                                                  ledger_book_debit: @sys_user_other_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_other_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_other_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_other_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Worker',
                                                  users: @sys_user_worker,
                                                  ledger_book_debit: @sys_user_worker_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_worker_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_worker_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_worker_ledger_book_debit_total,
                                                  }
    %>

    <%= render partial: 'group_by_data', locals: { heading: 'Investment',
                                                  users: @sys_user_investment,
                                                  ledger_book_debit: @sys_user_investment_ledger_book_debit,
                                                  ledger_book_credit: @sys_user_investment_ledger_book_credit,
                                                  ledger_book_credit_total: @sys_user_investment_ledger_book_credit_total,
                                                  ledger_book_debit_total: @sys_user_investment_ledger_book_debit_total,
                                                  }
    %>
  </div>
<% end %>

<div class="alwaysbreak">
<p style="border-bottom: double 4px;  margin: 0;"></p>
<h2 style="text-align: center; margin: 0;">Staff</h2>
<p style="border-bottom: double 4px;  margin: 0;"></p>
  <% if params[:user_group_pdf].present? %>

    <%= render partial: 'staffs_group_by_data', locals: { heading: 'Staff Payable',
                                                          departments: @departments_for_staffs
                                                  }
    %>

    <%= render partial: 'staffs_group_by_data', locals: { heading: 'Staff Recievable',
                                                          departments: @departments_for_staffs
                                                  }
    %>

    <%= render partial: 'staffs_group_by_data', locals: { heading: 'Staff Nill',
                                                          departments: @departments_for_staffs
                                                  }
    %>
  <% else %>
    <% @departments_for_staffs.each do |department| %>
      <h2 style="text-align: center; margin: 0;"><%= department.title %></h2>
      <div>
        <table>
          <thead>
            <tr class="lite-gray" style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif">
              <th>Status</th>
              <th>Code</th>
              <th>Name</th>
              <th>Monthly/Wage</th>
              <th>Department/Raw</th>
              <th>Debit</th>
              <th>Credit</th>
              <th>Balance</th>
              <th>Check</th>
            </tr>
          </thead>
          <tbody>
            <% total_balance = 0 %>
            <% total_credit = 0 %>
            <% total_debit = 0 %>
            <% department&.staffs.each do |staff| %>
              <tr class="" style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif" >
                <td><%= staff.staff_type %></td>
                <td>
                    <i class="fa fa-address-book"></i><%= staff.code %>
                </td>
                <td><%= staff.full_name %></td>
                <td><%= staff.staff_salary_or_wage.to_f.round(2)%></td>
                <td><%= staff.department.present? ? staff.department.title : ""%>:<%= staff.staff_raw_products.present? ? staff.staff_raw_products_titles : ""%></td>
                <td>
                  <% debit_sum  = staff&.staff_ledger_books&.sum(:debit) %>
                  <% total_debit = total_debit.to_f + debit_sum.to_f %>
                  <%= number_with_delimiter(debit_sum)%>
                </td>
                <td>
                  <% credit_sum = staff&.staff_ledger_books&.sum(:debit) %>
                  <% total_credit = total_credit.to_f + credit_sum.to_f %>
                  <%= number_with_delimiter(credit_sum)%>
                </td>
                <td>
                  <% balance = staff.balance.to_f.round(2)%>
                  <% credit_debit = credit_sum.to_i - debit_sum.to_i %>
                  <% total_balance = total_balance.to_i + balance.to_i %>
                  <%= number_with_delimiter(balance)%>
                </td>
                <td>
                  <% if balance == credit_debit%>
                    <i class="fa fa-check"></i>
                  <%else%>
                    <i class="fa fa-trash"></i>
                    <%=number_with_delimiter(balance-credit_debit)%>
                  <%end%>
                </td>
              </tr>
            <% end %>
            <tr class="lite-gray" style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif" >
              <td><h4>Total<h4></td>
              <td><h4></h4></td>
              <td></td>
              <td></td>
              <td></td>
              <td><h4><%= number_with_delimiter(total_debit) %></h4></td>
              <td><h4><%= number_with_delimiter(total_credit) %></h4></td>
              <td><h4><%= number_with_delimiter(total_balance) %></h4></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>
  <% end %>

<div class="alwaysbreak">
<p style="border-bottom: double 4px;  margin: 0;"></p>
<h2 style="text-align: center; margin: 0;">Accounts</h2>
<div >
  <table>
    <thead>
      <tr class="lite-gray" style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif">
        <th>Title</th>
        <th>Bank Name</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Balance</th>
        <th>Check</th>
      </tr>
    </thead>
    <tbody>
      <% @accounts.each do |account| %>
      <tr style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif">
          <td>
              <i class="fa fa-address-book"></i><%= account.title %>
          </td>
          <td><%= account.bank_name %></td>
          <td>
            <% debit_sum  = @account_debit[account.title].to_d%>
            <%= number_with_delimiter(debit_sum)%>
          </td>
          <td>
            <% credit_sum = @account_credit[account.title].to_d%>
            <%= number_with_delimiter(credit_sum)%>
          </td>
          <td>
            <% balance = account.amount.to_f.round(2)%> <%credit_debit = credit_sum-debit_sum%>
            <%= number_with_delimiter(balance)%>
          </td>
          <td>
            <% if balance == credit_debit%>
              <i class="fa fa-check"></i>
              ok
            <%else%>
              <i class="fa fa-trash"></i>
              <%=number_with_delimiter(balance-credit_debit)%>
            <%end%>
          </td>
        </tr>
      <% end %>
      <tr class="lite-gray" style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif">
        <td><h4>Total<h4></td>
        <td><h4><%#=@accounts.count%></h4></td>
        <td><h4><%=@account_debit_total.to_f.round(2)%></h4></td>
        <td><h4><%=@account_credit_total.to_f.round(2)%></h4></td>
        <td><h4><%=@accounts.sum(:amount).abs.to_f.round(2)%><h4></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<h2 style="text-align: center; margin: 0;">Expense Reciveable</h2>
<div >
  <table>
    <thead>
      <tr class="lite-gray" style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif">
        <th>Title</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Check</th>
      </tr>
    </thead>
    <tbody>
      <% @expense_list.each do |exp| %>
        <tr style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif">
          <td>
              <i class="fa fa-address-book"></i><%= exp&.first&.last %>
          </td>
          <td>
            <% balance = exp.last.to_f.round(2) %>
            <%= number_with_delimiter(balance)%>
          </td>
          <td>
            <% credit_expense = @credit_expense[exp&.first&.last].to_f.round(2)%>
            <%= number_with_delimiter(credit_expense)%>
          </td>
          <td>
            <% if balance == credit_expense%>
              <i class="fa fa-check"></i>
              ok
            <%else%>
              <i class="fa fa-trash"></i>
              <%=number_with_delimiter(balance-credit_expense)%>
            <%end%>
          </td>
        </tr>
      <% end %>
      <tr class="lite-gray" style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif">
        <td><h4>Total</h4></td>
        <td><h4><%#=@expense_list.count%></h4></td>
        <td><h4><%=@expense_total.abs.to_f.round(2)%><h4></td>
        <td><h4><%=@total_credit_expense.abs.to_f.round(2)%><h4></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<h2 style="text-align: center; margin: 0;">Purchase Reciveable</h2>
<div >
  <table>
    <thead>
      <tr class="lite-gray" style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif">
        <th>Title</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @purchase_item_list.each do |exp| %>
        <tr style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif">
          <td><%= exp.first %></td>
          <td><%= exp.last.to_f.round(2) %></td>
        </tr>
      <% end %>
      <% @purchase_product_list.each do |exp| %>
        <tr style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif">
          <td><%= exp.first %></td>
          <td><%= exp.last.to_f.round(2) %></td>
        </tr>
      <% end %>
      <tr class="lite-gray" style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif">
        <td><h4>Total : <%=@purchase_item_list.count.to_i+@purchase_product_list.count.to_i%></h4></td>
        <td><h4><%=@purchase_item_total.to_i+@purchase_product_total.to_i%><h4></td>
      </tr>
    </tbody>
  </table>
</div>

<h2 style="text-align: center; margin: 0;">Sale Payable</h2>
<div >
  <table>
    <thead>
      <tr class="lite-gray" style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif">
        <th>Title</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @sale_item_list.each do |exp| %>
        <tr style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif">
          <td><%= exp.first %></td>
          <td><%= exp.last.to_f.round(2) %></td>
        </tr>
      <% end %>
      <% @sale_product_list.each do |exp| %>
        <tr style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif">
          <td><%= exp.first %></td>
          <td><%= exp.last.to_f.round(2) %></td>
        </tr>
      <% end %>
      <tr class="lite-gray" style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif">
        <td><h4>Total : <%=@sale_item_list.count.to_i+@sale_product_list.count.to_i%></h4></td>
        <td><h4><%=@sale_item_total.to_i+@sale_product_total.to_i%><h4></td>
      </tr>
    </tbody>
  </table>
</div>
<h2 style="text-align: center; margin: 0;">Salary</h2>
<div >
  <table>
    <thead>
      <tr class="lite-gray" style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif">
        <th>Title</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @salary_detail_list.each do |exp| %>
        <tr style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif">
          <td><%= exp.first %></td>
          <td><%= exp.last.to_f.round(2) %></td>
        </tr>
      <% end %>

      <% @khakar_salary_detail_list.each do |exp| %>
        <tr style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif">
          <td><%= exp.first %></td>
          <td><%= exp.last.to_f.round(2) %></td>
        </tr>
      <% end %>
      <tr class="lite-gray" style="text-align:center; font-size:15px;,font-family: Arial Black, Gadget, sans-serif">
        <td><h4>Total : <%=@salary_detail_list.count.to_i%></h4></td>
        <td><h4><%=@salary_detail_total.to_i%><h4></td>
      </tr>
    </tbody>
  </table>
</div>
