<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="author" content="2wayclick kft">
      <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
      <meta name="title" content="Munshionclick - Portal for ERP, POS | Account Management Best Accounting Software 2022" />
      <meta name="application-name" content="MunshioOnClick"/>
      <meta name="apple-mobile-web-app-status-bar-style" content="MunshioOnClick"/>
      <meta name="apple-mobile-web-app-title" content="MunshioOnClick"/>
      <meta name="theme-color" content="#FFFFFF"/>
      <meta name="msapplication-navbutton-color" content="#FFFFFF"/>
      <meta name="msapplication-TileColor" content="#FFFFFF"/>
      <meta name="msapplication-tooltip" content="MunshioOnClick"/>
      <meta name="msapplication-starturl" content="/"/>
      <meta name="theme-color" content="#FFFFFF"/>
      <meta name="referrer" content="strict-origin-when-cross-origin"/>
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:title" content="Munshionclick Cloud ERP" />
      <meta name="twitter:description" content="Munshionclick ERP is the perfect solution for your business, and the best could base EPR in world. It is your business partner that streamlines your processes, enables you to manage your data better and to get insights for seamless business management." />
      <meta name="keywords" content="erp, pos, point of sale,  accounting tool, smart accounting, smart erp, accounting software, essay erp software, smart pos system, erp tool online free, free pos, real estate online software, real estate management, real estate system online, bricklin software, bricklin software online management "/>
      <meta name="description" content="Munshionclick ERP is the ideal company solution, and Pakistan is the greatest place to base it. Your business partner is the one who helps you to streamline your operations, improve data management, and gain insights for effective business management." />
      <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
      <meta name="twitter:card" content="summary"/>
      <meta name="twitter:title" content="Best Accounting Online Software In Pakistan | Reliable &amp; Secure" />
      <meta name="twitter:description" content="Munshionclick ERP is the ideal company solution, and Pakistan is the greatest place to base it. Your business partner is the one who helps you to streamline your operations, improve data management, and gain insights for effective business management." />
      <meta name="twitter:image" content=<%=url_to_image("heading-line-dec.png")%> />
      <meta name="generator" content="html" />
      <meta name="generator" content="Powered by 2wayclick - software company in hungary." />
      <meta name="msapplication-TileImage" content=<%=url_to_image("heading-line-dec.png")%> />
      <meta name="generator" content="NitroPack" />
      <meta name="productCategory" content="Accounting" />

      <meta property="og:url" content="https://munshionclick.com"/>
      <meta property="og:type" content="software"/>
      <meta property="og:title" content="Account Management Best Accounting Software 2022 | Munshionclick ERP"/>
      <meta property="og:locale" content="en_US" />
      <meta property="og:site_name" content="Munshionclick Cloud ERP | Munshionclick Cloud ERP | Munshionclick Online ERP | Munshionclick online POS" />
      <meta property="og:description" content="Munshionclick ERP is the ideal company solution, and Pakistan is the greatest place to base it. Your business partner is the one who helps you to streamline your operations, improve data management, and gain insights for effective business management."/>
      <meta property="article:published_time" content="2020-02-15T08:20:20+00:00" />
      <meta property="article:modified_time" content="2022-06-20T08:20:20+00:00" />

      <meta property="og:image" content=<%=url_to_image("heading-line-dec.png")%>" />
      <meta property="og:image:secure_url" content=<%=url_to_image("heading-line-dec.png")%> />

      <link rel="canonical" href="https://munshionclick.com"/>
      <link rel="alternate" hrefLang="x-default" href="https://munshionclick.com/"/>
      <link rel="alternate" hrefLang="en-us" href="https://munshionclick.com/"/>
      <link rel="alternate" hrefLang="en-pk" href="https://munshionclick.com/"/>
      <link rel="alternate" hrefLang="en-ng" href="https://munshionclick.com/"/>
      <link rel="alternate" hrefLang="en-ph" href="https://munshionclick.com/"/>
      <link rel="alternate" hrefLang="en-gb" href="https://munshionclick.com/"/>
      <link rel="alternate" hrefLang="en-bd" href="https://munshionclick.com/"/>
      <link rel="alternate" hrefLang="en-ca" href="https://munshionclick.com/"/>
      <link rel="alternate" hrefLang="en-gh" href="https://munshionclick.com/"/>
      <link rel="alternate" hrefLang="en-au" href="https://munshionclick.com/"/>
      <link rel="alternate" hrefLang="en-de" href="https://munshionclick.com/"/>
      <link rel="alternate" hrefLang="en-jp" href="https://munshionclick.com/"/>
      <link rel="alternate" hrefLang="en-za" href="https://munshionclick.com/"/>
      <link rel="alternate" hrefLang="en-my" href="https://munshionclick.com/"/>
      <link rel="alternate" hrefLang="en-nl" href="https://munshionclick.com/"/>
      <link rel="alternate" hrefLang="en-pl" href="https://munshionclick.com/"/>
      <link rel="alternate" hrefLang="en-zw" href="https://munshionclick.com/"/>
      <link rel="alternate" hrefLang="en-se" href="https://munshionclick.com/"/>
      <link rel="alternate" hrefLang="en-be" href="https://munshionclick.com/"/>
      <link rel="alternate" hrefLang="en-il" href="https://munshionclick.com/"/>
      <link rel="shortcut icon" href=<%=url_to_image("favicon.png")%>"/>
      <link rel="icon" href="/favicon.ico">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
      <script type="application/ld+json">{"@context":"https://schema.org","@type":"Organization","name":"Munshionclick","description":"Munshionclick ERP is the ideal company solution, and Pakistan is the greatest place to base it. Your business partner is the one who helps you to streamline your operations, improve data management, and gain insights for effective business management.","url":"https://munshionclick.com/","logo":"https://munshionclick.com/QuillBotLogo.svg","foundingDate":"2020","founders":[{"@type":"Person","name":"Abaid"}],"address":{"@type":"PostalAddress","streetAddress":"Attila ut 25 budapest hungary","addressLocality":"budapest","addressRegion":"bp","postalCode":"1013","addressCountry":"HUNGARY"},"contactPoint":{"@type":"ContactPoint","contactType":"customer support","email":"info@munshionclick.com"},"sameAs":["https://www.facebook.com/Munshionclick"]}</script>
      <title>Munshionclick - ERP, POS | Best Accounting Software 2022</title>

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

      <!-- Bootstrap core CSS -->
      <link href=<%=url_for("/css/bootstrap.min.css")%> rel="stylesheet">

      <!-- Additional CSS Files -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <link rel="stylesheet" href=<%=url_for("/css/templatemo-chain-app-dev.css")%>>
      <link rel="stylesheet" href=<%=url_for("/css/animated.css")%>>
      <link rel="stylesheet" href=<%=url_for("/css/owl.css")%>>

      <!-- Google Tag Manager -->
      <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5VRQK6M');
      </script>
      <!-- End Google Tag Manager -->
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-85CLFL48XW"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-85CLFL48XW');
      </script>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-235999526-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-235999526-1');
      </script>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4442427798823552"
     crossorigin="anonymous"></script>
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="index.html" class="logo">
                <%=image_tag("logo.png")%>
              </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                <li class="scroll-to-section"><a href="#services">Services</a></li>
                <li class="scroll-to-section"><a href="#about">About</a></li>
                <li class="scroll-to-section"><a href="#pricing">Pricing</a></li>
                <li class="scroll-to-section"><a href="#newsletter">Newsletter</a></li>
                <li><div class="gradient-button"><a id="modal_trigger" href="#modal"><i class="fa fa-sign-in-alt"></i> Sign In Now</a></div></li>
              </ul>
              <a class='menu-trigger'>
                  <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4442427798823552"
     crossorigin="anonymous"></script>
    <!-- Banner Munshi -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4442427798823552"
         data-ad-slot="1373893204"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <%=  yield %>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4442427798823552"
         crossorigin="anonymous"></script>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-format="autorelaxed"
         data-ad-client="ca-pub-4442427798823552"
         data-ad-slot="8576476241"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <!-- Scripts -->
    <script src=<%=url_for("/js/jquery.min.js")%>></script>
    <script src=<%=url_for("/js/bootstrap.bundle.min.js")%>></script>
    <script src=<%=url_for("/js/owl-carousel.js")%>></script>
    <script src=<%=url_for("/js/animation.js")%>></script>
    <script src=<%=url_for("/js/imagesloaded.js")%>></script>
    <script src=<%=url_for("/js/popup.js")%>></script>
    <script src=<%=url_for("/js/custom.js")%>></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DDED5XCG6M"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-DDED5XCG6M');
    </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5VRQK6M"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>

</html>
