<!DOCTYPE html>
<html>
<head>
    <title>POS</title>
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
</head>
<body class="bond_pos_pdf">
  <% @time = Time.zone.now %>
  <% @salary_details.each.with_index do |staff,index| %>
    <div class="">
      <%raw_quantity=0%>
      <%quantity=0%>
      <%wage_debit=0%>
      <%wage_credit=0%>
      <%gift_pay=0%>
      <%coverge_pay=0%>
      <table data-toggle="table" data-search="true">
        <thead>
          <tr>
            <p style="border-bottom: double 4px;  margin: 0;"></p>
            <h2 style="text-align: center; margin: 0;">Code#  <%= staff.code %> </h2>
            <p style="border-bottom: double 4px;  margin: 0;"></p>
          </tr>
          <tr>
            <h2 style="text-align: center; margin: 0;"><%= staff.full_name %> </h2>
          </tr>
          <tr>
            <th><h3 style="text-align: left; margin: 0;"><%=@created_at_gteq%> to <%=@created_at_lteq%></h3></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><h3 style="text-align: right; margin: 0;">Rate <%=(staff.salary_details.first.raw_wage_rate.to_f*1000).round(-2) if staff.salary_details.present?%></h3></th>

          </tr>
          <tr>
            <th class="short-column">Date</th>
            <th class="short-column">Item</th>
            <th class="short-column">Kachi</th>
            <th class="short-column">K Price</th>
            <th class="short-column">Gift</th>
            <th class="short-column">Coverge</th>
          </tr>
        </thead>

        <tbody>
          <% staff.salary_details.each do |salary_detail| %>
            <tr class="">
              <td><%= salary_detail.created_at.strftime("%d-%b-%y") %></td>
              <td><%= salary_detail.raw_product_title %></td>
              <td><%= salary_detail.raw_quantity.to_f.round(0) %></td>
              <td><%= salary_detail.wage_debit.to_f.round(0) %></td>
              <td><%= gift_pay_sum=salary_detail.gift_pay.to_f.round(0) %></td>
              <td>
                <%=coverge_pay_sum=salary_detail.coverge_pay.to_f.round(0) %>
                <% raw_quantity+=salary_detail.raw_quantity.to_f.round(0) %>
                <% gift_pay+=gift_pay_sum %>
                <% coverge_pay+=coverge_pay_sum %>
                <% wage_debit+=salary_detail.wage_debit.to_f.round(0) %>
              </td>
            </tr>
          <%end%>
          <tr class="lite-gray">
            <td class="td-bold">Total</td>
            <td></td>
            <td class="td-bold"><%=(raw_quantity).to_f.round(0) %></td>
            <td class="td-bold"><%=(wage_debit).to_f.round(-1) %></td>
            <td class="td-bold"><%=(gift_pay).to_f.round(-1) %></td>
            <td class="td-bold"><%=(coverge_pay).to_f.round(-1) %></td>
          </tr>





        </tbody>
      </table>

      <p style="border-bottom: dotted 4px;  margin: 0;"></p>
      <h2 style="text-align: left; margin: 0;">Total Payable  <%= (wage_debit+gift_pay+coverge_pay).to_f.round(-1) %> </h2>
    </div>
    <div class="page-break"></div>
  <% end %>
</body>
<script type="text/javascript">
    setTimeout(function(){
      window.print();
    }, 50);
</script>
</html>
