<div id="custom-alert" class="alert alert-danger d-none">
  <span class="custom-alert-text"></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="row-lg-12 m-4">
  <div class="float-left">
    <h2 class="ml-2 logo-back"><i class="fa fa-address-book mr-2"></i>Accounts</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="<%= accounts_path %>">Accounts</a>
      </li>
    </ol>
  </div>
  <% if check_can_create(@module_permission) %>
    <div class="float-right mt-3">
      <%= link_to new_account_path, remote: true, style:"width: 150px;", class: "btn btn-success mt-3" do %>
          <i class="fa fa-plus-circle"></i>
          Create
      <% end %>
    </div>
  <% end %>
  <% if check_can_create(@module_permission) %>
    <div class="float-right mt-3">
      <%= link_to payments_path, class: "btn btn-outline-danger mr-2 mt-3" do %>
          Payments
      <% end %>
    </div>
  <% end %>
  <% if check_can_create(@module_permission) %>
    <div class="float-right mt-3">
      <%= link_to transfer_payments_path, class: "btn btn-outline-primary  mr-2 mt-3" do %>
          Transfer Payments
      <% end %>
    </div>
  <% end %>
</div>
<div class="clearfix"></div>
<div class="hidden m-4" id="city_list">
  <div class="float-right">
    <div class="dropdown ml-auto">
     <span class="btn btn-outline-info btn-sm mt-2 " title= "About This page"><i class="fa fa-question-circle mr-1"></i>Help</span>
      <div class="dropdown-content">
        <% if @help.present? %>
        <% @help&.help_links.each do |link| %>
        <a type="button" class="" target="_blank" href="<%= link[1] %>" >Help in <%= link[0] %></a>
         <% end %>
        <% end %>
      </div>
    </div>
  </div>
<div class="row">
	<ul class="nav nav-tabs" role="tablist"> 
		<li class="nav-item">
			<a class="nav-link tab-label active" data-toggle="tab" href="#search" role="tab"><i class="fa fa-search mr-2"></i>Search</a>
		</li>
    <li class="nav-item">
			<a class="nav-link tab-label" data-toggle="tab" href="#analytics" data-remote="true" role="tab"><i class="fa fa-signal mr-2"></i>Analytics</a>
		</li>
		<%if (check_can_import_export(@module_permission ))%>
			<li class="nav-item">
				<a class="nav-link tab-label" data-toggle="tab" href="#import-export" role="tab"><i class="fa fa-exchange-alt mr-2"></i>Import/Export</a>
			</li>
		<%end%>
	</ul>
</div>  
<%= hidden_field_tag "accountTitle", @account_title, { :id => "accountTitle" } %>
<%= hidden_field_tag "accountAmount", @account_amount, { :id => "accountAmount" } %>
<%= search_form_for @q, url: accounts_path, class: "admin-controls", method: "get" do |f| %>
  <div class="tab-content">
    <div class="tab-pane active mb-3 no-tab-border" id="search" role="tabpanel">
      <div class="card shadow mt-2 mb-3 p-4">  
        <div class="row d-flex mt-3 mr-2">
          <div class="col-lg-4 form-group float-left">
            <%= f.select :id_in, options_from_collection_for_select(@accounts, "id", ->(st){"#{st.title} \u{27F6} #{st.bank_name}"},f.object.id_in),{:include_blank => "Select the Title"},{:multiple => true,:class=>"form-control chosen-select", :data => {:placeholder => "Select the Title"} }%>
          </div>
          <div class="col-lg-2 form-group float-left">
            <button class="form-control btn btn-primary" name="search_submit" type="submit" value="Search" style="width:100px"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
      <div class="card shadow p-4">
        <div class="row d-flex" style="position: absolute;">
          <div>
            <%if (check_can_delete(@module_permission))%>
              <button class="btn btn-danger file-btn-color delete-selected mt-4 ml-3" type='button' value='Account'>
                <i class="fa fa-trash"></i>
              </button>		
            <%end%>
          </div>
          <div class="mt-4 ml-3">
            <%if (check_can_download_pdf(@module_permission))%>
              <div class="dropdown my-dropdown mr-1 ml-auto">
                <button type="button" class="btn btn-danger file-btn-color" style="width:80px">PDF</button>
                <div class="dropdown-content my-dropdown-content p-3">
                  <button class="btn btn-danger file-btn-color mr-1 ml-1 mt-2 mb-2" title= "download crm pdf" name="pdf_asc" type="submit" value="pdf_asc" formtarget="_blank" style="width:100px">ASC</button>
                  <button class="btn btn-danger file-btn-color mr-1 ml-1 mt-2 mb-2" title= "download crm pdf" name="pdf_desc" type="submit" value="pdf_desc" formtarget="_blank" style="width:100px">DESC</button>
                </div>
              </div>
            <% end %>
            <%if (check_can_download_csv(@module_permission))%>
              <button class="btn btn-danger file-btn-color mr-1" name="csv" style="width:80px" type="submit" value="Accounts CSV">CSV</button>
            <% end %>
          </div>
        </div>
        <div class="mt-3">
          <%# <button class='btn btn-outline-danger float-right delete-selected' type='button' style="width:163px"value='City' >Delete Selected</button> %>
          <%= render 'map_columns/map_column_partials' %>
          <table data-toggle="table" data-search="true" class=" overflow-hidden content-table">
            <thead>
              <tr>
                <th><input type="checkbox" id="master" class='select-all-checkbox' style="cursor: pointer;">
                    </th>
                <th>DP</th>
                <th><%= sort_link(@q, :id, 'ID') %></th>
                <th><%= sort_link(@q, :title, 'Title') %></th>
                <th><%= sort_link(@q, :bank_name, 'Bank') %></th>
                <th><%= sort_link(@q, :amount, 'Balance') %></th>
                <th class="border_none"><span class="ml-5">Action</span></th>
              </tr>
            </thead>
            <tbody>
              <% @accounts.each do |account| %>
                <tr>
                  <td><%= check_box_tag 'object_ids[]', account.id %></td>
                  <td>
                  <div>
                    <% if account.profile_image.attached? %>
                      <%= image_tag account.profile_image.service_url, class:"shadow dp-size" %>
                    <% end %>
                  </div>  
                  </td>
                  <td><%= account.id %></td>
                  <td class="urdu-font">
                    <%= link_to payments_path('q[account_id_in]':account.id) do%>
                      <i class="fa fa-address-book"></i><%= account.title %>
                    <%end %>
                  </td>
                  <td class="urdu-font"><%= account.bank_name %></td>
                  <td>
                  <div class="float-left"><%= number_with_delimiter(account.amount.to_f.round(2)) %></div>
                  <div class="icon-container float-right">
                        <%if account.amount.to_f < 0  %>
                          <div class="my-icon my-view float-right">
                            <div class="my-tooltip text-primary">
                              Jama/Payable
                            </div>
                              <%= link_to account_path(account), remote: true, class:"icon-div" do %>
                                <i class="fa fa-arrow-up mt-2 text-primary" aria-hidden="true"></i>
                              <%end %>
                          </div>
                        <% end %> 
                        <%if account.amount.to_f > 0  %>
                          <div class="my-icon my-view">
                            <div class="my-tooltip text-danger">
                              Benam/Recievable
                            </div>
                              <%= link_to account_path(account), remote: true, class:"icon-div" do %>
                                <i class="fa fa-arrow-down mt-2 text-danger" aria-hidden="true"></i>
                              <%end %>
                          </div>
                        <% end %> 
                        <%if account.amount.to_f == 0  %>
                          <div class="my-icon my-view">
                            <div class="my-tooltip text-success">
                              Nil
                            </div>
                              <%= link_to account_path(account), remote: true, class:"icon-div" do %>
                                <i class="fa fa-check mt-2 text-success" aria-hidden="true"></i>
                              <%end %>
                          </div>
                        <% end %>  
                      </div>
                  </td>
                <td>
                <div class="icon-container-1 ml-5">
                  <div class="my-icon-1 my-view-1">
                    <div class="my-tooltip-1">
                      <div class="icon-container">
                        <div class="my-icon my-view">
                          <div class="my-tooltip">
                            New Payment
                          </div>
                          <%= link_to new_payment_path(account_id:account), title: "Make New Payment", class:"icon-div" do %>
                            <i class="fa fa-plus mt-2 " aria-hidden="true"></i>
                          <%end %>
                        </div>
                        <%if (check_can_update(@module_permission))%>
                          <div class="my-icon my-view">
                            <div class="my-tooltip">
                              Edit
                            </div>
                            <%= link_to edit_account_path(account), remote: true, class:"icon-div" do %>
                              <i class="fa fa-edit mt-2" aria-hidden="true"></i>
                            <%end %>
                          </div>
                        <% end %>
                        <%if (check_can_delete(@module_permission))%>
                          <div class="my-icon my-view">
                            <div class="my-tooltip">
                              Delete
                            </div>
                            <%= link_to account, method: :delete, data: {title: 'Confirmation' ,confirm: 'Are you sure?', commit: 'Sure!'}, :remote => true, :class => 'delete icon-div' do %>
                              <i class="fa fa-trash mt-2" aria-hidden="true"></i>
                            <%end %>
                          </div>
                        <% end %>
                        <%if (check_can_read(@module_permission))%>
                          <div class="my-icon my-view">
                            <div class="my-tooltip">
                              Show
                            </div>
                            <%= link_to account_path(account), remote: true, class:"icon-div" do %>
                              <i class="fa fa-eye mt-2" aria-hidden="true"></i>
                            <%end %>
                          </div>
                        <%end%>
                        <%if (check_can_download_pdf(@module_permission))%>
                          <div class="my-icon my-view">
                            <div class="my-tooltip">
                              PDF
                            </div>
                            <%= link_to accounts_path('q[id_eq]':account.id,'pdf':true), title: 'Download PDF', target: '_blank', class:"icon-div" do %>
                              <i class="fa fa-file-pdf text-danger mt-2 " aria-hidden="true"></i>
                            <%end %>
                          </div>
                        <%end %>
                        <%if (check_can_download_csv(@module_permission))%>
                          <div class="my-icon my-view">
                            <div class="my-tooltip">
                              CSV
                            </div>
                            <%= link_to accounts_path('q[id_eq]':account.id,'csv':true), title: 'Download CSV', class:"icon-div" do%>
                              <i class="fa fa-file-excel mt-2 text-success" aria-hidden="true"></i>
                            <%end %>
                          </div>
                        <%end %>
                      </div>
                    </div>
                    <span class="icon-div-1">
                      <i class="fa fa-ellipsis-v mt-2" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
                  </td>
                </tr>
              <% end %>
              <tr>
                <td colspan="5"><h5>Total</h5></td>
                <td colspan="3"><h5><%=number_with_delimiter(@account_total.first.to_f.round(2))%></h5></td>
              </tr>
            </tbody>
          </table>
        </div>  
        <div class="col-lg-12 digg_pagination mt-3">
          <div class="float-left page_info">
            <%= page_entries_info @accounts %>
          </div>
          <div class="float-right">
          <%= paginate @accounts, :container => false %>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane card mb-3 shadow mt-2 p-3" id="analytics" role="tabpanel">
        <div class="my-chart-Container">
          <div class="mychartBox">
            <canvas id="myChart"></canvas>
          </div> 
        </div>   
    </div>
    <div class="tab-pane card mb-3 shadow mt-2 p-3" id="import-export" role="tabpanel">
      <p>
        <div class="d-flex ml-2">
        <button class="btn btn-danger ml-2" name="export_data" type="submit" value="export_data">Export Data</button>
        <button class="btn btn-info ml-2" type="button" data-toggle="modal" data-target="#importFile">Import Data</button>
        </div>
      </p>
    </div>
    </div>
  <% end %>
  </div>
<div>
<%= form_for :bulk_import, url: bulk_import_data_path, method: :post, html: {class: "bulk-import-form"} do |f| %>
  <div class="modal fade" id="importFile" tabindex="-1" role="dialog" aria-labelledby="importFileTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Import file</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= f.file_field :file, required: true, accept: '.csv' %>
          <%= f.hidden_field :table_name, value: 'Account' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit 'Import', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="show-data"></div>
<script>
  $(document).ready(function() {

    var sortingButtons = $('.sorting-button')
    for(var i=0; i<sortingButtons.length; i++){
      $(sortingButtons[i]).html("<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='blue' enable-background='new 0 0 512 512' viewBox='0 0 512 512'><path d='M163.919,494.293c-2.83,0-5.496-1.33-7.196-3.593L45.97,343.348c-2.986-3.974-2.187-9.615,1.787-12.602 c3.974-2.986,9.616-2.187,12.602,1.787l103.557,137.777l103.493-137.775c2.986-3.975,8.627-4.775,12.602-1.791 c3.974,2.985,4.775,8.627,1.79,12.602L171.113,490.698C169.414,492.961,166.749,494.293,163.919,494.293z'/><path d='M163.917 494.293c-4.971 0-9-4.029-9-9V26.192c0-4.971 4.029-9 9-9s9 4.029 9 9v459.101C172.917 490.264 168.888 494.293 163.917 494.293zM459.507 182.622c-2.734 0-5.435-1.241-7.203-3.597L348.78 41.18 245.257 179.025c-2.985 3.975-8.626 4.777-12.601 1.792-3.974-2.984-4.777-8.626-1.792-12.601l110.72-147.43c1.699-2.263 4.365-3.595 7.196-3.595s5.497 1.332 7.196 3.595l110.72 147.43c2.985 3.975 2.183 9.616-1.792 12.601C463.285 182.034 461.388 182.621 459.507 182.622z'/><path d='M348.78,494.293c-4.971,0-9-4.029-9-9V26.192c0-4.971,4.029-9,9-9s9,4.029,9,9v459.101 C357.78,490.264,353.751,494.293,348.78,494.293z'/></svg>")
    }

    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#city_list").removeClass('hidden');
    FontAwesome.dom.i2svg();
  });
  $(document).ready(function() {
    setTimeout(function(){
      $(".chosen-select").chosen({
  allow_single_deselect: true,
  width: '100%'
});
    }, 50);
  });
</script>


