<div class="nested-fields row font-weight-bold">
        <%if params[:product].present? %>
            <div class="col-lg-4 from-group float-left">
              <%= f.hidden_field :order_id %>
              <%= f.hidden_field :id %>
              <%= f.hidden_field :transaction_type, value: "Sale"%>
              <%= f.hidden_field :purchase_sale_type, value: "Sale_type"%>
              <%= f.select :product_id, options_from_collection_for_select(@products, 'id', ->(st){"#{st.title} \u{27F6} #{st.code}"},f.object.product_id), {hide_label: true,prompt: "Select the Product"},onchange: 'set_sale_order(this.value,this.id); discountCalOder(); return false;',class: "product chosen-select",required: true%>
            </div>
        <%else%>
        <div class="col-lg-4 from-group float-left">
              <%= f.hidden_field :order_id %>
              <%= f.hidden_field :id %>
              <%= f.hidden_field :transaction_type, value: "Sale"%>
              <%= f.hidden_field :purchase_sale_type, value: "Sale_type"%>
              <%= f.select :item_id, options_from_collection_for_select(@items, 'id', ->(st){"#{st.title} \u{27F6} #{st.code}"}, f.object.item_id), {hide_label: true,prompt: "Select the Items"},onchange: 'set_raw_cost(this.value,this.id); return false;', class: "product chosen-select",required: true %>
            </div>
        <%end%>
        <div class="col-lg-1 from-group float-left hidden">
          <div class="hidden">
            <%=f.number_field :comment,step: :any,class:'stock', hide_label: true,placeholder: :Stock,readonly: true%>
          </div>
          <span><%=f.object.comment%></span>
          <br>
          <span class="span-cost-price text-danger"></span>
        </div>
        <i class="fa fa-minus-circle" onclick="$(this).next().children().children().val(Number($(this).next().children().children()[1].value)-1);costUpdateReturnOrder();"></i>
        <div class="col-lg-2 from-group float-left">
          <%= f.text_field :quantity,step: :any,class:'quantity-price', hide_label: true,placeholder: :quantity,onchange:"costUpdateReturnOrder()",onkeyup:"costUpdateReturnOrder()", required: true%>
        </div>
        <i class="fa fa-plus-circle" onclick="$(this).parent().children()[3].children[0].children[1].value=(Number($(this).parent().children()[3].children[0].children[1].value)+1);costUpdateReturnOrder();"></i>
        <div class="col-lg-2 from-group float-left">
          <%= f.text_field :sale_price,step: :any,class:'cost-price',hide_label: true, placeholder: :sale_price, onchange:"costUpdateReturnOrder()",onkeyup:"costUpdateReturnOrder()", required: true%>
        </div>
        <div class="col-lg-2 from-group float-left">
          <%= f.text_field :total_sale_price,step: :any,class:'total-cost-price', hide_label: true,placeholder: :total_sale,onchange:"costUpdateReturnOrder()",onkeyup:"costUpdateReturnOrder()", required: true%>
        </div>
        <div class="col-lg-1 from-group float-left hidden">
        <%= f.text_field :discount_price,step: :any,class:'discount-price', hide_label: true,placeholder: :discount,onchange:"costUpdateReturnOrder()",onkeyup:"costUpdateReturnOrder()"%>
        </div>
        <div class="form-group float-left font-weight-bold text-danger text-uppercase">
          <%= link_to_remove_association f, class: "return_order" do %>
            <i class="fa fa-minus-circle"></i>
          <% end %>
          <span class="span-line text-danger">1</span>

        </div>
</div>

<script>
  $(document).ready(function() {
    FontAwesome.dom.i2svg();
    if($(".product.chosen-select").length>0)
    {
      var $mySelect= $("#"+$(".product.chosen-select")[$(".product.chosen-select").length-1].id);
      var $myquantity= $("#"+$(".quantity-price")[$(".quantity-price").length-1].id);
      var enableChosen = setTimeout(function() {
        $mySelect.chosen();
        // $mySelect.trigger('chosen:activate');
      }, 50);
      setTimeout(function(){
        $(".chosen-select").chosen({
          allow_single_deselect: true,
          width: '100%'
        });
        // $('html, body').animate({
        //     scrollTop: $myquantity.offset().top-200
        // }, 100);
      }, 60);
      $('.span-line:last').text($(".product.chosen-select").length);
      $("#total_product_quantity").text($(".product.chosen-select").length-1);
    }

  });
</script>
